Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

.gitlab/ci/demo_project.gitlab-ci.yml:

demo_project:
  stage: test
  variables:
    MELTANO_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    - branches@meltano/meltano
    - tags@meltano/meltano

demo_project_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_IMAGE]=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

demo_project_discovery_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_DISCOVERY_URL]=https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

add tap-adwords changelog
  CHANGELOG.md
Due: none

reset cache
  src/meltano/core/project_files.py
Due: none

Passing tests
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  tests/meltano/core/test_project.py
Due: none

Remove pytest imports
  src/meltano/core/project.py
  src/meltano/core/project_files.py
Due: none

change tap-csv variant to MeltanoLabs
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add changelog
  CHANGELOG.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Move variant updates to Changes
  CHANGELOG.md
Due: none

migrate tap-gitlab to MeltanoLabs
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

update demo day
  docs/src/docs/community.md
Due: docs

Working tests.
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  tests/fixtures/core.py
  tests/fixtures/multifile_project/meltano.yml
  tests/fixtures/multifile_project/subconfig_2.yml
  tests/fixtures/multifile_project/subfolder/subconfig_1.yml
  tests/meltano/core/test_project_files.py
Due: none

lint
  src/meltano/core/project_files.py
  tests/meltano/core/test_project_files.py
Due: none

change tap-csv variant to MeltanoLabs
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

More flakehell
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  tests/meltano/core/test_project_files.py
Due: none

Last bit of flakehell
  pyproject.toml
  src/meltano/core/project_files.py
  tests/meltano/core/test_project_files.py
Due: none

add good press
  docs/src/press/README.md
Due: docs

Fix broken tests
  src/meltano/core/project_files.py
  tests/fixtures/core.py
  tests/meltano/core/test_plugin_remove_service.py
  tests/meltano/core/test_project.py
Due: none

More linting rage
  src/meltano/core/project_files.py
  tests/fixtures/core.py
Due: none

MR feedback
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
Due: none

Update docs/src/press/README.md
  docs/src/press/README.md
Due: docs

Update changelog
  CHANGELOG.md
Due: none

add more transform documentation and add it to getting started
  docs/src/docs/getting-started.md
  docs/src/docs/transforms.md
Due: docs

add meltano variant back for tap facebook,adwords,csv,gitlab
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Fixed tests for <3.7
  tests/fixtures/core.py
Due: none

getting started dbt and airflow fixes
  docs/src/docs/getting-started.md
  docs/src/docs/transforms.md
Due: docs

fix docs typos
  docs/src/docs/getting-started.md
  docs/src/docs/transforms.md
Due: docs

Bump jsonschema to >=3.0.0 <4.0.0
  poetry.lock
  pyproject.toml
Due: meltano_base

add changelog entry
  CHANGELOG.md
Due: none

Resolve "Bump required version of `jsonschema`"
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: meltano_base

PR feedback
  src/meltano/core/logging/output_logger.py
Due: none

Add docstring for the _debug_logging_handler
  src/meltano/core/plugin/singer/tap.py
Due: none

salesforce, stripe, marketo to singer-io variant
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

target-sqlite to meltanolabs
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

fix marketo pip_url
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add more missing labels and setting validation
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Resolve "Include discovery output in `meltano elt` output"
  CHANGELOG.md
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

fix loader test
  tests/meltano/cli/test_add.py
Due: none

Bump version: 1.84.0 → 1.85.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fix version in changelog
  CHANGELOG.md
Due: none

add change log entry
  CHANGELOG.md
Due: none
