Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend

demo_project_discovery_forks:
  stage: test
  script:
  ...

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
    PYTHON_IMAGE_VERSION: echo $PYTHON_VERSION | cut -d "." -f1-2}
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Move to script
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/scripts/docker_build_before_script.sh
Due: none

cleanup
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/scripts/docker_build_before_script.sh
Due: none

poetry update
  poetry.lock
Due: meltano_base

don't limit to python 3.9.6 or below in pyproject.toml
  pyproject.toml
Due: meltano_base

Resolve "CI pipeline failures due to dbt==0.20.1 breaking with python 3.9.7"
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/scripts/docker_build_before_script.sh
  poetry.lock
Due: meltano_base

updated copy to better reflect what we do right now
  docs/src/README.md
Due: docs

Update docs/src/docs/README.md
  docs/src/docs/README.md
Due: docs

wip
  docs/src/docs/README.md
Due: docs

lint fix
  src/meltano/core/venv_service.py
Due: none

add clean flag to force old behavior
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/meltano/cli/test_install.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/venv_service.py
Due: none

collapse to a single `pip install` call
  src/meltano/core/venv_service.py
Due: none

add docs and changelog
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  src/meltano/cli/install.py
Due: docs

add clean flag to venv_service
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

save the installed packages and do a clean install if they change
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

refactor DbtTransformPluginInstaller for linter
  src/meltano/core/plugin/dbt/base.py
Due: none

Misspellings and bad link
  docs/src/docs/README.md
Due: docs

Move fast sync around
  docs/src/docs/README.md
Due: docs

tiny bit of cleanup
  src/meltano/core/plugin/singer/tap.py
Due: none

Add info about WordPress plugins.
  docs/src/handbook/marketing/marketingops.md
Due: docs

Add titles to handbook pages so they show up in sidebar
  docs/src/handbook/marketing/brand.md
  docs/src/handbook/marketing/community.md
  docs/src/handbook/marketing/content.md
  docs/src/handbook/marketing/digital-web.md
  docs/src/handbook/marketing/events.md
  docs/src/handbook/marketing/marketingops.md
Due: docs

Pin setuptools to version with use2to3
  src/meltano/core/venv_service.py
Due: none

Bump version: 1.79.1 → 1.79.2
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: meltano_base, docs

Groom changelog
  CHANGELOG.md
Due: none

Move changelog entry to the right place
  CHANGELOG.md
Due: none

Add ty for Maarten
  CHANGELOG.md
Due: none

Release v1.79.2
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: meltano_base, docs

pr feedback
  src/meltano/core/plugin/singer/tap.py
Due: none

Fix up exec_args to pass flakehell
  src/meltano/core/plugin/singer/tap.py
Due: none

Reuse existing venvs during meltano install
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/meltano/cli/test_install.py
  tests/meltano/core/test_venv_service.py
Due: docs

pin dbt to 0.20.2
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Use PYTHON_IMAGE_VERSION when tagging/pushing
  .gitlab/ci/docker_prod.gitlab-ci.yml
Due: none

export IMAGE_TAG in before_script instead
  .gitlab/ci/docker_prod.gitlab-ci.yml
Due: none

set up a python image version matrix that can used by tests
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/scripts/docker_build_before_script.sh
  .gitlab/ci/scripts/python_image_version.sh
  .gitlab/ci/test.gitlab-ci.yml
Due: none

use PYTHON_VERSION var still in test.gitlab-ci
  .gitlab/ci/test.gitlab-ci.yml
Due: none

use PYTHON_IMAGE_VERSION in python_image_version matrix
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Resolve "Refactor to convert plugins to leverage async patterns in hooks"
  CHANGELOG.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/cli/select.py
  src/meltano/core/behavior/hookable.py
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin/dashboard.py
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/runner/dbt.py
  src/meltano/core/runner/singer.py
  src/meltano/core/select_service.py
  src/meltano/core/utils/__init__.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/core/behavior/test_hookable.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/singer/test_target.py
  tests/meltano/core/plugin/test_airflow.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_elt_context.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

Don't fail if airflow.cfg is missing
  src/meltano/core/plugin/airflow.py
  tests/meltano/core/plugin/test_airflow.py
Due: none

Path conditions:
  demo_project_discovery: any of: src/meltano/core/bundle/discovery.yml
  demo_project_discovery_forks: any of: src/meltano/core/bundle/discovery.yml
  meltano_base: any of: docker/base/Dockerfile, poetry.lock, pyproject.toml
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
