Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

.gitlab/ci/demo_project.gitlab-ci.yml:

demo_project:
  stage: test
  variables:
    MELTANO_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    - branches@meltano/meltano
    - tags@meltano/meltano

demo_project_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_IMAGE]=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

demo_project_discovery_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_DISCOVERY_URL]=https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Fix accidental instantiation of ABC caused by class rename during refactor - resolve the test service from the plugin invoker using `PluginTestServiceFactory`
  src/meltano/api/controllers/orchestrations.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/api/controllers/orchestrations.py
Due: none

update banner
  docs/src/.vuepress/theme/components/Navbar.vue
Due: docs

Release v1.82.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Bump version: 1.82.0 → 1.83.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Add success and failure tests for test plugin configuration endpoint
  tests/meltano/api/controllers/test_orchestration.py
Due: none

Revert "liveintent in meltano"
  src/meltano/core/plugin/singer/catalog.py
Due: none

liveintent in meltano
  src/meltano/core/plugin/singer/catalog.py
Due: none

fixed meltano tests by downgrading werkzeug to 1.0
  poetry.lock
  setup.py
Due: meltano_base

Update Roadmap for October
  docs/src/docs/README.md
Due: docs

Display message indicating pipelines can be retried
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Fix instantiation of `PluginTestService` ABC in test extractor API endpoint
  src/meltano/api/controllers/orchestrations.py
  tests/meltano/api/controllers/test_orchestration.py
Due: none

files-dagster
  pyproject.toml
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/schedule.py
Due: demo_project_discovery, demo_project_discovery_forks, docs

iterative draft of new value
  docs/src/docs/README.md
Due: docs

Update docs/src/docs/README.md
  docs/src/docs/README.md
Due: docs

bump dbt to 0.21.0
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Support of 3.9 as of https://gitlab.com/meltano/meltano/-/merge_requests/2200
  docs/src/docs/getting-started.md
Due: docs

Add subtask field to output
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

add new melty logo
  docs/src/.vuepress/public/Meltano-Melty-logo.png
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/docs/README.md
Due: docs

logo update test
  docs/src/.vuepress/components/LogoList.vue
  docs/src/.vuepress/components/LogoListArchive.vue
  docs/src/.vuepress/public/Meltano-Melty-Logo.png
  docs/src/press/README.md
Due: docs

Add descriptive subtask field to existing loggers
  src/meltano/cli/elt.py
Due: none

Melty 🔥
  docs/src/.vuepress/config.js
  docs/src/.vuepress/public/meltano-logo.png
Due: docs

Update Slack count to 1700
  docs/src/.vuepress/config.js
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

add more logos
  docs/src/.vuepress/public/Meltano-Melty-logo-black.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked-black.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked.png
Due: docs

Update docs/src/.vuepress/components/LogoList.vue, docs/src/.vuepress/public/Meltano-Melty-logo-stacked-black.svg, docs/src/.vuepress/public/Meltano-Melty-logo-black.svg
  docs/src/.vuepress/components/LogoList.vue
  docs/src/.vuepress/public/Meltano-Melty-logo-black.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked-black.svg
Due: docs

Bump slack to 1700
  docs/src/.vuepress/config.js
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

Fixup logger tests
  tests/meltano/cli/test_elt.py
Due: none

Add favicons
  docs/src/.vuepress/public/android-chrome-192x192.png
  docs/src/.vuepress/public/android-chrome-512x512.png
  docs/src/.vuepress/public/apple-touch-icon.png
  docs/src/.vuepress/public/favicon-16x16.png
  docs/src/.vuepress/public/favicon-32x32.png
  docs/src/.vuepress/public/favicon.ico
  src/meltano/api/static/favicon.ico
  src/webapp/public/static/favicon.ico
Due: docs

Remove old logos
  docs/src/.vuepress/public/meltano-logo-black.svg
  docs/src/.vuepress/public/meltano-logo-white.svg
  docs/src/.vuepress/public/meltano-logo-with-text-black.svg
  docs/src/.vuepress/public/meltano-logo-with-text-white.svg
  docs/src/.vuepress/public/meltano-logo-with-text.svg
  docs/src/.vuepress/public/meltano-logo.svg
  docs/src/.vuepress/public/mstile-144x144.png
  docs/src/.vuepress/public/mstile-150x150.png
  docs/src/.vuepress/public/mstile-310x150.png
  docs/src/.vuepress/public/mstile-310x310.png
  docs/src/.vuepress/public/mstile-70x70.png
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/.vuepress/components/LogoList.vue
Due: docs

Update ui logo
  src/meltano/api/static/logos/meltano-logo.png
  src/webapp/public/static/logos/meltano-logo.png
  src/webapp/src/components/navigation/Logo.vue
Due: none

resize png
  src/meltano/api/static/logos/meltano-logo.png
  src/webapp/public/static/logos/meltano-logo.png
Due: none

Fix CSS
  docs/src/.vuepress/theme/components/Navbar.vue
Due: docs

Update meltano ui logo
  src/meltano/api/static/logos/meltano-logo.png
  src/webapp/public/static/logos/meltano-logo.png
  src/webapp/src/components/navigation/Logo.vue
Due: none

use SVGs for press logos
  docs/src/.vuepress/components/LogoList.vue
  docs/src/.vuepress/public/Meltano-Melty-Logo.png
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked-white.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked.png
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-white.svg
  docs/src/.vuepress/public/Meltano-Melty-logo.svg
Due: docs

put the 'square' logos on top
  docs/src/.vuepress/components/LogoList.vue
Due: docs
