Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

.gitlab/ci/demo_project.gitlab-ci.yml:

demo_project:
  stage: test
  variables:
    MELTANO_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    - branches@meltano/meltano
    - tags@meltano/meltano

demo_project_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_IMAGE]=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

demo_project_discovery_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_DISCOVERY_URL]=https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Bump version: 1.86.0 → 1.87.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Release/v1.87.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

use InputRequired instead of Required
  src/meltano/api/security/forms.py
Due: none

Add key in merge if not already exists.
  src/meltano/core/project_files.py
Due: none

Update forms.py
  src/meltano/api/security/forms.py
Due: none

description update
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Fix WTForms 3.0.x bug, use InputRequired instead of Required
  src/meltano/api/security/forms.py
Due: none

add more clear file format description
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Add missing settings to transferwise target-snowflake
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Allow missing top-level entries in main `meltano.yml` file #3047
  src/meltano/core/project_files.py
Due: none

de-emphasize release tags in favor of release branches
  .gitlab/ci/demo_project.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/publish.gitlab-ci.yml
Due: none

refactor 'releases' jobs to separate file
  .gitlab/ci/docker_builds.gitlab-ci.yml
  .gitlab/ci/gitops.gitlab-ci.yml
  .gitlab/ci/releases.gitlab-ci.yml
Due: none

add back triggered version bump
  .gitlab/ci/releases.gitlab-ci.yml
Due: none

rename files
  .gitlab-ci.yml
Due: none

Bump version: 1.87.0 → 1.87.1
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

add version detect script and safeguards
  .gitlab/ci/releases.gitlab-ci.yml
  .gitlab/ci/scripts/meltano_version_from_branch.sh
Due: none

fix multiline strings
  .gitlab/ci/releases.gitlab-ci.yml
Due: none

add debug
  .gitlab/ci/scripts/meltano_version_from_branch.sh
Due: none

code version detection optional
  .gitlab/ci/scripts/meltano_version_from_branch.sh
Due: none

don't fail docker release build on version compare
  .gitlab/ci/releases.gitlab-ci.yml
Due: none

fix image refs
  .gitlab/ci/releases.gitlab-ci.yml
Due: none

cleanup solarvista extractor
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add solarvista extractor
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add solarvista logos
  src/meltano/api/static/logos/solarvista-logo.png
  src/webapp/public/static/logos/solarvista-logo.png
Due: none

auth code as password kind
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add solarvista changelog
  CHANGELOG.md
Due: none

updated release process
  .gitlab/issue_templates/Release.md
Due: none

add Zapier logo
  docs/src/.vuepress/public/images/home/logos/zapier-logo.png
Due: docs

add zapier logo to home page
  docs/src/README.md
Due: docs

Environments CLI
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  src/meltano/cli/__init__.py
  src/meltano/cli/cli.py
  src/meltano/cli/environment.py
  src/meltano/cli/schedule.py
  src/meltano/core/behavior/canonical.py
  src/meltano/core/environment.py
  src/meltano/core/environment_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/utils/__init__.py
  tests/fixtures/core.py
  tests/meltano/core/test_environment_service.py
Due: docs

Fix typo
  src/meltano/core/environment_service.py
Due: none

Improve dosctring for 'find_named'
  src/meltano/core/utils/__init__.py
Due: none

docs: move commands with --environment support to CLI Reference
  docs/src/docs/command-line-interface.md
  docs/src/docs/environments.md
Due: docs

Initial BlockSet and IOBlock interfaces
  src/meltano/core/block/__init__.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/utils.py
  tests/meltano/core/block/test_block.py
Due: none

Update docs/src/README.md
  docs/src/README.md
Due: docs

Add solarvista extractor
  CHANGELOG.md
  src/meltano/api/static/logos/solarvista-logo.png
  src/meltano/core/bundle/discovery.yml
  src/webapp/public/static/logos/solarvista-logo.png
Due: demo_project_discovery, demo_project_discovery_forks, docs
