Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend

demo_project_discovery_forks:
  stage: test
  script:
  ...

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

more flakehell 👿
  src/meltano/core/select_service.py
Due: none

Update docs/src/docs/README.md
  docs/src/docs/README.md
Due: docs

Bump Werkzeug web application library to v2.0
  poetry.lock
  pyproject.toml
  src/meltano/api/app.py
  src/meltano/oauth/app.py
Due: meltano_base

Bump version: 1.81.0 → 1.82.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fix changelog version bump
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Apply 3 suggestion(s) to 1 file(s)
  src/meltano/cli/select.py
Due: none

black
  src/meltano/cli/select.py
Due: none

black
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
Due: none

Tidy up redundant methods.
  src/meltano/core/select_service.py
Due: none

Disable experimental installer poetry.
  docker/prod/Dockerfile
Due: none

Ran poetry update
  poetry.lock
Due: meltano_base

Experimental change failed. Reverting.
  docker/prod/Dockerfile
Due: none

ran poetry lock
  poetry.lock
Due: meltano_base

Apply 4 suggestion(s) to 1 file(s)
  docs/src/handbook/README.md
Due: docs

Add back existing resources
  docs/src/handbook/README.md
Due: docs

Add more explicit directions to comment / thread mentions
  docs/src/handbook/README.md
Due: docs

Replace blameless recognition of mistakes with a focus on learning from them
  docs/src/docs/README.md
Due: docs

Made test idempotent
  tests/meltano/cli/test_select.py
Due: none

Delete handbook, it's migrated to handbook.meltano.com now
  docs/src/handbook/README.md
  docs/src/handbook/engineering/README.md
  docs/src/handbook/engineering/sql-style-guide.md
  docs/src/handbook/marketing/README.md
  docs/src/handbook/marketing/brand.md
  docs/src/handbook/marketing/community.md
  docs/src/handbook/marketing/content.md
  docs/src/handbook/marketing/digital-web.md
  docs/src/handbook/marketing/events.md
  docs/src/handbook/marketing/image-1.png
  docs/src/handbook/marketing/image-2.png
  docs/src/handbook/marketing/image-3.png
  docs/src/handbook/marketing/image-4.png
  docs/src/handbook/marketing/image-5.png
  docs/src/handbook/marketing/image-6.png
  docs/src/handbook/marketing/image-7.png
  docs/src/handbook/marketing/image-8.png
  docs/src/handbook/marketing/image.png
  docs/src/handbook/marketing/marketingops.md
  docs/src/handbook/peopleops/README.md
  docs/src/handbook/product/README.md
  docs/src/handbook/resources/README.md
  docs/src/handbook/tech-stack/README.md
Due: docs

Remove handbook from config, update URLs
  .gitlab/CODEOWNERS
  .gitlab/merge_request_templates/release.md
  docs/src/.vuepress/config.js
Due: docs

adds communication section to main page
  docs/src/handbook/README.md
Due: docs

Update config.js
  docs/src/.vuepress/config.js
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/handbook/operations/README.md
Due: docs

added Douwe bio
  docs/src/press/README.md
Due: docs

added team photots
  docs/src/.vuepress/public/images/press-images/DouweMeltanoTee2021.JPG
  docs/src/.vuepress/public/images/press-images/Douweheadshot2021.JPG
  docs/src/.vuepress/public/images/press-images/MeltanoDouweAJTaylor.JPG
  docs/src/.vuepress/public/images/press-images/MeltanoTeamPark2021.JPG
  docs/src/.vuepress/public/images/press-images/MeltanoTeamSeated2021.JPG
  docs/src/.vuepress/public/images/press-images/MeltanoTeamWalks2021.JPG
Due: docs

Removed KP start date.
  docs/src/docs/README.md
Due: docs

poetry update
  poetry.lock
Due: meltano_base

Add Pat to team page
  docs/src/docs/README.md
Due: docs

move pat before S.P.
  docs/src/docs/README.md
Due: docs

Update .gitlab/ci/docker.gitlab-ci.yml
  .gitlab/ci/docker.gitlab-ci.yml
Due: none

Add handbook back to sidebar
  docs/src/.vuepress/config.js
Due: docs

Delete handbook, it's migrated to handbook.meltano.com now
  .gitlab/CODEOWNERS
  .gitlab/merge_request_templates/release.md
  docs/src/.vuepress/config.js
  docs/src/handbook/README.md
  docs/src/handbook/engineering/README.md
  docs/src/handbook/engineering/sql-style-guide.md
  docs/src/handbook/marketing/README.md
  docs/src/handbook/marketing/brand.md
  docs/src/handbook/marketing/community.md
  docs/src/handbook/marketing/content.md
  docs/src/handbook/marketing/digital-web.md
  docs/src/handbook/marketing/events.md
  docs/src/handbook/marketing/image-1.png
  docs/src/handbook/marketing/image-2.png
  docs/src/handbook/marketing/image-3.png
  docs/src/handbook/marketing/image-4.png
  docs/src/handbook/marketing/image-5.png
  docs/src/handbook/marketing/image-6.png
  docs/src/handbook/marketing/image-7.png
  docs/src/handbook/marketing/image-8.png
  docs/src/handbook/marketing/image.png
  docs/src/handbook/marketing/marketingops.md
  docs/src/handbook/peopleops/README.md
  docs/src/handbook/product/README.md
  docs/src/handbook/resources/README.md
  docs/src/handbook/tech-stack/README.md
Due: docs

Started work on reshaping.
  src/meltano/core/project.py
Due: none

Make at least the read path pass tests.
  src/meltano/core/project.py
Due: none

Tidy up names of things.
  src/meltano/core/project.py
Due: none

Revert per build network bridge workaround
  .gitlab/ci/docker.gitlab-ci.yml
Due: none

Extend meltano select, add `--rm` for removing patterns (#2647)
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
  tests/meltano/cli/test_select.py
Due: docs

Path conditions:
  demo_project_discovery: any of: src/meltano/core/bundle/discovery.yml
  demo_project_discovery_forks: any of: src/meltano/core/bundle/discovery.yml
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
