Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

.gitlab/ci/demo_project.gitlab-ci.yml:

demo_project:
  stage: test
  variables:
    MELTANO_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    - branches@meltano/meltano
    - tags@meltano/meltano

demo_project_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_IMAGE]=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

demo_project_discovery_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_DISCOVERY_URL]=https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Add tap-clickcast to be discoverable
  src/meltano/api/static/logos/clickcast-logo.png
  src/meltano/core/bundle/discovery.yml
  src/webapp/public/static/logos/clickcast-logo.png
Due: demo_project_discovery, demo_project_discovery_forks, docs

Cleanup discovery stderr output handling
  src/meltano/core/plugin/singer/tap.py
Due: none

liveintent in meltano
  src/meltano/core/plugin/singer/catalog.py
Due: none

Revert "Cleanup discovery stderr output handling"
  src/meltano/core/plugin/singer/tap.py
Due: none

Reapply cleanup discovery stderr output handling
  src/meltano/core/plugin/singer/tap.py
Due: none

Add tests and changelog entry
  CHANGELOG.md
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Revert "liveintent in meltano"
  src/meltano/core/plugin/singer/catalog.py
Due: none

Add thank you
  CHANGELOG.md
Due: none

Fix assert scope and only use asynctest's mock
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

linter fixup
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

:+1: lgtm
  CHANGELOG.md
Due: none

Apply 5 suggestion(s) to 5 file(s)
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/configuration.md
  docs/src/docs/integration.md
  docs/src/docs/settings.md
Due: docs

Resolve "Include discovery output in `meltano elt` output"
  CHANGELOG.md
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Add `meltano config <plugin> test` to test connection
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/configuration.md
  docs/src/docs/integration.md
  docs/src/docs/settings.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/cli/config.py
  src/meltano/core/plugin/error.py
  src/meltano/core/plugin_test_service.py
  tests/meltano/cli/test_config.py
  tests/meltano/core/test_plugins_test_service.py
Due: docs

Clean up changelog
  CHANGELOG.md
Due: none

Release v1.81.0 changelog updates
  CHANGELOG.md
Due: none

Bump version: 1.80.1 → 1.81.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Add Brooklyn Data Co. to Consultancies list
  docs/src/partners/README.md
Due: docs

adds intro to values section
  docs/src/docs/README.md
Due: docs

edits community section
  docs/src/docs/README.md
Due: docs

adds open source bit to community section and edits empathy section
  docs/src/docs/README.md
Due: docs

adds douwe's suggestion "friends and family first"
  docs/src/docs/README.md
Due: docs

adds to sustainability and accountability sections
  docs/src/docs/README.md
Due: docs

includes emily's suggestion to sustainability section
  docs/src/docs/README.md
Due: docs

adds more of emily's suggestion to sustainability
  docs/src/docs/README.md
Due: docs

adds douwe's suggestion to transparency section
  docs/src/docs/README.md
Due: docs

edits iteration section
  docs/src/docs/README.md
Due: docs

applies douwe's suggestion for top heading
  docs/src/handbook/operations/README.md
Due: docs

deletes toc
  docs/src/handbook/operations/README.md
Due: docs

changes heading formatting
  docs/src/handbook/operations/README.md
Due: docs

updates formatting for headings across page
  docs/src/handbook/operations/README.md
Due: docs

defines async communication
  docs/src/handbook/operations/README.md
Due: docs

creates sub-sections on slack, issues/MRs, and email
  docs/src/handbook/operations/README.md
Due: docs

edits response time to mentions
  docs/src/handbook/operations/README.md
Due: docs

applies douwe's suggestion
  docs/src/handbook/operations/README.md
Due: docs

edits comms guideline
  docs/src/handbook/operations/README.md
Due: docs

minor edits
  docs/src/handbook/operations/README.md
Due: docs

adds comms guideline when someone is behind
  docs/src/handbook/operations/README.md
Due: docs

adds note to temporarily suspend travel grant
  docs/src/handbook/operations/README.md
Due: docs

merges comm guidelines lists
  docs/src/handbook/operations/README.md
Due: docs
