Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend

demo_project_discovery_forks:
  stage: test
  script:
  ...

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

make linters and older python happy ...maybe
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Review feedback
  src/meltano/core/project_files.py
Due: none

remove salesforce changelog
  CHANGELOG.md
Due: none

Resolve "elt command hangs in some cases, unless debug mode is enabled."
  CHANGELOG.md
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

tap-salesforce to meltanolabs
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Update Mission
  docs/src/docs/README.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/docs/README.md
Due: docs

Bump version: 1.85.0 → 1.86.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Updated changelog
  CHANGELOG.md
Due: none

Resolve "Release v1.86.0"
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Add Environments references
  docs/src/docs/command-line-interface.md
  docs/src/docs/configuration.md
  docs/src/docs/production.md
Due: docs

Update roadmap for November
  docs/src/docs/README.md
Due: docs

Bump slack to 1800
  docs/src/.vuepress/config.js
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

1st pass at configurable logging
  .isort.cfg
  docs/src/docs/settings.md
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
Due: meltano_base, docs

Fix LEVELED_TIMESTAMPED_PRE_CHAIN
  src/meltano/core/logging/formatters.py
Due: none

Refactor elt logging
  src/meltano/cli/elt.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin/singer/tap.py
Due: none

Cleanup etl command logs
  docs/src/docs/settings.md
  src/meltano/cli/elt.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
Due: docs

flakehell
  src/meltano/cli/cli.py
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/output_logger.py
Due: none

disable explore and dashboards ui by default and add warning to docs
  docs/src/docs/analysis.md
  src/meltano/core/bundle/settings.yml
Due: docs

add changelog for disabling UI tabs
  CHANGELOG.md
Due: none

Fix OutputLogger tests
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

Enrich ELT logging with additional context
  src/meltano/cli/elt.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

Link to handbook history page from the history section in the docs.
  docs/src/docs/README.md
Due: docs

Add navbar CSS back to homepage. Fixes #3039
  docs/src/.vuepress/styles/index.styl
Due: docs

Rework test_elt to support new log format
  src/meltano/cli/elt.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
  tests/meltano/cli/test_elt.py
Due: none

Lint/flake cleanup
  .isort.cfg
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

black
  src/meltano/core/project_files.py
  tests/fixtures/multifile_project/meltano.yml
  tests/fixtures/multifile_project/subconfig_2.yml
  tests/fixtures/multifile_project/subfolder/subconfig_1.yml
  tests/meltano/core/test_project_files.py
Due: none

Add a note on inheritance.
  docs/src/docs/environments.md
Due: docs

lint hell
  src/meltano/core/project_files.py
Due: none

Remove backups older than 14 days. Closes #1264 until we need a more robust backup solution.
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Add HackerOne and Remote logos
  docs/src/.vuepress/public/images/home/logos/hackerone.png
  docs/src/.vuepress/public/images/home/logos/mit.png
  docs/src/.vuepress/public/images/home/logos/remote.png
  docs/src/.vuepress/public/images/home/logos/twilio.png
  docs/src/README.md
Due: docs

Remove newline use in elt output tests
  src/meltano/cli/elt.py
  tests/meltano/cli/test_elt.py
Due: none

recommend sticky analysis ui setting vs env var
  docs/src/docs/analysis.md
Due: docs

CHANGELOG and docs.
  CHANGELOG.md
  docs/src/docs/project.md
Due: docs

Encourage applying via Greenhouse, not email
  docs/src/.vuepress/components/TeamGrid.vue
  docs/src/docs/README.md
Due: docs

hide meltano variants that arent default
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add missing settings to transferwise target-snowflake
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Resolve #2456
  CHANGELOG.md
  docs/src/docs/project.md
  pyproject.toml
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  tests/fixtures/core.py
  tests/fixtures/multifile_project/meltano.yml
  tests/fixtures/multifile_project/subconfig_2.yml
  tests/fixtures/multifile_project/subfolder/subconfig_1.yml
  tests/meltano/core/test_plugin_remove_service.py
  tests/meltano/core/test_project_files.py
Due: docs

Changelog grooming for v1.87.0
  CHANGELOG.md
Due: none

Additional changelog grooming
  CHANGELOG.md
Due: none

Path conditions:
  demo_project_discovery: any of: src/meltano/core/bundle/discovery.yml
  demo_project_discovery_forks: any of: src/meltano/core/bundle/discovery.yml
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
