Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend

demo_project_discovery_forks:
  stage: test
  script:
  ...

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Alternative to this change could be
  docs/src/docs/plugin-management.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/docs/plugin-management.md
Due: docs

Fix typo
  docs/src/docs/plugin-management.md
Due: docs

Uninstall plugin docs
  docs/src/docs/plugin-management.md
Due: docs

Add `--environment` option to `invoke` and `config` commands
  src/meltano/cli/config.py
  src/meltano/cli/environment.py
  src/meltano/cli/invoke.py
  src/meltano/core/environment.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_settings_store.py
Due: none

Support environments in elt command
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
  src/meltano/core/settings_store.py
Due: none

Support environments in select command
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Remove settings store implementation and return to baseline tests
  src/meltano/core/settings_store.py
  tests/meltano/core/test_settings_store.py
Due: none

Support setting environment configuration from the CLI
  src/meltano/core/config_service.py
  src/meltano/core/environment.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/test_settings_store.py
Due: none

Allow selection to be set per environment
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
Due: none

Activate environment once, at project level
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/cli/select.py
  src/meltano/core/config_service.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/select_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
Due: none

Update the right plugin type
  src/meltano/cli/cli.py
  src/meltano/core/select_service.py
Due: none

dbt instead of DBT
  docs/src/docs/getting-started.md
  docs/src/docs/transforms.md
Due: docs

add more cross links
  docs/src/docs/getting-started.md
  docs/src/docs/transforms.md
Due: docs

Reset old styles
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/cli/select.py
Due: none

Extend tests to cover Environment
  docs/src/.vuepress/config.js
  docs/src/docs/environments.md
  src/meltano/cli/cli.py
  src/meltano/core/settings_store.py
  tests/meltano/core/test_settings_store.py
Due: docs

Remove 'returns' from docstring of side effect method
  src/meltano/core/project.py
Due: none

us transferwise postgres variant in getting stared and more example bash commands
  docs/src/docs/getting-started.md
Due: docs

Remove Tap-toberfest banner
  docs/src/.vuepress/styles/palette.styl
  docs/src/.vuepress/theme/components/Navbar.vue
Due: docs

Make CLI examples more clear and change order
  docs/src/docs/environments.md
Due: docs

Change log level for active environment
  src/meltano/cli/cli.py
Due: none

Make CLI help more clear
  src/meltano/cli/environment.py
Due: none

Ignore WPS323
  src/meltano/cli/cli.py
Due: none

Restore SelectService.extractor type annotation
  src/meltano/core/select_service.py
Due: none

Remove TODO
  src/meltano/core/settings_store.py
Due: none

Support env override in environment
  src/meltano/core/environment.py
  src/meltano/core/settings_service.py
Due: none

Ignore WPS440 and WPS441 false positives
  pyproject.toml
  tests/meltano/core/test_settings_store.py
Due: none

Track (hashed) active environment in GA
  src/meltano/core/tracking/ga_tracker.py
  tests/meltano/core/test_settings_store.py
Due: none

Resolve "Release v1.85.0"
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

update web banner
  docs/src/.vuepress/theme/components/Navbar.vue
Due: docs

meltano_env => meltano_environment
  src/meltano/core/settings_store.py
Due: none

Update docs with per-command example
  docs/src/docs/environments.md
Due: docs

Remove DRAFT marker.
  docs/src/docs/environments.md
Due: docs

remove tap-salesforce changes for now
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Resolve "Introduce top-level "Environments" within `meltano.yml` config"
  CHANGELOG.md
  docs/src/.vuepress/config.js
  docs/src/docs/environments.md
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/select.py
  src/meltano/core/config_service.py
  src/meltano/core/elt_context.py
  src/meltano/core/environment.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/select_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  src/meltano/core/tracking/ga_tracker.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_settings_store.py
Due: docs

Pipe discovery stderr to devnull when not logging
  src/meltano/core/plugin/singer/tap.py
Due: none

Add test to explicitly check what pipe we're using
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

fix lint
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Path conditions:
  demo_project_discovery: any of: src/meltano/core/bundle/discovery.yml
  demo_project_discovery_forks: any of: src/meltano/core/bundle/discovery.yml
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
