Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

.gitlab/ci/demo_project.gitlab-ci.yml:

demo_project:
  stage: test
  variables:
    MELTANO_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    - branches@meltano/meltano
    - tags@meltano/meltano

demo_project_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_IMAGE]=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python3.6"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

demo_project_discovery_forks:
  stage: test
  script:
    - >
      curl
      --request POST
      --form "token=$CI_JOB_TOKEN"
      --form "variables[MELTANO_DISCOVERY_URL]=https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml"
      --form ref=master
      https://gitlab.com/api/v4/projects/meltano%2fdemo-project/trigger/pipeline
  only:
    changes:
      - src/meltano/core/bundle/discovery.yml
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano
  when: manual

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Update .gitlab/issue_templates/Release.md
  .gitlab/issue_templates/Release.md
Due: none

Update Release.md
  .gitlab/issue_templates/Release.md
Due: none

Fix asserts caught by pytest.raises
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Clean up partners page
  docs/src/partners/README.md
Due: docs

Update sqlfluff to use dbt
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

CI: fail faster for pytest and pylint CI tests
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Add note about re-authorizing LinkedIn in Sprout
  docs/src/handbook/marketing/content.md
Due: docs

Resolve "Unhandled exception in tap discovery when tap produces io on stderr in meltano v1.80.0"
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Update Release Checklist
  .gitlab/issue_templates/Release.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update COC links, remove demo day dates in favor of using the calendar
  docs/src/docs/community.md
Due: docs

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump version: 1.80.0 → 1.80.1
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

update werkzeug to 2.0
  pyproject.toml
  src/meltano/api/app.py
  src/meltano/oauth/app.py
Due: none

update poetry.lock
  poetry.lock
Due: meltano_base

fixed meltano tests by downgrading werkzeug to 1.0
  poetry.lock
  pyproject.toml
  setup.py
Due: meltano_base

fixed lint
  src/meltano/oauth/app.py
Due: none

Added Mighty Digital to Partner page
  docs/src/partners/README.md
Due: docs

Update tests and config cmd to use asyncio
  src/meltano/cli/config.py
  src/meltano/core/plugin_test_service.py
  tests/meltano/cli/test_config.py
  tests/meltano/core/test_plugins_test_service.py
Due: none

Use asynctest mock
  tests/meltano/cli/test_config.py
Due: none

Iteration on roadmap
  docs/src/docs/README.md
Due: docs

uploads team photos
  docs/src/.vuepress/public/images/home/press/douwe_maan_meltano_ceo_full.JPG
  docs/src/.vuepress/public/images/home/press/douwe_maan_meltano_ceo_half.JPG
  docs/src/.vuepress/public/images/home/press/meltano_team_full.JPG
  docs/src/.vuepress/public/images/home/press/meltano_team_half.JPG
Due: docs

Update Slack to 1600+
  docs/src/.vuepress/config.js
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

Added files-local-kubernetes to discovery.yml
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

updated changelog
  CHANGELOG.md
Due: none

Discover and apply catalog only in sync mode
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Move test to tests/meltano/cli/test_invoke.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Literal doesn't exist in old Python versions
  src/meltano/cli/invoke.py
Due: none

Use state only in sync mode
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/cli/test_invoke.py
Due: none

Make linter happy
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_invoker.py
Due: none

Don't run discovery when dumping config
  src/meltano/cli/invoke.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/cli/test_invoke.py
Due: none

Add clarification in comments about hooks running only in sync mode
  src/meltano/core/plugin/singer/tap.py
Due: none

Remove redundant test
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

isort doensn't like extra line
  tests/meltano/cli/test_invoke.py
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Apply black suggestions
  src/meltano/core/plugin/singer/tap.py
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Add documentation paragraph for this improvement
  docs/src/docs/integration.md
Due: docs
