Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend

demo_project_discovery_forks:
  stage: test
  script:
  ...

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

logo update
  docs/src/.vuepress/components/LogoListArchive.vue
  docs/src/.vuepress/public/Meltano-Melty-logo-black.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked-black.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked-white.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-stacked.svg
  docs/src/.vuepress/public/Meltano-Melty-logo-white.svg
  docs/src/.vuepress/public/Meltano-Melty-logo.svg
  docs/src/press/README.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/docs/README.md
Due: docs

Apply 2 suggestion(s) to 1 file(s)
  docs/src/docs/README.md
Due: docs

Changelog updates for v1.84.0
  CHANGELOG.md
Due: none

svg melty
  docs/src/.vuepress/config.js
  docs/src/.vuepress/public/meltano-logo-with-text.svg
Due: docs

Include note for dbt bump to 0.21.0
  CHANGELOG.md
Due: none

Add icons with transparency.
  docs/src/.vuepress/public/android-chrome-192x192.png
  docs/src/.vuepress/public/android-chrome-512x512.png
  docs/src/.vuepress/public/apple-touch-icon.png
  docs/src/.vuepress/public/favicon-16x16.png
  docs/src/.vuepress/public/favicon-32x32.png
  docs/src/.vuepress/public/favicon.ico
Due: docs

Add white Melty icon
  docs/src/.vuepress/public/melty-icon-white.png
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

Restore white logo path, add favicons
  docs/src/.vuepress/public/meltano-logo-with-text-white.svg
  src/meltano/api/static/favicon.ico
  src/webapp/public/static/favicon.ico
Due: docs

New color who dis
  docs/src/.vuepress/styles/palette.styl
Due: docs

Changelog updates for release release v1.84.0
  CHANGELOG.md
Due: none

Bump version: 1.83.0 → 1.84.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Melty 🔥
  docs/src/.vuepress/public/android-chrome-192x192.png
  docs/src/.vuepress/public/android-chrome-512x512.png
  docs/src/.vuepress/public/apple-touch-icon.png
  docs/src/.vuepress/public/favicon-16x16.png
  docs/src/.vuepress/public/favicon-32x32.png
  docs/src/.vuepress/public/favicon.ico
  docs/src/.vuepress/public/meltano-logo-black.svg
  docs/src/.vuepress/public/meltano-logo-white.svg
  docs/src/.vuepress/public/meltano-logo-with-text-black.svg
  docs/src/.vuepress/public/meltano-logo-with-text-white.svg
  docs/src/.vuepress/public/meltano-logo-with-text.svg
  docs/src/.vuepress/public/meltano-logo.png
  docs/src/.vuepress/public/meltano-logo.svg
  docs/src/.vuepress/public/melty-icon-white.png
  docs/src/.vuepress/public/mstile-144x144.png
  docs/src/.vuepress/public/mstile-150x150.png
  docs/src/.vuepress/public/mstile-310x150.png
  docs/src/.vuepress/public/mstile-310x310.png
  docs/src/.vuepress/public/mstile-70x70.png
  docs/src/.vuepress/styles/palette.styl
  docs/src/.vuepress/theme/components/Home.vue
  docs/src/.vuepress/theme/components/Navbar.vue
  src/meltano/api/static/favicon.ico
  src/webapp/public/static/favicon.ico
Due: docs

Add designer role
  docs/src/docs/README.md
Due: docs

Update docs/src/press/README.md
  docs/src/press/README.md
Due: docs

Drop UI/UX from frontend role
  docs/src/docs/README.md
Due: docs

Order values consistently
  docs/src/docs/README.md
Due: docs

iterative draft of new value
  docs/src/docs/README.md
Due: docs

add new roles
  docs/src/docs/README.md
Due: docs

remove descriptions
  docs/src/docs/README.md
Due: docs

target snowflake to transferwise default and fix required settings
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

singer-io as facebook default variant instead of meltano
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

clarify fbook setting descriptions
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

typo in fbook setting label
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add label to target snowflake and remove default_target_schema required
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Worked on the write path for multi-file projects.
  src/meltano/core/project.py
  src/meltano/core/project_files.py
Due: none

tap adwords from meltano to singer-io
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

More work on the write path.
  src/meltano/core/project.py
  src/meltano/core/project_files.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

add target snowflake changelog
  CHANGELOG.md
Due: none

add facebook changelog and remove meltano variant
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Remove docs as these now live on the Hub.
  docs/src/plugins/extractors/README.md
  docs/src/plugins/extractors/adwords.md
  docs/src/plugins/extractors/bigquery.md
  docs/src/plugins/extractors/bing-ads.md
  docs/src/plugins/extractors/chargebee.md
  docs/src/plugins/extractors/csv.md
  docs/src/plugins/extractors/facebook.md
  docs/src/plugins/extractors/fastly.md
  docs/src/plugins/extractors/gitlab.md
  docs/src/plugins/extractors/google-analytics.md
  docs/src/plugins/extractors/intacct.md
  docs/src/plugins/extractors/marketo.md
  docs/src/plugins/extractors/mongodb.md
  docs/src/plugins/extractors/mysql.md
  docs/src/plugins/extractors/postgres.md
  docs/src/plugins/extractors/quickbooks.md
  docs/src/plugins/extractors/recharge.md
  docs/src/plugins/extractors/salesforce.md
  docs/src/plugins/extractors/shopify.md
  docs/src/plugins/extractors/slack.md
  docs/src/plugins/extractors/spreadsheets-anywhere.md
  docs/src/plugins/extractors/stripe.md
  docs/src/plugins/extractors/zendesk--singer-io.md
  docs/src/plugins/extractors/zendesk.md
  docs/src/plugins/extractors/zoom.md
  docs/src/plugins/loaders/README.md
  docs/src/plugins/loaders/bigquery.md
  docs/src/plugins/loaders/csv.md
  docs/src/plugins/loaders/jsonl.md
  docs/src/plugins/loaders/postgres--meltano.md
  docs/src/plugins/loaders/postgres--transferwise.md
  docs/src/plugins/loaders/postgres.md
  docs/src/plugins/loaders/redshift.md
  docs/src/plugins/loaders/snowflake--meltano.md
  docs/src/plugins/loaders/snowflake--transferwise.md
  docs/src/plugins/loaders/snowflake.md
  docs/src/plugins/loaders/sqlite.md
Due: docs

Add automformatting utility func
  tests/meltano/cli/test_elt.py
Due: none

Clean up docs
  tests/meltano/cli/test_elt.py
Due: none

Cleanup
  tests/meltano/cli/test_elt.py
Due: none

Path conditions:
  demo_project_discovery: any of: src/meltano/core/bundle/discovery.yml
  demo_project_discovery_forks: any of: src/meltano/core/bundle/discovery.yml
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
