Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo_project_discovery, demo_project_discovery_forks, meltano_base, docs

demo_project_discovery:
  stage: test
  variables:
    MELTANO_DISCOVERY_URL: https://gitlab.com/meltano/meltano/-/raw/$CI_COMMIT_SHA/src/meltano/core/bundle/discovery.yml
  trigger:
    project: meltano/demo-project
    strategy: depend

demo_project_discovery_forks:
  stage: test
  script:
  ...

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

updates across comms, finance, and headings
  docs/src/handbook/operations/README.md
Due: docs

apply douwe's copy edit
  docs/src/handbook/operations/README.md
Due: docs

deletes configuration sentence
  docs/src/handbook/operations/README.md
Due: docs

links to google workspace
  docs/src/handbook/operations/README.md
Due: docs

fixes markdown syntax error
  docs/src/handbook/operations/README.md
Due: docs

deletes yubikey section
  docs/src/handbook/operations/README.md
Due: docs

deletes line
  docs/src/handbook/operations/README.md
Due: docs

adds sections on flexible hours and taking breaks
  docs/src/handbook/operations/README.md
Due: docs

adds link to pto roots
  docs/src/handbook/operations/README.md
Due: docs

adds info on PTO by roots
  docs/src/handbook/tech-stack/README.md
Due: docs

Updates description
  docs/src/handbook/tech-stack/README.md
Due: docs

fixes error
  docs/src/handbook/operations/README.md
Due: docs

updated pto section
  docs/src/handbook/operations/README.md
Due: docs

adds douwe's suggestion for "offline conversations"
  docs/src/handbook/operations/README.md
Due: docs

adds communication section
  docs/src/handbook/README.md
Due: docs

Update README.md
  docs/src/handbook/operations/README.md
Due: docs

adds GitLab section
  docs/src/handbook/operations/README.md
Due: docs

adds more detail to gitlab section
  docs/src/handbook/operations/README.md
Due: docs

Update docs/src/docs/README.md
  docs/src/docs/README.md
Due: docs

Update Epic
  docs/src/docs/README.md
Due: docs

send cli error messages to stderr
  src/meltano/cli/utils.py
Due: none

add changelog entry
  CHANGELOG.md
Due: none

test stderr output
  tests/meltano/cli/test_elt.py
Due: none

Send CLI error messages to stderr
  CHANGELOG.md
  src/meltano/cli/utils.py
  tests/meltano/cli/test_elt.py
Due: none

Fix targets misspelling
  docs/src/partners/README.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/handbook/tech-stack/README.md
Due: docs

Draft: Roadmap for remainder of 2021
  docs/src/docs/README.md
Due: docs

Add banner back to home page to announce OSDS and later tap-a-thon
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/.vuepress/theme/components/Navbar.vue
Due: docs

Switch from variant to variants key for extractors and loaders
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Fix zendesk description newline
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Resolve "Add Company Values"
  docs/src/docs/README.md
Due: docs

Update Zendesk details
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

Add chnagelog item
  CHANGELOG.md
Due: none

Switch discovery.yml Extractors and Loaders to `variants` key
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: demo_project_discovery, demo_project_discovery_forks, docs

WIP
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
Due: none

black
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
  tests/meltano/cli/test_select.py
Due: none

Update docs
  docs/src/docs/command-line-interface.md
  tests/meltano/cli/test_select.py
Due: docs

Update CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  demo_project_discovery: any of: src/meltano/core/bundle/discovery.yml
  demo_project_discovery_forks: any of: src/meltano/core/bundle/discovery.yml
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
