Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

feat(cli): Add `meltano config --unsafe` flag (#7984)
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/config.py
  src/meltano/cli/interactive/config.py
  tests/meltano/cli/test_config.py
Due: docs

feat: Add `meltano hub ping` command
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/__init__.py
  src/meltano/cli/hub.py
  tests/meltano/cli/test_hub.py
Due: docs

Address lint issues
  src/meltano/cli/hub.py
Due: none

Fix failing test
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

feat: Add `meltano hub ping` command (#7989)
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/__init__.py
  src/meltano/cli/hub.py
  tests/meltano/cli/test_hub.py
Due: docs

Fix failing tests
  tests/meltano/cli/test_cli.py
Due: none

chore: Remove `discover` command (#7983)
  docs/docs/concepts/plugins.mdx
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/configuration.md
  docs/docs/guide/mappers.md
  docs/docs/guide/transformation.md
  docs/docs/guide/v2-migration.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
  src/meltano/cli/__init__.py
  src/meltano/cli/discovery.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_discover.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: docs

Refactor cloud state store managers, dedupe prefix in upgrade
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  src/meltano/core/upgrade_service.py
Due: none

docstring
  src/meltano/core/upgrade_service.py
Due: none

Linting
  src/meltano/core/upgrade_service.py
Due: none

cloud install docs update git url
  docs/docs/cloud/onboarding.md
Due: docs

docs: Fix cloud install git URL (#7991)
  docs/docs/cloud/onboarding.md
Due: docs

add support for mappers in the invoke command
  src/meltano/core/project_plugins_service.py
Due: none

refactor for cleaner code
  src/meltano/core/project_plugins_service.py
Due: none

noqa
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
Due: none

chore: Remove `discovery.yml`
  .github/CODEOWNERS
  .pre-commit-config.yaml
  docs/docs/guide/configuration.md
  docs/docs/guide/plugin-management.md
  docs/docs/reference/settings.md
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  pyproject.toml
  src/meltano/cli/elt.py
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/discovery_file.py
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/factory.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_init_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/yaml.py
  src/meltano/schemas/discovery.schema.json
  src/meltano/schemas/meltano.schema.json
  tests/fixtures/core.py
  tests/fixtures/utils.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_cli.py
  tests/meltano/core/hub/test_meltano_hub_service.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_plugin_discovery_service.py
  tests/meltano/core/test_project_init_service.py
  tests/meltano/core/test_project_plugins_service.py
Due: docs

Revert unintentional change to pre-commit config
  .pre-commit-config.yaml
Due: none

Rename & split file
  src/meltano/core/hub/client.py
  src/meltano/core/locked_definition_service.py
  src/meltano/core/plugin_repository.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/schedule_service.py
  tests/fixtures/core.py
  tests/meltano/core/test_locked_definition_service.py
  tests/meltano/core/test_project_plugins_service.py
Due: none

Document new additional components
  docs/docs/concepts/project.md
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/v3-migration.md
  docs/docs/reference/settings.md
Due: docs

Update docs/docs/guide/v3-migration.md
  docs/docs/guide/v3-migration.md
Due: docs

feat!: Add `el` command as an alias of `elt` and depecrate both `elt` and the `--transform` option
  src/meltano/cli/__init__.py
  src/meltano/cli/elt.py
Due: none

Use log message instead of click.echo
  src/meltano/cli/elt.py
Due: none

Bind log message at a later point
  src/meltano/cli/elt.py
Due: none

Use logger.bind
  src/meltano/cli/elt.py
  tests/meltano/cli/test_elt.py
Due: none

Update el help and short help messages
  src/meltano/cli/elt.py
Due: none

Update test
  tests/meltano/cli/test_elt.py
Due: none

feat!: Support `psycopg[binary]` under a new `postgres` extra (#7981)
  .github/workflows/test.yml
  docker/meltano/Dockerfile
  docs/docs/concepts/project.md
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/v3-migration.md
  docs/docs/reference/settings.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/migrations/versions/b4c05e463b53_.py
  tests/conftest.py
  tests/fixtures/db/postgresql_psycopg3.py
Due: meltano_base, docs

Use two commands
  src/meltano/cli/elt.py
Due: none

Use logging instead of Click's command deprecation
  src/meltano/cli/elt.py
Due: none

Fix tests
  tests/meltano/cli/test_elt.py
Due: none

Add docs
  docs/docs/concepts/project.md
  docs/docs/contribute/plugins.md
  docs/docs/contribute/tests.md
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/integration.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
Due: docs

Debugging migrate_state in UpgradeService
  src/meltano/core/state_store/s3.py
  src/meltano/core/upgrade_service.py
Due: none

WPS435
  src/meltano/core/upgrade_service.py
Due: none

Parametrize elt command tests
  tests/meltano/cli/test_elt.py
Due: none

Update mocked S3 response for get_state_ids test
  tests/meltano/core/state_store/test_filesystem.py
Due: none

Update src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
