Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

docs: replace gitlab MR refs with github PR refs (#6000)
  docs/src/_contribute/merge.md
Due: docs

WIP
  docs/getting-started.md
  docs/src/_concepts/plugins.md
  docs/src/_concepts/project.md
  docs/src/_contribute/api.md
  docs/src/_guide/integration.md
  docs/src/_guide/production.md
Due: docs

Change job id to state id in docs
  docs/src/_guide/containerization.md
  docs/src/_reference/command-line-interface.md
Due: docs

Update job ID -> state ID in src/ and tests/
  .flake8
  .gitlab/ci/sample_code.gitlab-ci.yml
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/events/notification_events.py
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
  src/meltano/cli/state.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/finder.py
  src/meltano/core/job/stale_job_failer.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/project.py
  src/meltano/core/schedule.py
  src/meltano/core/state_service.py
  src/meltano/core/tracking/ga_tracker.py
  tests/fixtures/core.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/job/test_finder.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_state_service.py
Due: none

Add custom 404 page. Closes #3370
  docs/404.html
  docs/images/404.jpeg
Due: docs

Linter fixes and removal of win specific core discovery
  src/meltano/core/tracking/environment.py
Due: none

Don't request mappings from the hub as they are not discoverable
  src/meltano/cli/discovery.py
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
Due: none

additional job->state replacements (aj)
  src/meltano/cli/run.py
  src/meltano/cli/state.py
  src/meltano/core/job/finder.py
  src/meltano/core/state_service.py
Due: none

Add hub_url setting and send X-Project-Id header
  docs/src/_reference/settings.md
  src/meltano/core/bundle/settings.yml
  src/meltano/core/hub/client.py
Due: docs

Test meltano invoke implementation and more linting
  src/meltano/cli/invoke.py
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/cli.py
  src/meltano/core/tracking/schemas/README.md
  src/meltano/core/tracking/schemas/com.meltano/cli_context/jsonschema/1-0-0
  src/meltano/core/tracking/schemas/com.meltano/cli_event/jsonschema/1-0-0
  src/meltano/core/tracking/tracker.py
Due: none

Add custom 404 page. Closes #3370 (#6010)
  docs/404.html
  docs/images/404.jpeg
Due: docs

Update src/meltano/core/tracking/ga_tracker.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

Update meltano discover test
  tests/meltano/cli/test_discover.py
Due: none

Make Hub URL a project setting
  src/meltano/core/bundle/settings.yml
  src/meltano/core/hub/client.py
  tests/conftest.py
  tests/meltano/cli/test_discover.py
Due: none

Add missing attribute to ConflictingSettingValueException
  src/meltano/core/settings_store.py
Due: none

chore: Fix team reviewer assignment for dependabot updates
  .github/dependabot.yml
Due: none

ci: ignore failure on legacy jobs with 5xx errors (#6007)
  .github/workflows/assign-to-projects.yml
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Don't request mappings from the hub as they are not discoverable (#6012)
  src/meltano/cli/discovery.py
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
  tests/meltano/cli/test_discover.py
Due: none

Update README.md (#5991)
  README.md
Due: none

Fix 3.7 test failure due to mock import rewrites
  .pre-commit-config.yaml
  tests/meltano/cli/test_invoke.py
Due: none

snowplow-micro support
  src/meltano/core/tracking/README.md
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_event/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/plugins_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/project_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu.json
  src/meltano/core/tracking/micro.conf
Due: none

Make black happy
  src/meltano/cli/state.py
Due: none

chore: Change job_id refs to state_id (#6009)
  .flake8
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_concepts/plugins.md
  docs/src/_concepts/project.md
  docs/src/_contribute/api.md
  docs/src/_guide/containerization.md
  docs/src/_guide/integration.md
  docs/src/_guide/production.md
  docs/src/_reference/command-line-interface.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/events/notification_events.py
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
  src/meltano/cli/state.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/finder.py
  src/meltano/core/job/stale_job_failer.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/project.py
  src/meltano/core/schedule.py
  src/meltano/core/state_service.py
  src/meltano/core/tracking/ga_tracker.py
  tests/fixtures/core.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/job/test_finder.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_state_service.py
Due: docs

chore: Fix team reviewer assignment for dependabot updates (#6016)
  .github/dependabot.yml
Due: none

Fires a known good event!
  src/meltano/core/tracking/cli.py
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/tracker.py
Due: none

Update src/meltano/core/tracking/README.md
  src/meltano/core/tracking/README.md
Due: none

Update src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
Due: none

feat: send telemetry state change event (early draft)
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/tracker.py
Due: none

Verify legacy tracking events fire
  src/meltano/cli/invoke.py
  src/meltano/core/legacy_tracking/legacy_tracker.py
  src/meltano/core/tracking/cli.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_event/jsonschema/1-0-0
  src/meltano/core/tracking/tracker.py
Due: none

Last PR review feedback
  src/meltano/core/tracking/cli.py
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/tracker.py
Due: none

Replace `GoogleAnalyticsTracker` with Snowplow-backed `MeltanoTracker` (#5978)
  .gitlab/ci/publish.gitlab-ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/meltano/api/app.py
  src/meltano/cli/add.py
  src/meltano/cli/discovery.py
  src/meltano/cli/elt.py
  src/meltano/cli/initialize.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/ui.py
  src/meltano/cli/validate.py
  src/meltano/core/legacy_tracking/__init__.py
  src/meltano/core/legacy_tracking/legacy_tracker.py
  src/meltano/core/tracking/README.md
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/cli.py
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_event/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/plugins_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/project_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu.json
  src/meltano/core/tracking/micro.conf
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/snowplow_tracker.py
  src/meltano/core/tracking/tracker.py
  src/meltano/core/utils/__init__.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/cli/test_run.py
  tests/meltano/cli/test_ui.py
  tests/meltano/core/test_tracking.py
Due: meltano_base

Remove references to merge requests and update links GitLab->GitHub
  docs/README.md
  docs/adr/0002-snowplow-ga-event-parity.md
  docs/getting-started.md
  docs/src/_concepts/index.md
  docs/src/_concepts/plugins.md
  docs/src/_contribute/index.md
  docs/src/_contribute/merge.md
  docs/src/_contribute/plugins.md
  docs/src/_contribute/prerequisites.md
  docs/src/_contribute/style.md
  docs/src/_guide/containerization.md
  docs/src/_guide/index.md
  docs/src/_guide/installation.md
  docs/src/_guide/orchestration.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/production.md
  docs/src/_guide/transformation.md
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/index.md
  docs/src/_reference/settings.md
  docs/src/_reference/ui.md
  docs/src/_tutorials/example-projects.md
  docs/src/_tutorials/index.md
Due: docs

move client id logic to tracker
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/tracker.py
Due: none

first draft
  src/meltano/core/tracking/tracker.py
Due: none

ready for review
  src/meltano/core/legacy_tracking/legacy_tracker.py
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/tracker.py
Due: none

chore: 'poetry run isort src'
  src/meltano/api/api_blueprint.py
  src/meltano/api/controllers/root.py
  src/meltano/api/controllers/settings.py
  src/meltano/api/executor/__init__.py
  src/meltano/api/json.py
  src/meltano/api/models/subscription.py
  src/meltano/api/security/__init__.py
  src/meltano/api/security/auth.py
  src/meltano/api/security/identity.py
  src/meltano/api/security/oauth.py
  src/meltano/api/url_converters.py
  src/meltano/api/workers/ui_available_worker.py
  src/meltano/api/wsgi.py
  src/meltano/cli/params.py
  src/meltano/cli/schema.py
  src/meltano/core/config_service.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/sql/design_helper.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/oauth/app.py
Due: none

cleanup from 'poetry run flake8 src/*'
  src/meltano/api/app.py
  src/meltano/api/controllers/settings.py
  src/meltano/api/security/auth.py
  src/meltano/core/connection_service.py
  src/meltano/core/extract_utils.py
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/runner/singer.py
  src/meltano/core/select_service.py
  src/meltano/core/upgrade_service.py
  src/meltano/core/utils/__init__.py
  src/meltano/migrations/versions/990c0665f3ce_ensure_user_login_count_default_value.py
Due: none

flake8 cleanup
  src/meltano/api/app.py
  src/meltano/api/config.py
  src/meltano/api/controllers/settings.py
  src/meltano/api/workers/ui_available_worker.py
  src/meltano/core/plugin/__init__.py
  src/meltano/core/plugin/dbt/__init__.py
  src/meltano/core/plugin/singer/__init__.py
  src/meltano/core/plugin/singer/catalog.py
Due: none

update linters
  poetry.lock
  pyproject.toml
Due: meltano_base
