Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Remove `build-system` section from `tox.ini`
  tox.ini
Due: none

Use two rows for badges in `README.md`
  README.md
Due: none

Update CliContext
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-0-1
  src/meltano/core/tracking/schemas.py
Due: none

igluctl linter fixes
  src/meltano/cli/cli.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-0-1
Due: none

Add badges to `README.md` (#6259)
  .github/workflows/test.yml
  README.md
Due: none

Run isort & clean-up `tox.ini` (#6261)
  tests/meltano/api/conftest.py
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/api/test_workers.py
  tests/meltano/cli/test_auto_install.py
  tests/meltano/cli/test_remove.py
  tests/meltano/cli/test_select.py
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/behavior/test_hookable.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/plugin/singer/test_catalog.py
  tests/meltano/core/plugin/singer/test_target.py
  tests/meltano/core/plugin/test_airflow.py
  tests/meltano/core/plugin/test_command.py
  tests/meltano/core/test_db_reconnection.py
  tests/meltano/core/test_meltano_invoker.py
  tests/meltano/core/test_plugins_test_service.py
  tests/meltano/core/test_venv_service.py
  tox.ini
Due: none

docs: Fix link in coverage badge
  README.md
Due: none

Use official codecov badge
  README.md
Due: none

Update MainNav.vue
  src/webapp/src/components/navigation/MainNav.vue
Due: none

Fix failing tests
  .flake8
  poetry.lock
  pyproject.toml
  tests/fixtures/docker/snowplow.py
  tests/meltano/cli/test_discover.py
Due: meltano_base

add base env attributes
  schema/meltano.schema.json
  src/meltano/core/config_service.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
Due: none

docs: Fix link in coverage badge (#6263)
  README.md
Due: none

import annotations
  src/meltano/core/meltano_file.py
Due: none

Remove commented out rmdir lines
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/fixtures/fs.py
Due: none

Remove Windows From Postgres Tests as services do not work in Windows/macOS containers
  .github/workflows/test-nopostgres.yml
Due: none

Update CLI doc, removing references to job id
  docs/src/_reference/command-line-interface.md
Due: docs

Fix typo
  docs/src/_reference/command-line-interface.md
Due: docs

Fix changelog link in Meltano UI when update is available (#6265)
  src/webapp/src/components/navigation/MainNav.vue
Due: none

Update major versions of Click, Flask, and Werkzeug
  poetry.lock
  pyproject.toml
  src/meltano/api/security/oauth.py
  src/meltano/cli/utils.py
  src/meltano/oauth/providers.py
  tests/meltano/api/test_security.py
Due: meltano_base

add missing env attr
  src/meltano/core/plugin/base.py
Due: none

Conditionally include context with telemetry state change event (#6225)
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Update major version of Gunicorn & make IPython an optional dependency
  poetry.lock
  pyproject.toml
  src/meltano/cli/repl.py
  src/meltano/cli/user.py
Due: meltano_base

Include Snowplow project context with telemetry opt out events
  src/meltano/core/tracking/tracker.py
Due: none

Update `test_context_with_telemetry_state_change_event`
  tests/meltano/core/tracking/test_tracker.py
Due: none

Upgrade Authlib major version
  poetry.lock
  pyproject.toml
Due: meltano_base

ci: Use `docker run` instead of `services`
  .github/workflows/test.yml
Due: none

Update minor version of fasteners & major version of jsonschema
  poetry.lock
  pyproject.toml
Due: meltano_base

Lessen Poetry dep resolution time
  poetry.lock
  pyproject.toml
Due: meltano_base

Fix Authlib v1+ upgrade
  src/meltano/api/security/oauth.py
  src/meltano/oauth/providers.py
Due: none

Add `inflight` event to cli events enum
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_event/jsonschema/1-0-1
  src/meltano/core/tracking/schemas.py
Due: none

Remove dependency on MarkupSafe
  poetry.lock
  pyproject.toml
Due: meltano_base

Remove dependency on PyPika
  poetry.lock
  pyproject.toml
Due: meltano_base

Update `elt` to new pattern and add `inflight` cli event example
  src/meltano/cli/elt.py
Due: none

Update python-dotenv & python-gitlab, remove sqlparse & watchdog
  poetry.lock
  pyproject.toml
  tests/meltano/cli/test_config.py
Due: meltano_base

Fixed typing to work with MSSQL backends
  src/meltano/migrations/__init__.py
  src/meltano/migrations/dialect_typing.py
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/367228df6a43_add_trigger_to_job.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/a3e2b0a4937d_add_login_audit_columns.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
  src/meltano/migrations/versions/d135f52a6f49_add_last_heartbeat_at_column_to_job.py
  src/meltano/migrations/versions/e4fbabc3fed6_add_last_activity_at_column.py
  tests/conftest.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Due: none

Added two more dynamic datetime types
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
Due: none

ci: Use `docker run` instead of `services` (#6268)
  .github/workflows/test.yml
Due: none

Altered migrations to work with MYSQL
  src/meltano/migrations/utils/dialect_typing.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/a3e2b0a4937d_add_login_audit_columns.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
  src/meltano/migrations/versions/d135f52a6f49_add_last_heartbeat_at_column_to_job.py
  src/meltano/migrations/versions/e4fbabc3fed6_add_last_activity_at_column.py
  tests/conftest.py
  tests/fixtures/db/mysql.py
Due: none

Added MSSQL testing to Github workflow
  .github/workflows/test.yml
Due: none

Added MySQL to the Github workflow
  .github/workflows/test.yml
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
