Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Split state backend tests and add setuptools as a dependency in Python >= 3.12
  poetry.lock
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/venv_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base

fix dbt model in part3.mdx
  docs/docs/getting-started/part3.mdx
Due: docs

docs: fix dbt model in part3.mdx (#8251)
  docs/docs/getting-started/part3.mdx
Due: docs

feat: Support Python 3.12 (#8241)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/installation-guide.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/venv_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base, docs

option -> choice
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: none

fix(core): Validate input to settings with `kind: options` (#8227)
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: none

fix(cli): Display special characters in column names in the output of `meltano select --list` (#8249)
  src/meltano/core/plugin/singer/catalog.py
  tests/meltano/core/plugin/singer/test_catalog.py
Due: none

Add documentation
  docs/docs/concepts/plugins.mdx
Due: docs

Use `platform.system`
  src/meltano/cli/cli.py
Due: none

Update elt test
  tests/meltano/cli/test_elt.py
Due: none

feat(core): Allow escaping stream names with periods in `select` rules (#8194)
  docs/docs/concepts/plugins.mdx
  src/meltano/core/plugin/singer/catalog.py
  tests/meltano/core/plugin/singer/test_catalog.py
Due: docs

fixed comments and formatting
  src/meltano/cli/config.py
  src/meltano/cli/utils.py
  tests/meltano/cli/test_config.py
Due: none

formatting
  src/meltano/cli/utils.py
Due: none

fixes
  src/meltano/cli/config.py
  src/meltano/cli/utils.py
Due: none

enhanced test case and nested setting support
  src/meltano/cli/config.py
  src/meltano/cli/utils.py
  tests/meltano/cli/test_config.py
Due: none

comment fixes
  src/meltano/cli/config.py
Due: none

removed redundant code
  src/meltano/cli/config.py
Due: none

fix
  src/meltano/cli/utils.py
Due: none

added test for non interactive stdin
  tests/meltano/cli/test_config.py
Due: none

rename back to interactive
  src/meltano/cli/config.py
  tests/meltano/cli/test_config.py
Due: none

fixed comments
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/config.py
  src/meltano/cli/utils.py
  tests/meltano/cli/test_config.py
Due: docs

fixed flake heaven
  src/meltano/cli/config.py
  src/meltano/cli/utils.py
Due: none

diversified interactive and non interactive flows below stdin
  src/meltano/cli/config.py
Due: none

Apply suggestions from code review
  docs/docs/reference/command-line-interface.md
  tests/meltano/cli/test_config.py
Due: docs

Apply suggestions from code review
  tests/meltano/cli/test_config.py
Due: none

Avoid race condition in tests
  tests/meltano/cli/test_config.py
Due: none

feat(cli): Support setting configuration from files and STDIN (#8228)
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/config.py
  tests/meltano/cli/test_config.py
Due: docs

chore: Apply patches to 8228
  pyproject.toml
  src/meltano/cli/config.py
  tests/meltano/cli/test_config.py
Due: none

chore: Drop dependency on `aiohttp`
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Drop dependency on `aiohttp` (#8257)
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base

Remove global flag
  src/meltano/cli/cli.py
Due: none

Update tests/meltano/core/runner/test_runner.py
  tests/meltano/core/runner/test_runner.py
Due: none

Update docs
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/elt.py
Due: docs

Add option to `run`
  src/meltano/cli/run.py
  src/meltano/core/logging/utils.py
  src/meltano/core/plugin/singer/target.py
Due: none

docs: Fix links in v3 migration guide
  docs/docs/guide/v3-migration.md
Due: docs

docs: Fix links in v3 migration guide (#8259)
  docs/docs/guide/v3-migration.md
Due: docs

Add information about database schema destination
  docs/docs/getting-started/part2.mdx
Due: docs

docs: Add information about database schema destination (#8260)
  docs/docs/getting-started/part2.mdx
Due: docs

Update README.md Logo
  README.md
Due: none

chore: Update README.md Logo (#8261)
  README.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
