Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix: "must be run inside a Meltano project" error (#7203)
  src/meltano/cli/params.py
  src/meltano/cli/utils.py
  tests/meltano/cli/test_cli.py
Due: none

docs: fix link to CLI reference in `upgrade` command help text
  src/meltano/cli/upgrade.py
Due: none

docs: fix link to CLI reference in `upgrade` command help text (#7204)
  src/meltano/cli/upgrade.py
Due: none

Use `pathlib`
  src/meltano/core/venv_service.py
Due: none

style: Fix syntax in CHANGELOG
  CHANGELOG.md
Due: none

Revert "Use `pathlib`"
  src/meltano/core/venv_service.py
Due: none

style: Fix markdown syntax in CHANGELOG (#7207)
  CHANGELOG.md
Due: none

Use `pathlib` and cast to string
  src/meltano/core/venv_service.py
Due: none

Update netlify.toml for Docusaurus
  netlify.toml
Due: none

feat: Replace `venv` with `virtualenv` (#7198)
  poetry.lock
  pyproject.toml
  src/meltano/core/venv_service.py
Due: meltano_base

feat: Support Python 3.11
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  docs/src/_getting-started/index.md
  docs/src/_getting-started/installation.md
  docs/src/_guide/installation-guide.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base, docs

Fix broken links, fix markdown
  docs/docs/concepts/environments.md
  docs/docs/concepts/index.md
  docs/docs/concepts/plugins.md
  docs/docs/concepts/state_backends.md
  docs/docs/contribute/index.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/part1.md
  docs/docs/getting-started/part3.md
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/configuration.md
  docs/docs/guide/index.md
  docs/docs/guide/integration.md
  docs/docs/guide/transformation.md
  docs/docs/guide/v2-migration.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/glossary.md
  docs/docs/reference/index.md
  docs/docs/reference/settings.md
  docs/docs/reference/ui.md
  docs/docs/tutorials/index.md
  docs/docusaurus.config.js
Due: docs

fix: Do not env vars passed to subprocesses
  src/meltano/core/plugin_invoker.py
Due: none

Support disabling `show_locals` in rich-formatted tracebacks
  docs/src/_guide/logging.md
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

docs: remove/rename major elt references
  docs/src/_guide/advanced-topics.md
  docs/src/_guide/integration.md
  docs/src/_guide/orchestration.md
Due: docs

Switch away from `check-jsonschema` fork
  poetry.lock
  pyproject.toml
Due: meltano_base

Clean up src/meltano/core/logging/formatters.py
  src/meltano/core/logging/formatters.py
Due: none

feat: Support Python 3.11 (#7210)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  docs/src/_getting-started/index.md
  docs/src/_getting-started/installation.md
  docs/src/_guide/installation-guide.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base, docs

Part 2 is no longer in large Getting Started tutorial
  docs/src/_getting-started/part1.md
Due: docs

docs: Part 2 is no longer in large Getting Started tutorial (#7216)
  docs/src/_getting-started/part1.md
Due: docs

fix: Do not log env vars passed to subprocesses (#7212)
  src/meltano/core/plugin_invoker.py
Due: none

Fix coverage
  tests/meltano/core/logging/test_formatters.py
Due: none

Shorten CTA in header to make sure search button is visible
  docs/_includes/header.html
Due: docs

remove overhead completely.
  docs/src/_guide/advanced-topics.md
  docs/src/_guide/integration.md
Due: docs

Switch to mobile view in docs at 1200px instead of 1023px
  docs/css/docs.css
Due: docs

Try replacing tablet width with 1200px
  src/webapp/src/components/generic/PromoBanner.vue
  src/webapp/src/scss/bulma-preset-overrides.scss
Due: none

Revert "Try replacing tablet width with 1200px"
  src/webapp/src/components/generic/PromoBanner.vue
  src/webapp/src/scss/bulma-preset-overrides.scss
Due: none

Set Bulma `$navbar-breakpoint` to 1216px
  docs/css/main.scss
Due: docs

Use 1216px in `docs.css` for consistency with Bulma
  docs/css/docs.css
Due: docs

docs: Ensure search button is always accessible from nav bar/menu (#7221)
  docs/_includes/header.html
  docs/css/docs.css
  docs/css/main.scss
Due: docs

rename
  docs/src/_guide/integration.md
Due: docs

redo schedule refs
  docs/src/_getting-started/index.md
Due: docs

chore: Update `.github/CODEOWNERS`
  .github/CODEOWNERS
Due: none

chore: Update `.github/CODEOWNERS` (#7227)
  .github/CODEOWNERS
Due: none

Recreate Flakeheaven baseline
  flakeheaven-baseline
  pyproject.toml
  src/meltano/scripts/alembic_freeze.py
  src/meltano/scripts/build.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
