Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Add `jinja2` dependency
  poetry.lock
  pyproject.toml
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: meltano_base

Add `pytest-aiohttp` to `noxfile.py`
  noxfile.py
Due: none

Fix `meltano cloud login` on Windows
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Fix logout on Windows
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Fix `project use` on Windows
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

Address mypy issues
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Feedback for #7471
  src/cloud-cli/tests/cli/test_history.py
  src/cloud-cli/tests/conftest.py
Due: none

chore: Feedback for #7471 (#7477)
  src/cloud-cli/tests/cli/test_history.py
  src/cloud-cli/tests/conftest.py
Due: none

Remove empty `pytest_httpserver.HTTPServer` subclass
  src/cloud-cli/tests/cli/test_history.py
  src/cloud-cli/tests/cli/test_logs.py
  src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
  src/cloud-cli/tests/conftest.py
Due: none

chore: Use `pytest-httpserver` for Cloud CLI tests (#7471)
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/cli/conftest.py
  src/cloud-cli/tests/cli/test_history.py
  src/cloud-cli/tests/cli/test_logs.py
  src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
  src/cloud-cli/tests/conftest.py
Due: meltano_base

Use stdlib `importlib.resources` when available
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Fix typo
  src/cloud-cli/meltano/cloud/cli/history/command.py
Due: none

refactor: Run local auth server within same process (#7475)
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback.jinja2
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/auth/logout.html
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/api/auth/test_callback_server.py
Due: meltano_base

docs: Add Cloud Fees stub (#7469)
  docs/src/_cloud/fees.md
Due: docs

Added the Matatika GitHub Analytics project to example-projects page
  docs/src/_tutorials/example-projects.md
Due: docs

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

docs: add the Matatika GitHub Analytics project to the example projects page (#7482)
  docs/src/_tutorials/example-projects.md
Due: docs

Address lint issues
  src/meltano/core/tracking/contexts/project.py
  tests/meltano/core/behavior/test_canonical.py
Due: none

Fix `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Due: none

docs: move replicate troubleshooting to guide (#7381)
  docs/src/_guide/integration.md
  docs/src/_guide/troubleshooting.md
Due: docs

docs: Add Cloud CLI docs
  docs/src/_reference/cloud-cli.md
  docs/src/_reference/command-line-interface.md
Due: docs

docs: Add Cloud CLI docs (#7484)
  docs/src/_reference/cloud-cli.md
  docs/src/_reference/command-line-interface.md
Due: docs

move Cloud CLI docs to Cloud
  docs/src/_cloud/cloud-cli.md
  docs/src/_cloud/platform.md
  docs/src/_cloud/reserved_variables.md
  docs/src/_cloud/security.md
Due: docs

add beta warning and simplify header
  docs/src/_cloud/cloud-cli.md
Due: docs

docs: move Cloud CLI docs to Cloud Section (#7485)
  docs/src/_cloud/cloud-cli.md
  docs/src/_cloud/platform.md
  docs/src/_cloud/reserved_variables.md
  docs/src/_cloud/security.md
Due: docs

fix: Silence aiohttp acess logging
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

fix: Silence `aiohttp` access logging (#7488)
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Add examples to CLI docs
  docs/src/_cloud/cloud-cli.md
Due: docs

fix: Install Meltano extras in Docker image
  docker/meltano/Dockerfile
Due: none

Move extras before version
  docker/meltano/Dockerfile
Due: none

chore: Remove unused extra `infra`
  pyproject.toml
Due: none

fix: Install Meltano extras in Docker image (#7490)
  docker/meltano/Dockerfile
Due: none

Update Poetry lockfile
  poetry.lock
Due: meltano_base

Address mypy issues
  src/meltano/core/manifest/manifest.py
Due: none

Remove unused extra `repl`
  pyproject.toml
Due: none

chore: Remove hidden `repl` command
  src/meltano/cli/__init__.py
  src/meltano/cli/repl.py
Due: none

Update src/cloud-cli/meltano/cloud/cli/history/command.py
  src/cloud-cli/meltano/cloud/cli/history/command.py
Due: none

chore: Remove cyclic dependencies from `meltano.cli`
  src/meltano/cli/__init__.py
  src/meltano/cli/add.py
  src/meltano/cli/compile.py
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/dragon.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/initialize.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/lock.py
  src/meltano/cli/remove.py
  src/meltano/cli/repl.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/schema.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/validate.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_lock.py
Due: none

Use Ruff to enforce CLI conventions
  pyproject.toml
  tests/meltano/cli/test_cli.py
Due: none
