Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

chore: Release v3.2.0 (#8304)
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

docs: add changelog updates
  docs/blog/2023-09-27-changelog.mdx
  docs/blog/2023-q4-changelog.mdx
Due: docs

Update docs/blog/2023-09-27-changelog.mdx
  docs/blog/2023-09-27-changelog.mdx
Due: docs

docs: Add changelog updates (#8306)
  docs/blog/2023-09-27-changelog.mdx
  docs/blog/2023-q4-changelog.mdx
Due: docs

Revert coverage.py bump
  poetry.lock
  pyproject.toml
Due: meltano_base

Supply `bool` type hints
  src/meltano/cli/utils.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
Due: none

ci: Bump `actions/upload-artifact` and `actions/download-artifact`
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

ci: Bump `actions/upload-artifact` and `actions/download-artifact` (#8338)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

test: Fix running tests in an environment with `NO_COLOR=1`
  tests/conftest.py
Due: none

perf: Cache `Project.dotenv_env`
  src/meltano/core/project.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

perf: Cache `Project.dotenv_env` (#8343)
  src/meltano/core/project.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

Add docs for `meltano add --update`
  docs/docs/guide/plugin-management.md
  docs/docs/reference/command-line-interface.md
Due: docs

Implement sensitive flag cached property for setting kind
  src/meltano/core/setting_definition.py
Due: none

Update steps for updating a plugin added from a ref
  docs/docs/reference/command-line-interface.md
Due: docs

feat: Add setting `sensitive` flag (#7874)
  docs/docs/getting-started/part2.mdx
  docs/docs/getting-started/part3.mdx
  docs/docs/guide/configuration.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/plugin-definition-syntax.md
  docs/docs/tutorials/custom-extractor.md
  integration/example-library/meltano-annotations/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-basics/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-cloudwatch--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-github--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-google-analytics--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-slack--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-snowflake--transferwise.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-snowflake--transferwise.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-yaml--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/utilities/dbt-snowflake--dbt-labs.lock
  integration/example-library/meltano-manifest/plugins/utilities/superset--apache.lock
  integration/example-library/meltano-migrations/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-run/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-run/plugins/loaders/target-postgres--transferwise.lock
  integration/example-library/meltano-state-local/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-state-s3/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin/base.py
  src/meltano/core/setting_definition.py
  src/meltano/schemas/meltano.schema.json
  tests/fixtures/core.py
  tests/fixtures/multifile_project/meltano.yml
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/test_project_files.py
  tests/meltano/core/test_settings_store.py
Due: docs

Install multiple plugins of any type
  src/meltano/cli/install.py
Due: none

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Bump package version
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.3.0a1 (#8363)
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Do not update changelog during prereleases
  .github/workflows/version_bump.yml
  pyproject.toml
Due: none

fix(cli): Emit pip installation errors
  src/meltano/core/venv_service.py
Due: none

fix(cli): Emit pip installation errors (#8354)
  src/meltano/core/venv_service.py
Due: none

chore: Do not update changelog during prereleases (#8359)
  .github/workflows/version_bump.yml
  pyproject.toml
Due: none

feat: Add new `--update` flag to `meltano add` to re-add plugins to a project (#8176)
  docs/docs/guide/plugin-management.md
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/cli/test_add.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_project_add_service.py
  tests/meltano/core/test_project_plugins_service.py
  tests/meltano/core/test_schedule_service.py
Due: docs

Add/update tests
  tests/meltano/cli/test_install.py
Due: none

add test cases for nested properties
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

cleaned up test params & added more test cases
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Update src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/tap.py
Due: none

add test_warn_property_not_found
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

revert %-strings to f-strings in log
  src/meltano/core/plugin/singer/tap.py
Due: none

Fix a few types and typos
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

use caplog in addition to capsys
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

fix fstring
  src/meltano/core/plugin/singer/tap.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
