Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

test: Validate that the order of rules in `metadata` is meaningful (#9630)
  docs/docs/guide/integration.md
  src/meltano/core/plugin/singer/catalog.py
  tests/meltano/core/plugin/singer/test_catalog.py
Due: docs

chore: Lock file maintenance
  uv.lock
Due: none

Apply suggestion from @edgarrmondragon
  .pre-commit-config.yaml
Due: none

Fix command syntax in troubleshooting docs
  docs/docs/guide/troubleshooting.md
Due: docs

docs: Fix command syntax in troubleshooting docs (#9634)
  docs/docs/guide/troubleshooting.md
Due: docs

ci: Start testing with Python 3.15 alpha
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

test: Use native Pytest 9+ support for subtests
  pyproject.toml
  tests/meltano/core/job/test_job.py
  tests/meltano/core/logging/test_renderers.py
  tests/meltano/core/protocols/test_el_context.py
  uv.lock
Due: none

test: Use native Pytest 9+ support for subtests (#9635)
  pyproject.toml
  tests/meltano/core/job/test_job.py
  tests/meltano/core/logging/test_renderers.py
  tests/meltano/core/protocols/test_el_context.py
  uv.lock
Due: none

chore: Remove stale comment
  pyproject.toml
Due: none

chore: Lock file maintenance
  .github/actions/docker-build-scan-push/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/integration_tests.yml
  .github/workflows/test.yml
  .github/workflows/version_bump.yml
  .pre-commit-config.yaml
  uv.lock
Due: none

chore(deps-dev): Remove upper limit on `boto3-stubs`
  pyproject.toml
  uv.lock
Due: none

chore(deps-dev): Remove upper limit on `boto3-stubs` (#9636)
  pyproject.toml
  uv.lock
Due: none

fix(deps): Bump `fasteners` to 0.20
  pyproject.toml
  uv.lock
Due: none

fix(deps): Bump `fasteners` to 0.20 (#9637)
  pyproject.toml
  uv.lock
Due: none

chore(deps): Bump allowed `check-jsonschema`
  pyproject.toml
  uv.lock
Due: none

chore(deps): Bump allowed `check-jsonschema` (#9639)
  pyproject.toml
  uv.lock
Due: none

Apply suggestions from code review
  .pre-commit-config.yaml
Due: none

chore: Update GitHub actions
  .github/actions/docker-build-scan-push/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_snowplow_schemas.yml
  .github/workflows/slash_commands.yml
  .github/workflows/test.yml
  .github/workflows/version_bump.yml
Due: none

chore: Update GitHub actions (#9642)
  .github/actions/docker-build-scan-push/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_snowplow_schemas.yml
  .github/workflows/slash_commands.yml
  .github/workflows/test.yml
  .github/workflows/version_bump.yml
Due: none

ci: Fix dbt integration test
  integration/meltano-run/validate.sh
Due: none

ci: Fix dbt integration test (#9643)
  integration/meltano-run/validate.sh
Due: none

fix: Compatibility with click 8.2+
  poetry.lock
  src/meltano/cli/config.py
  tests/fixtures/cli.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_job_cmd.py
  tests/meltano/cli/test_remove.py
Due: meltano_base

fix: Compatibility with click 8.2+ (#9644)
  poetry.lock
  src/meltano/cli/config.py
  tests/fixtures/cli.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_job_cmd.py
  tests/meltano/cli/test_remove.py
Due: meltano_base

packaging: Allow setuptools <81
  poetry.lock
  pyproject.toml
Due: meltano_base

packaging: Allow setuptools <81 (#9645)
  poetry.lock
  pyproject.toml
Due: meltano_base

packaging: Allow uv < 0.10
  poetry.lock
  pyproject.toml
Due: meltano_base

packaging: Allow uv < 0.10 (#9646)
  poetry.lock
  pyproject.toml
Due: meltano_base

packaging: Disallow broken 2.28 google-api-core on Python 3.9
  poetry.lock
  pyproject.toml
Due: meltano_base

packaging: Disallow broken 2.28 google-api-core on Python 3.9 (#9647)
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Update dev dependencies (v3.6)
  .github/workflows/resources/constraints.txt
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: meltano_base

test: Fix broken tests
  tests/meltano/cli/test_add.py
Due: none

chore: Run `poetry lock`
  src/meltano/core/job/job.py
Due: none

chore: Make mypy happy
  src/meltano/core/project_plugins_service.py
Due: none

packaging: Allow Click 8.3 (#9513)
  tests/meltano/cli/test_cli.py
Due: none

chore: Update ignored warnings
  pyproject.toml
Due: none

chore: Make mypy happy
  src/meltano/cli/lock.py
Due: none

test: Use time-machine v3
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
