Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Disallow annotations in environment plugins block
  src/meltano/schemas/meltano.schema.json
Due: none

Update docs to specify where annotations are allowed
  docs/src/_concepts/project.md
Due: docs

Run `meltano-annotations` integration test in CI
  .github/workflows/integration_tests.yml
Due: none

Update `ending-meltano.yml` for annotations integration test
  docs/example-library/meltano-annotations/ending-meltano.yml
Due: docs

ci: Run manifest integration test in CI
  .github/workflows/integration_tests.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/cli/compile.py
  src/meltano/core/manifest/manifest.py
Due: none

Fix end-of-file diff error
  .pre-commit-config.yaml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.ci hooks"
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: none

Fix missing newline in manifest files in integration test
  .pre-commit-config.yaml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  integration/meltano-manifest/validate.sh
Due: none

Address shellcheck issue
  integration/meltano-manifest/validate.sh
Due: none

ci: Run manifest integration test in CI (#7314)
  .github/workflows/integration_tests.yml
  .pre-commit-config.yaml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  integration/meltano-manifest/validate.sh
  src/meltano/cli/compile.py
  src/meltano/core/manifest/manifest.py
Due: none

docs: Escaping `$` in `meltano config <plugin> set`
  docs/src/_reference/command-line-interface.md
Due: docs

docs: Escaping `$` in `meltano config <plugin> set` (#7315)
  docs/src/_reference/command-line-interface.md
Due: docs

Update docs/src/_concepts/project.md
  docs/src/_concepts/project.md
Due: docs

Correct misuse of `rstrip` in favor of new 3.8-compatible `remove_suffix`
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_utils.py
Due: none

Correct version check
  src/meltano/core/utils/__init__.py
Due: none

fix: correct trimming of state backend URIs for filesystem backends (#7320)
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_utils.py
Due: none

chore: Disable `meltano compile` command
  .github/workflows/integration_tests.yml
  src/meltano/cli/__init__.py
  tests/meltano/cli/test_compile.py
Due: none

docs: Declare `meltano compile` command experimental
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/compile.py
Due: docs

First pass
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/client/__init__.py
  src/cloud-cli/meltano/cloud/client/models.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: meltano_base

Use environment variables
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/client/__init__.py
  src/cloud-cli/meltano/cloud/client/models.py
Due: none

Fix meltano version retrieval
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/client/__init__.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: meltano_base

update airbyte FAQ to take out of preview and be more explicit about deployment challenges
  docs/src/_guide/advanced-topics.md
Due: docs

Update docs/src/_guide/advanced-topics.md
  docs/src/_guide/advanced-topics.md
Due: docs

feat: Add support for `annotations` to provide documentation and 3rd-party configurations in `meltano.yml` (#7287)
  .github/workflows/integration_tests.yml
  docs/example-library/meltano-annotations/ending-meltano.yml
  docs/example-library/meltano-annotations/index.md
  docs/example-library/meltano-annotations/meltano.yml
  docs/src/_concepts/project.md
  src/meltano/core/behavior/canonical.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/project_files.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/utils/__init__.py
  src/meltano/schemas/meltano.schema.json
  tests/fixtures/core.py
  tests/meltano/core/behavior/test_canonical.py
Due: docs

fix: merge environment-level annotations into top level in manifest
  src/meltano/core/manifest/manifest.py
Due: none

Add annotations to manifest integration test
  docs/example-library/meltano-manifest/ending-meltano.yml
  docs/example-library/meltano-manifest/environments/cicd.meltano.yml
  docs/example-library/meltano-manifest/loaders.meltano.yml
  docs/example-library/meltano-manifest/meltano.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: docs

Update comment
  src/meltano/core/manifest/manifest.py
Due: none

Replace `experimental` with `beta` & link to GitHub discussion in docs
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/compile.py
Due: docs

docs: Update airbyte FAQ (#7329)
  docs/src/_guide/advanced-topics.md
Due: docs

docs: State that the `meltano compile` command is in beta (#7322)
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/compile.py
Due: docs

update issues link to github
  CONTRIBUTING.md
Due: none

chore: Update link to issues accepting PRs in CONTRIBUTING.md (#7332)
  CONTRIBUTING.md
Due: none

Fixing branch
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/CONTRIBUTING.md
  src/cloud-cli/meltano/cloud/README.md
  src/cloud-cli/meltano/cloud/__init__.py
  src/cloud-cli/meltano/cloud/api/__init__.py
  src/cloud-cli/meltano/cloud/api/auth/__init__.py
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/auth/templates/callback_page.html
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/login.py
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/api/auth/test_callback_server.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/api/test_cloud_config.py
  src/cloud-cli/tests/test_cloud_cli.py
Due: meltano_base

Removing irrelevant test
  src/cloud-cli/tests/api/test_cloud_config.py
Due: none

poetry.lock
  poetry.lock
Due: meltano_base

Docstrings for callback server app.
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

Add platformdirs to cloud-cli only
  poetry.lock
  pyproject.toml
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: meltano_base

fix: Merge environment-level annotations into top level in manifest (#7331)
  docs/example-library/meltano-manifest/ending-meltano.yml
  docs/example-library/meltano-manifest/environments/cicd.meltano.yml
  docs/example-library/meltano-manifest/loaders.meltano.yml
  docs/example-library/meltano-manifest/meltano.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/core/manifest/manifest.py
Due: docs

Add cached-property dep to cloud-cli
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

platformdirs in both pyproject.yamls
  poetry.lock
  pyproject.toml
Due: meltano_base
