Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

style: Eanble Ruff `UP` (pyupgrade) rules
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix having to manually set an org id for the run command
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

fix: Remove having to set `MELTANO_CLOUD_ORGANIZATION_ID` for the `run` command (#7414)
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

style: Eanble Ruff `UP` (pyupgrade) rules (#7413)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: Implement `meltano cloud history`
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_history.py
Due: meltano_base

Fix types
  docs/src/_reference/cloud-cli.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/history.py
Due: meltano_base, docs

add config cli
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

ci: Run CodeQL scan on `cloud` branch
  .github/workflows/codeql-analysis.yml
Due: none

update tenant and project keys
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

ci: Run CodeQL scan on `cloud` branch (#7419)
  .github/workflows/codeql-analysis.yml
Due: none

Print duration in `HH:MM:SS` format
  src/cloud-cli/meltano/cloud/cli/history.py
Due: none

Limit page size to API max value
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/history.py
Due: none

Support `terminal` and `markdown` formats
  docs/src/_reference/cloud-cli.md
  src/cloud-cli/meltano/cloud/cli/history.py
Due: docs

feat: Implement `meltano cloud history` (#7415)
  docs/src/_reference/cloud-cli.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_history.py
Due: meltano_base, docs

fix: Handle running jobs in history output
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/tests/cli/test_history.py
Due: none

Simplify `_format_history_table` function body
  src/cloud-cli/meltano/cloud/cli/history.py
Due: none

fix: Find `flask` when using `pipx`
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Wrap `sys.prefix` with `Path`
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

fix: Handle running jobs in history output (#7421)
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/tests/cli/test_history.py
Due: none

fix: Find `flask` when using `pipx` (#7427)
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Add Cloud Docs
  docs/_config.yml
  docs/src/_cloud/api_reference.md
  docs/src/_cloud/concepts.md
  docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/index.md
  docs/src/_cloud/known_issues.md
  docs/src/_cloud/onboarding.md
  docs/src/_cloud/platform.md
  docs/src/_cloud/sandbox_environments.md
  docs/src/_cloud/security-policy.md
  docs/src/_cloud/security.md
  docs/src/_cloud/sla.md
  docs/src/_cloud/support.md
Due: docs

Update notes and warnings
  docs/src/_cloud/api_reference.md
  docs/src/_cloud/concepts.md
  docs/src/_cloud/onboarding.md
  docs/src/_cloud/security.md
Due: docs

unhide some pages
  docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/platform.md
Due: docs

update response from run command
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

feedback changes
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

Use updated schedule enable/disable `PUT` endpoint
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

Update src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

feat: Add deployment to Cloud history output
  docs/src/_reference/cloud-cli.md
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/tests/cli/test_history.py
Due: docs

Fix types
  src/cloud-cli/meltano/cloud/cli/history.py
Due: none

chore: Update response from `run` command (#7429)
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

Support `schedule` CLI options at the group and command level
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/meltano/cloud/cli/login.py
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

feat: Add deployment to Cloud history output (#7431)
  docs/src/_reference/cloud-cli.md
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/tests/cli/test_history.py
Due: docs

Add missing `typing-extensions` dependency
  poetry.lock
  pyproject.toml
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: meltano_base

Address mypy issues
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/meltano/core/meltano_file.py
  src/meltano/core/setting_definition.py
Due: meltano_base

Move `typing-extensions` to main dependency group
  poetry.lock
  pyproject.toml
Due: meltano_base

Add info about Beta status
  docs/src/_cloud/api_reference.md
  docs/src/_cloud/concepts.md
  docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/index.md
  docs/src/_cloud/known_issues.md
  docs/src/_cloud/onboarding.md
  docs/src/_cloud/platform.md
  docs/src/_cloud/sandbox_environments.md
  docs/src/_cloud/security-policy.md
  docs/src/_cloud/security.md
  docs/src/_cloud/sla.md
  docs/src/_cloud/support.md
Due: docs

Move import into type checking block
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

style: Enable Ruff `ISC` (implicit string concat) rules
  pyproject.toml
  src/meltano/cli/add.py
  src/meltano/cli/params.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/select_service.py
  src/meltano/core/tracking/tracker.py
Due: none

style: Enable Ruff `ISC` (implicit string concat) rules (#7434)
  pyproject.toml
  src/meltano/cli/add.py
  src/meltano/cli/params.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/select_service.py
  src/meltano/core/tracking/tracker.py
Due: none
