Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

docs: update custom extractor tutorial to use pip_url (#6663)
  docs/src/_tutorials/custom-extractor.md
Due: docs

Explain why you would want to clear the `project_files` cache
  src/meltano/core/project.py
Due: none

perf: Improve performance when handling large yaml files (#6644)
  docs/example-library/meltano-basics/output/.gitkeep
  integration/validate.sh
  src/meltano/core/behavior/canonical.py
  src/meltano/core/config_service.py
  src/meltano/core/environment_service.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  src/meltano/core/schedule_service.py
  src/meltano/core/task_sets_service.py
  src/meltano/core/transform_add_service.py
  src/meltano/core/utils/__init__.py
  src/meltano/core/yaml.py
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/fixtures/fs.py
  tests/fixtures/large_config_project/meltano.yml
  tests/fixtures/large_config_project/schedule.yml
  tests/fixtures/utils.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: docs

Use pushd fixture
  tests/meltano/core/test_project_init_service.py
Due: none

ci: Use `meltano/commitizen-version-bump`
  .github/workflows/version_bump.yml
  pyproject.toml
Due: none

Add `commitizen-version-bump` to dev deps
  poetry.lock
  pyproject.toml
Due: meltano_base

ci: Use `meltano/commitizen-version-bump` (#6665)
  .github/workflows/version_bump.yml
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Use org-level MeltyBot secret token
  .github/workflows/slash_commands.yml
  .github/workflows/version_bump.yml
Due: none

Use same key for `assign_one_project` as everything else
  .github/workflows/assign-to-projects.yml
Due: none

change: add new settings for `hub_api_root` and `hub_url_auth` (#6581)
  docs/src/_reference/settings.md
  src/meltano/core/bundle/settings.yml
  src/meltano/core/hub/client.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: docs

Use org-level MeltyBot secret token (#6668)
  .github/workflows/assign-to-projects.yml
  .github/workflows/slash_commands.yml
  .github/workflows/version_bump.yml
Due: none

minor tweaks
  .gitignore
  src/meltano/cli/interactive/config.py
Due: none

add ex. projects page to index
  docs/index.html
Due: docs

add multiple example projects
  docs/src/_tutorials/example-projects.md
Due: docs

del trailing ws
  docs/src/_tutorials/example-projects.md
Due: docs

add rich
  poetry.lock
  pyproject.toml
Due: meltano_base

doc: Add tutorial on how to debug a custom extractor
  docs/src/_tutorials/debugging-custom-extractor.md
Due: docs

Fix spacing in debugging-custom-extractor.md
  docs/src/_tutorials/debugging-custom-extractor.md
Due: docs

rich interactive prompts
  src/meltano/cli/interactive/config.py
Due: none

Fix tests for windows
  tests/meltano/core/test_project_init_service.py
Due: none

minor tweaks
  src/meltano/cli/interactive/config.py
Due: none

Update docs/src/_tutorials/debugging-custom-extractor.md
  docs/src/_tutorials/debugging-custom-extractor.md
Due: docs

Move debugging-custom-extractor to guides from tutorials
  docs/src/_guide/debugging-custom-extractor.md
Due: docs

Update title to better reflect guides title style
  docs/src/_guide/debugging-custom-extractor.md
Due: docs

Update docs/src/_guide/debugging-custom-extractor.md
  docs/src/_guide/debugging-custom-extractor.md
Due: docs

Add 'env' to schedule docs, add test for env key
  docs/src/_guide/orchestration.md
  schema/meltano.schema.json
  tests/meltano/core/test_schedule_service.py
Due: docs

docs: Add tutorial on how to debug a custom extractor (#6672)
  docs/src/_guide/debugging-custom-extractor.md
Due: docs

Wait for subprocess to exit after terminating
  src/meltano/core/plugin_invoker.py
  src/meltano/core/plugin_test_service.py
Due: none

Update tests
  tests/meltano/core/test_plugins_test_service.py
Due: none

Correct `validate` method return value typing
  src/meltano/core/plugin_test_service.py
Due: none

Rename test file for conformity with subject code
  tests/meltano/core/test_plugin_test_service.py
Due: none

Satisfy flake8
  src/meltano/core/plugin_test_service.py
Due: none

Update other tests
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/cli/test_config.py
Due: none

Fix test on windows
  tests/meltano/core/test_project_init_service.py
Due: none

fix typo
  docs/src/_tutorials/example-projects.md
Due: docs

fix typos
  docs/src/_tutorials/example-projects.md
Due: docs

fix more typos
  docs/src/_tutorials/example-projects.md
Due: docs
