Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Hard coded string lengths in migrations
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
Due: none

Moved MSSQL testing to github action run
  .github/workflows/test.yml
Due: none

Moved Mysql to Github run action
  .github/workflows/test.yml
Due: none

Added MSSQL user to health check
  .github/workflows/test.yml
Due: none

Include environment context with telemetry opt-out event
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Add missing docstring and type hints
  tests/meltano/core/tracking/test_exception.py
Due: none

Address lint issues
  src/meltano/api/security/oauth.py
  src/meltano/oauth/providers.py
Due: none

Address lint issues
  tests/meltano/core/tracking/test_tracker.py
Due: none

Add section about testing with Snowplow Micro to telemetry docs
  src/meltano/core/tracking/README.md
Due: none

Update Snowplow Micro under Pytest docs
  src/meltano/core/tracking/README.md
Due: none

Add missing future import
  src/meltano/api/security/oauth.py
Due: none

Update Poetry lock file
  poetry.lock
Due: meltano_base

Remove dependency on `async_generator`
  poetry.lock
  pyproject.toml
  src/meltano/cli/elt.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/job.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin_invoker.py
Due: meltano_base

Install extra database drivers in testing action
  .github/workflows/test.yml
Due: none

Update tracker usage of existing instrumented commands
  src/meltano/cli/environment.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/lock.py
Due: none

Update Changelog to fix when jobs landed
  CHANGELOG.md
Due: none

WIP
  src/meltano/cli/config.py
  src/meltano/core/settings_store.py
Due: none

fix(plugins): Replace distutils with recommended packaging
  src/meltano/core/plugin/airflow.py
Due: none

docs: Update Changelog to fix when jobs landed (#6275)
  CHANGELOG.md
Due: none

Use `asyncio.run` instead of our own reimplementation of it
  poetry.lock
  pyproject.toml
  src/meltano/cli/config.py
  src/meltano/cli/invoke.py
  src/meltano/cli/validate.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/utils/__init__.py
Due: meltano_base

Replace `asyncmock` and `unittest.mock` with `mock`
  poetry.lock
  pyproject.toml
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/api/test_security.py
  tests/meltano/api/test_workers.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_discover.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_install.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/cli/test_job_cmd.py
  tests/meltano/cli/test_lock.py
  tests/meltano/cli/test_remove.py
  tests/meltano/cli/test_run.py
  tests/meltano/cli/test_schedule.py
  tests/meltano/cli/test_select.py
  tests/meltano/cli/test_state.py
  tests/meltano/cli/test_ui.py
  tests/meltano/cli/test_upgrade.py
  tests/meltano/core/behavior/test_hookable.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_plugin_command.py
  tests/meltano/core/block/test_singer.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_airflow.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_db_reconnection.py
  tests/meltano/core/test_meltano_invoker.py
  tests/meltano/core/test_plugin_discovery_service.py
  tests/meltano/core/test_plugin_remove_service.py
  tests/meltano/core/test_plugins_test_service.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_settings_store.py
  tests/meltano/core/test_validation_service.py
  tests/meltano/core/test_venv_service.py
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base

chore(deps): add packaging as a direct dependency
  poetry.lock
  pyproject.toml
Due: meltano_base

Added extras for database drivers
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: meltano_base

Add tests, docs for env alias behavior
  docs/src/_guide/configuration.md
  src/meltano/cli/config.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: docs

Address Pytest warnings
  pytest.ini
  src/meltano/api/controllers/orchestrations.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/runner/dbt.py
  tests/fixtures/db/__init__.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/runner/test_runner.py
Due: none

Fix `imp.load_source` replacement
  src/meltano/core/plugin/superset.py
  tests/meltano/core/plugin/test_superset.py
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

Updated mysql auth in Github action
  .github/workflows/test.yml
Due: none

Fix `test_complex_exception_context`
  tests/meltano/core/tracking/test_exception.py
Due: none

fix(plugins): Replace deprecated `distutils.version.StrictVersion` (#6276)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/meltano/core/plugin/airflow.py
Due: meltano_base

Changed MSSQL driver to pymssql
  poetry.lock
  pyproject.toml
  tests/fixtures/db/mssql.py
  tests/fixtures/db/mysql.py
Due: meltano_base

Added more string limits for MySQL
  .github/workflows/test.yml
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/367228df6a43_add_trigger_to_job.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
Due: none

Add Windows back to test.yml as github action should now work on Windows!
  .github/workflows/test-nopostgres.yml
  .github/workflows/test.yml
Due: none

Windows-latest
  .github/workflows/test.yml
Due: none

Only test Windows with sqllite
  .github/workflows/test.yml
Due: none

Inline comment pointing to why Windows isn't testing other dbs yet
  .github/workflows/test.yml
Due: none

wip auto changelog
  .github/workflows/version_bump.yml
Due: none

switch action provider, add config
  .github/workflows/changelog-ci/changelog-ci.config.yml
  .github/workflows/version_bump.yml
Due: none

ci: add config and docs for semantic-prs (#6248)
  .github/semantic.yml
  docs/src/_contribute/merge.md
Due: docs

add 'break' and 'change' to semantic types
  .github/semantic.yml
Due: none
