Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Cleanup
  src/meltano/cli/job.py
  src/meltano/core/task_sets.py
Due: none

Remove unspec'd --format=run opt
  src/meltano/cli/job.py
Due: none

Redo of pyproject.toml and poetry.lock files
  poetry.lock.bad
  pyproject.toml.bad
Due: none

Removing the old poetry files that were renamed
  poetry.lock.bad
  pyproject.toml.bad
Due: none

Yay poetry is working again so it git
  poetry.lock
  pyproject.toml
Due: meltano_base

Add ADR
  docs/adr/0006-projects-as-top-level-resource-in-api-v2.md
Due: docs

Poetry Issues Continue
  poetry.lock
Due: meltano_base

Update 0006-projects-as-top-level-resource-in-api-v2.md
  docs/adr/0006-projects-as-top-level-resource-in-api-v2.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/adr/0006-projects-as-top-level-resource-in-api-v2.md
Due: docs

Update api.md
  docs/src/_contribute/api.md
Due: docs

Refactor list and remove to new UX
  src/meltano/cli/job.py
Due: none

Add feature flags
  .flake8
  src/meltano/core/bundle/settings.yml
  src/meltano/core/settings_service.py
  tests/meltano/core/test_project_settings_service.py
Due: none

CHANGELOG entry
  CHANGELOG.md
Due: none

mr feedback
  src/meltano/cli/config.py
  src/meltano/core/settings_store.py
Due: none

Resolve "Unexpected behaviour with default_environment and default settings"
  .flake8
  src/meltano/cli/config.py
  src/meltano/core/settings_store.py
  tests/meltano/core/test_utils.py
Due: none

Refactor to add `add` subcommmand
  src/meltano/cli/job.py
Due: none

Add feature flag info to docs
  docs/src/_contribute/style.md
Due: docs

First pass tests
  src/meltano/core/task_sets.py
  src/meltano/core/task_sets_service.py
  tests/fixtures/core.py
  tests/meltano/core/test_task_sets.py
  tests/meltano/core/test_task_sets_service.py
Due: none

Add tests for job cli
  src/meltano/core/task_sets.py
  tests/meltano/cli/test_job.py
Due: none

Add feature flags
  .flake8
  CHANGELOG.md
  docs/src/_contribute/style.md
  src/meltano/core/bundle/settings.yml
  src/meltano/core/settings_service.py
  tests/meltano/core/test_project_settings_service.py
Due: docs

docs: add changelog entry
  CHANGELOG.md
Due: none

move parse_json_file up to Canonical
  src/meltano/core/behavior/canonical.py
  src/meltano/core/plugin/base.py
Due: none

Add lock artifacts during `meltano add` for stability and portability of plugin definitions
  .flake8
  CHANGELOG.md
  docs/src/_concepts/plugins.md
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/behavior/canonical.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/plugin_location_remove.py
  src/meltano/core/plugin_lock_service.py
  src/meltano/core/plugin_remove_service.py
  src/meltano/core/project.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/test_locked_definition_service.py
  tests/meltano/core/test_plugin_discovery_service.py
  tests/meltano/core/test_project_add_service.py
Due: docs

Bump version: 1.103.1 → 1.104.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fixup tests
  CHANGELOG.md
  src/meltano/cli/job.py
  tests/meltano/core/test_task_sets_service.py
Due: none

Rename test_job to prevent conflict
  tests/meltano/cli/test_job_cmd.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Final tests/cleanup
  src/meltano/cli/job.py
  src/meltano/core/block/parser.py
  src/meltano/core/task_sets.py
  src/meltano/core/task_sets_service.py
  tests/meltano/core/test_task_sets.py
Due: none

Fix inline docs
  src/meltano/core/task_sets.py
Due: none

Added a search for the command with .exe appended when the os is windows
  src/meltano/core/meltano_invoker.py
Due: none

Release v1.104.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

fix: inject Environment's env with expanded Project env
  src/meltano/core/settings_service.py
Due: none

test: add failing test
  tests/fixtures/core.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

fix: update `result` dictionary
  src/meltano/core/settings_service.py
Due: none

Move operations into state service
  src/meltano/cli/state.py
  src/meltano/core/state_service.py
Due: none

Changelog for Virtual Environments
  CHANGELOG.md
Due: none

Cleaned up wording for Python Virtual Environments
  docs/src/_concepts/python_virtual_environments.md
Due: docs
