Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

add images, fix broken img in install
  docs/src/_getting-started/images/installation/update-available-popup.png
  docs/src/_getting-started/images/installation/update-available.png
  docs/src/_getting-started/images/part1/gif_meltano_add_extr.gif
  docs/src/_getting-started/images/part1/gif_meltano_add_loader_jsonl.gif
  docs/src/_getting-started/images/part1/gif_meltano_config_interact.gif
  docs/src/_getting-started/images/part1/gif_meltano_config_show.gif
  docs/src/_getting-started/images/part1/gif_meltano_init.gif
  docs/src/_getting-started/images/part1/gif_meltano_invoke_tg_help.gif
  docs/src/_getting-started/images/part1/gif_meltano_run.gif
  docs/src/_getting-started/images/part1/gif_meltano_select_all.gif
  docs/src/_getting-started/images/part1/gif_meltano_version.gif
  docs/src/_getting-started/part1.md
  docs/src/_guide/installation.md
Due: docs

Use SINGER_STATE_KEY constant
  src/meltano/core/job_state.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store.py
Due: none

Use pyyaml v6
  poetry.lock
  pyproject.toml
Due: meltano_base

add docs
  docs/src/_reference/settings.md
Due: docs

chore: Use pyyaml v6 (#6765)
  poetry.lock
  pyproject.toml
Due: meltano_base

Test `meltano run` with `--state-id-suffix` option
  tests/meltano/cli/test_run.py
Due: none

Support per-environment definition of `state_id_suffix`
  src/meltano/core/block/extract_load.py
  src/meltano/core/environment.py
  tests/meltano/cli/test_run.py
Due: none

Interpolate environment variables for substrings matching `${ENV_VAR}` in `state_id_suffix` when parsing environments from `meltano.yml`
  src/meltano/core/environment.py
  tests/meltano/cli/test_run.py
Due: none

Update docs/src/_getting-started/part1.md
  docs/src/_getting-started/part1.md
Due: docs

add termy
  docs/src/_getting-started/part1.md
Due: docs

fix prm
  docs/_includes/head.html
  docs/css/termynal.css
  docs/js/termynal.js
  docs/src/_getting-started/part1.md
Due: docs

fix prcomm
  docs/css/termynal.css
  docs/js/termynal.js
Due: docs

docs for existing dbt project guide
  docs/src/_getting-started/index.md
  docs/src/_guide/existing-dbt-project.md
  docs/src/_guide/transformation.md
Due: docs

Apply suggestions from code review
  docs/src/_guide/existing-dbt-project.md
Due: docs

trim trailing white space
  docs/src/_guide/existing-dbt-project.md
Due: docs

Make primary_key non nullable for job_state table
  src/meltano/core/job_state.py
  src/meltano/migrations/versions/f4c225a9492f_create_dedicated_job_state_table.py
Due: none

Follow logic for existing environment variable expansion of settings
  src/meltano/core/environment.py
  src/meltano/core/plugin/settings_service.py
Due: none

Allow environment variable expansion from `.env`
  src/meltano/core/plugin/settings_service.py
Due: none

docs: Fix the meltano ui command for the ui dev guide
  docs/src/_contribute/api.md
  docs/src/_contribute/ui.md
Due: docs

replace with termy magic
  docs/js/termy_custom.js
  docs/src/_getting-started/part1.md
Due: docs

rm whitespaces
  docs/js/termy_custom.js
  docs/src/_getting-started/part1.md
Due: docs

rm unnecessary gifs
  docs/src/_getting-started/images/part1/gif_meltano_add_extr.gif
  docs/src/_getting-started/images/part1/gif_meltano_add_loader_jsonl.gif
  docs/src/_getting-started/images/part1/gif_meltano_config_interact.gif
  docs/src/_getting-started/images/part1/gif_meltano_config_show.gif
  docs/src/_getting-started/images/part1/gif_meltano_init.gif
  docs/src/_getting-started/images/part1/gif_meltano_invoke_tg_help.gif
  docs/src/_getting-started/images/part1/gif_meltano_run.gif
  docs/src/_getting-started/images/part1/gif_meltano_select_all.gif
  docs/src/_getting-started/images/part1/gif_meltano_version.gif
Due: docs

fix spaces etc.
  docs/src/_getting-started/part1.md
Due: docs

rename guide and slide it down in list using weight
  docs/src/_guide/migrate-an-existing-dbt-project.md
Due: docs

docs: guide for existing dbt projects (#6769)
  docs/src/_getting-started/index.md
  docs/src/_guide/migrate-an-existing-dbt-project.md
  docs/src/_guide/transformation.md
Due: docs

Correct duplicate assertion
  tests/meltano/core/block/test_extract_load.py
Due: none

Document `state_id_suffix`/`--state-id-suffix`
  docs/src/_concepts/environments.md
  docs/src/_reference/command-line-interface.md
Due: docs

docs: Move installation guide to "Getting Started" add Part 1 tutorial (#6764)
  README.md
  docs/_includes/head.html
  docs/css/termynal.css
  docs/index.html
  docs/js/termy_custom.js
  docs/js/termynal.js
  docs/src/_concepts/python_virtual_environments.md
  docs/src/_contribute/prerequisites.md
  docs/src/_contribute/responsible-disclosure.md
  docs/src/_contribute/tests.md
  docs/src/_getting-started/images/installation/update-available-popup.png
  docs/src/_getting-started/images/installation/update-available.png
  docs/src/_getting-started/index.md
  docs/src/_getting-started/installation.md
  docs/src/_getting-started/part1.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/production.md
Due: docs

added codeowners
  .github/CODEOWNERS
Due: none

fix: Make Meltano use v1.0.1 of the `exit_event` schema
  src/meltano/core/tracking/schemas.py
Due: none

fix: Use v1.0.1 of the `exit_event` Snowplow telemetry schema (#6779)
  src/meltano/core/tracking/schemas.py
Due: none

Apply docs fixes/suggestions
  docs/src/_concepts/environments.md
Due: docs

Max string length of 899 bytes for job_state primary key
  src/meltano/migrations/versions/f4c225a9492f_create_dedicated_job_state_table.py
Due: none

Load state as str, update call counts for db session in bookmarking
  src/meltano/core/plugin/singer/target.py
  tests/meltano/core/runner/test_runner.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
