Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Update src/meltano/cli/config.py
  src/meltano/cli/config.py
Due: none

Update src/meltano/core/utils/__init__.py
  src/meltano/core/utils/__init__.py
Due: none

fix: Setting nested setting key no longer clears sibling keys (#7145)
  src/meltano/cli/config.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_utils.py
Due: none

feat: Meltano manifest
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/meltano/cli/__init__.py
  src/meltano/cli/compile.py
  src/meltano/core/behavior/canonical.py
  src/meltano/core/manifest/__init__.py
  src/meltano/core/manifest/cache.py
  src/meltano/core/manifest/contexts.py
  src/meltano/core/manifest/jsonschema.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin_lock_service.py
  src/meltano/core/project_files.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/schedule_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/utils/__init__.py
  tests/conftest.py
  tests/meltano/core/test_project_files.py
Due: meltano_base

fix FAQ docs link typo
  docs/src/_guide/advanced-topics.md
Due: docs

docs: fix FAQ docs link typo (#7150)
  docs/src/_guide/advanced-topics.md
Due: docs

Fix failing tests
  src/meltano/core/project_files.py
Due: none

Address mypy issues
  noxfile.py
  src/meltano/core/manifest/contexts.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/project.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  src/meltano/core/utils/__init__.py
Due: none

chore: Remove Makefile (#6488)
  .github/workflows/build.yml
  .gitignore
  Makefile
  docs/src/_contribute/style.md
  scripts/alembic_freeze.py
Due: docs

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

changelog grooming
  CHANGELOG.md
Due: none

docs: fix typo
  docs/src/_getting-started/part1.md
Due: docs

docs: fix typo (#7166)
  docs/src/_getting-started/part1.md
Due: docs

Validate using jsonschema & address lint issues
  pyproject.toml
  src/meltano/core/manifest/jsonschema.py
  src/meltano/core/manifest/manifest.py
Due: none

Simplify manifest reading/usage
  src/meltano/core/manifest/contexts.py
Due: none

Fix mypy issues
  noxfile.py
  src/meltano/core/manifest/manifest.py
Due: none

Update `poetry.lock`
  poetry.lock
Due: meltano_base

refactor: Use `$defs` instead of `definitions` in jsonschemas
  schema/discovery.schema.json
  schema/meltano.schema.json
Due: none

refactor: Use `$defs` instead of `definitions` in jsonschemas (#7169)
  schema/discovery.schema.json
  schema/meltano.schema.json
Due: none

Replace "DataOps" with "CLI for ELT+" in 2 more places, and update description.
  README.md
  pyproject.toml
  src/meltano/cli/cli.py
Due: none

chore: Check JSONschema using pre-commit
  .pre-commit-config.yaml
Due: none

chore: Check JSONschema using pre-commit (#7173)
  .pre-commit-config.yaml
Due: none

Unalias env vars and support default auth for azure and gcs state
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
Due: none

fix: Support default boto3 auth for S3 state backend when AWS creds are unconfigured (#7104)
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/s3.py
Due: none

docs: Add codespaces links to nav and ind
  docs/_includes/header.html
  docs/index.html
Due: docs

docs: rm image from header add link to ind
  docs/_includes/header.html
  docs/index.html
Due: docs

mv cspaces link to left side
  docs/_includes/header.html
Due: docs

chore: Collect select set env vars in telemetry
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-2-0
  src/meltano/core/tracking/schemas.py
  tests/meltano/core/tracking/test_environment_context.py
Due: none

Address schema lint issues
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-2-0
Due: none

docs: Add codespaces links to nav and ind (#7177)
  docs/_includes/header.html
  docs/index.html
Due: docs

Linting + mypy
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
  tests/meltano/core/state_store/test_filesystem.py
Due: none

chore: delete `meltano.core.utils.validate_json_schema`
  src/meltano/core/utils/validate_json_schema.py
Due: none

chore: delete `meltano.core.utils.validate_json_schema` (#7180)
  src/meltano/core/utils/validate_json_schema.py
Due: none

chore: Validate `discovery.yml` with jsonschema using pre-commit
  .pre-commit-config.yaml
Due: none

refactor: Use JSONschema version `draft-2020-12` for `meltano.yml` & `discovery.yml`
  schema/discovery.schema.json
  schema/meltano.schema.json
Due: none

docs: Update `dbt` x `airflow` example project description (#6699)
  docs/src/_tutorials/example-projects.md
Due: docs

Update README.md
  README.md
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Correct unit test mocking for new import pattern
  tests/meltano/core/state_store/test_filesystem.py
Due: none
