Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Remove `docs/.gitlab-ci.yml`
  docs/.gitlab-ci.yml
Due: docs

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

ci: Only run CI tests when relevant files are changed
  .github/workflows/integration_tests.yml
  .github/workflows/test.yml
Due: none

chore: Use Python 3.10 for integration tests in CI
  .github/workflows/integration_tests.yml
Due: none

Quote `3.10` to avoid YAML treating it as a number
  .github/workflows/integration_tests.yml
Due: none

ci: Misc test workflow improvements
  .github/workflows/test.yml
Due: none

Install Poetry prior to using it for caching
  .github/workflows/test.yml
Due: none

ci: Use consistent Poetry version in build workflow
  .github/workflows/build.yml
Due: none

Use Python 3.10 as the default for Nox
  noxfile.py
Due: none

ci: Replace custom shellcheck workflow with `pre-commit`
  .github/workflows/lint_shellcheck.yml
  .pre-commit-config.yaml
  docs/example-library/meltano-env-precedence/meltano-env-precedence.sh
  integration/commons.sh
Due: docs

Update `check-metaschema` hook name
  .pre-commit-config.yaml
Due: none

Use `shellcheck-py` because `pre-commit.ci` doesn't support Docker
  .pre-commit-config.yaml
Due: none

chore: run `poetry lock --check` with `pre-commit` (#7238)
  .pre-commit-config.yaml
Due: none

chore: Update PyPI classifiers (#7240)
  pyproject.toml
Due: none

chore: Use `poetry-core==1.5.0` to build Meltano wheels
  pyproject.toml
Due: none

chore: Remove Tox (#7246)
  .gitignore
  poetry.lock
  pyproject.toml
  tox.ini
Due: meltano_base

Update docs/src/_guide/advanced-topics.md
  docs/src/_guide/advanced-topics.md
Due: docs

Use `pip` caching
  .github/workflows/test.yml
Due: none

Add `cache-dependency-path`
  .github/workflows/test.yml
Due: none

Install Poetry
  .github/workflows/test.yml
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
Due: none

ci: Only run CI tests when relevant files are changed (#7250)
  .github/workflows/integration_tests.yml
  .github/workflows/test.yml
Due: none

chore: Update `environment_context` 1-2-0 to work with SnowcatCloud
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-2-0
Due: none

chore: Update `environment_context` 1-2-0 to work with SnowcatCloud (#7256)
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-2-0
Due: none

Update code snippet for local venv
  docs/src/_guide/debugging-custom-extractor.md
Due: docs

Remove `docs/.gitlab-ci.yml` (#7247)
  docs/.gitlab-ci.yml
Due: docs

chore: Use Python 3.10 for integration tests in CI (#7251)
  .github/workflows/integration_tests.yml
Due: none

docs: Fix `virtualenvs.in-project` setting in custom extractor debugging doc (#7258)
  docs/src/_guide/debugging-custom-extractor.md
Due: docs

chore: Use `poetry-core==1.5.0` to build Meltano wheels (#7255)
  pyproject.toml
Due: none

ci: Use consistent Poetry version in build workflow (#7253)
  .github/workflows/build.yml
Due: none

Remove references to `package.json`
  .github/CODEOWNERS
  pyproject.toml
Due: none

ci: Replace custom shellcheck workflow with `pre-commit` (#7254)
  .github/workflows/lint_shellcheck.yml
  .pre-commit-config.yaml
  docs/example-library/meltano-env-precedence/meltano-env-precedence.sh
  integration/commons.sh
Due: docs

ci: Misc test workflow improvements (#7252)
  .github/workflows/test.yml
  noxfile.py
Due: none

chore: Fix banner image link in `README.md`
  README.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
