Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

In adswerve/target-bigquery, default merge_state_messages to false
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/block/extract_load.py
Due: none

update getting started
  docs/getting-started.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/_reference/command-line-interface.md
Due: docs

fix typo in help output
  src/meltano/cli/run.py
Due: none

Update codeowners and remove sections infavor of comments
  .gitlab/CODEOWNERS
Due: none

Apply 10 suggestion(s) to 1 file(s)
  docs/src/_reference/command-line-interface.md
Due: docs

Update docs/adr/0003-add-incremental-job-support-to-meltano-run.md
  docs/adr/0003-add-incremental-job-support-to-meltano-run.md
Due: docs

Resolve "Support incremental jobs for `meltano run`"
  .flake8
  CHANGELOG.md
  docs/adr/0003-add-incremental-job-support-to-meltano-run.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/run.py
  src/meltano/core/block/blockset.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_parser.py
  tests/meltano/core/block/test_singer.py
Due: docs

check that endpoints are valid urls
  src/meltano/core/tracking/snowplow_tracker.py
  tests/meltano/core/test_tracking.py
Due: none

test endpoint URL with path
  tests/meltano/core/test_tracking.py
Due: none

Add Snowplow Tracking to Meltano
  CHANGELOG.md
  docs/src/_reference/settings.md
  poetry.lock
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/tracking/ga_tracker.py
  src/meltano/core/tracking/snowplow_tracker.py
  tests/fixtures/core.py
  tests/meltano/core/test_tracking.py
Due: meltano_base, docs

Resolve "Bug - API Install Error"
  src/meltano/api/controllers/plugins.py
Due: none

Expand elt failure information to help new users find debug logging
  src/meltano/cli/elt.py
  tests/meltano/cli/test_elt.py
Due: none

Bump version: 1.96.0 → 1.97.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

groom changelog
  CHANGELOG.md
Due: none

update entry link to point to issue and not MR
  CHANGELOG.md
Due: none

Resolve #3254: Update Getting Started guide with auto-created environments
  docs/getting-started.md
Due: docs

move incremental support in meltano run to NEW
  CHANGELOG.md
Due: none

Update .gitlab/issue_templates/Release.md
  .gitlab/issue_templates/Release.md
Due: none

Release v1.97.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Don't run CI on docs/src and docs/adr directories
  .gitlab/ci/demo_project.gitlab-ci.yml
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_license_finder.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/license_scanning.gitlab-ci.yml
  .gitlab/ci/sample_code.gitlab-ci.yml
  .gitlab/ci/sast.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/test_webapp.gitlab-ci.yml
Due: none

Docs test
  docs/src/_concepts/environments.md
Due: docs

remove docker base
  .gitlab/ci/docker_base.gitlab-ci.yml
Due: none

Quiet logs on init
  src/meltano/cli/initialize.py
  src/meltano/core/migration_service.py
Due: none

Update welcome message
  .pre-commit-config.yaml
  src/meltano/core/cli_messages.py
  src/meltano/core/project_init_service.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

add dragon command
  src/meltano/cli/__init__.py
  src/meltano/cli/dragon.py
  src/meltano/core/cli_messages.py
Due: none

update init to prompt
  src/meltano/cli/initialize.py
Due: none

Revert "Merged: Don't run CI on docs/src and docs/adr directories (MR meltano/meltano!2546)"
  .gitlab/ci/demo_project.gitlab-ci.yml
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_license_finder.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/license_scanning.gitlab-ci.yml
  .gitlab/ci/sample_code.gitlab-ci.yml
  .gitlab/ci/sast.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/test_webapp.gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Update release template with link using pre-filled values
  .gitlab/issue_templates/Release.md
Due: none

Remove Python 3.6 support from Getting Started docs
  docs/getting-started.md
Due: docs

Use new blog URLs in docs to avoid extra redirections
  docs/getting-started.md
Due: docs

Fix broken links. Closes #3303
  docs/getting-started.md
  docs/index.html
  docs/src/_concepts/plugins.md
  docs/src/_contribute/images/prerequisites/cypTest-01.png
  docs/src/_contribute/plugins.md
  docs/src/_contribute/prerequisites.md
  docs/src/_contribute/ui.md
  docs/src/_guide/configuration.md
  docs/src/_guide/integration.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/ui.md
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/settings.md
  docs/src/_the-project/community.md
  docs/src/_tutorials/custom-extractor.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Clean up links, rearrange docs sections. Closes #3313
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/header.html
  docs/src/_reference/architecture.md
  docs/src/_reference/role-based-access-control.md
  docs/src/_tutorials/images/install-on-aws/aws-ecs-final-steps.png
  docs/src/_tutorials/images/install-on-aws/aws-ecs-getting-started.png
  docs/src/_tutorials/images/install-on-aws/aws-ecs-review-service.png
  docs/src/_tutorials/images/install-on-aws/aws-ecs.png
  docs/src/_tutorials/install-on-aws.md
  docs/src/_tutorials/postgres-with-postgres.md
Due: docs

Upgrade click version to be compatible with side-by-side installation of dbt.
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
