Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Add link to Getting Started guide
  docs/src/_cloud/onboarding.md
Due: docs

Update docs/src/_cloud/fees.md
  docs/src/_cloud/fees.md
Due: docs

docs: Add credit pricing, clarify expiration (#7722)
  docs/src/_cloud/fees.md
Due: docs

Add deployments step
  docs/src/_cloud/onboarding.md
Due: docs

Update GitHub app internal link
  docs/src/_cloud/onboarding.md
Due: docs

PR feedback
  docs/src/_cloud/onboarding.md
Due: docs

Add unit tests for `delete`, `update`, and `create`
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_deployment.py
Due: meltano_base

Address lint issues
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

Add test for updating non-existent deployments
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

Handle deletion of non-existent deployment
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

feat: Add Meltano Cloud deployments CLI (#7718)
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_deployment.py
Due: meltano_base

docs: Add Cloud CLI docs for `deployment` command
  docs/src/_cloud/cloud-cli.md
Due: docs

Fix link URL
  docs/src/_cloud/cloud-cli.md
Due: docs

Remove outdated section on deployment names
  docs/src/_cloud/concepts.md
Due: docs

Update docs/src/_cloud/onboarding.md
  docs/src/_cloud/onboarding.md
Due: docs

More PR feedback
  docs/src/_cloud/onboarding.md
Due: docs

Update docs/src/_cloud/cloud-cli.md
  docs/src/_cloud/cloud-cli.md
Due: docs

docs: Add Cloud CLI docs for `deployment` command (#7724)
  docs/src/_cloud/cloud-cli.md
  docs/src/_cloud/concepts.md
Due: docs

docs: Update onboarding docs (#7717)
  docs/src/_cloud/index.md
  docs/src/_cloud/onboarding.md
  docs/src/_cloud/security.md
Due: docs

Update utils.py
  src/meltano/core/logging/utils.py
Due: none

Update src/meltano/core/logging/utils.py
  src/meltano/core/logging/utils.py
Due: none

Use the default deployment by default
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

Add tests for missing deployment
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

Update src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/run.py
Due: none

Apply code review suggestion to `schedules.py`
  src/cloud-cli/meltano/cloud/cli/schedule.py
Due: none

update docs
  docs/src/_cloud/onboarding.md
Due: docs

feat: Use the default deployment by default (#7729)
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

added ui extra to tests and dockerfile
  docker/meltano/Dockerfile
  noxfile.py
Due: none

docs: Update Meltano Cloud GitHub App Installation Docs (#7732)
  docs/src/_cloud/onboarding.md
Due: docs

Support `hidden` flag for settings
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
Due: none

Show warning message for a plugin if any settings are using a deprecated `kind`
  src/meltano/core/plugin/base.py
Due: none

Update docs to show `hidden` as a deprecated setting kind
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

ci: Add plugin lock files in `meltano run` example
  .pre-commit-config.yaml
  docs/example-library/meltano-run/plugins/extractors/tap-gitlab--meltanolabs.lock
  docs/example-library/meltano-run/plugins/loaders/target-postgres--transferwise.lock
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
