Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

chore: Fix Dependabot `commit-message` syntax (#7698)
  .github/dependabot.yml
Due: none

Add terminal spinner library `yaspin`
  poetry.lock
  pyproject.toml
Due: meltano_base

fix: typo in Update integration.md
  docs/src/_guide/integration.md
Due: docs

Correct name of meltano-map-transformer in add command
  docs/src/_guide/mappers.md
Due: docs

docs: Fix typo in `docs/src/_guide/integration.md` (#7702)
  docs/src/_guide/integration.md
Due: docs

docs: Correct name of meltano-map-transformer in add command (#7703)
  docs/src/_guide/mappers.md
Due: docs

Update egress and expiration legalese
  docs/src/_cloud/fees.md
Due: docs

docs: Add egress pricing and Credit expiration (after 1 year of non-use) to Cloud Fees (#7706)
  docs/src/_cloud/fees.md
Due: docs

made packages related to UI optional with relevant exceptions
  poetry.lock
  pyproject.toml
  src/meltano/api/app.py
  src/meltano/core/error.py
  src/meltano/core/migration_service.py
Due: meltano_base

fixed pip/poetry installs
  pyproject.toml
  scripts/build.py
Due: none

Spelling oopsie
  docs/src/_cloud/connectors.md
Due: docs

docs: Spelling oopsie (#7713)
  docs/src/_cloud/connectors.md
Due: docs

Bump `requests` to 2.31.0
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

Legal agreements for Meltano Cloud Beta launch
  docs/src/_cloud/terms-of-service.md
Due: docs

Add credit pricing, clarify expiration
  docs/src/_cloud/fees.md
Due: docs

added replacement for flask_sqlalchemy
  pyproject.toml
  src/meltano/api/meltano_sqlalchemy/__init__.py
  src/meltano/api/meltano_sqlalchemy/extension.py
  src/meltano/api/meltano_sqlalchemy/model.py
  src/meltano/api/meltano_sqlalchemy/pagination.py
  src/meltano/api/meltano_sqlalchemy/query.py
  src/meltano/api/models/__init__.py
  src/meltano/api/models/security.py
  src/meltano/core/migration_service.py
Due: none

Update onboarding docs
  docs/src/_cloud/index.md
  docs/src/_cloud/onboarding.md
  docs/src/_cloud/security.md
Due: docs

Add `meltano cloud deployment` `use` and `list` commands
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_deployment.py
Due: meltano_base

Fix croniter dep desync
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

Add `create`, `update`, and `delete` subcommands for `meltano cloud deployment`
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

Misc fixes
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

Add `yaspin` as Cloud CLI dep
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

Add missing docstring
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

Address mypy issues
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: meltano_base

Avoid `deployment` command help text truncation
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

Update docs/src/_cloud/onboarding.md
  docs/src/_cloud/onboarding.md
Due: docs

Fix type error on Python 3.8
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

Add debug log message for failure to retrieve project ID
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

`project deployment` -> `deployment`
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

Update `poetry.lock`
  poetry.lock
Due: meltano_base

Update `croniter`
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

PR feedback
  docs/src/_cloud/index.md
  docs/src/_cloud/onboarding.md
Due: docs

Update `poetry.lock`
  .pre-commit-config.yaml
  poetry.lock
Due: meltano_base
