Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

docs: update changelog (#7951)
  docs/blog/2023-07-21-welcome-to-the-changelog.mdx
Due: docs

docs: initial prep for next changelog
  docs/blog/2023-08-23-changelog.mdx
Due: docs

doc: Update tagline in readme
  README.md
Due: none

docs: Update tagline in readme (#7953)
  README.md
Due: none

a lot of restructuring, and YAML focusing
  docs/docs/getting-started/a-part2.mdx
  docs/docs/getting-started/c-part2.mdx
  docs/docs/getting-started/index.md
  docs/docs/getting-started/installation.mdx
  docs/docs/getting-started/meltano-at-a-glance.md
  docs/docs/getting-started/part1.mdx
  docs/docs/guide/walkthrough.mdx
Due: docs

more renaming
  docs/docs/getting-started/d-part2.mdx
  docs/docs/getting-started/part1.mdx
Due: docs

add structure to B getting started
  docs/docs/getting-started/b-part2.mdx
  docs/docs/getting-started/b-part3.mdx
  docs/docs/getting-started/part1.mdx
Due: docs

complete structure
  docs/docs/getting-started/a-part2.mdx
  docs/docs/getting-started/b-part2.mdx
  docs/docs/getting-started/c-part2.mdx
  docs/docs/getting-started/c-part3.mdx
  docs/docs/getting-started/d-part3.mdx
Due: docs

fix js errors
  docs/docs/getting-started/b-part2.mdx
  docs/docs/getting-started/part1.mdx
Due: docs

renaming titles
  docs/docs/getting-started/a-part2.mdx
  docs/docs/getting-started/b-part2.mdx
  docs/docs/getting-started/b-part3.mdx
  docs/docs/getting-started/d-part2.mdx
  docs/docs/getting-started/d-part3.mdx
Due: docs

mod
  docs/docs/getting-started/index.md
Due: docs

add part 4 elt mappings back in
  docs/docs/getting-started/d-part4.mdx
Due: docs

Make pgsql packages into extras
  docker/meltano/Dockerfile
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base

Use simple DROP DATABASE
  tests/fixtures/db/mssql.py
Due: none

Revert "Use simple DROP DATABASE"
  tests/fixtures/db/mssql.py
Due: none

Use `text` instead of `DDL`
  tests/fixtures/db/mssql.py
Due: none

Fix typo
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

test: Fix deployment CLI test
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

test: Fix deployment CLI test (#7961)
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

Enable deprecation warnings
  .github/workflows/test.yml
Due: none

Address SQLAlchemy 2.0 warnings
  src/meltano/core/db.py
  src/meltano/core/migration_service.py
  src/meltano/core/models.py
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  src/meltano/migrations/versions/6828cc5b1a4f_create_dedicated_state_table.py
  tests/fixtures/db/__init__.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Due: none

refactor: Compatibility with SQLAlchemy 2 (#7960)
  .github/workflows/test.yml
  src/meltano/core/db.py
  src/meltano/core/migration_service.py
  src/meltano/core/models.py
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  src/meltano/migrations/versions/6828cc5b1a4f_create_dedicated_state_table.py
  tests/fixtures/db/__init__.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Due: none

feat(deps): Bump SQLAlchemy to 2.0
  poetry.lock
  pyproject.toml
Due: meltano_base

update: #7962 getdefaultlocale
  src/meltano/core/tracking/tracker.py
Due: none

Remove SQLAlchemy mypy plugins
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/job_state.py
Due: meltano_base

chore: Enable SQLAlchemy `future` flags
  src/meltano/cli/state.py
  src/meltano/core/db.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  tests/fixtures/db/__init__.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Due: none

refactor: Use SQLAlchemy ORM Mappings
  src/meltano/core/job/job.py
  src/meltano/core/job_state.py
  src/meltano/core/setting.py
  src/meltano/core/state_store/filesystem.py
Due: none

refactor: Replace deprecated `locale.getdefaultlocale` with `locale.getlocale` (#7964)
  src/meltano/core/tracking/tracker.py
Due: none

chore: Enable SQLAlchemy `future` flags (#7965)
  src/meltano/cli/state.py
  src/meltano/core/db.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  tests/fixtures/db/__init__.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Due: none

rename
  docs/docs/getting-started/a-part2.mdx
  docs/docs/getting-started/b-part2.mdx
  docs/docs/getting-started/b-part3.mdx
  docs/docs/getting-started/c-part2.mdx
  docs/docs/getting-started/c-part3.mdx
  docs/docs/getting-started/d-part2.mdx
  docs/docs/getting-started/d-part3.mdx
  docs/docs/getting-started/d-part4.mdx
Due: docs

fix typo
  docs/docs/getting-started/a-part2.mdx
  docs/docs/getting-started/d-part2.mdx
Due: docs

chore: Use SQLAlchemy ORM Mappings (#7966)
  src/meltano/core/job/job.py
  src/meltano/core/job_state.py
  src/meltano/core/setting.py
  src/meltano/core/state_store/filesystem.py
Due: none

feat: Deploy project stack on creation (#7925)
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/tests/cli/test_project.py
Due: none

Use `mapped_column` and PEP 593 `Annotated`
  src/meltano/core/job/job.py
  src/meltano/core/job_state.py
  src/meltano/core/models.py
  src/meltano/core/setting.py
  src/meltano/core/sqlalchemy.py
Due: none

Restore previous `runs.payload` column
  src/meltano/core/job/job.py
  src/meltano/core/sqlalchemy.py
Due: none

Add notifications cli for set, update and delete
  src/cloud-cli/meltano/cloud/cli/config.py
  src/cloud-cli/tests/cli/test_config.py
Due: none

Add `cloud` scope to `semantic.yml`
  .github/semantic.yml
Due: none

Upload pytest log artifacts
  .github/workflows/test.yml
Due: none

Fix set
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

Add `cloud` scope to `semantic.yml` (#7969)
  .github/semantic.yml
Due: none
