Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

remove env aliases, add descriptions, and labels
  src/meltano/core/bundle/discovery.yml
Due: docs

hide GA meltano variant and add changelog
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/bundle/discovery.yml
Due: docs

set meltanolabs as default tap-google-analytics
  src/meltano/core/bundle/discovery.yml
Due: docs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add tips and more call outs for the job_id argument
  docs/src/docs/getting-started.md
  docs/src/docs/integration.md
Due: docs

make transferwise the default target postgres variant
  src/meltano/core/bundle/discovery.yml
Due: docs

add changelog
  CHANGELOG.md
Due: none

Move Values to handbook
  docs/src/docs/README.md
Due: docs

Add section for SaaS options
  docs/src/docs/production.md
Due: docs

fix get started ci and update docs too
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/src/docs/getting-started.md
Due: docs

final getting started CI changes
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

splitio as default tap-fastly variant
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Remove values section
  docs/src/docs/README.md
Due: docs

Move "Embracing Singer" to Handbook
  README.md
  docs/src/README.md
  docs/src/docs/README.md
  docs/src/docs/ui.md
Due: docs

Move Roadmap to Handbook
  docs/src/docs/README.md
Due: docs

Remove Focus
  docs/src/README.md
  docs/src/docs/README.md
  docs/src/docs/ui.md
  docs/src/partners/README.md
Due: docs

Move Mission, Vision, and History to Handbook
  docs/src/docs/README.md
Due: docs

Move Partners menu item under Connectors
  docs/src/.vuepress/config.js
Due: docs

Add Company nav bar item with links to Values and Handbook
  docs/src/.vuepress/config.js
Due: docs

Move Team and Jobs to dedicated pages
  docs/src/.vuepress/config.js
  docs/src/docs/README.md
  docs/src/jobs/README.md
  docs/src/team/README.md
Due: docs

Add Contributor Guide and Slack to Community menu
  docs/src/.vuepress/config.js
Due: docs

Improve Jobs and Team page intros
  docs/src/.vuepress/components/TeamGrid.vue
  docs/src/docs/community.md
  docs/src/docs/getting-help.md
  docs/src/jobs/README.md
  docs/src/team/README.md
Due: docs

Shorten Documentation to Docs in navbar
  docs/src/.vuepress/config.js
Due: docs

Link to new all-remote page in handbook
  docs/src/jobs/README.md
  docs/src/team/README.md
Due: docs

Link from Jobs to Compensation page in Handbook
  docs/src/jobs/README.md
Due: docs

add lookup for test command
  poetry.lock
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin/project_plugin.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_command.py
  tests/meltano/core/plugin/test_plugin.py
Due: meltano_base

fix target-postgres tests
  tests/meltano/core/test_elt_context.py
Due: none

Bump dbt to 0.21.1
  src/meltano/core/bundle/discovery.yml
Due: docs

Update Slack numbers to 1900
  docs/src/.vuepress/config.js
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

feat: discover tests by prefix
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

feat: run all tests
  src/meltano/cli/__init__.py
  src/meltano/cli/validate.py
Due: none

Add Alex Marple to team page
  docs/src/team/README.md
Due: docs

update web banner
  docs/src/.vuepress/theme/components/Navbar.vue
Due: docs

elk-addeltpage
  docs/src/docs/elt.md
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
