Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix: Add error and log for locking unknown plugins (#7358)
  src/meltano/cli/lock.py
  tests/meltano/cli/test_lock.py
Due: none

chore: Ignore coverage for t.TYPE_CHECKING blocks
  pyproject.toml
Due: none

chore: Ignore coverage for t.TYPE_CHECKING blocks (#7360)
  pyproject.toml
Due: none

Add flask to cloud-cli deps
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

re-import run command
  src/cloud-cli/meltano/cloud/cli/__init__.py
Due: none

Add config path flag
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/tests/api/test_cloud_config.py
  src/cloud-cli/tests/cli/test_cli.py
  src/cloud-cli/tests/cli/test_login.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

docstrings, typing
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/tests/cli/test_cli.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

Linting
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/client/__init__.py
  src/cloud-cli/pyproject.toml
Due: none

use meltano.cloud.cli version in user-agent header
  src/cloud-cli/meltano/cloud/api/client/__init__.py
Due: none

Update cli tests
  src/cloud-cli/meltano/cloud/api/client/__init__.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/cli/test_cli.py
Due: none

Write new config config is not valid json.
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

Add new app client ID
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

Use config path as passed in callback server
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
Due: none

Use provided config for run
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/client/__init__.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

Pass tmp config in tests
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/api/auth/test_callback_server.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

part2 gsg refresh target-postgres for meltanolabs
  docs/src/_getting-started/part2.md
Due: docs

Make config file fixture
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/cli/test_run.py
Due: none

refresh part 1 also
  docs/src/_getting-started/part1.md
Due: docs

Create parent dirs
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

docs: part2 gsg refresh target-postgres for meltanolabs (#7364)
  docs/src/_getting-started/part1.md
  docs/src/_getting-started/part2.md
Due: docs

Cleanup
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/cli/test_login.py
Due: none

Type checking
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/client/__init__.py
  src/cloud-cli/meltano/cloud/cli/run.py
Due: none

cleanup
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/client/__init__.py
Due: none

update 4 part gsg to use dbt utility and meltano-example-el and full refresh on second run
  docs/src/_getting-started/part1.md
  docs/src/_getting-started/part2.md
  docs/src/_getting-started/part3.md
Due: docs

revert full refresh
  docs/src/_getting-started/part2.md
Due: docs

Ignore path type for config
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
Due: none

PR feedback
  poetry.lock
  pyproject.toml
  src/cloud-cli/tests/cli/test_cli.py
Due: meltano_base

fix: Resolve variant label from Hub response
  src/meltano/cli/lock.py
  src/meltano/cli/utils.py
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
  src/meltano/core/project_add_service.py
  tests/meltano/cli/test_add.py
Due: none

Add pytest-structlog to deps in noxfile
  noxfile.py
Due: none

Update logout, address synch feedback
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/auth/templates/callback_page.html
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

-TODO
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Correct expected response code for logout
  src/cloud-cli/tests/api/auth/test_callback_server.py
Due: none

Add logout page
  src/cloud-cli/meltano/cloud/api/auth/templates/logout_page.html
Due: none

fix: Resolve variant label from Hub response (#7367)
  src/meltano/cli/lock.py
  src/meltano/cli/utils.py
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
  src/meltano/core/project_add_service.py
  tests/meltano/cli/test_add.py
Due: none

fix: Disable Hub calls outside of `add` and `discover`
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/cli/lock.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/utils/__init__.py
  tests/meltano/cli/test_add.py
  tests/meltano/core/test_project_add_service.py
  tests/meltano/core/test_project_plugins_service.py
Due: none

Document feature flag
  docs/src/_reference/settings.md
Due: docs

Update port in README
  src/cloud-cli/meltano/cloud/README.md
Due: none

Update docs/src/_reference/settings.md
  docs/src/_reference/settings.md
Due: docs

fix: `meltano install --parallelism` error
  src/meltano/core/plugin_install_service.py
  tests/meltano/core/test_plugin_install_service.py
Due: none

chore: Limit direct use of Werkzeug to `meltano.api`
  .gitignore
  src/meltano/core/project.py
  src/meltano/core/utils/__init__.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
