Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

fix doc
  docs/src/_reference/command-line-interface.md
Due: docs

Remove debug schema
  src/meltano/core/task_sets.py
Due: none

Resolve "windows: pipx installed meltano can not find meltano dependency example gunicorn"
  CHANGELOG.md
  src/meltano/core/meltano_invoker.py
Due: none

Correct name for dbt-postgres
  src/meltano/core/bundle/discovery.yml
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/task_sets.py
Due: none

Sucessful make bundle after node-sass bumped to 4.14.1
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

Able to add install extrators and loaders from UI
  src/meltano/core/plugin_install_service.py
Due: none

Uvicorn installed via poetry and avaiable via poetry shell
  poetry.lock
  pyproject.toml
Due: meltano_base

UI sucessfully running via uvicon on windows
  src/meltano/api/workers/api_worker.py
Due: none

Updated to follow best practices for utilizing feature flags.
  src/meltano/api/workers/api_worker.py
  src/meltano/core/settings_service.py
Due: none

Added timeout keep alive of 600 from gunicorn wsgi.py
  src/meltano/api/workers/api_worker.py
Due: none

Uvicorn only to run through Linux CI tests
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

Added uvicorn --reload for windows
  src/meltano/api/workers/api_worker.py
Due: none

Best effort at linting orchestrations.py
  src/meltano/api/controllers/orchestrations.py
Due: none

Added requested feature flag, feature flag logic, and uvicorn[standard] install
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
Due: meltano_base

Able to test loader configuration via UI
  src/meltano/api/controllers/orchestrations.py
Due: none

Update json schema
  src/meltano/core/task_sets.py
Due: none

Update docs, add settings for adapter-specific config
  CHANGELOG.md
  docs/src/_guide/transformation.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Bump version: 1.104.0 → 1.105.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Test Meltano on latest Python 3.9
  .gitlab/ci/global.gitlab-ci.yml
Due: none

force rerun
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

config --no-environment
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

cache dir as dir
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

revert/cleanup git branch refs
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  src/meltano/core/bundle/discovery.yml
  tests/meltano/core/test_plugin_install_service.py
  tests/meltano/core/test_plugin_remove_service.py
Due: docs

use new branch
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

fix meltano install syntax
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

add group ref
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

revert updates to pytests
  tests/meltano/core/test_plugin_install_service.py
  tests/meltano/core/test_plugin_remove_service.py
Due: none

use fork with api caching
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  src/meltano/core/bundle/discovery.yml
  tests/meltano/core/test_plugin_install_service.py
  tests/meltano/core/test_plugin_remove_service.py
Due: docs

update ci definition
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

debug install
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Release/v1.105.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

fixed test
  tests/meltano/cli/test_config.py
Due: none
