Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

fix: An explicit error message is now logged when Meltano fails to retrieve tap state from the state backend (#8490)
  src/meltano/core/plugin/singer/tap.py
Due: none

Document `.env` for custom package indices
  docs/docs/guide/plugin-management.md
Due: docs

Use `utf-8` instead of `unicode_replace`
  src/meltano/core/venv_service.py
Due: none

Add a copyright notice to the `UvVenvService._find_uv` function
  src/meltano/core/venv_service.py
Due: none

fix: Environment variables from `.env` are now passed to the plugin installation subprocesses (#8489)
  docs/docs/guide/plugin-management.md
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
Due: docs

Fix types
  src/meltano/core/venv_service.py
Due: none

Implement for `el`/`elt`
  src/meltano/cli/elt.py
  src/meltano/core/plugin_install_service.py
  tests/meltano/cli/test_elt.py
Due: none

Default to showing plugin install status and results
  src/meltano/cli/utils.py
Due: none

Implement for `test`
  src/meltano/cli/validate.py
  src/meltano/core/plugin_install_service.py
Due: none

Implement for `config <plugin> test`
  src/meltano/cli/config.py
  src/meltano/core/plugin_install_service.py
Due: none

Rename `upgrade_pip` → `upgrade_installer`
  src/meltano/core/venv_service.py
Due: none

Fail if uv can not be found
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

feat: Support `uv` as an optional virtualenv backend (#8465)
  docker/meltano/Dockerfile
  docs/docs/concepts/python_virtual_environments.md
  docs/docs/guide/advanced-topics.md
  docs/docs/reference/settings.mdx
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_venv_service.py
Due: meltano_base, docs

fix: "kind: {kind}` is deprecated..." is no longer logged if the corresponding replacement is in place
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Bump package version
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.4.0a2 (#8493)
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Only lookup uv executable once
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
Due: none

Clear cache in tests
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

One more cache clearing
  tests/meltano/core/test_venv_service.py
Due: none

Clear cache before returning fixture
  tests/meltano/core/test_venv_service.py
Due: none

refactor: Only lookup uv executable once (#8499)
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: "`kind: {kind}` is deprecated..." is no longer logged if the corresponding replacement is in place (#8486)
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: none

chore: Release v3.4.0b1 (#8501)
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

POC: Display installation state/progress as logs if a logger is provided - otherwise fallback to `click`
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/cli/run.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  tests/meltano/cli/test_elt.py
Due: none

Convert some CLI module logging to `structlog` to resolve mypy errors
  src/meltano/cli/config.py
  src/meltano/cli/invoke.py
Due: none

Test UUID without hyphens
  tests/meltano/cli/test_run.py
Due: none

feat(cli): `meltano run` now has a `--run-id` option to allow for custom run UUIDs (#8459)
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/singer.py
  src/meltano/core/elt_context.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_extract_load.py
Due: docs

chore: Release v3.4.0 (#8504)
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

docs: Document `venv.backend` usage to configure `uv`
  docs/docs/reference/settings.mdx
Due: docs

docs: Document `venv.backend` usage to configure `uv` (#8506)
  docs/docs/reference/settings.mdx
Due: docs

fix: Configuration is now passed top level mappers
  src/meltano/core/plugin/singer/mapper.py
Due: none

fix: cron regex pattern on meltano.schema.json
  src/meltano/schemas/meltano.schema.json
Due: none

Update src/meltano/schemas/meltano.schema.json
  src/meltano/schemas/meltano.schema.json
Due: none

fix: cron regex pattern on meltano.schema.json (#8508)
  src/meltano/schemas/meltano.schema.json
Due: none

Merge with mapping config with mapper config
  src/meltano/core/plugin/singer/mapper.py
Due: none

Test config merge
  src/meltano/core/plugin/singer/mapper.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/core/plugin/singer/test_mapper.py
Due: none
