Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Fix Python file fields to allow transform
  src/meltano/api/controllers/orchestrations.py
Due: none

fix: Create empty output/ folder in new projects
  CHANGELOG.md
  src/meltano/core/bundle/initialize.yml
Due: none

fix: Use a .gitignore file to ignore contents of output/
  src/meltano/core/bundle/initialize.yml
Due: none

Added notebook utility to discovery
  src/meltano/core/bundle/discovery.yml
Due: docs

fishtown-analytics -> dbt-labs
  src/meltano/core/bundle/discovery.yml
Due: docs

Create `output/` folder in new Meltano projects
  CHANGELOG.md
  src/meltano/core/bundle/initialize.yml
Due: none

Resolve "Support dbt v1.0"
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

add variant
  src/meltano/core/bundle/discovery.yml
  tests/fixtures/core.py
  yarn.lock
Due: docs

Remove docs ci task
  .gitlab-ci.yml
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Fixed Python if statements to use get method
  src/meltano/api/controllers/orchestrations.py
Due: none

remove 30 misapplied instances of `env`
  src/meltano/core/bundle/discovery.yml
Due: docs

fix JSON Schema desc for `env`
  schema/discovery.schema.json
Due: none

update `env` description
  schema/discovery.schema.json
Due: none

Revert and replace "remove 30 misapplied instances of `env`"
  src/meltano/core/bundle/discovery.yml
Due: docs

Pipeline Edit Button v2
  src/meltano/api/controllers/orchestrations.py
  src/webapp/src/components/pipelines/PipelineSchedules.vue
  src/webapp/src/components/pipelines/ScheduleTableHead.vue
  src/webapp/src/store/modules/orchestration.js
  src/webapp/src/utils/font-awesome.js
Due: none

Remove text from upgrade cta
  src/webapp/src/components/navigation/MainNav.vue
Due: none

Bump version of 'flatten-dict' library dependency
  poetry.lock
  pyproject.toml
Due: meltano_base

Fix `env` usage in discovery.yml and JSON schema
  schema/discovery.schema.json
  src/meltano/core/bundle/discovery.yml
Due: docs

Bump version: 1.92.0 → 1.93.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: none

Release v1.93.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Resolve #3071 - Document STATE merge logic
  docs/src/docs/integration.md
Due: docs

Add retry button in log modal
  src/webapp/src/components/pipelines/LogModal.vue
  src/webapp/src/utils/font-awesome.js
Due: none

Install poetry deps only once
  .gitlab/ci/test.gitlab-ci.yml
Due: none

chore: add pre-commit hook for flake8
  .pre-commit-config.yaml
Due: none

Revert "Try triggering flake8 errors in CI"
  src/meltano/cli/environment.py
Due: none

Try triggering flake8 errors in CI
  src/meltano/cli/environment.py
Due: none

chore: make isort requirement explicit
  poetry.lock
  pyproject.toml
Due: meltano_base

Fix rebase garbage
  src/meltano/core/project_plugins_service.py
Due: none

Make sure tox is installed
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Use workflow rules for MRs and branches
  .gitlab/ci/test.gitlab-ci.yml
Due: none

test: change order in git diff command
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Lint only changed files
  .gitlab/ci/test.gitlab-ci.yml
  Makefile
Due: none

Qualify target branch
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Handle exit codes for git diff-tree
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Only install deps if there's any changes
  .gitlab/ci/test.gitlab-ci.yml
Due: none
