Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Update Poetry lock file
  poetry.lock
Due: meltano_base

refactor: Treat catalog breadcrumbs as tuples
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/tap.py
Due: none

chore: Fix types in `meltano.core.plugin_install_service`
  pyproject.toml
  src/meltano/core/plugin_install_service.py
  src/meltano/core/settings_service.py
Due: none

test: Test environment CLI
  src/meltano/cli/environment.py
  tests/meltano/cli/test_environment.py
Due: none

feat(CLI): Added the logger name log messages
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
Due: none

chore: Add partial changelog to version bump job summary
  .github/workflows/version_bump.yml
Due: none

chore: Enable Ruff `ICN` (flake8-import-conventions) rules
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/project.py
  src/meltano/core/venv_service.py
Due: none

chore: Enable Ruff `ICN` (flake8-import-conventions) rules (#8673)
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/project.py
  src/meltano/core/venv_service.py
Due: none

test: Fix Snowplow tracker test flakiness
  tests/meltano/core/tracking/test_tracker.py
Due: none

chore: Enable Ruff `ICN` (flake8-import-conventions) rules (#8673)
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/addon.py
  src/meltano/core/config_service.py
  src/meltano/core/state_store/__init__.py
  tests/fixtures/custom_addon.py
  tests/fixtures/state_backends.py
  tests/meltano/core/behavior/test_addon.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base

Use `pytest-structlog`
  tests/meltano/core/tracking/test_tracker.py
Due: none

chore: Remove more leftover dependencies from Meltano Cloud
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Remove more leftover dependencies from Meltano Cloud (#8676)
  noxfile.py
  poetry.lock
  pyproject.toml
Due: meltano_base

test: Fix Snowplow tracker test flakiness (#8675)
  tests/meltano/core/tracking/test_tracker.py
Due: none

chore: Enable Ruff for Alembic migrations
  .pre-commit-config.yaml
  pyproject.toml
  src/meltano/core/__init__.py
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/367228df6a43_add_trigger_to_job.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  src/meltano/migrations/versions/5b43800443d1_rename_job_to_job_run_and_job_id_to_job_.py
  src/meltano/migrations/versions/6828cc5b1a4f_create_dedicated_state_table.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/990c0665f3ce_ensure_user_login_count_default_value.py
  src/meltano/migrations/versions/a3e2b0a4937d_add_login_audit_columns.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
  src/meltano/migrations/versions/d135f52a6f49_add_last_heartbeat_at_column_to_job.py
  src/meltano/migrations/versions/e4fbabc3fed6_add_last_activity_at_column.py
  src/meltano/migrations/versions/f4c225a9492f_create_dedicated_job_state_table.py
Due: none

Address mypy issues
  src/meltano/cli/__init__.py
  src/meltano/cli/validate.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin_location_remove.py
  src/meltano/core/validation_service.py
Due: none

Update src/meltano/core/tracking/tracker.py
  src/meltano/core/tracking/tracker.py
Due: none

Apply suggestions from code review
  pyproject.toml
  src/meltano/core/tracking/tracker.py
Due: none

ci: Use `server:2019-CU27-ubuntu-20.04` MSSQL docker tag for integration tests
  .github/workflows/resources/docker-compose.mssql.yaml
Due: none

Trigger tests
  .github/workflows/test.yml
Due: none

ci: Use `server:2019-CU27-ubuntu-20.04` MSSQL docker tag for integration tests (#8681)
  .github/workflows/resources/docker-compose.mssql.yaml
  .github/workflows/test.yml
Due: none

Cleanup
  src/meltano/core/tracking/tracker.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

ci: Update healtcheck command for MSSQL container
  .github/workflows/resources/docker-compose.mssql.yaml
Due: none

ci: Update healtcheck command for MSSQL container (#8682)
  .github/workflows/resources/docker-compose.mssql.yaml
Due: none

refactor: Vendorize `snowplow_tracker`
  .pre-commit-config.yaml
  docs/docs/contribute/vendoring.md
  poetry.lock
  pyproject.toml
  src/meltano/_vendor/__init__.py
  src/meltano/_vendor/snowplow_tracker.pyi
  src/meltano/_vendor/snowplow_tracker/LICENSE
  src/meltano/_vendor/snowplow_tracker/__init__.py
  src/meltano/_vendor/snowplow_tracker/_version.py
  src/meltano/_vendor/snowplow_tracker/constants.py
  src/meltano/_vendor/snowplow_tracker/contracts.py
  src/meltano/_vendor/snowplow_tracker/emitter_configuration.py
  src/meltano/_vendor/snowplow_tracker/emitters.py
  src/meltano/_vendor/snowplow_tracker/event_store.py
  src/meltano/_vendor/snowplow_tracker/events/__init__.py
  src/meltano/_vendor/snowplow_tracker/events/event.py
  src/meltano/_vendor/snowplow_tracker/events/page_ping.py
  src/meltano/_vendor/snowplow_tracker/events/page_view.py
  src/meltano/_vendor/snowplow_tracker/events/screen_view.py
  src/meltano/_vendor/snowplow_tracker/events/self_describing.py
  src/meltano/_vendor/snowplow_tracker/events/structured_event.py
  src/meltano/_vendor/snowplow_tracker/payload.py
  src/meltano/_vendor/snowplow_tracker/self_describing_json.py
  src/meltano/_vendor/snowplow_tracker/snowplow.py
  src/meltano/_vendor/snowplow_tracker/subject.py
  src/meltano/_vendor/snowplow_tracker/test/__init__.py
  src/meltano/_vendor/snowplow_tracker/tracker.py
  src/meltano/_vendor/snowplow_tracker/tracker_configuration.py
  src/meltano/_vendor/snowplow_tracker/typing.py
  src/meltano/_vendor/vendor.txt
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/contexts/exception.py
  src/meltano/core/tracking/contexts/plugins.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base, docs

feat: Custom `.env` path
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/core/project.py
  tests/meltano/cli/test_cli.py
Due: docs

Filter "Unknown setting" warnings in tests"
  tests/meltano/cli/test_config.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/test_project_settings_service.py
Due: none

Remove `format_exc_info` and make pretty exceptions work
  src/meltano/core/logging/utils.py
Due: none

Add global pytest `filterwarnings`
  pyproject.toml
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
