Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

test: Test environment CLI
  src/meltano/cli/environment.py
  tests/meltano/cli/test_environment.py
Due: none

refactor: Use `importlib.metadata` to get Meltano version
  pyproject.toml
  src/meltano/__init__.py
Due: none

feat: Logging server
  src/meltano/cli/run.py
  src/meltano/core/logging/server.py
Due: none

chore: Bumped `poetry-core` build backend to 1.9.0 and build package on every push
  .github/workflows/build.yml
  pyproject.toml
Due: none

refactor: Use `importlib.resources` to read distribution files
  src/meltano/core/bundle/__init__.py
  src/meltano/core/config_service.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/utils/compat.py
  src/meltano/schemas/__init__.py
  tests/fixtures/docker/__init__.py
  tests/meltano/cli/test_compile.py
  tests/meltano/core/tracking/test_exception.py
  tests/meltano/core/tracking/test_schemas.py
Due: none

feat: Custom `.env` path
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/core/project.py
  tests/meltano/cli/test_cli.py
Due: docs

feat: Export state
  src/meltano/cli/state.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/base.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
Due: none

chore: Add partial changelog to version bump job summary
  .github/workflows/version_bump.yml
Due: none

feat(CLI): Added the logger name log messages
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
Due: none

refactor: Use `importlib.metadata` and PEP 610 to detect "editable" installations
  src/meltano/core/upgrade_service.py
  tests/meltano/cli/test_upgrade.py
Due: none

docs: Added 2024-Q2 changelog (#8505)
  docs/blog/2024-q2-changelog.mdx
Due: docs

fix: Addressed `structlog` warning by removing `format_exc_info` from the processor chain
  src/meltano/core/logging/utils.py
Due: none

chore: Omit coverage for `meltano.cli.interactive`
  pyproject.toml
Due: none

feat: Support state backend core setting extensions
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/pluggable.py
  src/meltano/core/config_service.py
  src/meltano/core/state_store/__init__.py
  tests/fixtures/custom_pluggable.py
  tests/fixtures/state_backends.py
  tests/meltano/core/behavior/test_pluggable.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base

test: Test on Python 3.13
  .github/workflows/test.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/meltano/core/tracking/test_exception.py
Due: meltano_base

chore: Enable Ruff `INP` (flake8-no-pep420) rules
  integration/example-library/meltano-env-precedence/env-var-in-pip-url-example-124/example.py
  pyproject.toml
  scripts/generate_docker_tags.py
Due: none

chore: Enable Ruff `ICN` (flake8-import-conventions) rules
  .pre-commit-config.yaml
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/project.py
  src/meltano/core/venv_service.py
Due: none

chore: Enable Ruff `YTT` (flake8-2020) rules
  pyproject.toml
Due: none

chore: Enable Ruff `PGH` (pygrep-hooks) rules
  pyproject.toml
  src/meltano/cli/utils.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/setting_definition.py
  src/meltano/core/state_store/filesystem.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore: Enable Ruff `A` (flake8-builtins) rules
  pyproject.toml
  src/meltano/cli/upgrade.py
Due: none

chore: Enable Ruff `A` (flake8-builtins) rules (#8605)
  pyproject.toml
  src/meltano/cli/upgrade.py
Due: none

Fix typing issues
  src/meltano/cli/elt.py
  src/meltano/cli/params.py
Due: none

Apply suggestions from code review
  src/meltano/cli/select.py
  src/meltano/cli/utils.py
Due: none

chore: Enable Ruff `PGH` (pygrep-hooks) rules (#8606)
  pyproject.toml
  src/meltano/cli/utils.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/setting_definition.py
  src/meltano/core/state_store/filesystem.py
Due: none

Meltano Cloud has been shut down in favor of Arch
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/fees.md
  docs/docs/cloud/getting_started.md
  docs/docs/cloud/index.md
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/sandbox_environments.md
  docs/docs/cloud/security-policy.md
  docs/docs/cloud/security.md
  docs/docs/cloud/sla.md
  docs/docs/cloud/support.md
  docs/docs/cloud/usage.md
  docs/docs/concepts/project.md
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/production.md
Due: docs

docs: Meltano Cloud has been shut down in favor of Arch (#8608)
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/fees.md
  docs/docs/cloud/getting_started.md
  docs/docs/cloud/index.md
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/sandbox_environments.md
  docs/docs/cloud/security-policy.md
  docs/docs/cloud/security.md
  docs/docs/cloud/sla.md
  docs/docs/cloud/support.md
  docs/docs/cloud/usage.md
  docs/docs/concepts/project.md
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/production.md
Due: docs

Move plugin fingerprint read/write methods to `VirtualEnv`
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

Fix `WPS214` error
  src/meltano/core/venv_service.py
  tests/meltano/cli/test_add.py
  tests/meltano/core/test_venv_service.py
Due: none

Add docs on `--[no-]install` usage for relevant commands
  docs/docs/reference/command-line-interface.md
Due: docs

docs: Redirect Meltano Cloud docs to Arch docs
  netlify.toml
Due: none

Address missing coverage
  tests/meltano/core/test_venv_service.py
Due: none

docs: Remove Meltano Cloud docs
  .github/semantic.yml
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/connectors.md
  docs/docs/cloud/fees.md
  docs/docs/cloud/getting_started.md
  docs/docs/cloud/index.md
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/sandbox_environments.md
  docs/docs/cloud/security-policy.md
  docs/docs/cloud/security.md
  docs/docs/cloud/sla.md
  docs/docs/cloud/support.md
  docs/docs/cloud/usage.md
  docs/docs/guide/production.md
  integration/example-library/meltano-manifest/ending-meltano.yml
  integration/example-library/meltano-manifest/environments/cicd.meltano.yml
  integration/example-library/meltano-manifest/loaders.meltano.yml
  integration/example-library/meltano-manifest/meltano.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: docs

Update netlify.toml
  netlify.toml
Due: none

docs: Redirect Meltano Cloud docs to Arch docs (#8609)
  netlify.toml
Due: none

docs: Remove Meltano Cloud docs (#8610)
  .github/semantic.yml
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/connectors.md
  docs/docs/cloud/fees.md
  docs/docs/cloud/getting_started.md
  docs/docs/cloud/index.md
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/sandbox_environments.md
  docs/docs/cloud/security-policy.md
  docs/docs/cloud/security.md
  docs/docs/cloud/sla.md
  docs/docs/cloud/support.md
  docs/docs/cloud/usage.md
  docs/docs/guide/production.md
  integration/example-library/meltano-manifest/ending-meltano.yml
  integration/example-library/meltano-manifest/environments/cicd.meltano.yml
  integration/example-library/meltano-manifest/loaders.meltano.yml
  integration/example-library/meltano-manifest/meltano.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: docs
