Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

ci: Use FOSSA in dependency review workflow (#6423)
  .github/workflows/dependency-review.yml
Due: none

chore: Add issue templates (#6447)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

ci: Do not run dependency review workflow on push events
  .github/workflows/dependency-review.yml
Due: none

chore: Fix typo PyPi -> PyPI
  .github/workflows/release_publish.yml
  .gitlab/issue_templates/Release.md
  .gitlab/merge_request_templates/release.md
  CHANGELOG.md
  Makefile
  docs/src/_guide/plugin-management.md
  docs/src/_tutorials/custom-extractor.md
Due: docs

ci: Do not run dependency review workflow on push events (#6452)
  .github/workflows/dependency-review.yml
Due: none

ci: Automatically cancel stale GitHub workflows
  .github/workflows/dependency-review.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_snowplow_schemas.yml
  .github/workflows/precommit.yml
  .github/workflows/test.yml
Due: none

fix test on windows
  tests/meltano/core/test_plugin_invoker.py
Due: none

rename cwd to workdir
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin_invoker.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_command.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

lint
  src/meltano/core/plugin/dbt/base.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

Redirect stderr to both debug logging handler _and_ buffer
  src/meltano/core/plugin/singer/tap.py
Due: none

Write str to StringIO buffer
  src/meltano/core/plugin/singer/tap.py
Due: none

fix the instructions for using --python with pipx
  docs/getting-started.md
Due: docs

noqa spurious flake8 error
  src/meltano/core/plugin/singer/tap.py
Due: none

Move multiple versions of Python instructions to own code block
  docs/getting-started.md
Due: docs

Multiple versions of Python instructions - fix formatting
  docs/getting-started.md
Due: docs

feat: meltano now surfaces full stderr output for catalog discovery failures. (#6432)
  CHANGELOG.md
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

use [...] to indicate non-optional argument
  docs/getting-started.md
Due: docs

docs: move 'v2 migration guide' under guides
  docs/src/_guide/v2-migration.md
Due: docs

docs: Document YAML syntax for Hub plugins
  docs/src/_contribute/plugin-definition-syntax.md
  docs/src/_contribute/plugins.md
Due: docs

ci: Automatically cancel stale GitHub workflows (#6455)
  .github/workflows/dependency-review.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_snowplow_schemas.yml
  .github/workflows/precommit.yml
  .github/workflows/test.yml
Due: none

Document container_spec
  docs/src/_concepts/project.md
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Move hub yaml syntax doc to /reference
  docs/src/_contribute/plugins.md
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Use `pull_request_target` for dependency review workflow
  .github/workflows/dependency-review.yml
Due: none

Add `@WillDaSilva` as codeowner for GitHub actions & workflows
  .github/CODEOWNERS
Due: none

chore: Fix typo PyPi -> PyPI (#6453)
  .github/workflows/release_publish.yml
  .gitlab/issue_templates/Release.md
  .gitlab/merge_request_templates/release.md
  CHANGELOG.md
  Makefile
  docs/src/_guide/plugin-management.md
  docs/src/_tutorials/custom-extractor.md
Due: docs

Reference closed issue where possible, add links
  CHANGELOG.md
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

add redirect from prior endpoint
  docs/src/_guide/v2-migration.md
Due: docs

Clarify 'Meltano UI' reference page title
  docs/src/_reference/ui.md
Due: docs

write_lock() placed behind enable_uvicorn feature flag
  src/meltano/core/project.py
Due: none

docs: move 'v2 migration guide' under 'guides' (#6465)
  docs/src/_guide/v2-migration.md
  docs/src/_reference/ui.md
Due: docs

chore: Add `@WillDaSilva` as codeowner for GitHub actions & workflows (#6463)
  .github/CODEOWNERS
Due: none

ci: Re-add CodeQL analysis GitHub workflow (#6419)
  .github/workflows/codeql-analysis.yml
  docs/_includes/algolia.html
  docs/_includes/header.html
  src/meltano/oauth/templates/base.html
  src/meltano/oauth/templates/home.html
  src/webapp/src/App.vue
Due: docs

sybolic link creation for meltano.exe when on windows
  src/meltano/core/project.py
Due: none

ci: Use `pull_request_target` for dependency review workflow (#6462)
  .github/workflows/dependency-review.yml
Due: none

chore(deps): Pin werkzeug to <2.2.0
  poetry.lock
  pyproject.toml
Due: meltano_base

Limit werkzeug version range
  poetry.lock
  pyproject.toml
Due: meltano_base

Fixed lock file
  poetry.lock
Due: meltano_base

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
