Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Test case when parsing date fails
  tests/meltano/core/test_setting_definition.py
Due: none

Test incompatibility CLI error
  tests/meltano/cli/test_cli.py
Due: none

Implement `Project.__repr__`
  src/meltano/core/project.py
Due: none

Split exception handling
  src/meltano/cli/cli.py
  src/meltano/core/behavior/versioned.py
  tests/meltano/cli/test_cli.py
Due: none

Re-add urllib3, with constraint
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Use commitizen `poetry` version provider to avoid writing the version to two places in `pyproject.toml`
  pyproject.toml
Due: none

Update eslint
  .pre-commit-config.yaml
  docs/.eslintrc.json
  docs/eslint.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/components/SidebarArrow.js
  docs/src/theme/AnnouncementBar/Content/index.js
  docs/src/theme/DocSidebar/Mobile/index.js
  docs/src/theme/Footer/Copyright/index.js
  docs/src/theme/Footer/Links/MultiColumn/index.js
  docs/src/theme/Footer/Links/Simple/index.js
  docs/src/theme/SearchBar/index.js
Due: docs

Add missing license
  docs/package-lock.json
Due: docs

chore: Use Poetry 2 (#8994)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: meltano_base

fix: Warn that default `venv.backend` will change to `uv` in the future
  src/meltano/core/plugin_install_service.py
Due: none

Warn only once
  src/meltano/core/plugin_install_service.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

packaging: Switch to uv!
  .github/workflows/build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration_tests.yml
  .github/workflows/resources/constraints.txt
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  docs/docs/contribute/prerequisites.md
  docs/docs/contribute/style.md
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements/requirements.txt
  tests/meltano/core/plugin/singer/test_tap.py
  uv.lock
Due: meltano_base, docs

Update dependabot config
  .github/dependabot.yml
Due: none

packaging: Add pip as a dependency
  pyproject.toml
  requirements/requirements.txt
  tests/meltano/core/test_meltano_invoker.py
  uv.lock
Due: none

ci: Avoid using uv to download Python
  .github/workflows/test.yml
Due: none

Indent with 2 spaces
  pyproject.toml
Due: none

Use PEP 639
  pyproject.toml
Due: none

Update flaky tests to install more up-to-date plugins
  tests/meltano/core/test_plugin_install_service.py
Due: none

uv is arguably no longer optional
  docs/docs/contribute/prerequisites.md
Due: docs

Remove `test_run_mapper_config` entirely
  tests/meltano/cli/test_run.py
Due: none

Use uv.lock directly
  .gitignore
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  requirements/requirements.txt
  uv.lock
Due: none

Remove other references to requirements.txt
  noxfile.py
Due: none

Remove redundant `tool.ruff.target-version`
  pyproject.toml
Due: none

packaging: Switch to uv 🚀 (#9139)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration_tests.yml
  .github/workflows/resources/constraints.txt
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/docs/contribute/prerequisites.md
  docs/docs/contribute/style.md
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/test_meltano_invoker.py
  tests/meltano/core/test_plugin_install_service.py
  uv.lock
Due: meltano_base, docs

Always process date settings
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: none

Use offset format
  integration/example-library/meltano-run-merge-states/index.md
  integration/meltano-run-merge-states/validate.sh
Due: none

Handle non-string processors
  src/meltano/core/setting_definition.py
Due: none

Test processor callable
  tests/meltano/core/test_setting_definition.py
Due: none

Update schema
  src/meltano/schemas/meltano.schema.json
Due: none

Documentation
  docs/docs/reference/plugin-definition-syntax.md
Due: docs

Update phrasing a bit
  docs/docs/reference/plugin-definition-syntax.md
Due: docs

feat: Parse relative dates in plugin config (#9119)
  docs/docs/reference/plugin-definition-syntax.md
  integration/example-library/meltano-run-merge-states/index.md
  integration/meltano-run-merge-states/validate.sh
  pyproject.toml
  src/meltano/core/setting_definition.py
  src/meltano/core/utils/__init__.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_setting_definition.py
  uv.lock
Due: docs

chore: pin GitHub Actions versions to commit hashes
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_snowplow_schemas.yml
  .github/workflows/slash_commands.yml
  .github/workflows/test.yml
  .github/workflows/version_bump.yml
Due: none

chore: pin GitHub Actions versions to commit hashes (#9142)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_snowplow_schemas.yml
  .github/workflows/slash_commands.yml
  .github/workflows/test.yml
  .github/workflows/version_bump.yml
Due: none

Address lint issues
  src/meltano/core/container/container_spec.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/state_store/test_filesystem.py
Due: none

chore: Bump version in `uv.lock` when preparing for a new release
  .github/workflows/version_bump.yml
  pyproject.toml
Due: none

chore: Bump Meltano version in `uv.lock` when preparing for a new release (#9144)
  .github/workflows/version_bump.yml
  pyproject.toml
Due: none
