Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix: Avoid casting settings before env var expansion
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/test_project_settings_service.py
Due: none

chore: Use `commitizen-action@0.16.3`
  .github/workflows/version_bump.yml
Due: none

Apply suggestions from code review
  docs/src/_tutorials/custom-extractor.md
Due: docs

Update custom-extractor.md
  docs/src/_tutorials/custom-extractor.md
Due: docs

feat: Meltano Cloud CLI (#7261)
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  scripts/build.py
  scripts/check_subproject_deps.py
  src/cloud-cli/LICENSE
  src/cloud-cli/README.md
  src/cloud-cli/meltano/cloud/__init__.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/__main__.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/test_cli.py
  src/meltano/cli/__init__.py
  src/meltano/cli/__main__.py
  src/meltano/cli/cli.py
  src/meltano/cli/cloud.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cloud
  tests/meltano/cli/test_ui.py
  tests/meltano/cli/test_upgrade.py
Due: meltano_base

docs: add "variant" prompt and description to custom plugin development docs (#7050)
  docs/src/_tutorials/custom-extractor.md
Due: docs

chore: Use `commitizen-action@0.16.3` (#7295)
  .github/workflows/version_bump.yml
Due: none

Fix flaky test
  tests/meltano/core/test_project_settings_service.py
Due: none

fix: Respect `requests`/`curl` custom Certificate Authorities env vars
  src/meltano/core/hub/client.py
Due: none

fix: Avoid casting settings before env var expansion (#7294)
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/test_project_settings_service.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Add unit test
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

Add `--lint` CLI option, add missing settings to schema, and expand dotted names in project files
  src/meltano/cli/compile.py
  src/meltano/core/bundle/__init__.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/utils/__init__.py
  src/meltano/schemas/meltano.schema.json
Due: none

Add tests for `meltano compile`
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/meltano/cli/test_compile.py
Due: meltano_base

Support using `--no-environment` to compile the no environment manifest
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/cli/compile.py
  tests/meltano/cli/test_compile.py
Due: docs

fix: Respect `requests`/`curl` custom Certificate Authorities env vars (#7299)
  src/meltano/core/hub/client.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

Update changes from `main` to use `project.hub_service`
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

Fix `mypy` issue
  src/meltano/core/manifest/manifest.py
Due: none

Fix Windows test failure
  tests/meltano/cli/test_compile.py
Due: none

Remove unused code
  src/meltano/core/project.py
Due: none

transition to run from elt and from orchestrators/transformers to utilities
  docs/src/_concepts/environments.md
  docs/src/_concepts/plugins.md
  docs/src/_concepts/project.md
  docs/src/_guide/configuration.md
  docs/src/_guide/containerization.md
  docs/src/_guide/integration.md
  docs/src/_guide/migrate-an-existing-dbt-project.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/production.md
  docs/src/_guide/transformation.md
  docs/src/_guide/troubleshooting.md
  docs/src/_guide/v2-migration.md
  docs/src/_reference/plugin-definition-syntax.md
  docs/src/_reference/settings.md
Due: docs

Address lint issues
  src/meltano/core/venv_service.py
Due: none

Address changes from refactor
  src/meltano/core/manifest/manifest.py
Due: none

Fix project root being expanded in env vars
  src/meltano/core/manifest/manifest.py
Due: none

revert change setting update to state backend from system db
  docs/src/_guide/configuration.md
Due: docs

Apply suggestions from code review
  docs/src/_concepts/project.md
Due: docs

Add missing plugin properties to schema
  src/meltano/schemas/meltano.schema.json
Due: none

Remove `include_paths` from manifests
  src/meltano/core/manifest/manifest.py
Due: none

docs: refresh to prefer 'run' and 'invoke' over 'elt', and 'utilities' over 'transformers' and 'orchestrators' (#7301)
  docs/src/_concepts/environments.md
  docs/src/_concepts/plugins.md
  docs/src/_concepts/project.md
  docs/src/_guide/configuration.md
  docs/src/_guide/containerization.md
  docs/src/_guide/integration.md
  docs/src/_guide/migrate-an-existing-dbt-project.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/production.md
  docs/src/_guide/transformation.md
  docs/src/_guide/troubleshooting.md
  docs/src/_guide/v2-migration.md
  docs/src/_reference/plugin-definition-syntax.md
  docs/src/_reference/settings.md
Due: docs

Suppress `KeyError` while deleting from manifests
  src/meltano/core/manifest/manifest.py
Due: none

Remove debugging code
  src/meltano/core/manifest/manifest.py
Due: none

chore: Use Poetry group notation for dev deps
  poetry.lock
  pyproject.toml
Due: meltano_base

Address lint issues
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/core/test_project_files.py
Due: none

chore: Use Poetry group notation for dev deps (#7307)
  poetry.lock
  pyproject.toml
Due: meltano_base

Simplify `Canonical.as_canonical`
  src/meltano/core/behavior/canonical.py
Due: none

Address review comments & handle annotations using `Canonical` metaclass
  docs/example-library/meltano-annotations/meltano.yml
  src/meltano/core/behavior/canonical.py
  src/meltano/core/project_files.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_project_files.py
Due: docs

Keep eslint deps in-sync
  .pre-commit-config.yaml
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
