Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends: .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends: .build_base
  except:
    - branches@meltano/meltano
    - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Center second row of homepage logos
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

update logo name
  docs/src/.vuepress/public/images/home/logos/zapier.png
  docs/src/README.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/README.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/.vuepress/theme/components/Home.vue
Due: docs

add Zapier logo
  docs/src/.vuepress/public/images/home/logos/zapier.png
  docs/src/.vuepress/theme/components/Home.vue
  docs/src/README.md
Due: docs

Testable/working 1st version
  pyproject.toml
  src/meltano/core/block/__init__.py
  src/meltano/core/block/error.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/singer.py
  src/meltano/core/block/utils.py
  tests/meltano/core/block/test_block.py
Due: none

consumer/producer bools don't need to be props
  src/meltano/core/block/singer.py
Due: none

mr feedback
  src/meltano/cli/elt.py
  src/meltano/core/logging/formatters.py
Due: none

poetry lock update
  poetry.lock
Due: meltano_base

Fix os import
  .isort.cfg
  src/meltano/core/logging/utils.py
Due: none

added podcasts
  docs/src/press/README.md
Due: docs

Extra tests
  src/meltano/core/block/singer.py
  tests/meltano/core/block/test_block.py
Due: none

Update docs/src/press/README.md
  docs/src/press/README.md
Due: docs

flakehell all the things!
  src/meltano/core/block/__init__.py
  src/meltano/core/block/blockset.py
  src/meltano/core/block/error.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/singer.py
  tests/meltano/core/block/test_block.py
Due: none

Fix typing.Protocol use in older py versions
  src/meltano/core/block/blockset.py
  src/meltano/core/block/ioblock.py
  tests/meltano/core/block/test_block.py
Due: none

Copyedit to fix grammar issue in orchestration.md
  docs/src/docs/orchestration.md
Due: docs

Fix typo: 'reponsitory'
  docs/src/docs/production.md
Due: docs

Update orchestration.md
  docs/src/docs/orchestration.md
Due: docs

added myself and Amanda to be able to Merge
  .gitlab/CODEOWNERS
Due: none

Refactor to add InvokerBase and add support for PluginCommands
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/singer.py
  tests/meltano/core/block/test_block.py
Due: none

Actually add plugin commands
  src/meltano/core/block/plugin_command.py
Due: none

Lint
  src/meltano/core/block/blockset.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/plugin_command.py
Due: none

Fix plugin command block class name
  src/meltano/core/block/plugin_command.py
Due: none

Fixup failing tests
  src/meltano/core/block/extract_load.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/CODEOWNERS
Due: none

Fix exception name in docstring
  src/meltano/core/environment_service.py
Due: none

Resolve "Add CLI support for environments"
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/environments.md
  src/meltano/cli/__init__.py
  src/meltano/cli/cli.py
  src/meltano/cli/environment.py
  src/meltano/cli/schedule.py
  src/meltano/core/behavior/canonical.py
  src/meltano/core/environment.py
  src/meltano/core/environment_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/utils/__init__.py
  tests/fixtures/core.py
  tests/meltano/core/test_environment_service.py
Due: docs

MR feedback
  src/meltano/cli/cli.py
  src/meltano/cli/elt.py
  src/meltano/core/logging/utils.py
Due: none

Fix tests
  tests/meltano/cli/test_elt.py
Due: none

Revert "MR feedback"
  src/meltano/cli/elt.py
  src/meltano/core/logging/utils.py
  tests/meltano/cli/test_elt.py
Due: none

Little bit of cleanup
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/singer.py
Due: none

Update docs/src/docs/transforms.md
  docs/src/docs/transforms.md
Due: docs

Bump version: 1.87.1 → 1.88.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Resolve "Release v1.88.0"
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Move values to handbook as the SSOT
  docs/src/docs/README.md
Due: docs

CHANGELOG entry
  CHANGELOG.md
Due: none

Resolve "Emit structured (JSON) logs"
  .isort.cfg
  CHANGELOG.md
  docs/src/docs/settings.md
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/cli/elt.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/logging/test_output_logger.py
Due: meltano_base, docs
