Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Able to test loader configuration via UI
  src/meltano/api/controllers/orchestrations.py
Due: none

Uvicorn only to run through Linux CI tests
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

UI sucessfully running via uvicon on windows
  src/meltano/api/workers/api_worker.py
Due: none

Added timeout keep alive of 600 from gunicorn wsgi.py
  src/meltano/api/workers/api_worker.py
Due: none

Added requested feature flag, feature flag logic, and uvicorn[standard] install
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
Due: meltano_base

Updated to follow best practices for utilizing feature flags.
  src/meltano/api/workers/api_worker.py
  src/meltano/core/settings_service.py
Due: none

Best effort at linting orchestrations.py
  src/meltano/api/controllers/orchestrations.py
Due: none

Remove Explore and Dashboard links from main nav
  src/webapp/src/components/navigation/MainNav.vue
Due: none

Add to Changelog
  CHANGELOG.md
Due: none

add migration guide draft
  docs/src/_reference/v2-migration.md
Due: docs

Resolve "Add top-level "job" with "tasks" in Meltano.yml, refactored from just Schedules to Jobs+Schedules"
  CHANGELOG.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/__init__.py
  src/meltano/cli/job.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  src/meltano/core/meltano_file.py
  src/meltano/core/task_sets.py
  src/meltano/core/task_sets_service.py
  src/meltano/core/tracking/ga_tracker.py
  tests/fixtures/core.py
  tests/meltano/cli/test_job_cmd.py
  tests/meltano/core/test_task_sets.py
  tests/meltano/core/test_task_sets_service.py
Due: docs

Make headers and sections in docs a little more obvious. Closes #3429
  docs/css/docs.css
Due: docs

Change code text to match brand guidelines
  docs/css/docs.css
Due: docs

Move TOC to its own column
  docs/_layouts/doc.html
  docs/css/docs.css
Due: docs

Remove commented out items in resource embed component
  src/webapp/src/api/embeds.js
  src/webapp/src/views/ResourceEmbed.vue
Due: none

Add draft glossary.
  docs/_data/glossary.yml
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/_data/glossary.yml
Due: docs

Add a few terms
  docs/_data/glossary.yml
Due: docs

Changed feature flag from STARTUVICORN ff.start_uvicorn to ENABLE_UVICORN ff.enable_uvicorn
  src/meltano/api/workers/api_worker.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/settings_service.py
Due: none

Update text and images to reflect current state of Meltano GUI in docs
  docs/src/_reference/images/ui/create-pipeline-cron.png
  docs/src/_reference/images/ui/create-pipeline.png
  docs/src/_reference/images/ui/extractors-configuration.png
  docs/src/_reference/images/ui/extractors.png
  docs/src/_reference/images/ui/loaders-configuration.png
  docs/src/_reference/images/ui/loaders.png
  docs/src/_reference/images/ui/pipeline-cron.png
  docs/src/_reference/images/ui/pipeline-log.png
  docs/src/_reference/images/ui/pipelines.png
  docs/src/_reference/ui.md
Due: docs

Windows PowerShell commands more clearly laid out
  docs/getting-started.md
Due: docs

Cleaned up markdown blocks for Systems, and removed the VirtualEnv section that snuck back in from bad conflict mangement
  docs/src/_guide/installation.md
Due: docs

I must have removed # while doing conflict merges? No idea how that happened
  CHANGELOG.md
Due: none

100's more tests passing on windows, plus lint fixes
  tests/fixtures/core.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/setting_definition.py
Due: none

Add issue template for docs issues
  .gitlab/issue_templates/documentation.md
Due: none

Add announcement banner to docs
  docs/README.md
  docs/_config.yml
  docs/_includes/header.html
  docs/css/docs.css
Due: docs

Remove extra semicolon
  docs/css/docs.css
Due: docs

initial refactor to support jobs
  src/meltano/core/schedule.py
  src/meltano/core/schedule_service.py
  tests/meltano/core/test_schedule_service.py
Due: none

Fix broken image link
  docs/src/_reference/ui.md
Due: docs

Add schedule run tests
  src/meltano/core/schedule_service.py
  tests/meltano/core/test_schedule_service.py
Due: none

Added async get event loop check to api controller plugin removed from core plugin install service
  src/meltano/api/controllers/plugins.py
  src/meltano/core/plugin_install_service.py
Due: none

Refactor list schedule cli
  src/meltano/cli/schedule.py
Due: none

Linting fixes to align with google style docstrings
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/controllers/plugins.py
  src/meltano/api/workers/api_worker.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
