Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Undo typos from bumpversion
  package.json
  pyproject.toml
Due: none

Undo typos from bumpversion
  docs/package.json
  src/webapp/package.json
Due: docs

Undo typos from bumpversion
  package.json
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

Windows Installation First Draft
  docs/src/_guide/installation.md
Due: docs

Install pipx and poetry before tests run
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Use proper Python versions for Meltano Tests on Windows
  .gitlab/ci/test.gitlab-ci.yml
Due: none

pass container spec entrypoint through to container
  CHANGELOG.md
  src/meltano/core/container/container_spec.py
  tests/meltano/core/container/test_container_spec.py
Due: none

feat: add feature flag
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/project_plugins_service.py
Due: none

Keeping python3 / python somewhat consistent, added alias for gitlab ci job
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Globals for Windows added to fix default encoding issue we were having
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
Due: none

Get these pipelines failing on PyTest as they should be
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Cleaned the structure up a bit on the Installation page
  docs/src/_guide/installation.md
Due: docs

Changelog entries for Windows CI and Docs
  CHANGELOG.md
Due: none

jsonl auto creates output folder
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
Due: none

Add `copy` and `move` commands to `meltano state`
  CHANGELOG.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/state.py
  tests/meltano/cli/test_state.py
Due: docs

Changed head binary for Windows alternative
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
Due: none

removed erroneous trap-door
  .flake8
  src/meltano/cli/config.py
  src/meltano/core/settings_store.py
Due: none

Waitress is running UI needs built
  .gitignore
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

I agree. I used the print so I could see where that happened when I ran meltano ui .
  src/meltano/api/workers/api_worker.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitignore
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/api/workers/api_worker.py
Due: none

Added make_build.ps1 to build ui in windows. Also removed --thread=1 for waitress-serve in api-worker
  make_build.ps1
  src/meltano/api/workers/api_worker.py
Due: none

make_build changes, ran make_build, updated package.json node-sass to 4.14.1
  make_build.ps1
  src/webapp/package.json
Due: none

yarn.lock files after yarn build and yarn setup
  docs/yarn.lock
  src/webapp/yarn.lock
Due: docs

Add support for bind and bind-port
  src/meltano/api/workers/api_worker.py
Due: none

Updated make_build windows paths
  make_build.ps1
Due: none

Added the yarn.lock files again
  src/webapp/yarn.lock
  yarn.lock
Due: none

Incoporated suggested changes from MR review on 20220505 to api_worker and poetry toml and lock files
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

deleted make_build.ps1
  make_build.ps1
Due: none

Added try for get_event_loop or sempahore() and create a loop if missing
  src/meltano/api/controllers/orchestrations.py
  src/meltano/core/plugin_install_service.py
Due: none

Init jobs setup
  src/meltano/cli/__init__.py
  src/meltano/cli/job.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/meltano_file.py
  src/meltano/core/task_sets.py
  src/meltano/core/task_sets_service.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

fix circular typing import
  src/meltano/core/settings_store.py
Due: none

found mentano env bug YAAASS
  src/meltano/core/settings_store.py
  tests/meltano/core/test_utils.py
Due: none

FastAPI ADR
  .adr-dir
  docs/adr/0005-use-fastapi-to-develop-v2-of-api.md
Due: docs

Add support for meltano run
  src/meltano/cli/job.py
  src/meltano/core/block/parser.py
  src/meltano/core/task_sets.py
  src/meltano/core/task_sets_service.py
Due: none

make default return (even none), as it is the lowest in our order of precedence
  .flake8
  src/meltano/core/settings_store.py
Due: none

fix test
  tests/meltano/core/test_utils.py
Due: none

add missing `remove` command and general clean up
  src/meltano/cli/job.py
  src/meltano/core/task_sets.py
  src/meltano/core/task_sets_service.py
Due: none

Add changelog entry
  CHANGELOG.md
Due: none
