Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Update src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

Update src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_project.py
Due: none

Don't print created project json
  src/meltano/cloud/cli/project.py
Due: none

project_name -> name
  src/meltano/cloud/cli/project.py
Due: none

add test for finding mappers for invoke
  tests/meltano/core/test_project_plugins_service.py
Due: none

repository-url -> git-repository
  tests/meltano/cloud/cli/test_project.py
Due: none

correct project create args in test
  tests/meltano/cloud/cli/test_project.py
Due: none

correct project create args in test
  src/meltano/cloud/cli/project.py
Due: none

Better error messaging and docs
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  src/meltano/cloud/cli/config.py
Due: docs

refactor out _find_plugin_or_mapping and check for ambiguous mappers
  src/meltano/core/block/parser.py
  src/meltano/core/project_plugins_service.py
Due: none

catch PluginNotFoundError and raise Block exception to status quo
  src/meltano/core/block/parser.py
Due: none

revert back to parsed_name for block init
  src/meltano/core/block/parser.py
Due: none

fix precommit errors
  src/meltano/core/block/parser.py
  src/meltano/core/project_plugins_service.py
Due: none

fix most of precommit issues
  src/meltano/core/project_plugins_service.py
Due: none

project-root-path -> root-path
  src/meltano/cloud/cli/project.py
Due: none

Move --transform options for elt params
  docs/docs/reference/command-line-interface.md
Due: docs

refactor for less complexity
  src/meltano/core/project_plugins_service.py
Due: none

use custom meltano error instead of click exception
  src/meltano/core/project_plugins_service.py
  tests/meltano/cli/test_run.py
Due: none

Update src/meltano/core/project_plugins_service.py
  src/meltano/core/project_plugins_service.py
Due: none

Fix tests
  tests/meltano/cli/test_add.py
Due: none

update docs to support mappers with invoke
  docs/docs/guide/mappers.md
Due: docs

chore: Avoid installing `setuptools` and `wheel` in plugin venvs
  src/meltano/core/venv_service.py
Due: none

fix!: Always require plugin lock files
  docs/docs/guide/v3-migration.md
  src/meltano/core/bundle/settings.yml
  src/meltano/core/project_plugins_service.py
  src/meltano/core/settings_service.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_project_plugins_service.py
Due: docs

Add lock files to example library
  integration/example-library/meltano-annotations/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-annotations/plugins/loaders/target-jsonl--andyh1203.lock
  integration/example-library/meltano-basics/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-basics/plugins/loaders/target-jsonl--andyh1203.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-cloudwatch--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-github--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-google-analytics--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-meltanohub--autoidm.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-slack--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-snowflake--transferwise.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-spreadsheets-anywhere--ets.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-apprise--AutoIDM.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-snowflake--transferwise.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-yaml--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/mappers/meltano-map-transformer--meltano.lock
  integration/example-library/meltano-manifest/plugins/utilities/airflow--apache.lock
  integration/example-library/meltano-manifest/plugins/utilities/dbt-snowflake--dbt-labs.lock
  integration/example-library/meltano-manifest/plugins/utilities/great_expectations--great-expectations.lock
  integration/example-library/meltano-manifest/plugins/utilities/sqlfluff--sqlfluff.lock
  integration/example-library/meltano-manifest/plugins/utilities/superset--apache.lock
  integration/example-library/meltano-migrations/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-migrations/plugins/loaders/target-sqlite--meltanolabs.lock
  integration/example-library/meltano-state-local/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-state-local/plugins/loaders/target-jsonl--andyh1203.lock
Due: none

Fix AutoIDM variant
  integration/example-library/meltano-manifest/loaders.meltano.yml
Due: none

Use custom plugins to test installation
  tests/meltano/core/test_plugin_install_service.py
Due: none

Rename lock file
  integration/example-library/meltano-manifest/loaders.meltano.yml
  integration/example-library/meltano-manifest/plugins/loaders/target-apprise--autoidm.lock
Due: none

Document recommended command
  docs/docs/guide/v3-migration.md
Due: docs

Update manifest files
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: none

feat: Add `el` command as an alias of `elt` and depecrate both `elt` and the `--transform` option (#7997)
  docs/docs/concepts/project.md
  docs/docs/contribute/plugins.md
  docs/docs/contribute/tests.md
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/integration.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
  src/meltano/cli/__init__.py
  src/meltano/cli/elt.py
  tests/meltano/cli/test_elt.py
Due: docs

clean up
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
Due: none

chore: Avoid installing `setuptools` and `wheel` in plugin venvs (#8006)
  src/meltano/core/venv_service.py
Due: none

Update docs/docs/guide/mappers.md
  docs/docs/guide/mappers.md
Due: docs

feat: Add support for mappers in the invoke command (#7992)
  docs/docs/guide/mappers.md
  src/meltano/core/block/parser.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/test_project_plugins_service.py
Due: docs

Add JSON Schema details to docs
  docs/docs/concepts/project.md
Due: docs

Use `pymssql` version `2.2.8`
  poetry.lock
  pyproject.toml
Due: meltano_base

chore(deps): Use `pymssql` version `2.2.8` (#8012)
  poetry.lock
  pyproject.toml
Due: meltano_base

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
