Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Handle creating plugin context with no parent correctly
  src/meltano/core/tracking/contexts/plugins.py
  tests/meltano/core/tracking/test_plugins.py
Due: none

Switch commands using bespoke cli exit events to PartialInstrumentedCmd
  src/meltano/cli/add.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/lock.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
Due: none

Fix initialize and accidentally removed force bool in state set
  src/meltano/cli/initialize.py
  src/meltano/cli/state.py
Due: none

Cleanup a few stragglers
  src/meltano/cli/initialize.py
  src/meltano/cli/select.py
  src/meltano/cli/ui.py
Due: none

ci: Use commitizen for version bump (not changelog yet) (#6338)
  .github/workflows/constraints.txt
  .github/workflows/version_bump.yml
  .gitignore
  pyproject.toml
Due: none

ci: basic integration test framework (#6303)
  .github/workflows/check_jsonschema.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint_shellcheck.yml
  docs/example-library/README.md
  docs/example-library/meltano-basics/ending-meltano.yml
  docs/example-library/meltano-basics/index.md
  docs/example-library/meltano-basics/meltano.yml
  docs/example-library/meltano-run/ending-meltano.yml
  docs/example-library/meltano-run/index.md
  docs/example-library/meltano-run/meltano.yml
  docs/src/_contribute/merge.md
  docs/src/_contribute/tests.md
  integration/commons.sh
  integration/logging.yaml
  integration/mdsh
  integration/meltano-run/validate.sh
  integration/validate.sh
Due: docs

Don't attach plugin contexts from remove calls
  src/meltano/cli/remove.py
Due: none

Check version before continuing
  .github/workflows/build.yml
Due: none

Upload wheel to release
  .github/workflows/build.yml
Due: none

chore: Remove unused CI config/workflow files
  .bumpversion.cfg
  .github/workflows/release_publish.yml
Due: none

ci: Publish image based on Python 3.10
  .github/workflows/docker_publish.yml
Due: none

fix `meltano add files` refs
  docs/src/_guide/containerization.md
  docs/src/_guide/orchestration.md
  src/meltano/core/plugin/dbt/base.py
Due: docs

docs: fix outdated plugin names in `meltano add files` references (#6345)
  docs/src/_guide/containerization.md
  docs/src/_guide/orchestration.md
  src/meltano/core/plugin/dbt/base.py
Due: docs

Make 3.9 the default Python version base image
  .github/workflows/docker_publish.yml
Due: none

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: none

ci: Build Python artifacts (#6145)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  build.py
  pyproject.toml
Due: none

ci: Add missing poetry install step
  .github/workflows/build.yml
Due: none

ci: Publish image based on Python 3.10 (#6344)
  .github/workflows/docker_publish.yml
Due: none

docs: Document new Docker image default Python version is 3.9
  docs/src/_guide/installation.md
Due: docs

docs: Document current Docker image default Python version is 3.9 (#6347)
  docs/src/_guide/installation.md
Due: docs

ci: Add missing poetry install step for building artifacts (#6346)
  .github/workflows/build.yml
Due: none

ci: Fix PyPI token secret name
  .github/workflows/build.yml
Due: none

ci: Fix PyPI token secret name (#6348)
  .github/workflows/build.yml
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Groom changelog
  CHANGELOG.md
Due: none

Updated .add_related() to .add_required()
  src/meltano/api/controllers/plugins.py
Due: none

Changed variable related_plugins to required_plugins to match function name update
  src/meltano/api/controllers/plugins.py
Due: none

Linter fixes
  src/meltano/api/controllers/plugins.py
Due: none

Initial refactoring
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_store.py
Due: none

Update docs/src/_guide/configuration.md
  docs/src/_guide/configuration.md
Due: docs

remove unused imports
  src/meltano/core/plugin/settings_service.py
Due: none

update inline docs
  src/meltano/core/plugin/settings_service.py
Due: none

Emit `RuntimeWarning` if a setting uses the default value
  docs/src/_reference/settings.md
  poetry.lock
  src/meltano/cli/config.py
  src/meltano/core/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_project_settings_service.py
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base, docs

Remove config override to fix failing tests
  tests/meltano/core/test_project_settings_service.py
Due: none

Ensure entry order is preserved in included files
  src/meltano/core/project_files.py
  tests/fixtures/multifile_project/meltano.yml
  tests/fixtures/multifile_project/subconfig_2.yml
  tests/meltano/core/test_project_files.py
Due: none

Improve docs around lazy commands
  src/meltano/cli/__init__.py
  src/meltano/cli/add.py
  src/meltano/cli/commands.py
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/dragon.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/initialize.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/lock.py
  src/meltano/cli/remove.py
  src/meltano/cli/repl.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/schema.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/validate.py
Due: none

fix broken imports
  src/meltano/core/schedule_service.py
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

apply default_environment opt-out to select
  src/meltano/cli/config.py
  src/meltano/cli/select.py
  tests/meltano/cli/test_select.py
Due: none

fix integration tests
  docs/example-library/meltano-basics/index.md
  docs/example-library/meltano-run/index.md
Due: docs

removed run preview references
  src/meltano/cli/run.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
