Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Fallback to default boto3 auth in creating s3 state store manager client
  src/meltano/core/state_store/s3.py
Due: none

feat: Support `meltano init` in a non-empty dir
  docs/src/_reference/command-line-interface.md
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/cli/initialize.py
  src/meltano/core/bundle/__init__.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/project_init_service.py
  tests/meltano/cli/test_initialize.py
  tests/meltano/core/test_project_init_service.py
Due: meltano_base, docs

chore: Address all eslint issues (#7102)
  .pre-commit-config.yaml
  src/webapp/yarn.lock
  yarn.lock
Due: none

chore: Add deprecation warning to UI command (#7096)
  src/meltano/cli/ui.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Revert "chore: Release v2.12.0 (#7108)"
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

chore: Revert "chore: Release v2.12.0 (#7108)" (#7109)
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Address lint issues
  scripts/build.py
Due: none

ci: Enable `pre-commit.ci`
  .pre-commit-config.yaml
Due: none

ci: Enable `pre-commit.ci` (#7112)
  .pre-commit-config.yaml
Due: none

chore: List deps in flakeheaven pre-commit config
  .pre-commit-config.yaml
Due: none

Move lint deps to pre-commit config
  poetry.lock
  pyproject.toml
Due: meltano_base

Update flakeheaven baseline
  flakeheaven-baseline
Due: none

chore: List deps in flakeheaven pre-commit config (#7113)
  .pre-commit-config.yaml
  flakeheaven-baseline
  poetry.lock
  pyproject.toml
Due: meltano_base

refactor: Use a custom build backend (#7069)
  .github/workflows/build.yml
  .gitignore
  Makefile
  build.py
  pyproject.toml
  scripts/build.py
Due: none

Add missing docstring
  src/meltano/core/plugin/meltano_file.py
Due: none

feat: Allow top-level annotations in `meltano.yml`
  docs/example-library/meltano-annotations/ending-meltano.yml
  docs/example-library/meltano-annotations/index.md
  docs/example-library/meltano-annotations/meltano.yml
  docs/example-library/meltano-state-local/index.md
  docs/src/_concepts/project.md
  schema/meltano.schema.json
  src/meltano/core/meltano_file.py
Due: docs

ci: Disable custom pre-commit GitHub workflow
  .github/workflows/precommit.yml
Due: none

Move up boto3.Session import
  src/meltano/core/state_store/s3.py
Due: none

Address PR feedback
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/s3.py
Due: none

flakeheaven
  src/meltano/core/state_store/s3.py
Due: none

type ignore for lazy import
  src/meltano/core/state_store/s3.py
Due: none

ignore cached_property in typechecking
  src/meltano/core/state_store/s3.py
Due: none

ci: Disable custom pre-commit GitHub workflow (#7116)
  .github/workflows/precommit.yml
Due: none

docs: change variants to meltanolabs based ones.
  docs/src/_getting-started/part1.md
  docs/src/_getting-started/part2.md
Due: docs

feat: Support `meltano init` in a non-empty dir (#7105)
  docs/src/_reference/command-line-interface.md
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/cli/initialize.py
  src/meltano/core/bundle/__init__.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/project_init_service.py
  tests/meltano/cli/test_initialize.py
  tests/meltano/core/test_project_init_service.py
Due: meltano_base, docs

docs: Change variants to meltanolabs based ones in Getting Started guide (#7117)
  docs/src/_getting-started/part1.md
  docs/src/_getting-started/part2.md
Due: docs

fix: Support str values when deep-merging
  src/meltano/core/project_files.py
  tests/meltano/core/test_project_files.py
Due: none

chore: Use Poetry v1.3 lockfile
  .github/workflows/resources/constraints.txt
  poetry.lock
Due: meltano_base

Remove constraint on `virtualenv` package in workflows
  .github/workflows/resources/constraints.txt
Due: none

fix: Support str values when deep-merging (#7120)
  src/meltano/core/project_files.py
  tests/meltano/core/test_project_files.py
Due: none

chore: Use Poetry v1.3 lockfile (#7121)
  .github/workflows/resources/constraints.txt
  poetry.lock
Due: meltano_base

feat(core): Optionally ignore missing env vars during expansion
  src/meltano/cli/params.py
  src/meltano/core/environment_service.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_utils.py
Due: none

Improve `test_expand_env_vars`
  tests/meltano/core/test_utils.py
Due: none

chore: Fix static types in `src/meltano/core/schedule.py`
  pyproject.toml
  src/meltano/core/schedule.py
Due: none

chore: Enable type checking in `meltano.core.plugin_remove_service`
  pyproject.toml
  src/meltano/core/plugin_remove_service.py
Due: none

chore: Enable type checking in `meltano.core.environment`
  pyproject.toml
  src/meltano/core/environment.py
  src/meltano/core/setting_definition.py
Due: none

chore: Enable type checking in `meltano.core.schedule` (#7124)
  pyproject.toml
  src/meltano/core/schedule.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
