Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Update docs/src/_reference/ui.md
  docs/src/_reference/ui.md
Due: docs

Update docs/src/_reference/plugin-definition-syntax.md
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Add contributing docs to reference
  docs/src/_reference/ui.md
Due: docs

Add project_settings_service property for strict_env_var flag
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_settings_store.py
Due: none

Testing to see if new deps are source of test failure
  poetry.lock
  pyproject.toml
Due: meltano_base

testing without smart-open
  poetry.lock
  pyproject.toml
Due: meltano_base

removing boto3
  poetry.lock
  pyproject.toml
Due: meltano_base

removing azure
  poetry.lock
  pyproject.toml
Due: meltano_base

removing gcs
  poetry.lock
  pyproject.toml
Due: meltano_base

Update docs/src/_concepts/state_backends.md
  docs/src/_concepts/state_backends.md
Due: docs

fix: Persist `description` and `logo_url` to plugin lock files (#6935)
  src/meltano/core/plugin/base.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

Replace deprecated GitHub `set-output` directives
  .github/actions/docker-build-scan-push/action.yml
  .github/actions/validate-version-sequence/action.yml
  .github/workflows/docker_publish.yml
Due: none

chore: Replace deprecated GitHub `set-output` directives (#6974)
  .github/actions/docker-build-scan-push/action.yml
  .github/actions/validate-version-sequence/action.yml
  .github/workflows/docker_publish.yml
Due: none

Correct environment selection logic in meltano config command
  src/meltano/cli/config.py
  tests/meltano/cli/test_config.py
Due: none

chore: Replace remaining GitHub `set-output` directive
  .github/workflows/test.yml
Due: none

chore: Replace remaining GitHub `set-output` directive (#6976)
  .github/workflows/test.yml
Due: none

Link to Meltano Cloud from Production doc
  docs/src/_guide/production.md
Due: docs

Change "Run in" to "Deployment to"
  docs/src/_guide/production.md
Due: docs

docs: Link to Meltano Cloud from Production doc (#6977)
  docs/src/_guide/production.md
Due: docs

docs: Remove UI docs (#6955)
  docs/src/_concepts/plugins.md
  docs/src/_concepts/project.md
  docs/src/_contribute/api.md
  docs/src/_contribute/cli.md
  docs/src/_contribute/plugins.md
  docs/src/_contribute/prerequisites.md
  docs/src/_contribute/ui.md
  docs/src/_getting-started/meltano-at-a-glance.md
  docs/src/_guide/configuration.md
  docs/src/_guide/containerization.md
  docs/src/_guide/installation-guide.md
  docs/src/_guide/orchestration.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/production.md
  docs/src/_guide/troubleshooting.md
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/plugin-definition-syntax.md
  docs/src/_reference/settings.md
  docs/src/_reference/ui.md
  docs/src/_tutorials/custom-extractor.md
  docs/src/_tutorials/video-tutorials.md
Due: docs

docs: fix tap-github variant
  docs/src/_getting-started/part1.md
Due: docs

docs: fix tap-github (#6984)
  docs/src/_getting-started/part1.md
Due: docs

fix: List strings instead of enum objects as CLI options
  src/meltano/core/plugin/base.py
Due: none

fix: correct strict_env_var_mode flag check in plugin configs (#6971)
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_settings_store.py
Due: none

Chore: fix type hints for vars defaulting to `None`
  src/meltano/api/events/notification_events.py
  src/meltano/cli/__init__.py
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/behavior/versioned.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/container/container_service.py
  src/meltano/core/container/container_spec.py
  src/meltano/core/elt_context.py
  src/meltano/core/extract_utils.py
  src/meltano/core/logging/utils.py
  src/meltano/core/meltano_invoker.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_remove_service.py
  src/meltano/core/project.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/schedule_service.py
  src/meltano/core/select_service.py
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
  src/meltano/core/utils/__init__.py
Due: none

chore: Fix type hints for vars defaulting to `None` (#6988)
  src/meltano/api/events/notification_events.py
  src/meltano/cli/__init__.py
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/behavior/versioned.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/container/container_service.py
  src/meltano/core/container/container_spec.py
  src/meltano/core/elt_context.py
  src/meltano/core/extract_utils.py
  src/meltano/core/logging/utils.py
  src/meltano/core/meltano_invoker.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_remove_service.py
  src/meltano/core/project.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/schedule_service.py
  src/meltano/core/select_service.py
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
  src/meltano/core/utils/__init__.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

fix: List strings instead of enum objects as CLI options (#6986)
  src/meltano/core/plugin/base.py
Due: none

feat: `meltano install --force`
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/utils/__init__.py
  src/meltano/core/venv_service.py
  tests/meltano/cli/test_install.py
  tests/meltano/core/test_venv_service.py
Due: none

Remove unused util functions
  src/meltano/core/utils/__init__.py
Due: none

Document `meltano install --force`
  docs/src/_reference/command-line-interface.md
Due: docs

feat: `meltano install --force` (#6995)
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/meltano/cli/test_install.py
  tests/meltano/core/test_venv_service.py
Due: docs

Use `$GITHUB_ENV` for multi-line step output
  .github/workflows/docker_publish.yml
Due: none

Apply suggestions from code review
  src/meltano/cli/config.py
Due: none

ci: Use `$GITHUB_ENV` for multi-line step output (#7000)
  .github/workflows/docker_publish.yml
Due: none
