Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Show deprecated kinds in `meltano.yml` JSON schema
  src/meltano/schemas/meltano.schema.json
Due: none

Add -> create in tests
  src/cloud-cli/tests/cli/test_project.py
Due: none

meltano cloud to meltano-cloud
  docs/src/_cloud/platform.md
Due: docs

docs: meltano cloud to meltano-cloud (#7930)
  docs/src/_cloud/platform.md
Due: docs

cloud docs ssh key validate tip
  docs/src/_cloud/platform.md
Due: docs

set key file name to default
  docs/src/_cloud/platform.md
Due: docs

docs: cloud docs ssh key validate tip (#7931)
  docs/src/_cloud/platform.md
Due: docs

feat: Add "did you mean" CLI command name suggestions
  poetry.lock
  pyproject.toml
  src/meltano/cli/utils.py
Due: meltano_base

feat: Add "did you mean" CLI command name suggestions (#7932)
  poetry.lock
  pyproject.toml
  src/meltano/cli/utils.py
Due: meltano_base

update content
  docs/blog/2022-09-30-meltano-cloud-private-beta.mdx
  docs/blog/2023-03-30-meltano-cloud-private-beta.mdx
  docs/blog/2023-07-21-welcome-to-the-changelog.mdx
  docs/src/components/homepage/Features.js
  docs/src/pages/index.js
Due: docs

docs: meltano cloud to meltano-cloud (#7930)
  docs/docs/cloud/platform.md
Due: docs

docs: cloud docs ssh key validate tip (#7931)
  docs/docs/cloud/platform.md
Due: docs

Fix sidebar and hidden pages
  docs/docs/cloud/fees.md
  docs/docs/cloud/sandbox_environments.md
  docs/docs/cloud/security-policy.md
  docs/docs/cloud/sla.md
  docs/docs/cloud/support.md
  docs/docs/concepts/elt.md
  docs/docs/concepts/index.mdx
  docs/docs/contribute/api.md
  docs/docs/contribute/cli.md
  docs/docs/contribute/docs.md
  docs/docs/contribute/merge.md
  docs/docs/contribute/plugins.md
  docs/docs/contribute/prerequisites.md
  docs/docs/contribute/responsible-disclosure.md
  docs/docs/contribute/style.md
  docs/docs/contribute/telemetry.md
  docs/docs/contribute/tests.md
  docs/docs/guide/index.mdx
  docs/docs/reference/index.mdx
  docs/docs/reference/plugin-definition-syntax.md
  docs/docs/reference/ui.md
  docs/docs/tutorials/index.mdx
  docs/src/components/homepage/Features.js
Due: docs

update banner text and href
  docs/docusaurus.config.js
Due: docs

Update Poetry lockfile
  poetry.lock
Due: meltano_base

Update vulnerable packages
  docs/package-lock.json
Due: docs

sidebar icons update
  docs/docs/cloud/_category_.json
  docs/docs/concepts/_category_.json
  docs/docs/contribute/_category_.json
  docs/docs/guide/_category_.json
  docs/docs/reference/_category_.json
  docs/docs/tutorials/_category_.json
  docs/src/css/custom.css
  docs/src/theme/DocSidebarItem/Category/index.js
Due: docs

docs: rm ELT messaging, move things around (#7902)
  docs/src/_getting-started/meltano-at-a-glance.md
  docs/src/_getting-started/part1.md
  docs/src/_getting-started/part2.md
  docs/src/_getting-started/part3.md
  docs/src/_getting-started/part4.md
  docs/src/_guide/complete_tutorial.md
Due: docs

Update links
  docs/src/components/homepage/FindOutMore.js
  docs/src/theme/BlogLayout/index.js
Due: docs

Update edit url to add blob
  docs/docusaurus.config.js
Due: docs

Fix edit URL
  docs/docusaurus.config.js
Due: docs

docs: quick doc fixes (#7944)
  docs/docusaurus.config.js
Due: docs

docs: Douwe fixes
  docs/docs/getting-started/index.mdx
  docs/docs/getting-started/part4.mdx
  docs/docusaurus.config.js
Due: docs

chore: Trigger CodeQL check only on relevant code changes
  .github/workflows/codeql-analysis.yml
Due: none

Add failing test
  src/meltano/core/plugin_install_service.py
  tests/meltano/core/test_plugin_install_service.py
Due: none

Use `shlex.split` to get pip install args
  src/meltano/core/plugin_install_service.py
Due: none

chore: Trigger CodeQL check only on relevant code changes (#7946)
  .github/workflows/codeql-analysis.yml
Due: none

docs: Douwe fixes (#7945)
  docs/docs/getting-started/index.mdx
  docs/docs/getting-started/part4.mdx
  docs/docusaurus.config.js
Due: docs

fix: Support PEP 440 direct references in `pip_url` (#7947)
  src/meltano/core/plugin_install_service.py
  tests/meltano/core/test_plugin_install_service.py
Due: none

Address mypy issues
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

docs: Update docusaurus.config.js
  docs/docusaurus.config.js
Due: docs

docs: Update docusaurus.config.js (#7948)
  docs/docusaurus.config.js
Due: docs

update(doc): Fix logging example
  docs/docs/guide/logging.md
Due: docs

docs: Fix logging example (#7950)
  docs/docs/guide/logging.md
Due: docs

docs: update changelog
  docs/blog/2023-07-21-welcome-to-the-changelog.mdx
Due: docs
