Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

--amend
  tests/meltano/cloud/cli/test_config.py
Due: none

Drop `_target_schema` extra
  src/meltano/core/plugin/singer/target.py
  src/meltano/schemas/meltano.schema.json
Due: none

fix!: Remove `target_schema` extra
  docs/docs/concepts/plugins.mdx
  docs/docs/guide/configuration.md
  docs/docs/guide/integration.md
  docs/docs/guide/transformation.md
  docs/docs/guide/v3-migration.md
  tests/fixtures/core.py
Due: docs

fix!: Remove `target_schema` loader extra (#8041)
  docs/docs/concepts/plugins.mdx
  docs/docs/guide/configuration.md
  docs/docs/guide/integration.md
  docs/docs/guide/transformation.md
  docs/docs/guide/v3-migration.md
  src/meltano/core/plugin/singer/target.py
  src/meltano/schemas/meltano.schema.json
  tests/fixtures/core.py
Due: docs

fix: Ensure migration lock file is closed after read
  src/meltano/core/migration_service.py
Due: none

Fix `click_run_async` -> `run_async`
  src/meltano/cli/elt.py
Due: none

fix: Ensure elt/run log file is closed after read
  src/meltano/core/logging/output_logger.py
Due: none

Ensure mypy runs on the module
  noxfile.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
Due: none

Ignore missing import for google
  src/meltano/core/state_store/google.py
Due: none

Fix logical error
  src/meltano/core/state_store/google.py
Due: none

Check for missing connection string and container name
  src/meltano/core/state_store/azure.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

fix: Ensure elt/run log file is closed (#8043)
  src/meltano/core/logging/output_logger.py
Due: none

fix: Ensure migration lock file is closed after read (#8042)
  src/meltano/core/migration_service.py
Due: none

Revert "chore: Release v2.21.0 (#8036)"
  CHANGELOG.md
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: none

chore: Revert "chore: Release v2.21.0" (#8048)
  CHANGELOG.md
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: none

Call migrate_state in upgrade
  src/meltano/core/upgrade_service.py
Due: none

Fix failing test
  tests/meltano/cli/test_upgrade.py
Due: none

Update `poetry` to `1.6.1`
  .github/workflows/resources/constraints.txt
  .pre-commit-config.yaml
Due: none

chore(deps): Update `poetry` to `1.6.1` (#8053)
  .github/workflows/resources/constraints.txt
  .pre-commit-config.yaml
Due: none

Update `poetry-core` to `1.7.0`
  pyproject.toml
Due: none

fix(cloud): Validate ULID inputs
  src/meltano/cloud/cli/project.py
  tests/meltano/cloud/cli/test_project.py
Due: none

chore(deps): Update `poetry-core` to `1.7.0` (#8054)
  pyproject.toml
Due: none

Fix mypy ignores
  src/meltano/cloud/cli/deployment.py
Due: none

Improve error message when `python` is a number
  src/meltano/core/venv_service.py
Due: none

Use `virtualenv -p` option
  src/meltano/core/venv_service.py
Due: none

Address lint issues
  src/meltano/core/venv_service.py
Due: none

fix(cloud): Validate ULID inputs (#8055)
  src/meltano/cloud/cli/deployment.py
  src/meltano/cloud/cli/project.py
  tests/meltano/cloud/cli/test_project.py
Due: none

Propagate `pyenv` error message
  src/meltano/cli/utils.py
  src/meltano/core/upgrade_service.py
  src/meltano/core/venv_service.py
Due: none

Add debugging line
  src/meltano/core/upgrade_service.py
Due: none

Handle test with non-editable install
  src/meltano/core/upgrade_service.py
  tests/meltano/cli/test_upgrade.py
Due: none

Add event payload docs
  docs/docs/cloud/concepts.md
  docs/docs/cloud/platform.md
Due: docs

review comments
  docs/docs/cloud/cloud-cli.mdx
  src/meltano/cloud/cli/config.py
Due: docs

feat: Add `python` setting (#8020)
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
  integration/example-library/meltano-custom-python/ending-meltano.yml
  integration/example-library/meltano-custom-python/index.md
  integration/example-library/meltano-custom-python/meltano.yml
  poetry.lock
  pyproject.toml
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/upgrade_service.py
  src/meltano/core/venv_service.py
  src/meltano/schemas/meltano.schema.json
  tests/fixtures/core.py
  tests/meltano/cli/test_add.py
  tests/meltano/core/hub/test_meltano_hub_service.py
  tests/meltano/core/test_venv_service.py
Due: meltano_base, docs

display filters, review comments taylor
  docs/docs/cloud/cloud-cli.mdx
  src/meltano/cloud/cli/config.py
Due: docs

fix: Permit selection of project by unambiguous name
  src/meltano/cloud/cli/project.py
  tests/meltano/cloud/cli/test_project.py
Due: none

Address type issues
  src/meltano/cloud/cli/project.py
Due: none

Apply suggestions from code review
  docs/docs/guide/v3-migration.md
  noxfile.py
Due: docs

Remove duplicate Cloud CLI docs
  docs/docs/reference/cloud-cli.md
Due: docs

fix: Permit selection of project by unambiguous name (#8060)
  src/meltano/cloud/cli/project.py
  tests/meltano/cloud/cli/test_project.py
Due: none
