Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Fix missing annotation
  src/meltano/core/elt_context.py
Due: none

test: Test on Python 3.13
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tests/meltano/core/tracking/test_exception.py
Due: meltano_base

feat: Python 3.13 is now supported (#8618)
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tests/meltano/core/tracking/test_exception.py
Due: meltano_base

chore: Use the `packaging` scope for Dependabot updates of runtime dependencies so they appear in the changelog and release notes
  .github/dependabot.yml
  .github/semantic.yml
Due: none

chore: Use the `packaging` scope for Dependabot updates of runtime dependencies so they appear in the changelog and release notes (#8837)
  .github/dependabot.yml
  .github/semantic.yml
Due: none

chore: Bump `poetry-core` to 1.9.1
  pyproject.toml
Due: none

chore: Bump package version
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.6.0b1 (#8842)
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

added --full-refresh envvar
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
Due: docs

Mention env var in other places
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/reference/command-line-interface.md
Due: docs

feat: Support an environment variable for the `--full-refresh` flag (#8844)
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
Due: docs

Update Python version references
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/installation-guide.md
Due: docs

Test on Amazon Linux container
  .github/workflows/test.yml
  tests/meltano/core/test_project_init_service.py
  tests/meltano/core/tracking/test_exception.py
Due: none

feat: Add Content-Type to S3 state file uploads
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Make Ruff happy
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_singer.py
  tests/meltano/core/logging/test_output_logger.py
Due: none

feat: Support state backend and setting add-ons
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/addon.py
  src/meltano/core/config_service.py
  src/meltano/core/state_store/__init__.py
  tests/fixtures/custom_addon.py
  tests/fixtures/state_backends.py
  tests/meltano/core/behavior/test_addon.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base

Make Azure state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/azure.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make S3 state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make GCS state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/google.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make local filesystem state backend a native add-on
  pyproject.toml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/filesystem.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

refactor: Decoupled the `JobState` ORM model of the system db from state store implementations
  src/meltano/core/job_state.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/base.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/state_store/test_db.py
  tests/meltano/core/state_store/test_filesystem.py
Due: none

feat(CLI): Added the logger name log messages
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
Due: none

feat: Use Python 3.11 for the default Meltano Docker image tag
  .github/workflows/docker_publish.yml
Due: none

feat: Added a `--log-format` option as a shorcut to quickly change the format of logs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.mdx
  src/meltano/cli/cli.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/utils.py
  tests/meltano/core/logging/test_logging_utils.py
Due: docs

fix: Using the `--force` flag of `meltano install` no longer causes the installation to fail
  src/meltano/core/plugin_install_service.py
Due: none

fix: Using the `--force` flag of `meltano install` no longer causes plugin installation to crash (#8852)
  src/meltano/core/plugin_install_service.py
Due: none

ci: Use Postgres 17 in CI
  .github/workflows/test.yml
Due: none

chore: Release v3.6.0b2 (#8855)
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

Test with Postgres 13
  .github/workflows/test.yml
Due: none

Update docs
  docs/docs/concepts/project.md
Due: docs

packaging: Pin `croniter` to 3.0.4
  poetry.lock
  pyproject.toml
Due: meltano_base

Update pyproject.toml
  pyproject.toml
Due: none

packaging: Pin `croniter` to 3.0.4 (#8865)
  poetry.lock
  pyproject.toml
Due: meltano_base

making missing loader error a bit friendly
  src/meltano/core/block/parser.py
  tests/meltano/cli/test_run.py
Due: none

feat: Add Content-Type to S3 state file uploads (#8735)
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
