Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

chore: Address all non-doc lint issues in `src/meltano/core/*/*.py`
  src/meltano/core/job/finder.py
  src/meltano/core/job/job.py
  src/meltano/core/runner/__init__.py
  src/meltano/core/runner/singer.py
Due: none

chore: Address all non-doc lint issues in `src/meltano/core/*.py` (1/2)
  src/meltano/core/connection_service.py
  src/meltano/core/db.py
  src/meltano/core/extract_utils.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin_remove_service.py
  src/meltano/core/plugin_test_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/schedule_service.py
Due: none

chore: Address all non-doc lint issues in `src/meltano/core/*.py` (2/2)
  src/meltano/core/select_service.py
  src/meltano/core/setting.py
  src/meltano/core/sqlalchemy.py
  src/meltano/core/state_service.py
  src/meltano/core/task_sets_service.py
  src/meltano/core/transform_add_service.py
  src/meltano/core/validation_service.py
  src/meltano/core/venv_service.py
Due: none

chore: Address all non-doc lint issues in `src/meltano/oauth/`
  src/meltano/oauth/app.py
  src/meltano/oauth/config.py
Due: none

Update env var tests to be in line with correct reading of spec.
  tests/meltano/core/test_environment_variables.py
Due: none

build: Use `sass` instead of the deprecated `node-sass` library (#6484)
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

Log warning message updated to be more clear and give greater context
  src/meltano/core/block/parser.py
Due: none

update test to catch two senarios mapper plugin name and mapper plugin name same as mappings name
  tests/meltano/cli/test_run.py
Due: none

Remove MySQL code
  .github/workflows/test.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/migrations/utils/dialect_typing.py
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/367228df6a43_add_trigger_to_job.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/a3e2b0a4937d_add_login_audit_columns.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
  src/meltano/migrations/versions/d135f52a6f49_add_last_heartbeat_at_column_to_job.py
  src/meltano/migrations/versions/e4fbabc3fed6_add_last_activity_at_column.py
  tests/conftest.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/mysql.py
Due: meltano_base

feat: Add support for MySQL
  .github/workflows/test.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/migrations/versions/5b43800443d1_rename_job_to_job_run_and_job_id_to_job_.py
  tests/conftest.py
  tests/fixtures/db/mysql.py
Due: meltano_base

fix: Validating Mapper and Mappings names and alerting if necessary (#6433)
  src/meltano/core/block/parser.py
  tests/meltano/cli/test_run.py
Due: none

Add note regarding default environments or execution vs config
  docs/src/_concepts/environments.md
  docs/src/_reference/command-line-interface.md
Due: docs

Add note regarding default environments or execution vs config (#6531)
  docs/src/_concepts/environments.md
  docs/src/_reference/command-line-interface.md
Due: docs

Remove unused xfail param + comments
  tests/meltano/core/test_environment_variables.py
Due: none

fix: Timeout Snowplow requests
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Collect coverage from threads
  pyproject.toml
Due: none

fix: Map original variants to the default in Hub
  src/meltano/core/hub/client.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

fix(core): Update env var tests to be in line with correct reading of spec. (#6530)
  tests/meltano/core/test_environment_variables.py
Due: none

docs: Update broken doc link in `meltano.schema.json`
  schema/meltano.schema.json
Due: none

DB Engine URI Readded where we were before this PR as this works best, shouldn't have ever touched this
  tests/fixtures/db/__init__.py
Due: none

Back to un_engine_uri as we have a cached project with DB set that we don't want to play with
  tests/fixtures/db/__init__.py
  tests/meltano/cli/test_install.py
Due: none

Fix original dbt transform guidance
  docs/src/_guide/v2-migration.md
Due: docs

Fix original dbt transform guidance (#6538)
  docs/src/_guide/v2-migration.md
Due: docs

First pass at UX guidelines
  docs/src/_contribute/cli.md
Due: docs

Clean up
  docs/src/_contribute/cli.md
Due: docs

More cleanup
  docs/src/_contribute/cli.md
Due: docs

Spelling
  docs/src/_contribute/cli.md
Due: docs

Windows workaround for multiline runs while calling exectuables
  .github/workflows/test.yml
Due: none

fix yaml calls to old lib impl
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/transform_add_service.py
Due: none

Enable Windows Python versions to show failures in CI
  .github/workflows/test.yml
Due: none

change from symlink_to() to os.link() for windows
  src/meltano/core/project.py
Due: none

reverted to symlink_to and added admin privilege checks
  src/meltano/core/project.py
Due: none

Update cli.md
  docs/src/_contribute/cli.md
Due: docs

Explain how to use un_engine_uri and why it exists
  tests/fixtures/db/__init__.py
Due: none

chore: Upgrade to `pytest-docker` v1
  poetry.lock
  pyproject.toml
Due: meltano_base

docs: Update broken doc link in `meltano.schema.json` (#6535)
  schema/meltano.schema.json
Due: none

fix(core): Timeout Snowplow requests (#6533)
  pyproject.toml
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Update `poetry.lock` with Poetry `1.1.14`
  poetry.lock
Due: meltano_base

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
