Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

update secrets verbiage
  docs/src/_cloud/security.md
Due: docs

Update docs/src/_cloud/security.md
  docs/src/_cloud/security.md
Due: docs

docs: Updates for Meltano Cloud GitHub App permissions and remove Alpha references (#7585)
  docs/src/_cloud/api_reference.md
  docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/known_issues.md
  docs/src/_cloud/reserved_variables.md
  docs/src/_cloud/sandbox_environments.md
  docs/src/_cloud/security.md
Due: docs

Fix manifest integration test
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: none

chore: Bump `virtualenv` to `v20.22.0`
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Bump `virtualenv` to `v20.22.0` (#7591)
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Git ignore Flakeheaven cache (#7554)
  .gitignore
Due: none

install using schedule name
  src/meltano/cli/install.py
Due: none

revert else change
  src/meltano/cli/install.py
Due: none

chore: Use `psycopg[binary]`
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Due: meltano_base

fix: Correctly paginate logs
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/tests/cli/test_logs.py
Due: none

fix: Correctly paginate logs (#7596)
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/tests/cli/test_logs.py
Due: none

chore: Use PyPI trusted publisher
  .github/workflows/build.yml
Due: none

add unit test for schedule install
  tests/meltano/cli/test_install.py
Due: none

add docs for schedule install
  docs/src/_reference/command-line-interface.md
Due: docs

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

chore: Add initial stale bot config
  .github/stale.yml
Due: none

Apply suggestions from code review
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/install.py
  tests/meltano/cli/test_install.py
Due: docs

changelog grooming
  .gitignore
  CHANGELOG.md
Due: none

gitignore
  .gitignore
Due: none

fix build workflow permissions
  .github/workflows/build.yml
Due: none

use OIDC in stead of key
  .github/workflows/build.yml
Due: none

chore: Use PyPI trusted publisher (#7598)
  .github/workflows/build.yml
Due: none

Revert "chore: Release v2.18.0 (#7602)"
  .gitignore
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

chore: Revert "chore: Release v2.18.0" (#7606)
  .gitignore
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

add publishing environment to build.yml pypi publish
  .github/workflows/build.yml
Due: none

test has unordered assert, so limit to just dbt plugin
  tests/meltano/cli/test_install.py
Due: none

reduce complexity by pulling logic out to standalone method
  src/meltano/cli/install.py
Due: none

Update src/meltano/cli/install.py
  src/meltano/cli/install.py
Due: none

Add dependencies missing for arm64 docker
  docker/meltano/Dockerfile
Due: none

feat: Install plugins using schedule name (#7594)
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/install.py
  tests/meltano/cli/test_install.py
Due: docs

chore: Make Docker image multi-arch
  .github/actions/docker-build-scan-push/action.yml
Due: none

Update stale.yml
  .github/stale.yml
Due: none

chore: Add initial stale bot config (#7600)
  .github/stale.yml
Due: none

Update action.yml
  .github/actions/docker-build-scan-push/action.yml
Due: none
