Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

set bash as default shell & source .bashrc for asdf
  .gitlab/ci/license_scanning.gitlab-ci.yml
  license_finder/Dockerfile
Due: none

workaround for gitlab ci error
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

fix docker entrypoint/cmd again
  .gitlab/ci/license_scanning.gitlab-ci.yml
  license_finder/Dockerfile
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: none

changelog grooming
  CHANGELOG.md
Due: none

Ensure multi-yaml `include_paths` are correctly referenced even if Meltano is not called from the root directory.
  CHANGELOG.md
  poetry.lock
  src/meltano/core/project_files.py
  tests/meltano/core/test_project_files.py
Due: meltano_base

reshim in script context
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

add prepare back in
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

Find plugins by mapping name
  src/meltano/core/project_plugins_service.py
  tests/fixtures/core.py
  tests/meltano/core/test_project_plugins_service.py
Due: none

Release v1.92.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

cleaned up code and rebuilt edit buttons in pipeline
  src/webapp/src/components/pipelines/PipelineSchedules.vue
  src/webapp/src/components/pipelines/ScheduleTableHead.vue
  src/webapp/src/store/modules/orchestration.js
  src/webapp/src/utils/font-awesome.js
Due: none

remove asdf install
  .gitlab/ci/license_scanning.gitlab-ci.yml
  license_finder/Dockerfile
Due: none

re-add entrypoint
  .gitlab/ci/license_scanning.gitlab-ci.yml
  license_finder/Dockerfile
Due: none

cut out requirements.txt annotations/args
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

typo
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

remove failing dependency
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

docs: fix broken link in cli reference for 'environment'
  docs/src/docs/command-line-interface.md
Due: docs

set log level error
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

still tying to silence logging
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

Plugin Invoker records config override
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  src/meltano/core/plugin/singer/mapper.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/cli/test_run.py
Due: none

Use config override if present, otherwise fall back to the usual processed config
  src/meltano/core/plugin/singer/mapper.py
Due: none

handle long logs
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

Fix broken link in CLI reference for `environment`
  docs/src/docs/command-line-interface.md
Due: docs

more exceptions
  .gitlab/ci/license_scanning.gitlab-ci.yml
Due: none

Test duplicate mapping name and unknown mapping name
  src/meltano/core/block/parser.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/cli/test_run.py
Due: none

Fix broken link in installation guide
  docs/src/_guide/installation.md
Due: docs

Fix broken link for speedrun in installation guide
  docs/src/_guide/installation.md
Due: docs

Few additional tests
  tests/meltano/cli/test_run.py
  tests/meltano/core/plugin/singer/test_mapper.py
Due: none

Update discovery.schema.json
  schema/discovery.schema.json
  tests/meltano/cli/test_run.py
Due: none

Update meltano.schema.json
  schema/discovery.schema.json
  schema/meltano.schema.json
Due: none

feat: support dbt v1.0
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Track mapper exit codes
  src/meltano/core/block/extract_load.py
  tests/meltano/cli/test_run.py
Due: none

Bump discovery.yml version
  src/meltano/core/bundle/discovery.yml
Due: docs

clean up
  src/meltano/core/block/extract_load.py
  src/meltano/core/plugin/singer/mapper.py
Due: none

Bump VERSION in plugin_discovery_service.py as well
  src/meltano/core/plugin_discovery_service.py
Due: none

chore: install all built-in adapters
  src/meltano/core/bundle/discovery.yml
Due: docs

fix: process updated schedule fields
  src/meltano/api/controllers/orchestrations.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
