Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

docs: Add JSON Schema information (#8011)
  docs/docs/concepts/project.md
Due: docs

Update project create test
  tests/meltano/cloud/cli/test_project.py
Due: none

Update src/meltano/cloud/cli/project.py
  src/meltano/cloud/cli/project.py
Due: none

PR feedback
  tests/meltano/cloud/cli/test_project.py
Due: none

Add project create to cloud-cli docs.
  docs/docs/cloud/cloud-cli.mdx
Due: docs

More flexible expected stdout output for project create test
  tests/meltano/cloud/cli/test_project.py
Due: none

ignore type checks for yaspin
  src/meltano/cloud/cli/project.py
Due: none

fix: Display a better error message when database URI is null
  src/meltano/core/db.py
  tests/meltano/core/test_db_connection.py
Due: none

feat: Support `python` setting for plugins
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/venv_service.py
  src/meltano/schemas/meltano.schema.json
Due: none

Add tests & fix type issues
  poetry.lock
  pyproject.toml
  src/meltano/core/plugin_invoker.py
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: meltano_base

Fix `cached_property` import for Python 3.7
  src/meltano/core/venv_service.py
Due: none

Restore FF setting and document migration steps
  docs/docs/guide/v3-migration.md
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/core/bundle/settings.yml
  src/meltano/core/settings_service.py
  src/meltano/schemas/meltano.schema.json
Due: docs

Add h4 header
  docs/docs/guide/v3-migration.md
Due: docs

fix: Display a better error message when database URI is null (#8015)
  src/meltano/core/db.py
  tests/meltano/core/test_db_connection.py
Due: none

Update docs/docs/guide/v3-migration.md
  docs/docs/guide/v3-migration.md
Due: docs

chore: Fix commitizen
  pyproject.toml
Due: none

chore: Fix commitizen (#8021)
  pyproject.toml
Due: none

fix!: Always require plugin lock files (#8007)
  docs/docs/guide/v3-migration.md
  integration/example-library/meltano-annotations/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-annotations/plugins/loaders/target-jsonl--andyh1203.lock
  integration/example-library/meltano-basics/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-basics/plugins/loaders/target-jsonl--andyh1203.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-cloudwatch--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-github--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-google-analytics--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-meltanohub--autoidm.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-slack--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-snowflake--transferwise.lock
  integration/example-library/meltano-manifest/plugins/extractors/tap-spreadsheets-anywhere--ets.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-apprise--autoidm.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-snowflake--transferwise.lock
  integration/example-library/meltano-manifest/plugins/loaders/target-yaml--meltanolabs.lock
  integration/example-library/meltano-manifest/plugins/mappers/meltano-map-transformer--meltano.lock
  integration/example-library/meltano-manifest/plugins/utilities/airflow--apache.lock
  integration/example-library/meltano-manifest/plugins/utilities/dbt-snowflake--dbt-labs.lock
  integration/example-library/meltano-manifest/plugins/utilities/great_expectations--great-expectations.lock
  integration/example-library/meltano-manifest/plugins/utilities/sqlfluff--sqlfluff.lock
  integration/example-library/meltano-manifest/plugins/utilities/superset--apache.lock
  integration/example-library/meltano-migrations/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-migrations/plugins/loaders/target-sqlite--meltanolabs.lock
  integration/example-library/meltano-state-local/plugins/extractors/tap-gitlab--meltanolabs.lock
  integration/example-library/meltano-state-local/plugins/loaders/target-jsonl--andyh1203.lock
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/core/bundle/settings.yml
  src/meltano/core/project_plugins_service.py
  tests/meltano/core/test_plugin_install_service.py
  tests/meltano/core/test_project_plugins_service.py
Due: docs

chore: Run `pytest` in parallel
  pyproject.toml
Due: none

chore: Run `pytest` in parallel (#8027)
  pyproject.toml
Due: none

Add top-level `python` property
  src/meltano/cli/utils.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_venv_service.py
Due: none

Support `--python` in CLI
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  tests/meltano/cli/test_add.py
Due: none

Add integration test
  integration/example-library/meltano-custom-python/ending-meltano.yml
  integration/example-library/meltano-custom-python/index.md
  integration/example-library/meltano-custom-python/meltano.yml
Due: none

Update docs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
Due: docs

Try using a clean project for tests
  tests/meltano/cli/test_add.py
Due: none

Run `test_add_with_python_version` last within module
  tests/meltano/cli/test_add.py
Due: none

Use alternative mock tap
  tests/fixtures/core.py
  tests/meltano/cli/test_add.py
Due: none

Address lint issues
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/cli/test_add.py
Due: none

Fix number of extractors in tests
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

fix: Redact DB password from logs
  src/meltano/core/db.py
Due: none

Handle token and no auth cases
  src/meltano/core/db.py
Due: none

Handle no hostname case
  src/meltano/core/db.py
Due: none

fix: Redact DB password from logs (#8031)
  src/meltano/core/db.py
Due: none

add list and modify update endpoint for new
  src/meltano/cloud/api/types.py
  src/meltano/cloud/cli/config.py
  tests/meltano/cloud/cli/test_config.py
Due: none

finish up documentation for notification
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  src/meltano/cloud/cli/config.py
Due: docs

taylor review comments, improve docs
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
Due: docs

chore: Bump package version
  CHANGELOG.md
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: none

remove filters from list
  docs/docs/cloud/cloud-cli.mdx
  src/meltano/cloud/cli/config.py
Due: docs
