Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix: List only the state IDs within the specified prefix in the S3 URI (#8658)
  noxfile.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  src/meltano/core/upgrade_service.py
  tests/meltano/core/state_store/test_filesystem.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix(cli): Emit a clearer error message when trying to set/unset an unknown setting in `.env` (#8689)
  src/meltano/cli/__init__.py
  src/meltano/cli/config.py
  src/meltano/cli/interactive/config.py
  src/meltano/cli/utils.py
  src/meltano/core/environment.py
  src/meltano/core/error.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/test_settings_store.py
Due: none

chore: Enable `PERF` Ruff rules
  pyproject.toml
  src/meltano/core/behavior/hookable.py
  src/meltano/core/db.py
  src/meltano/core/manifest/jsonschema.py
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin_location_remove.py
  src/meltano/core/project_files.py
  src/meltano/core/runner/singer.py
  src/meltano/core/settings_service.py
Due: none

chore: Enable `PERF` Ruff rules (#8710)
  pyproject.toml
  src/meltano/core/behavior/hookable.py
  src/meltano/core/db.py
  src/meltano/core/manifest/jsonschema.py
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin_location_remove.py
  src/meltano/core/project_files.py
  src/meltano/core/runner/singer.py
  src/meltano/core/settings_service.py
Due: none

chore: Remove `bumpversion` references
  .github/CODEOWNERS
  .github/actions/validate-version-sequence/action.yml
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Fix types in `meltano.core.plugin_install_service`
  pyproject.toml
  src/meltano/core/plugin_install_service.py
  src/meltano/core/settings_service.py
Due: none

chore: Remove `bumpversion` references (#8717)
  .github/CODEOWNERS
  .github/actions/validate-version-sequence/action.yml
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Fix types in `meltano.core.plugin_install_service` (#8718)
  pyproject.toml
  src/meltano/core/plugin_install_service.py
  src/meltano/core/settings_service.py
Due: none

chore: Filter "Unknown setting" warnings in tests
  tests/meltano/cli/test_config.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/test_project_settings_service.py
Due: none

chore: Filter "Unknown setting" warnings in tests (#8719)
  tests/meltano/cli/test_config.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/test_project_settings_service.py
Due: none

chore: Enable mypy on `meltano.core.select_service`
  pyproject.toml
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
Due: none

chore: Enable mypy on `meltano.core.select_service` (#8720)
  pyproject.toml
  src/meltano/cli/select.py
  src/meltano/core/select_service.py
Due: none

docs: Added instructions for installing Meltano with uv
  docs/docs/getting-started/installation.mdx
Due: docs

Remove dangling script block 🤨
  docs/docs/getting-started/installation.mdx
Due: docs

docs: Added instructions for installing Meltano with uv (#8721)
  docs/docs/getting-started/installation.mdx
Due: docs

chore: Bump package version
  .github/ISSUE_TEMPLATE/bug.yml
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.5.1 (#8723)
  .github/ISSUE_TEMPLATE/bug.yml
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

fix: Valid options are now printed for the `--interval` option of the schedule subcommand
  src/meltano/cli/schedule.py
Due: none

refactor: Use `uv venv` instead of `uv virtualenv` alias
  src/meltano/core/venv_service.py
Due: none

fix: Valid options are now printed for the `--interval` option of the schedule subcommand (#8731)
  src/meltano/cli/schedule.py
Due: none

refactor: Use `uv venv` instead of `uv virtualenv` alias (#8732)
  src/meltano/core/venv_service.py
Due: none

Use a generator for logging features
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: none

Remove from `structlog.configure`
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
Due: none

Update docs
  docs/docs/guide/logging.md
Due: docs

ci: Use `include-hidden-files: true` to upload coverage artifacts
  .github/workflows/test.yml
Due: none

ci: Use `include-hidden-files: true` to upload coverage artifacts (#8745)
  .github/workflows/test.yml
Due: none

refactor: Move `install_plugins` to `meltano.core.plugin_install_service`
  src/meltano/cli/install.py
  src/meltano/cli/params.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/upgrade_service.py
Due: none

refactor: Move `install_plugins` to `meltano.core.plugin_install_service` (#8748)
  src/meltano/cli/install.py
  src/meltano/cli/params.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/upgrade_service.py
Due: none

docs: Updated docs to reference `meltano-dbt-ext` PyPI distribution
  docs/docs/getting-started/part3.mdx
  integration/example-library/meltano-manifest/plugins/utilities/dbt-snowflake--dbt-labs.lock
  integration/example-library/meltano-manifest/transformers.meltano.yml
  integration/example-library/meltano-run/ending-meltano.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: docs

docs: Updated docs to reference `meltano-dbt-ext` PyPI distribution (#8756)
  docs/docs/getting-started/part3.mdx
  integration/example-library/meltano-manifest/plugins/utilities/dbt-snowflake--dbt-labs.lock
  integration/example-library/meltano-manifest/transformers.meltano.yml
  integration/example-library/meltano-run/ending-meltano.yml
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
Due: docs

refactor: Use `JobState.merge_partial` instead of `meltano.core.utils.merge`
  src/meltano/core/state_store/db.py
Due: none

Add test
  tests/meltano/core/state_store/test_db.py
Due: none

Remove redundant assignment
  src/meltano/core/job_state.py
Due: none

Use `deepcopy` to avoid testing equality of identical objects
  src/meltano/core/job_state.py
  src/meltano/core/state_store/db.py
  tests/meltano/core/state_store/test_db.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
