Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Fix referenced level
  docs/src/_tutorials/logging.md
Due: docs

Remove left over level
  docs/src/_tutorials/logging.md
Due: docs

Add sample large yaml files for testing
  tests/fixtures/large_config_project/meltano.yml
  tests/fixtures/large_config_project/schedule.yml
Due: none

Fix `__hash__` and `__eq__` methods of `IdHashBox`
  src/meltano/core/behavior/canonical.py
Due: none

Remove Meltano 2.0 banner on docs (#6646)
  docs/_config.yml
Due: docs

docs: Update Custom Extractor tutorial to use an editable install
  docs/src/_tutorials/custom-extractor.md
Due: docs

docs: Update Custom Extractor tutorial to use an editable install (#6650)
  docs/src/_tutorials/custom-extractor.md
Due: docs

fix(deps): Require Flask < 2.2
  poetry.lock
  pyproject.toml
Due: meltano_base

Update docs/src/_tutorials/logging.md
  docs/src/_tutorials/logging.md
Due: docs

tests for empty meltano.yml
  tests/fixtures/fs.py
  tests/meltano/cli/test_cli.py
Due: none

fix: error handling on project init
  CHANGELOG.md
  src/meltano/core/project_init_service.py
Due: none

Except other errors and not OSError
  src/meltano/core/project_init_service.py
Due: none

Format test yaml files
  tests/fixtures/large_config_project/meltano.yml
  tests/fixtures/large_config_project/schedule.yml
Due: none

Update tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_cli.py
Due: none

PR feedback
  docs/src/_tutorials/logging.md
Due: docs

Move to guide section
  docs/src/_guide/logging.md
Due: docs

Fix lint errors, catch unhandled expections
  CHANGELOG.md
  src/meltano/core/project_init_service.py
Due: none

Call proper `Canonical` subclass method
  src/meltano/core/behavior/canonical.py
  src/meltano/core/plugin/command.py
  src/meltano/core/project_files.py
  src/meltano/core/yaml.py
  tests/meltano/core/behavior/test_canonical.py
Due: none

Add tests for ProjectInitService
  tests/meltano/core/test_project_init_service.py
Due: none

docs: logging configuration guide (#6648)
  docs/src/_guide/logging.md
Due: docs

Add `Project.clear_cache`
  src/meltano/core/project.py
  tests/meltano/cli/test_invoke.py
Due: none

Fix `test_remove_environment` and `test_list_environments`
  src/meltano/core/environment_service.py
Due: none

Add new tests for STRICT_ENV_VAR_MODE, use project settings service
  src/meltano/core/plugin_invoker.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_environment_variables.py
Due: none

Fix `test_get_plugin`
  src/meltano/core/config_service.py
Due: none

Fix `TestTaskSetsService::test_remove`
  src/meltano/core/schedule_service.py
  src/meltano/core/task_sets_service.py
Due: none

Make test large YAML file smaller
  tests/fixtures/large_config_project/meltano.yml
  tests/fixtures/large_config_project/schedule.yml
Due: none

Add basic performance test for project with large YAML files
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/fixtures/utils.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_config.py
Due: none

Set acceptable time in basic perf test higher
  tests/meltano/cli/test_cli.py
Due: none

test(core): Remove xfail markers from passing tracking tests on Windows
  tests/meltano/core/tracking/test_tracker.py
Due: none

test(core): Remove xfail markers from passing tracking tests on Windows (#6658)
  tests/meltano/core/tracking/test_tracker.py
Due: none

linting
  src/meltano/core/plugin_invoker.py
  src/meltano/core/utils/__init__.py
Due: none

Fix extra newlines added on Windows
  src/meltano/core/yaml.py
Due: none

remove unnecessary tests
  tests/meltano/cli/test_cli.py
Due: none

docs update
  docs/src/_concepts/environments.md
  docs/src/_concepts/project.md
  docs/src/_reference/settings.md
Due: docs

Apply suggestions from code review
  docs/src/_concepts/project.md
Due: docs

fix: Raise exception when meltano.yml is empty (#6627)
  src/meltano/core/error.py
  src/meltano/core/project.py
  tests/fixtures/fs.py
  tests/meltano/cli/test_cli.py
Due: none

docs: update custom extractor tutorial to use pip_url and editable install (#6650)
  docs/src/_tutorials/custom-extractor.md
Due: docs

fix: Correct STRICT_ENV_VAR_MODE behavior (#6656)
  src/meltano/core/plugin_invoker.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_environment_variables.py
Due: none
