Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

fix cloud cli tests if env vars set
  src/cloud-cli/tests/conftest.py
Due: none

Delete netlify.toml
  netlify.toml
Due: none

navigation desktop
  docs/docusaurus.config.js
  docs/src/components/homepage/Features.js
  docs/src/components/homepage/FindOutMore.js
  docs/src/components/homepage/UseCases.js
  docs/src/components/homepage/usecases.module.scss
  docs/src/css/custom.css
  docs/tailwind.config.js
Due: docs

remove extra space
  src/cloud-cli/tests/conftest.py
Due: none

fix: Fix Cloud-cli tests if env variables are set. (#7843)
  src/cloud-cli/tests/conftest.py
Due: none

Add @manual and @none as aliases for the @once interval
  docs/src/_reference/command-line-interface.md
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/meltano/core/schedule.py
  tests/meltano/core/test_schedule_service.py
Due: docs

Fix formatting for code blocks in a div
  docs/src/_reference/command-line-interface.md
Due: docs

Add new organization defaults format
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

feat: Add aliases for the @once schedule interval (#7846)
  docs/src/_reference/command-line-interface.md
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/meltano/core/schedule.py
  tests/meltano/core/test_schedule_service.py
Due: docs

add tests and cleanup lint issues
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/tests/cli/test_deployment.py
  src/cloud-cli/tests/cli/test_project.py
Due: none

Add set default deployment on first create and tests
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

fix accessing defaults and mypy
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

Address lint issues
  src/meltano/core/runner/singer.py
Due: none

Fix help message text for the deployment name in `meltano cloud deployment update`
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

fix: Fix help message text for the deployment name in `meltano cloud deployment update` (#7855)
  src/cloud-cli/meltano/cloud/cli/deployment.py
Due: none

feat: Autouse set default deployment if first deployment created for project (#7851)
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

review comments and merge default
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/tests/cli/test_deployment.py
Due: none

Drop Python 3.7 support
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  docs/example-library/meltano-env-precedence/env-var-in-pip-url-example-124/pyproject.toml
  docs/src/_contribute/prerequisites.md
  docs/src/_getting-started/index.md
  docs/src/_guide/installation-guide.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/__init__.py
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/meltano/core/config_service.py
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/project.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  src/meltano/core/utils/__init__.py
  tests/fixtures/fs.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base, docs

ci: Update FOSSA CLI version used in dependency review workflow
  .github/workflows/dependency-review.yml
Due: none

deprecate default_deployment_name, update usages and tests to use new organizations_defaults
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_deployment.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

ci: Update FOSSA CLI version used in dependency review workflow (#7858)
  .github/workflows/dependency-review.yml
Due: none

style: Apply suggestions from Sourcery
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/history/command.py
  src/cloud-cli/meltano/cloud/cli/history/utils.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/interactive/config.py
  src/meltano/cli/remove.py
  src/meltano/cli/state.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/utils.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/db.py
  src/meltano/core/hub/client.py
  src/meltano/core/hub/schema.py
  src/meltano/core/job_state.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/superset.py
  src/meltano/core/project.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/runner/dbt.py
  src/meltano/core/runner/singer.py
  src/meltano/core/settings_store.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  src/meltano/migrations/env.py
  src/meltano/migrations/utils/dialect_typing.py
Due: none

deprecate and remove default_project_id
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/tests/cli/test_project.py
Due: none

perf: Use Pyston to improve core performance
  poetry.lock
  pyproject.toml
Due: meltano_base

Do not install Pyston on Windows
  poetry.lock
  pyproject.toml
Due: meltano_base

Make authenticated requests without an explicit check for login
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/cli/conftest.py
  src/cloud-cli/tests/conftest.py
Due: none

Remove comment
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

refactor: Remove dependencies on default_project_id and default_deployment_name (#7860)
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_deployment.py
  src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

fix: Create hierarchical structure for remembering org project and deployment defaults (#7847)
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_deployment.py
  src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

Fix issue with clearing httpserver request handling
  src/cloud-cli/tests/api/test_cloud_client.py
Due: none

Apply suggestions from code review
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

perf: Make authenticated requests without an explicit check for login (#7865)
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/cli/conftest.py
  src/cloud-cli/tests/conftest.py
Due: none

icon color, toggle position
  docs/src/components/homepage/features.module.scss
  docs/src/theme/ColorModeToggle/index.js
Due: docs

searchbox fix
  docs/src/css/custom.css
  docs/src/theme/Navbar/Search/styles.module.css
Due: docs

css fix
  docs/src/components/homepage/FindOutMore.js
  docs/src/components/homepage/features.module.scss
  docs/src/components/homepage/findoutmore.module.scss
Due: docs

css updates
  docs/src/components/homepage/UseCases.js
  docs/src/css/custom.css
  docs/src/theme/Footer/Copyright/copyright.module.scss
  docs/src/theme/Footer/Copyright/index.js
  docs/src/theme/Footer/Layout/index.js
  docs/src/theme/Footer/Layout/layout.module.scss
  docs/src/theme/Footer/Logo/styles.module.css
  docs/src/theme/Navbar/Content/styles.module.css
  docs/tailwind.config.js
Due: docs

mobile nav
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/src/theme/Footer/Layout/index.js
  docs/src/theme/Footer/Layout/layout.module.scss
  docs/src/theme/Navbar/MobileSidebar/Header/index.js
  docs/src/theme/Navbar/MobileSidebar/Layout/index.js
  docs/src/theme/Navbar/MobileSidebar/Layout/styles.module.css
  docs/src/theme/Navbar/MobileSidebar/PrimaryMenu/index.js
  docs/src/theme/Navbar/MobileSidebar/PrimaryMenu/primarymenu.module.scss
  docs/src/theme/Navbar/MobileSidebar/SecondaryMenu/index.js
  docs/src/theme/Navbar/Search/styles.module.css
  docs/src/theme/SearchBar/styles.css
Due: docs
