Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Remove noqa wps202 from orchestrations
  src/meltano/api/controllers/orchestrations.py
Due: none

Docs UI/UX improvements to make doc sections and TOC clearer
  docs/README.md
  docs/_config.yml
  docs/_includes/header.html
  docs/_layouts/doc.html
  docs/css/docs.css
Due: docs

Uvicorn installed via poetry and avaiable via poetry shell
  poetry.lock
  pyproject.toml
Due: meltano_base

Sucessful make bundle after node-sass bumped to 4.14.1
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

Added uvicorn --reload for windows
  src/meltano/api/workers/api_worker.py
Due: none

Able to add install extrators and loaders from UI
  src/meltano/core/plugin_install_service.py
Due: none

Uvicorn only to run through Linux CI tests
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

Able to test loader configuration via UI
  src/meltano/api/controllers/orchestrations.py
Due: none

Added timeout keep alive of 600 from gunicorn wsgi.py
  src/meltano/api/workers/api_worker.py
Due: none

UI sucessfully running via uvicon on windows
  src/meltano/api/workers/api_worker.py
Due: none

Updated to follow best practices for utilizing feature flags.
  src/meltano/api/workers/api_worker.py
  src/meltano/core/settings_service.py
Due: none

Added requested feature flag, feature flag logic, and uvicorn[standard] install
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
Due: meltano_base

Best effort at linting orchestrations.py
  src/meltano/api/controllers/orchestrations.py
Due: none

Refactor schedule add command
  src/meltano/cli/schedule.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

Update sample code test
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Changed feature flag from STARTUVICORN ff.start_uvicorn to ENABLE_UVICORN ff.enable_uvicorn
  src/meltano/api/workers/api_worker.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/settings_service.py
Due: none

Added async get event loop check to api controller plugin removed from core plugin install service
  src/meltano/api/controllers/plugins.py
  src/meltano/core/plugin_install_service.py
Due: none

Linting fixes to align with google style docstrings
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/controllers/plugins.py
  src/meltano/api/workers/api_worker.py
Due: none

made rquested variable name change in api plugins def_plugin_json to _plugin_json
  src/meltano/api/controllers/plugins.py
Due: none

Ignored failing Windows Tests, and added mechanism for running all tests in a different directory
  .gitlab/ci/test.gitlab-ci.yml
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/fixtures/fs.py
  tests/meltano/api/controllers/test_repos.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/cli/test_state.py
  tests/meltano/cli/test_upgrade.py
  tests/meltano/core/container/test_container_spec.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_meltano_invoker.py
  tests/meltano/core/test_plugin_invoker.py
  tests/meltano/core/test_project.py
  tests/meltano/core/test_project_files.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_venv_service.py
Due: none

Also update home page sample test
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

updated files-dbt
  src/meltano/core/bundle/discovery.yml
Due: docs

removed more deprecated env aliases
  .env.example
  .gitlab/ci/test.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/integration.md
Due: docs

removed more deprecated env aliases
  .env.example
  docs/src/_reference/settings.md
  schema/meltano.schema.json
  src/webapp/vue.config.js
Due: docs

put back example postgres config (for tests)
  .env.example
Due: none

more painful aliases
  .env.example
Due: none

Daemonizing Airflow scheduler doesn't currently work
  docs/src/_guide/orchestration.md
Due: docs

Add media query to fix css bug on mobile
  docs/css/docs.css
Due: docs

Miswrote media query
  docs/css/docs.css
Due: docs

Update test_cli to support new syntax
  tests/fixtures/core.py
  tests/meltano/cli/test_schedule.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
