Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

remove sql module
  src/meltano/core/sql/__init__.py
  src/meltano/core/sql/aggregate.py
  src/meltano/core/sql/analysis_helper.py
  src/meltano/core/sql/base.py
  src/meltano/core/sql/date.py
  src/meltano/core/sql/design_helper.py
  src/meltano/core/sql/filter.py
  src/meltano/core/sql/sql_utils.py
  src/meltano/core/sql/substitution.py
  src/meltano/core/sql/timeframe.py
Due: none

add explicit imports
  src/meltano/core/plugin/__init__.py
Due: none

add explicit import
  src/meltano/core/plugin/singer/__init__.py
Due: none

more lint fixes
  src/meltano/cli/repl.py
  src/meltano/core/utils/__init__.py
  tests/meltano/cli/test_config.py
  tests/meltano/core/plugin/singer/test_catalog.py
  tests/meltano/core/test_venv_service.py
Due: none

add pylint
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
Due: none

fix ci refs
  .github/workflows/pylint.yml
Due: none

fix flake8 execution
  .github/workflows/pylint.yml
Due: none

fix matrix refs
  .github/workflows/pylint.yml
Due: none

update code groupings
  .github/workflows/pylint.yml
Due: none

ignore known failurs, rename ci job
  .github/workflows/pylint.yml
Due: none

add json schema file
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/telemetry_state_change_event/jsonschema/1-0-0
Due: none

revert extra import
  src/meltano/core/tracking/__init__.py
Due: none

convert to str
  src/meltano/core/tracking/project.py
Due: none

cleanup docstrings
  src/meltano/core/tracking/tracker.py
Due: none

always write the setting value
  src/meltano/core/settings_store.py
Due: none

more merge fixes
  tests/meltano/cli/test_add.py
Due: none

more merge fixes
  src/meltano/cli/utils.py
Due: none

made dependency check work with plugin refs
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  tests/meltano/cli/test_add.py
Due: none

removed more env_aliases
  src/meltano/core/bundle/discovery.yml
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: docs

pin broken bandit
  poetry.lock
  pyproject.toml
Due: meltano_base

Remove references to merge requests and update links GitLab->GitHub (#6022)
  docs/README.md
  docs/adr/0002-snowplow-ga-event-parity.md
  docs/getting-started.md
  docs/src/_concepts/index.md
  docs/src/_concepts/plugins.md
  docs/src/_contribute/index.md
  docs/src/_contribute/merge.md
  docs/src/_contribute/plugins.md
  docs/src/_contribute/prerequisites.md
  docs/src/_contribute/style.md
  docs/src/_guide/containerization.md
  docs/src/_guide/index.md
  docs/src/_guide/installation.md
  docs/src/_guide/orchestration.md
  docs/src/_guide/plugin-management.md
  docs/src/_guide/production.md
  docs/src/_guide/transformation.md
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/index.md
  docs/src/_reference/settings.md
  docs/src/_reference/ui.md
  docs/src/_tutorials/example-projects.md
  docs/src/_tutorials/index.md
Due: docs

started work on failing test
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Update mypy and typed-ast for M1 support
  poetry.lock
  pyproject.toml
Due: meltano_base

fixed flake8 issue with bandit version
  pyproject.toml
Due: none

updated lock file
  poetry.lock
Due: meltano_base

fix failing test
  src/meltano/core/setting_definition.py
Due: none

tidying up
  src/meltano/core/bundle/discovery.yml
  tests/meltano/cli/test_add.py
Due: docs

Update mypy and typed-ast for M1 support (#6027)
  poetry.lock
  pyproject.toml
Due: meltano_base

Update docs/src/_reference/settings.md
  docs/src/_reference/settings.md
Due: docs

Init pass at a PluginsTrackingContext class and sample meltano invoke usage
  src/meltano/cli/invoke.py
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/plugins_context/jsonschema/1-0-0
  src/meltano/core/tracking/plugins.py
Due: none

Update README.md
  src/meltano/core/tracking/README.md
Due: none

Clean up the snowplow dev docs (#6030)
  src/meltano/core/tracking/README.md
Due: none

chore: remove sql module (#6024)
  src/meltano/core/sql/__init__.py
  src/meltano/core/sql/aggregate.py
  src/meltano/core/sql/analysis_helper.py
  src/meltano/core/sql/base.py
  src/meltano/core/sql/date.py
  src/meltano/core/sql/design_helper.py
  src/meltano/core/sql/filter.py
  src/meltano/core/sql/sql_utils.py
  src/meltano/core/sql/substitution.py
  src/meltano/core/sql/timeframe.py
Due: none

expand help text
  src/meltano/cli/utils.py
Due: none

Update src/meltano/cli/utils.py
  src/meltano/cli/utils.py
Due: none

Remove add_related for TRANSFORMS (#5957)
  docs/src/_reference/command-line-interface.md
  poetry.lock
  pyproject.toml
  src/meltano/cli/add.py
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/transform_add_service.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_install.py
Due: meltano_base, docs

Remove `env_aliases` references from Meltano (#5927)
  .env.example
  .flake8
  .gitlab/ci/sample_code.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_contribute/plugins.md
  docs/src/_contribute/prerequisites.md
  docs/src/_guide/integration.md
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/settings.md
  schema/discovery.schema.json
  schema/meltano.schema.json
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/setting_definition.py
  src/webapp/vue.config.js
  tests/conftest.py
  tests/fixtures/core.py
  tests/meltano/cli/test_config.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_connection_service.py
  tests/meltano/core/test_elt_context.py
  tests/meltano/core/test_tracking.py
Due: docs

Add some safe guards against funky plugins
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/plugins.py
  src/meltano/core/utils/__init__.py
Due: none

Let ProjectPlugin override capabilities and extend settings of parent
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/project_plugins_service.py
Due: none
