Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Add various tap/target failure scenarios mirroring elt tests
  src/meltano/core/block/singer.py
  tests/meltano/cli/test_run.py
Due: none

general cleanup - comments, doc strings, typing, etc
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  tests/meltano/cli/test_run.py
Due: none

Fix py3.6 tests and cli help clean up
  src/meltano/cli/run.py
  src/meltano/core/block/parser.py
  tests/meltano/cli/test_run.py
Due: none

Add CRON interval mechanism and modal to /pipelines page
  src/webapp/package.json
  src/webapp/src/components/pipelines/CronJobModal.vue
  src/webapp/src/components/pipelines/PipelineSchedules.vue
  src/webapp/src/router/app.js
  src/webapp/src/utils/constants.js
  src/webapp/yarn.lock
  yarn.lock
Due: none

Fix test and capture both stdout/stderr failures
  src/meltano/core/block/extract_load.py
  tests/meltano/cli/test_run.py
Due: none

Allow flatten-dict = "^0"
  poetry.lock
  pyproject.toml
Due: meltano_base

bump tap-salesforce to 1.5.0
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/block/plugin_command.py
Due: none

Resolve "Add `meltano run [<plugin>...]` to run arbitrary plugins in a pipeline"
  pyproject.toml
  src/meltano/cli/__init__.py
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin/singer/tap.py
  tests/fixtures/core.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_parser.py
  tests/meltano/core/block/test_singer.py
Due: none

Revised footer with links and logo
  docs/src/.vuepress/components/GlobalFooter.vue
Due: docs

Fix logo width
  docs/src/.vuepress/components/GlobalFooter.vue
Due: docs

Refactor to use ABC meta classes
  src/meltano/core/block/blockset.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
Due: none

Fix return type def
  src/meltano/core/block/extract_load.py
Due: none

Change beta phrasing -> preview
  src/meltano/cli/run.py
Due: none

docs: add an entry for the CLI
  docs/src/docs/command-line-interface.md
Due: docs

Refactor ValidationsRunner into an ABC
  src/meltano/cli/validate.py
  src/meltano/core/validation_service.py
  tests/meltano/core/test_validation_service.py
Due: none

add latest pr
  docs/src/press/README.md
Due: docs

Docs and Changelog
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
Due: docs

Consolidated session use on run() calls
  src/meltano/cli/run.py
  src/meltano/core/block/plugin_command.py
Due: none

Add Apple Developer Forum info about port 5000
  docs/src/docs/contributor-guide.md
Due: docs

Remove unused imports
  src/meltano/cli/run.py
Due: none

Give cli module a linter exemption to allow higher module complexity
  pyproject.toml
Due: none

Actually make ExtractBlockSet a BlockSet
  src/meltano/core/block/blockset.py
  src/meltano/core/block/extract_load.py
Due: none

Remove unused protocol imports
  src/meltano/core/block/blockset.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/plugin_command.py
Due: none

Cleanup _link_io exceptions and doc strings
  src/meltano/core/block/extract_load.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/block/extract_load.py
Due: none

Add pipeline edit button
  src/webapp/src/components/analyze/EditButton.vue
  src/webapp/src/components/pipelines/PipelineSchedules.vue
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/block/parser.py
Due: none

Make flakehell happy
  src/meltano/core/block/parser.py
Due: none

Add GA tracking
  src/meltano/cli/validate.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/src/docs/command-line-interface.md
Due: docs

Link to both issues in changelog
  CHANGELOG.md
Due: none

Actually fix is_commmand in set usage
  src/meltano/core/block/parser.py
Due: none

Resolve "Implement interface for meltano `validator` plugins"
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  poetry.lock
  pyproject.toml
  src/meltano/cli/__init__.py
  src/meltano/cli/validate.py
  src/meltano/core/behavior/canonical.py
  src/meltano/core/environment.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/tracking/ga_tracker.py
  src/meltano/core/utils/__init__.py
  src/meltano/core/validation_service.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_command.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/test_validation_service.py
Due: meltano_base, docs

Add `meltano run` feature preview (with supporting block execution implementation)
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  pyproject.toml
  src/meltano/cli/__init__.py
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
  src/meltano/core/block/__init__.py
  src/meltano/core/block/blockset.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin/singer/tap.py
  tests/fixtures/core.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_parser.py
  tests/meltano/core/block/test_singer.py
Due: docs

Bump version: 1.89.0 → 1.90.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Groom changelog
  CHANGELOG.md
Due: none

Ensure that ELBContext is used, not ELBContextBuilder
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  tests/meltano/core/block/test_extract_load.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
