Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Test style preservation
  src/meltano/core/project_files.py
  tests/fixtures/multifile_project/meltano.yml
  tests/fixtures/multifile_project/subconfig_2.yml
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_project.py
  tests/meltano/core/test_project_files.py
Due: none

fix: Fix `FileNotFoundError` error when `platform.freedesktop_os_release` is available on Windows (#6321)
  src/meltano/core/tracking/contexts/environment.py
Due: none

fix: Disable CLI globbing performed by Click on Windows (#6320)
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
Due: meltano_base

Rename "job" table to "runs" and "job_id" to "job_name"
  src/meltano/cli/elt.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/elt_context.py
  src/meltano/core/job/finder.py
  src/meltano/core/job/job.py
  src/meltano/core/job/stale_job_failer.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/state_service.py
  src/meltano/migrations/db.lock
  src/meltano/migrations/versions/5b43800443d1_rename_job_to_job_run_and_job_id_to_job_.py
  tests/fixtures/core.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_singer.py
  tests/meltano/core/job/test_finder.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/singer/test_target.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_state_service.py
Due: none

Collect per group and command contexts at all levels
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/environment.py
  src/meltano/cli/job.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-1-0
  src/meltano/core/tracking/schemas.py
Due: none

Do not collect coverage in GitLab CI
  .github/workflows/test.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

change: Include Snowplow project & environment contexts with telemetry opt out events (#6269)
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Update src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/contexts/cli.py
Due: none

pr feedback
  src/meltano/core/tracking/contexts/cli.py
Due: none

chore: Upgrade Pytest to `^7.1.2` (#6302)
  .coveragerc
  .github/workflows/test.yml
  .gitlab/ci/test.gitlab-ci.yml
  poetry.lock
  pyproject.toml
  src/meltano/core/plugin/superset.py
Due: meltano_base

More complete yaml fixture
  tests/fixtures/multifile_project/meltano.yml
  tests/meltano/core/test_project_files.py
Due: none

add docs
  docs/src/_guide/configuration.md
Due: docs

add default env keys to init
  src/meltano/core/bundle/initialize.yml
Due: none

deactive environment if sourced from default
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/core/project.py
Due: none

Update semantic.yml
  .github/semantic.yml
Due: none

Add changelog entry.
  CHANGELOG.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

chore: allow `deps` scope for dependabot style sem titles (#6329)
  .github/semantic.yml
Due: none

green lights
  tests/meltano/cli/test_select.py
Due: none

Acquire write_lock for Project.meltano attribute
  src/meltano/core/project.py
Due: none

refactor(core): Rename "job" table to "runs" and "job_id" to "job_name" (#6323)
  CHANGELOG.md
  src/meltano/cli/elt.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/elt_context.py
  src/meltano/core/job/finder.py
  src/meltano/core/job/job.py
  src/meltano/core/job/stale_job_failer.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/state_service.py
  src/meltano/migrations/db.lock
  src/meltano/migrations/versions/5b43800443d1_rename_job_to_job_run_and_job_id_to_job_.py
  tests/fixtures/core.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_singer.py
  tests/meltano/core/job/test_finder.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/singer/test_target.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_state_service.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Clarify error message for multiple environment variable error.
  src/meltano/core/settings_store.py
Due: none

Copy yaml attributes after entries have been added
  src/meltano/core/project_files.py
  tests/fixtures/multifile_project/meltano.yml
  tests/meltano/core/test_project_files.py
Due: none

Fixed wrong flag reference at ui startup from ff.start_uvicorn to ff.enable_uvicorn
  src/meltano/api/workers/api_worker.py
Due: none

Update to trigger test on pull requests and pushes to main
  .github/workflows/integration_tests.yml
Due: none

Make sure project file features are present before copying attributes
  src/meltano/core/project_files.py
Due: none

fix: Wrong Feature Flag Reference During UI Startup on Windows (#6333)
  src/meltano/api/workers/api_worker.py
Due: none

feat(core): formalize settings alias behavior and disallow conflicting values between setting name and aliases (#6278)
  CHANGELOG.md
  docs/src/_guide/configuration.md
  src/meltano/cli/config.py
  src/meltano/core/schedule_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: docs

Refactor into method
  src/meltano/core/project_files.py
Due: none

chore: refactor to simplify command tracking (#6260)
  src/meltano/cli/add.py
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/lock.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-1-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_event/jsonschema/1-0-1
  src/meltano/core/tracking/schemas.py
Due: none

Use make sdist_public
  .github/workflows/build.yml
  pyproject.toml
Due: none

Fix guide to use correct command to add docker files
  docs/src/_guide/containerization.md
Due: docs

Update ui.md
  docs/src/_reference/ui.md
Due: docs

fix: Fix documentation for adding docker files (#6337)
  docs/src/_guide/containerization.md
  docs/src/_reference/ui.md
Due: docs

Auto instrument subset of commands with start AND exit events
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/initialize.py
  src/meltano/cli/remove.py
  src/meltano/cli/repl.py
  src/meltano/cli/schema.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
Due: none

chore: Bump package version
  pyproject.toml
  src/meltano/__init__.py
Due: none

ci: Use commitizen for version bump (not changelog yet)
  .github/workflows/constraints.txt
  .github/workflows/version_bump.yml
  .gitignore
  pyproject.toml
Due: none

chore: Bump package version
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
