Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

add back target-postgres schema
  src/meltano/core/bundle/discovery.yml
Due: docs

direct config dbt
  .env.example
  src/meltano/core/bundle/discovery.yml
Due: docs

more magic env vars fixes
  src/meltano/core/bundle/discovery.yml
Due: docs

better dbt error
  src/meltano/core/elt_context.py
Due: none

Resolve "Make setting-level `env:` declaration a one-way injection into the plugin execution context"
  CHANGELOG.md
  docs/src/_contribute/plugins.md
  docs/src/_reference/settings.md
  schema/discovery.schema.json
  schema/meltano.schema.json
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/setting_definition.py
  tests/meltano/api/test_app.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/core/elt_context.py
Due: none

hopefully fixed broken test
  tests/meltano/core/block/test_extract_load.py
Due: none

Add meltano schedule remove
  src/meltano/cli/schedule.py
  tests/meltano/cli/test_schedule.py
Due: none

fixed another broken test
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/test_elt_context.py
Due: none

Add meltano schedule set
  src/meltano/cli/schedule.py
  src/meltano/core/schedule.py
  tests/meltano/cli/test_schedule.py
Due: none

Remove transform from conditional
  src/meltano/cli/schedule.py
Due: none

Explicitly determine plugin definition source
  src/meltano/core/project_add_service.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/core/test_project_add_service.py
  tests/meltano/core/test_project_plugins_service.py
Due: none

Include loader dialect in fake Hub
  tests/conftest.py
Due: none

Add advice if missing legacy 'dbt' transformer during `meltano elt`
  src/meltano/core/elt_context.py
Due: none

put back env_aliases functionality
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
Due: none

Restore poetry.lock
  poetry.lock
Due: meltano_base

Update doc entries
  docs/getting-started.md
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Fix some typo's
  docs/src/_reference/command-line-interface.md
Due: docs

Update docs
  CHANGELOG.md
  docs/src/_reference/command-line-interface.md
Due: docs

Update docs
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/settings.md
Due: docs

add last alias back in
  src/meltano/core/bundle/settings.yml
Due: none

Uppercase first words
  docs/src/_reference/command-line-interface.md
Due: docs

removed add_related for TRANSFORMS
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/add.py
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin_discovery_service.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_install.py
Due: docs

Update src/meltano/cli/utils.py
  src/meltano/cli/utils.py
Due: none

Add ff to filter api listings
  src/meltano/api/controllers/orchestrations.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/settings_service.py
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Fix telemetry project ID generation
  src/meltano/core/tracking/ga_tracker.py
Due: none

Add general context schema
  src/meltano/core/tracking/schemas/general_context.json
Due: none

Update CI lint URL to GitHub & default branch to main
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Create general Snowplow context for Meltano events
  src/meltano/core/tracking/ga_tracker.py
  src/meltano/core/tracking/snowplow_tracker.py
Due: none

Add lazy failure for conflicting aliased settings
  src/meltano/cli/invoke.py
  src/meltano/core/settings_store.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_environment_variables.py
  tests/meltano/core/test_settings_store.py
Due: none

docs: Restore ref to plugin lockfiles
  docs/src/_reference/command-line-interface.md
Due: docs

Doc PR review fixes
  docs/getting-started.md
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Add bundle prop to plugin definitions
  schema/meltano.schema.json
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/bundle.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

bundle -> requires
  schema/meltano.schema.json
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/bundle.py
  src/meltano/core/plugin/requirements.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

Changelog for Virtual Environments
  CHANGELOG.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
