Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Update src/meltano/api/mail.py
  src/meltano/api/mail.py
Due: none

document meltano-ui deployment to kubernetes
  docs/src/_guide/production.md
Due: docs

updated docs with discoverable utilities
  docs/src/_concepts/plugins.md
  src/meltano/core/bundle/discovery.yml
Due: docs

correct docs to target pip_url extra rather than config
  docs/src/_concepts/plugins.md
Due: docs

Add CRON interval logic to update pipeline function and turned pipeline schedule into a dumb component
  src/meltano/api/controllers/orchestrations.py
  src/webapp/src/components/pipelines/CronJobModal.vue
  src/webapp/src/components/pipelines/Pipeline.vue
  src/webapp/src/components/pipelines/PipelineSchedules.vue
  src/webapp/src/router/app.js
  src/webapp/src/store/modules/orchestration.js
Due: none

docs fixes
  docs/src/_concepts/plugins.md
Due: docs

add file bundle
  src/meltano/core/bundle/discovery.yml
Due: docs

propogate state
  src/meltano/core/block/extract_load.py
Due: none

Two class experiment
  src/meltano/core/block/parser.py
  src/meltano/core/block/singer.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/singer/mapper.py
  src/meltano/core/project_plugins_service.py
Due: none

Short circuit mapping plugin installs
  pyproject.toml
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/singer.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/singer/mapper.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/cli/test_install.py
  tests/meltano/core/plugin/singer/test_mapper.py
Due: none

initial commit
  src/meltano/core/bundle/discovery.yml
Due: docs

feat: naive support for container commands
  src/meltano/core/container/container_service.py
  src/meltano/core/container/container_spec.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin_invoker.py
  tests/fixtures/core.py
  tests/meltano/core/container/test_container_service.py
  tests/meltano/core/test_plugin_invoker.py
Due: none

update config entries
  src/meltano/core/bundle/discovery.yml
Due: docs

add adapter-specific settings
  src/meltano/core/bundle/discovery.yml
Due: docs

adapter-specific files bundle repos
  src/meltano/core/bundle/discovery.yml
Due: docs

moved back to dashed convention, for compatability with files-great-expectations
  src/meltano/core/bundle/discovery.yml
Due: docs

changelog
  CHANGELOG.md
Due: none

ignore files type plugins when searching for plugins to test
  src/meltano/core/validation_service.py
Due: none

added test
  .flake8
  tests/fixtures/core.py
  tests/meltano/core/test_validation_service.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/src/_guide/production.md
Due: docs

Resolve #3131: Add Kubernetes Helm Chart to Documentation
  docs/src/_guide/production.md
Due: docs

lint
  .flake8
Due: none

typo
  .flake8
Due: none

Fix borken 3.7 unit test
  tests/meltano/cli/test_install.py
Due: none

tidy up linting
  .flake8
  src/meltano/__init__.py
Due: none

inject runtime env vars
  src/meltano/core/container/container_service.py
  src/meltano/core/plugin_invoker.py
Due: none

passing tests
  tests/fixtures/core.py
Due: none

add environments with example values
  src/meltano/core/bundle/initialize.yml
Due: none

Deploy discovery.yml to netlify
  netlify.toml
  src/meltano/core/bundle/settings.yml
Due: none

feat: use aiodocker
  poetry.lock
  pyproject.toml
  src/meltano/cli/invoke.py
  src/meltano/core/container/container_service.py
  src/meltano/core/container/container_spec.py
  src/meltano/core/plugin_invoker.py
  tests/fixtures/core.py
  tests/meltano/core/container/test_container_service.py
Due: meltano_base

remove invoker docker test
  tests/meltano/core/test_plugin_invoker.py
Due: none

updated with mr feedback
  .flake8
  src/meltano/cli/initialize.py
  src/meltano/core/bundle/initialize.yml
  src/meltano/core/project_init_service.py
Due: none

Resolve #3190: Meltano Test bug with files bundles
  .flake8
  CHANGELOG.md
  src/meltano/core/validation_service.py
  tests/fixtures/core.py
  tests/meltano/core/test_validation_service.py
Due: none

fix formatting in getting started guide and airflow commands
  docs/getting-started.md
  docs/src/_guide/orchestration.md
Due: docs

fix tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_environment_service.py
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Resolve keep discovery.yml in sync
  CHANGELOG.md
  netlify.toml
  src/meltano/core/bundle/settings.yml
Due: none

Bump version: 1.94.0 → 1.95.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

docs: fix changelog
  CHANGELOG.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
