Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Set `asyncio_default_fixture_loop_scope`
  pyproject.toml
Due: none

Ignore `PytestUnraisableExceptionWarning`
  pyproject.toml
Due: none

test: Fail tests when warnings are emitted (#8918)
  pyproject.toml
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/test_project.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

fix(cli): Ask for confirmation in `meltano config ... reset` (#8914)
  src/meltano/cli/config.py
Due: none

chore: Bump package version
  .github/ISSUE_TEMPLATE/bug.yml
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Bump package version
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.6.0b4 (#8933)
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

docs: Document a logging example to log at DEBUG level but excluding extractor/loader stdout
  docs/docs/guide/logging.md
Due: docs

docs: Document a logging example to log at DEBUG level but excluding extractor/loader stdout (#8934)
  docs/docs/guide/logging.md
Due: docs

feat: Support state backend and setting add-ons
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/addon.py
  src/meltano/core/config_service.py
  src/meltano/core/state_store/__init__.py
  tests/fixtures/custom_addon.py
  tests/fixtures/state_backends.py
  tests/meltano/core/behavior/test_addon.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base

Make S3 state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make GCS state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/google.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make Azure state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/azure.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make local filesystem state backend a native add-on
  pyproject.toml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/filesystem.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

refactor: Moved `STATE_ID_COMPONENT_DELIMITER` to `meltano.core.constants`
  src/meltano/core/block/extract_load.py
  src/meltano/core/constants.py
  src/meltano/core/environment.py
  src/meltano/core/job_state.py
  src/meltano/core/plugin/base.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_project_add_service.py
Due: none

refactor: Delay state manager import in upgrade service
  src/meltano/core/upgrade_service.py
Due: none

chore: Added `py.typed`
  src/meltano/py.typed
Due: none

refactor: Delay `alembic` imports in migration service
  src/meltano/core/migration_service.py
Due: none

Use `smart_open.open`
  .pre-commit-config.yaml
  src/meltano/core/state_store/filesystem.py
Due: none

Restore mirrors-eslint version
  .pre-commit-config.yaml
Due: none

docs: Use tabs for code blocks with OS-specific instructions in Getting Started
  docs/docs/getting-started/index.mdx
Due: docs

chore: Open files with `anyio` in async contexts
  poetry.lock
  pyproject.toml
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/logging/test_output_logger.py
Due: meltano_base

docs: Use tabs for code blocks with OS-specific instructions in Getting Started guide (#8937)
  docs/docs/getting-started/index.mdx
Due: docs

chore: Added the Python 3.13 trove classifier
  pyproject.toml
Due: none

chore: Do not update version range in `pyproject.toml` if it remains compatible
  .github/dependabot.yml
Due: none

chore: Added the Python 3.13 trove classifier (#8939)
  pyproject.toml
Due: none

chore: Do not update version range in `pyproject.toml` if it remains compatible (#8940)
  .github/dependabot.yml
Due: none

feat: Suggest verifying stream selection after `meltano config ... test` fails
  src/meltano/core/plugin_test_service.py
Due: none

feat: Allow per-plugin buffer size configuration
  src/meltano/cli/config.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_test_service.py
  src/meltano/core/runner/singer.py
Due: none

feat: Suggest verifying stream selection after `meltano config ... test` fails (#8944)
  src/meltano/core/plugin_test_service.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: Add newline at the end of plugin lock files
  src/meltano/core/plugin_lock_service.py
Due: none

Update src/meltano/core/plugin_lock_service.py
  src/meltano/core/plugin_lock_service.py
Due: none

fix: Add newline at the end of plugin lock files (#8949)
  src/meltano/core/plugin_lock_service.py
Due: none

docs: Document Git requirement and add `uv` section
  docs/docs/guide/installation-guide.mdx
Due: docs

feat(cli): Add a simple log formatter that only contains the event by default
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: none

Fix pre-commit docstring errors
  src/meltano/core/plugin_install_service.py
Due: none

docs: Document Git requirement and add `uv` section (#8950)
  docs/docs/guide/installation-guide.mdx
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
