Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix typos
  docs/src/_tutorials/example-projects.md
Due: docs

add another example project and more descr
  docs/src/_tutorials/example-projects.md
Due: docs

fix end of files
  docs/src/_tutorials/example-projects.md
Due: docs

poetry fix
  poetry.lock
Due: meltano_base

docs update
  docs/getting-started.md
  docs/src/_reference/command-line-interface.md
Due: docs

Add schedule env to configuration docs
  docs/src/_guide/configuration.md
Due: docs

tab->space
  docs/src/_guide/configuration.md
Due: docs

Add note about upcoming env var changes
  docs/src/_guide/configuration.md
Due: docs

Delete ELT.md
  docs/src/_concepts/elt.md
Due: docs

Correct feature flag name for strict env var mode
  docs/src/_reference/settings.md
Due: docs

docs: Correct feature flag name for strict env var mode (#6680)
  docs/src/_reference/settings.md
Due: docs

Tag Docker images with Meltano major and minor versions
  .github/workflows/docker_publish.yml
Due: none

Redirect ELT to blog
  docs/src/_concepts/elt.md
Due: docs

docs: Add test and docs for schedule `env` key (#6674)
  docs/src/_guide/configuration.md
  docs/src/_guide/orchestration.md
  schema/meltano.schema.json
  tests/meltano/core/test_schedule_service.py
Due: docs

ci: Tag Docker images with Meltano major and minor versions (#6682)
  .github/workflows/docker_publish.yml
Due: none

Update docs/src/_concepts/elt.md
  docs/src/_concepts/elt.md
Due: docs

Redirect ELT to blog (#6681)
  docs/src/_concepts/elt.md
Due: docs

Update docs/src/_concepts/project.md
  docs/src/_concepts/project.md
Due: docs

fix a typoe
  docs/src/_tutorials/example-projects.md
Due: docs

fix: Prevent warnings/errors when running `meltano config <plugin> test` (#6676)
  src/meltano/core/plugin_invoker.py
  src/meltano/core/plugin_test_service.py
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/cli/test_config.py
  tests/meltano/core/test_plugin_test_service.py
Due: none

Add cause to ProjectInitServiceErrors, quotes
  src/meltano/core/project_init_service.py
  tests/meltano/core/test_project_init_service.py
Due: none

Update tests/meltano/core/test_project_init_service.py
  tests/meltano/core/test_project_init_service.py
Due: none

fix: Catch permission errors when creating a new project (#6652)
  src/meltano/core/project_init_service.py
  tests/meltano/core/test_project_init_service.py
Due: none

Add environment variable expansion docs.
  docs/src/_guide/configuration.md
Due: docs

docs: add capabilities reference doc, link to it where applicable
  docs/src/_concepts/plugins.md
  docs/src/_guide/integration.md
  docs/src/_guide/plugin-management.md
  docs/src/_reference/plugin-definition-syntax.md
  docs/src/_tutorials/custom-extractor.md
Due: docs

docs: add example meltano projects (#6671)
  docs/index.html
  docs/src/_tutorials/example-projects.md
Due: docs

Update docs/src/_guide/configuration.md
  docs/src/_guide/configuration.md
Due: docs

docs: Add docs about environment variable expansion. (#6688)
  docs/src/_guide/configuration.md
Due: docs

Use `poetry debug info` instead of `poetry debug`
  .github/workflows/test.yml
Due: none

Update `poetry.lock` to Poetry 1.2 format
  poetry.lock
Due: meltano_base

chore: Update `poetry.lock` to Poetry 1.2 format (#6692)
  poetry.lock
Due: meltano_base

docs: add capabilities reference doc, link to it where applicable (#6689)
  docs/src/_concepts/plugins.md
  docs/src/_guide/integration.md
  docs/src/_guide/plugin-management.md
  docs/src/_reference/plugin-definition-syntax.md
  docs/src/_tutorials/custom-extractor.md
Due: docs

fix remove bug
  .gitignore
  docs/example-library/meltano-objects/ending-meltano.yml
  docs/example-library/meltano-objects/index.md
  src/meltano/core/plugin/settings_service.py
Due: docs

integration test typo
  docs/example-library/meltano-objects/ending-meltano.yml
Due: docs

matching integration test output
  docs/example-library/meltano-objects/ending-meltano.yml
Due: docs

test: Randomize Pytest runs
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/fixtures/utils.py
  tests/meltano/api/test_mail.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_install.py
  tests/meltano/cli/test_job_cmd.py
  tests/meltano/cli/test_lock.py
  tests/meltano/cli/test_schedule.py
  tests/meltano/cli/test_upgrade.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_plugin_discovery_service.py
  tests/meltano/core/test_plugin_lock_service.py
  tests/meltano/core/test_project_add_service.py
  tests/meltano/core/test_project_files.py
  tests/meltano/core/test_project_plugins_service.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_task_sets_service.py
  tests/meltano/core/test_validation_service.py
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base

Install `pytest-randomly` and `pytest-order` in Nox session
  noxfile.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
