Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix two bugs
  src/meltano/core/plugin_invoker.py
Due: none

fix bug in dbt
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin_invoker.py
Due: none

Project is now created after Database URI is changed to the default most users will have set during development
  tests/fixtures/core.py
  tests/fixtures/db/__init__.py
  tests/meltano/cli/test_install.py
Due: none

Scan Docker images
  .github/actions/docker-build-scan-push/action.yml
  .github/containerscan/allowedlist.yaml
  .github/workflows/docker_publish.yml
  docs/src/_guide/installation.md
Due: docs

Use GitHub SARIF integration
  .github/actions/docker-build-scan-push/action.yml
Due: none

fix:Signals working properly for testing test_job.py (#6208)
  tests/meltano/core/job/test_job.py
Due: none

docs: Document overriding capabilities and extending settings
  docs/src/_guide/configuration.md
Due: docs

Make example an extractor
  docs/src/_guide/configuration.md
Due: docs

Add changelog entry
  CHANGELOG.md
Due: none

tests work
  src/meltano/core/settings_store.py
  tests/meltano/core/test_settings_store.py
Due: none

add debug logs
  src/meltano/core/settings_store.py
Due: none

feat: Preserve comments and flow style in `meltano.yml` (#6308)
  .flake8
  .github/workflows/integration_tests.yml
  docs/example-library/meltano-objects/ending-meltano.yml
  docs/example-library/meltano-objects/index.md
  docs/example-library/meltano-objects/meltano.yml
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/canonical.py
  src/meltano/core/project_files.py
  src/meltano/core/setting_definition.py
  src/meltano/core/yaml.py
  tests/fixtures/multifile_project/meltano.yml
  tests/fixtures/multifile_project/subconfig_2.yml
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_plugin_discovery_service.py
  tests/meltano/core/test_project.py
  tests/meltano/core/test_project_files.py
Due: meltano_base, docs

quieter debug logs
  src/meltano/core/settings_store.py
Due: none

removed overwritable check
  tests/meltano/api/controllers/test_orchestration.py
Due: none

ci: Add dependency security review GitHub workflow (#6403)
  .github/workflows/dependency-review.yml
Due: none

Add dependency license allow-list
  .github/workflows/dependency_review.yml
Due: none

Ensure dep review fails when few licenses are allowed
  .github/workflows/dependency_review.yml
Due: none

Add new Python dep with MIT license
  poetry.lock
  pyproject.toml
Due: meltano_base

updated integration test
  docs/example-library/meltano-basics/ending-meltano.yml
  docs/example-library/meltano-basics/index.md
Due: docs

Run on all PRs
  .github/workflows/codeql-analysis.yml
Due: none

Re-add approved licenses + LGPL
  .github/workflows/dependency_review.yml
Due: none

Allow Python license
  .github/workflows/dependency_review.yml
Due: none

Run yarn upgrade
  yarn.lock
Due: none

Mess around with Python dependencies to trigger more license checks
  poetry.lock
  pyproject.toml
Due: meltano_base

Remove unused context manager
  tests/fixtures/docker/snowplow.py
Due: none

Skip cov for lines handling case where Snowplow Micro is unavailable
  tests/fixtures/cli.py
  tests/fixtures/docker/snowplow.py
Due: none

ci: Use pre-commit action instead of `pre-commit.ci` (#6381)
  .github/workflows/precommit.yml
  .pre-commit-config.yaml
Due: none

Use default skip-coverage comment
  pyproject.toml
  tests/fixtures/cli.py
  tests/fixtures/docker/snowplow.py
Due: none

Add license scan report and status
  README.md
Due: none

Update README.md
  README.md
Due: none

ci: Add CodeQL analysis GitHub workflow (#6402)
  .github/workflows/codeql-analysis.yml
  docs/_includes/algolia.html
  docs/_includes/header.html
  src/meltano/oauth/templates/base.html
  src/meltano/oauth/templates/home.html
  src/webapp/src/App.vue
Due: docs

test: Snowplow fixture coverage (#6415)
  pyproject.toml
  tests/fixtures/cli.py
  tests/fixtures/docker/snowplow.py
Due: none

Revert "ci: Add CodeQL analysis GitHub workflow (#6402)"
  .github/workflows/codeql-analysis.yml
  docs/_includes/algolia.html
  docs/_includes/header.html
  src/meltano/oauth/templates/base.html
  src/meltano/oauth/templates/home.html
  src/webapp/src/App.vue
Due: docs

ci: Revert "ci: Add CodeQL analysis GitHub workflow (#6402)" (#6418)
  .github/workflows/codeql-analysis.yml
  docs/_includes/algolia.html
  docs/_includes/header.html
  src/meltano/oauth/templates/base.html
  src/meltano/oauth/templates/home.html
  src/webapp/src/App.vue
Due: docs

Revert "ci: Revert "ci: Add CodeQL analysis GitHub workflow (#6402)" (#6418)"
  .github/workflows/codeql-analysis.yml
  docs/_includes/algolia.html
  docs/_includes/header.html
  src/meltano/oauth/templates/base.html
  src/meltano/oauth/templates/home.html
  src/webapp/src/App.vue
Due: docs

Add crossorigin="anonymous"
  docs/_includes/algolia.html
Due: docs

Apply pre-commit
  .github/workflows/codeql-analysis.yml
Due: none

feat: Resolve #3419 "Change default meltano config behavior to --no-environment" (#6327)
  CHANGELOG.md
  docs/example-library/meltano-basics/ending-meltano.yml
  docs/example-library/meltano-run/index.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/select.py
  src/meltano/core/project.py
  tests/meltano/cli/test_select.py
Due: docs

Add more context to project plugin overrides
  docs/src/_guide/configuration.md
Due: docs

PR feedback
  src/meltano/core/settings_service.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
