Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

docs and tests
  docs/src/_reference/settings.md
  tests/meltano/core/test_project_settings_service.py
Due: docs

removed env aliases
  docs/src/_contribute/plugins.md
  schema/discovery.schema.json
  schema/meltano.schema.json
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/setting_definition.py
  tests/fixtures/core.py
Due: docs

CI should be referencing the correct ENV variable now for the Python version
  .gitlab/ci/test.gitlab-ci.yml
Due: none

CI used pytest job for the Windows pytest runner again
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Output a single log with lockfile FF status
  src/meltano/core/project_plugins_service.py
Due: none

work on tests
  src/meltano/core/plugin/project_plugin.py
  tests/meltano/cli/test_config.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_connection_service.py
  tests/meltano/core/test_elt_context.py
Due: none

Use feature flag system for lock file mechanism
  CHANGELOG.md
  src/meltano/cli/add.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/settings_service.py
  tests/fixtures/core.py
  tests/meltano/core/test_project_plugins_service.py
Due: none

Updated sample code for gitlab CI to use the current version of Meltano instead of pipx, also switched to pipx in a missed section
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Pointing to relative dir with .. is more clear
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Ensurepath wasn't working as it wasn't available on path yet, fixed by using the existing Python binary to find pipx to run ensurepath with
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Pipx CI sample_code fix relative pipx installation directory
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Set path in current terminal for initial install of pipx
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Remove VirtualEnv in favor of 3473
  docs/src/_guide/installation.md
Due: docs

Wording, and grammar fixes
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Added notice for Windows users to use refreshenv instead of bashrc
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: none

Pipx instructions added, shamelessly stolen from https://gitlab.com/aaronsteers/meltano/-/tree/feature/pipx-installs
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Docs Pipx link was old, and better word smiting!
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Remove refrences to RefreshEnv as it's chocolatey specefic
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Changelog updated
  CHANGELOG.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Cleaned up language and formatting
  docs/src/_guide/installation.md
Due: docs

Pipx instructions added
  .gitlab/ci/sample_code.gitlab-ci.yml
  CHANGELOG.md
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

CI Should fail by running actual tests now, not pretty yet
  .gitlab/ci/test.gitlab-ci.yml
Due: none

try to fix tests
  src/meltano/core/bundle/discovery.yml
Due: docs

docs updates
  CHANGELOG.md
  docs/src/_contribute/plugins.md
  schema/discovery.schema.json
  schema/meltano.schema.json
Due: docs

remove more alias references
  .flake8
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/src/_contribute/prerequisites.md
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/settings.md
  tests/conftest.py
  tests/meltano/core/test_tracking.py
Due: docs

ignore unwanted failing tests
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/settings_service.py
  tests/meltano/core/test_connection_service.py
Due: docs

Sucessful make bundle after node-sass bumped to 4.14.1
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

Uvicorn only to run through Linux CI tests
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

Added uvicorn --reload for windows
  src/meltano/api/workers/api_worker.py
Due: none

Uvicorn installed via poetry and avaiable via poetry shell
  poetry.lock
  pyproject.toml
Due: meltano_base

Able to add install extrators and loaders from UI
  src/meltano/core/plugin_install_service.py
Due: none

UI sucessfully running via uvicon on windows
  src/meltano/api/workers/api_worker.py
Due: none

Able to test loader configuration via UI
  src/meltano/api/controllers/orchestrations.py
Due: none

Added requested feature flag, feature flag logic, and uvicorn[standard] install
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
Due: meltano_base

Added timeout keep alive of 600 from gunicorn wsgi.py
  src/meltano/api/workers/api_worker.py
Due: none

Best effort at linting orchestrations.py
  src/meltano/api/controllers/orchestrations.py
Due: none

Updated to follow best practices for utilizing feature flags.
  src/meltano/api/workers/api_worker.py
  src/meltano/core/settings_service.py
Due: none

Accept and validate tasks using yaml and jsonschema
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/job.py
  src/meltano/core/task_sets.py
  tests/meltano/cli/test_job_cmd.py
  tests/meltano/core/test_task_sets.py
Due: docs
