Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

navbar
  docs/src/css/custom.css
  docs/src/theme/Navbar/MobileSidebar/Layout/styles.module.css
  docs/src/theme/Navbar/MobileSidebar/PrimaryMenu/primarymenu.module.scss
Due: docs

Update docusaurus.config.js
  docs/docusaurus.config.js
Due: docs

Fix missing import
  src/cloud-cli/meltano/cloud/api/types.py
Due: none

feat: Add setting `hidden` flag (#7733)
  docs/src/_reference/plugin-definition-syntax.md
  src/meltano/core/plugin/base.py
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
Due: docs

fixes and updates
  docs/docusaurus.config.js
  docs/src/components/homepage/FindOutMore.js
  docs/src/components/homepage/findoutmore.module.scss
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/theme/Footer/Layout/index.js
  docs/src/theme/Footer/Layout/layout.module.scss
  docs/src/theme/Footer/Links/MultiColumn/index.js
  docs/src/theme/Navbar/Content/index.js
  docs/src/theme/Navbar/Logo/styles.module.css
  docs/src/theme/Navbar/Search/styles.module.css
  docs/src/theme/SearchBar/styles.css
  docs/static/img/footer/youtube.svg
Due: docs

typography
  docs/src/components/homepage/Features.js
  docs/src/components/homepage/UseCases.js
  docs/src/components/homepage/usecases.module.scss
  docs/src/css/custom.css
Due: docs

typography update
  docs/src/components/homepage/Features.js
  docs/src/components/homepage/features.module.scss
  docs/src/components/homepage/usecases.module.scss
Due: docs

chore: Drop Python 3.7 support (#7857)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  docs/example-library/meltano-env-precedence/env-var-in-pip-url-example-124/pyproject.toml
  docs/src/_contribute/prerequisites.md
  docs/src/_getting-started/index.md
  docs/src/_guide/installation-guide.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/__init__.py
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/meltano/core/config_service.py
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/project.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  src/meltano/core/utils/__init__.py
  tests/fixtures/fs.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base, docs

404 page
  docs/src/css/custom.css
  docs/src/theme/NotFound.js
  docs/static/img/melty.png
Due: docs

minor css
  docs/src/components/homepage/features.module.scss
  docs/src/theme/Footer/Layout/layout.module.scss
  docs/src/theme/Navbar/Logo/index.js
Due: docs

Changelog init
  docs/docusaurus.config.js
  docs/src/theme/BlogLayout/index.js
  docs/src/theme/BlogSidebar/Desktop/index.js
  docs/src/theme/BlogSidebar/Desktop/styles.module.css
  docs/src/theme/BlogSidebar/Mobile/index.js
  docs/src/theme/BlogSidebar/index.js
  docs/static/img/bg-ellipse-changelog.svg
Due: docs

changelog update
  docs/README.md
  docs/blog/2019-05-28-first-blog-post.md
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/blog/2021-08-26-welcome/index.md
  docs/blog/2022-09-30-meltano-cloud-private-beta.mdx
  docs/blog/2023-03-30-meltano-cloud-private-beta.mdx
  docs/blog/authors.yml
  docs/docusaurus.config.js
  docs/src/components/homepage/UseCases.js
  docs/src/components/homepage/usecases.module.scss
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/theme/BlogLayout/index.js
  docs/src/theme/BlogLayout/index.module.scss
  docs/src/theme/BlogPostItem/Container/index.js
  docs/src/theme/BlogPostItem/Container/styles.module.css
  docs/src/theme/BlogPostItem/Content/index.js
  docs/src/theme/BlogPostItem/Footer/ReadMoreLink/index.js
  docs/src/theme/BlogPostItem/Footer/index.js
  docs/src/theme/BlogPostItem/Footer/styles.module.css
  docs/src/theme/BlogPostItem/Header/Author/index.js
  docs/src/theme/BlogPostItem/Header/Authors/index.js
  docs/src/theme/BlogPostItem/Header/Authors/styles.module.css
  docs/src/theme/BlogPostItem/Header/Title/index.js
  docs/src/theme/BlogPostItem/Header/Title/styles.module.css
  docs/src/theme/BlogPostItem/Header/index.js
  docs/src/theme/BlogPostItem/index.js
  docs/src/theme/BlogPostPage/Metadata/index.js
  docs/src/theme/BlogPostPage/index.js
  docs/src/theme/BlogSidebar/Desktop/index.js
  docs/src/theme/BlogSidebar/Desktop/styles.module.css
  docs/src/theme/BlogSidebar/index.js
  docs/src/theme/Layout/Provider/index.js
  docs/src/theme/Layout/index.js
  docs/src/theme/Layout/styles.module.css
  docs/src/theme/Navbar/MobileSidebar/SecondaryMenu/index.js
  docs/src/theme/NotFound.js
  docs/tailwind.config.js
Due: docs

md style
  docs/blog/2022-09-30-meltano-cloud-private-beta.mdx
  docs/src/css/custom.css
Due: docs

Update custom.css
  docs/src/css/custom.css
Due: docs

toggle jump fix
  docs/src/css/custom.css
  docs/src/theme/ColorModeToggle/index.js
  docs/src/theme/ColorModeToggle/styles.module.css
Due: docs

toggle jump definitive fix
  docs/src/theme/ColorModeToggle/styles.module.css
Due: docs

minor css
  docs/src/css/custom.css
  docs/src/theme/BlogLayout/index.js
  docs/src/theme/Layout/Provider/index.js
  docs/src/theme/Layout/index.js
  docs/src/theme/Layout/styles.module.css
Due: docs

css and favicon
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/favicon.png
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Due: docs

Fix failing tests
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

br fix
  docs/docs/cloud/cloud-cli.md
  docs/docs/cloud/concepts.md
  docs/docs/cloud/fees.md
  docs/docs/cloud/getting_started.md
  docs/docs/cloud/index.md
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/sandbox_environments.md
  docs/docs/cloud/security-policy.md
  docs/docs/cloud/security.md
  docs/docs/cloud/sla.md
  docs/docs/cloud/support.md
  docs/docs/cloud/usage.md
  docs/docs/getting-started/part1.md
  docs/docs/reference/command-line-interface.md
Due: docs

Pass `namespace` argument to Snowplow tracker
  src/meltano/core/tracking/tracker.py
Due: none

TOCInline
  docs/docs/concepts/index.mdx
  docs/docs/contribute/index.mdx
Due: docs

docs working
  docs/docs/getting-started/index.mdx
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/part1.md
  docs/docs/getting-started/part2.md
  docs/docs/getting-started/part3.md
  docs/docs/getting-started/part4.md
  docs/docs/guide/index.mdx
  docs/docs/reference/glossary.md
  docs/docs/reference/index.mdx
  docs/docs/tutorials/index.mdx
  docs/src/util/termy_custom.js
  docs/src/util/termynal.js
Due: docs

Support `sensitive` flag for settings
  src/meltano/core/plugin/base.py
  src/meltano/core/setting_definition.py
Due: none

feat: Command to cancel a running job from the CLI (#7654)
  .pre-commit-config.yaml
  poetry.lock
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/job.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/tests/cli/test_job.py
Due: meltano_base

docs: Document `meltano-cloud job stop` (#7668)
  docs/src/_cloud/cloud-cli.md
Due: docs

Document `sensitive` as a property of settings and show `password` kind as deprecated
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Redact sensitive values in `config list`
  src/meltano/cli/config.py
Due: none

Fix weird title casing
  src/meltano/cli/interactive/config.py
Due: none

Display redacted values in yellow
  src/meltano/cli/config.py
  src/meltano/cli/interactive/config.py
Due: none

Don't quote redacted values
  src/meltano/cli/config.py
  src/meltano/cli/interactive/config.py
Due: none

log broken links
  docs/docusaurus.config.js
Due: docs

md links fix
  docs/docs/contribute/docs.md
  docs/docs/guide/advanced-topics.md
  docs/docs/reference/settings.md
  docs/docs/tutorial-basics/congratulations.md
Due: docs

style: Apply suggestions from Sourcery (#7859)
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/cli/deployment.py
  src/cloud-cli/meltano/cloud/cli/history/command.py
  src/cloud-cli/meltano/cloud/cli/history/utils.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/interactive/config.py
  src/meltano/cli/remove.py
  src/meltano/cli/state.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/utils.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/db.py
  src/meltano/core/hub/client.py
  src/meltano/core/hub/schema.py
  src/meltano/core/job_state.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/superset.py
  src/meltano/core/project.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/runner/dbt.py
  src/meltano/core/runner/singer.py
  src/meltano/core/settings_store.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/tracking/contexts/cli.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  src/meltano/migrations/env.py
  src/meltano/migrations/utils/dialect_typing.py
Due: none

docs sidebar toc nav desktop layout
  docs/docs/getting-started/index.mdx
  docs/docusaurus.config.js
  docs/src/components/SidebarArrow.js
  docs/src/components/sidebararrow.module.scss
  docs/src/css/custom.css
  docs/src/theme/BlogLayout/index.module.scss
  docs/src/theme/BlogSidebar/Desktop/styles.module.css
  docs/src/theme/DocBreadcrumbs/Items/Home/index.js
  docs/src/theme/DocBreadcrumbs/Items/Home/styles.module.css
  docs/src/theme/DocBreadcrumbs/index.js
  docs/src/theme/DocBreadcrumbs/styles.module.css
  docs/src/theme/DocItem/Layout/index.js
  docs/src/theme/DocItem/Layout/styles.module.css
  docs/src/theme/DocPage/Layout/Main/index.js
  docs/src/theme/DocPage/Layout/Main/styles.module.css
  docs/src/theme/DocPage/Layout/Sidebar/ExpandButton/index.js
  docs/src/theme/DocPage/Layout/Sidebar/ExpandButton/styles.module.css
  docs/src/theme/DocPage/Layout/Sidebar/index.js
  docs/src/theme/DocPage/Layout/Sidebar/styles.module.css
  docs/src/theme/DocPage/Layout/index.js
  docs/src/theme/DocPage/Layout/styles.module.css
  docs/src/theme/DocSidebar/Desktop/Content/index.js
  docs/src/theme/DocSidebar/Desktop/Content/styles.module.css
  docs/src/theme/DocSidebar/Desktop/index.js
  docs/src/theme/DocSidebar/Desktop/styles.module.css
  docs/src/theme/NavbarItem/DropdownNavbarItem.js
Due: docs

important
  docs/src/theme/DocBreadcrumbs/index.js
  docs/src/theme/DocItem/Layout/index.js
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
