Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Re-add `netlify.toml`
  netlify.toml
Due: none

Fix Netlify build command
  netlify.toml
Due: none

Fix broken links
  docs/docs/concepts/environments.md
  docs/docs/concepts/state_backends.md
  docs/docs/getting-started/index.mdx
  docs/docs/guide/configuration.md
  docs/docs/guide/transformation.md
  docs/docs/reference/ui.md
Due: docs

Fix broken links
  docs/docs/contribute/docs.md
  docs/docs/contribute/telemetry.md
Due: docs

Update build output location in `netlify.toml`
  netlify.toml
Due: none

Use `snowplow-tracker` 1.0.1
  poetry.lock
  pyproject.toml
Due: meltano_base

Run the flaky test first
  tests/meltano/core/tracking/test_tracker.py
Due: none

Run other flaky test second
  tests/meltano/core/tracking/test_tracker.py
Due: none

rm ELT messaging, move things around
  docs/src/_getting-started/meltano-at-a-glance.md
  docs/src/_getting-started/part1.md
  docs/src/_getting-started/part2.md
  docs/src/_getting-started/part3.md
  docs/src/_getting-started/part4.md
  docs/src/_guide/complete_tutorial.md
Due: docs

fix link text
  docs/src/_getting-started/part2.md
Due: docs

distinguish ELT from data integration engine
  docs/src/_getting-started/meltano-at-a-glance.md
Due: docs

Update Cloud CLI dependencies
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: none

recommend airflow utility over orchestrator
  docs/src/_guide/orchestration.md
  docs/src/_guide/production.md
Due: docs

refer to the hub for airflow docs
  docs/src/_guide/orchestration.md
Due: docs

docs: recommend airflow utility over orchestrator (#7906)
  docs/src/_guide/orchestration.md
  docs/src/_guide/production.md
Due: docs

Implement `--from-ref`
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
Due: none

chore: Use `--show-fixes` Ruff flag
  .pre-commit-config.yaml
Due: none

chore: Use `--show-fixes` Ruff flag (#7908)
  .pre-commit-config.yaml
Due: none

advanced docs on running custom scripts
  docs/src/_guide/advanced-topics.md
Due: docs

Add failing test
  src/cloud-cli/tests/cli/test_history.py
Due: none

Use `dateutil` to parse execution datetimes
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/history/utils.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
Due: meltano_base

Add missing mypy dependency
  noxfile.py
Due: none

reword custom script to remove install step
  docs/src/_guide/advanced-topics.md
Due: docs

docs: Update instructions for providing `GIT_SSH_PRIVATE_KEY`
  docs/src/_cloud/platform.md
Due: docs

Update docs/src/_cloud/platform.md
  docs/src/_cloud/platform.md
Due: docs

docs: Update instructions for providing `GIT_SSH_PRIVATE_KEY` (#7917)
  docs/src/_cloud/platform.md
Due: docs

typing: Enable mypy warnings for unused configurations and "ignores"
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
Due: none

Add `type: ignore` comments for click failures
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/logs.py
Due: none

chore: Enable mypy warnings for unused configurations and "ignores" (#7918)
  pyproject.toml
  src/meltano/core/manifest/manifest.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
Due: none

fix: Datetime parsing error in History command (#7912)
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/history/utils.py
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_history.py
Due: meltano_base

docs: advanced docs on running custom scripts (#7911)
  docs/src/_guide/advanced-topics.md
Due: docs

Project add command
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

Add tests
  tests/fixtures/cli.py
  tests/fixtures/plugins/extractors/tap-custom/test.yml
  tests/meltano/cli/test_add.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Use new provisioner API projects endpoint in project add command
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

Use yaspin
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

docs: Fix state backend env vars
  docs/src/_reference/settings.md
Due: docs

Add -> create
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

docs: Fix state backend env vars in examples (#7926)
  docs/src/_reference/settings.md
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
