Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

I agree. I used the print so I could see where that happened when I ran meltano ui .
  src/meltano/api/workers/api_worker.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/meltano/api/workers/api_worker.py
Due: none

Waitress is running UI needs built
  .gitignore
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

Added make_build.ps1 to build ui in windows. Also removed --thread=1 for waitress-serve in api-worker
  make_build.ps1
  src/meltano/api/workers/api_worker.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitignore
Due: none

make_build changes, ran make_build, updated package.json node-sass to 4.14.1
  make_build.ps1
  src/webapp/package.json
Due: none

Add support for bind and bind-port
  src/meltano/api/workers/api_worker.py
Due: none

Updated make_build windows paths
  make_build.ps1
Due: none

deleted make_build.ps1
  make_build.ps1
Due: none

Incoporated suggested changes from MR review on 20220505 to api_worker and poetry toml and lock files
  poetry.lock
  pyproject.toml
  src/meltano/api/workers/api_worker.py
Due: meltano_base

yarn.lock files after yarn build and yarn setup
  docs/yarn.lock
  src/webapp/yarn.lock
Due: docs

Added the yarn.lock files again
  src/webapp/yarn.lock
  yarn.lock
Due: none

Add v1.103.1 with telemetry fix
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  docs/src/_reference/settings.md
Due: docs

fix anon standards links
  docs/src/_reference/settings.md
Due: docs

add anon standards and Q&A
  docs/getting-started.md
  docs/src/_reference/settings.md
Due: docs

pass container spec entrypoint through to container
  src/meltano/core/container/container_spec.py
Due: none

init 0005
  .adr-dir
  docs/adr/0005-use-fastapi-to-develop-v2-of-api.md
Due: docs

Update docs/adr/0005-use-fastapi-to-develop-v2-of-api.md
  docs/adr/0005-use-fastapi-to-develop-v2-of-api.md
Due: docs

mr feedback
  src/meltano/cli/interactive/config.py
Due: none

Pipx instructions added, shamelessly stolen from https://gitlab.com/aaronsteers/meltano/-/tree/feature/pipx-installs
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Updated sample code for gitlab CI to use the current version of Meltano instead of pipx, also switched to pipx in a missed section
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Pipx CI sample_code fix relative pipx installation directory
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Ensurepath wasn't working as it wasn't available on path yet, fixed by using the existing Python binary to find pipx to run ensurepath with
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Set path in current terminal for initial install of pipx
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Cleaned up language and formatting
  docs/src/_guide/installation.md
Due: docs

Changelog updated
  CHANGELOG.md
Due: none

Pointing to relative dir with .. is more clear
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Windows Installation Steps
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

Add windows CI File to main gitlab CI file
  .gitlab-ci.yml
Due: none

Windows CI, replaced ELT with Run as it's known to work on windows
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
Due: none

Source definition from lockfile
  src/meltano/core/project_plugins_service.py
Due: none

Run pytest on Windows
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Fix Windows CI by adding Python3 alias
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
  docs/getting-started.md
Due: docs

test: paremetrized input for container spec test
  tests/meltano/core/container/test_container_spec.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/adr/0005-use-fastapi-to-develop-v2-of-api.md
Due: docs

Doskey replacement in PowerShell as gitlab CI uses PowerShell by default
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
  docs/getting-started.md
Due: docs

Copy api design guidelines from issue
  docs/src/_contribute/api.md
Due: docs

Update docs, add settings for adapter-specific config
  docs/src/_guide/transformation.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Add changelog entry
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/webapp/package.json
Due: docs
