Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Add `sh` for code blocks.
  docs/docs/cloud/cloud-cli.mdx
Due: docs

test: Test with Python 3.11.5
  .github/workflows/test.yml
Due: none

Undo `hidden: true` -> `sidebar_class_name: hidden` find and replace in content
  docs/docs/reference/plugin-definition-syntax.md
Due: docs

docs: Fix `sidebar_class_name: hidden` in content (#8078)
  docs/docs/reference/plugin-definition-syntax.md
Due: docs

docs: Restore `python` settings docs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
Due: docs

docs: Restore `python` settings docs (#8079)
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.md
Due: docs

chore: Add links and missing changelog items
  CHANGELOG.md
Due: none

Remove NOXSESSION
  .github/workflows/test.yml
Due: none

Use `check-latest`
  .github/workflows/test.yml
Due: none

test: Test with Python 3.11.5 (#8075)
  .github/workflows/test.yml
Due: none

ci: Publish image(s) for pre-releases
  .github/workflows/docker_publish.yml
  scripts/generate_docker_tags.py
Due: none

Ensure `latest` are continuously published to ghcr.io
  scripts/generate_docker_tags.py
Due: none

Fix typos
  scripts/generate_docker_tags.py
Due: none

Remove empty tag set check
  .github/workflows/docker_publish.yml
Due: none

Update scripts/generate_docker_tags.py
  scripts/generate_docker_tags.py
Due: none

ci: Publish Docker images for pre-releases (#8081)
  .github/workflows/docker_publish.yml
  scripts/generate_docker_tags.py
Due: none

feat: Add docs for new cloud state command. (#8073)
  docs/docs/cloud/cloud-cli.mdx
Due: docs

Add cloud state command
  docs/docs/cloud/cloud-cli.mdx
Due: docs

Re-add mistakenly removed files
  src/meltano/cloud/__init__.py
  src/meltano/cloud/api/__init__.py
  src/meltano/cloud/api/auth/__init__.py
  src/meltano/cloud/api/auth/auth.py
  src/meltano/cloud/api/auth/callback.jinja2
  src/meltano/cloud/api/auth/logout.html
  src/meltano/cloud/api/client.py
  src/meltano/cloud/api/config.py
  src/meltano/cloud/cli/__init__.py
  src/meltano/cloud/cli/__main__.py
  src/meltano/cloud/cli/base.py
  src/meltano/cloud/cli/docs.py
  src/meltano/cloud/cli/history/__init__.py
  src/meltano/cloud/cli/history/client.py
  src/meltano/cloud/cli/history/command.py
  src/meltano/cloud/cli/history/utils.py
  src/meltano/cloud/cli/job.py
  src/meltano/cloud/cli/login.py
  src/meltano/cloud/cli/logs.py
  src/meltano/cloud/cli/run.py
  src/meltano/cloud/cli/schedule.py
  tests/meltano/cloud/__init__.py
  tests/meltano/cloud/api/auth/test_auth.py
  tests/meltano/cloud/api/auth/test_callback_server.py
  tests/meltano/cloud/api/test_cloud_client.py
  tests/meltano/cloud/api/test_cloud_config.py
  tests/meltano/cloud/cli/__init__.py
  tests/meltano/cloud/cli/conftest.py
  tests/meltano/cloud/cli/test_base.py
  tests/meltano/cloud/cli/test_cli.py
  tests/meltano/cloud/cli/test_deployment.py
  tests/meltano/cloud/cli/test_history.py
  tests/meltano/cloud/cli/test_job.py
  tests/meltano/cloud/cli/test_logs.py
  tests/meltano/cloud/cli/test_run.py
  tests/meltano/cloud/cli/test_schedules.py
  tests/meltano/cloud/conftest.py
Due: none

Validate definition before adding
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/error.py
  tests/meltano/cli/test_add.py
Due: none

Refactor invalid ref tests as single parametrized test
  tests/meltano/cli/test_add.py
Due: none

Fix test failure when run in certain order
  tests/meltano/cli/test_add.py
Due: none

Expect directory invalid ref test to fail on Windows
  tests/meltano/cli/test_add.py
Due: none

chore: Bump version to 3.0.0
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Bump version to 3.0.0 (#8102)
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

Re-add cloud-cli script
  pyproject.toml
Due: none

fix: Re-add cloud-cli script (#8104)
  pyproject.toml
Due: none

Update settings.md
  docs/docs/reference/settings.md
Due: docs

Add help text for all commands
  src/meltano/cloud/cli/state.py
Due: none

test: Retry flaky tracker test
  poetry.lock
  pyproject.toml
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base

test: Retry flaky tracker test (#8109)
  poetry.lock
  pyproject.toml
  tests/meltano/core/tracking/test_tracker.py
Due: meltano_base

feat: Add meltano cloud "state" command (#8070)
  docs/docs/cloud/cloud-cli.mdx
  src/meltano/cloud/cli/__init__.py
  src/meltano/cloud/cli/state.py
  tests/meltano/cloud/cli/test_state.py
Due: docs

docs: Add cloud state command (#8087)
  docs/docs/cloud/cloud-cli.mdx
Due: docs

Update docs/docs/reference/settings.md
  docs/docs/reference/settings.md
Due: docs

Apply suggestions from code review
  docs/docs/reference/settings.md
Due: docs

docs: Add example of database URI for SQL Server (#8111)
  docs/docs/reference/settings.md
Due: docs

update cloud docs to include the lock command
  docs/docs/cloud/getting_started.md
Due: docs

commit after locking
  docs/docs/cloud/getting_started.md
Due: docs

Document `--from-ref`
  docs/docs/reference/command-line-interface.md
Due: docs

Document how to update a custom plugin definition using `--from-ref`
  docs/docs/reference/command-line-interface.md
Due: docs
