Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

more links
  .gitlab/ci/sample_code.gitlab-ci.yml
  CHANGELOG.md
  schema/discovery.schema.json
  schema/meltano.schema.json
  src/meltano/cli/add.py
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/invoke.py
  src/meltano/cli/remove.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/project_settings_service.py
  src/webapp/src/components/analyze/Explore.vue
  src/webapp/src/components/navigation/MainNav.vue
  src/webapp/src/components/pipelines/ConnectorSettings.vue
  src/webapp/src/components/pipelines/LogModal.vue
  src/webapp/src/utils/setupToasted.js
  tests/meltano/core/test_settings_store.py
Due: none

more links
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Add docstrings in meltano_file.py, add logging for no environment.
  src/meltano/cli/cli.py
  src/meltano/core/meltano_file.py
Due: none

fix more WPS errors
  src/meltano/cli/add.py
  src/meltano/cli/install.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: none

fix bad variable reference
  src/meltano/cli/schedule.py
Due: none

add change log
  CHANGELOG.md
Due: none

add schedule anon tracking and bring add tracking to cli for consistency
  CONTRIBUTING.md
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

clean up linting errors
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

Resolve "`meltano test` erroring because unrelated Airflow isnt installed"
  CHANGELOG.md
  src/meltano/core/validation_service.py
  tests/meltano/core/test_validation_service.py
Due: none

Use Node.js package from NodeSource instead of Debian
  docker/base/Dockerfile
Due: meltano_base

Improve meltano init experience when no project is passed
  CHANGELOG.md
  src/meltano/cli/initialize.py
Due: none

black isort
  src/meltano/cli/add.py
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/elt.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/utils.py
  src/meltano/core/project_settings_service.py
  tests/meltano/core/test_settings_store.py
Due: none

replaced class attr
  src/meltano/core/project_settings_service.py
Due: none

Resolve "Full check for broken links in Python text, especially links to docs.meltano.com"
  .gitlab/ci/sample_code.gitlab-ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  schema/discovery.schema.json
  schema/meltano.schema.json
  src/meltano/cli/add.py
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/invoke.py
  src/meltano/cli/remove.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/project_settings_service.py
  src/webapp/src/components/analyze/Explore.vue
  src/webapp/src/components/navigation/MainNav.vue
  src/webapp/src/components/pipelines/ConnectorSettings.vue
  src/webapp/src/components/pipelines/LogModal.vue
  src/webapp/src/utils/setupToasted.js
  tests/meltano/core/test_settings_store.py
Due: none

fix add_related_plugins default type
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
Due: none

fix missing schedule tracking ga events
  CHANGELOG.md
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

Use block.close_stdin() which is already 3.7 safe
  src/meltano/core/block/extract_load.py
Due: none

Add default_environment to initialize.yml
  src/meltano/core/bundle/initialize.yml
Due: none

Update GA script ID, move to header template so it's immediately after the body tag.
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/_layouts/doc.html
  docs/_layouts/page.html
Due: docs

instantiate tracker outside loop
  src/meltano/cli/add.py
Due: none

black for dragon file
  src/meltano/cli/dragon.py
Due: none

Add header anchors back to docs
  docs/_includes/anchor_headings.html
  docs/_layouts/default.html
  docs/_layouts/doc.html
  docs/_layouts/page.html
Due: docs

Resolve feedback from MR, correct test
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/core/meltano_file.py
  tests/meltano/cli/test_elt.py
Due: docs

Add CHANGELOG entry
  CHANGELOG.md
Due: none

No linter shall impede a dragon
  .flake8
Due: none

Resolve "Allow users to name a default Environment in `meltano.yml`"
  CHANGELOG.md
  docs/src/_concepts/environments.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/core/bundle/initialize.yml
  src/meltano/core/meltano_file.py
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/fixtures/fs.py
  tests/fixtures/multifile_project/meltano.yml
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/test_project_files.py
Due: docs

close_stdin should target consumers not producers
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/singer.py
  tests/meltano/core/block/test_singer.py
Due: none

linter fixes
  .flake8
  src/meltano/cli/__init__.py
Due: none

Resolve "meltano run error: 'SubprocessStreamProtocol' object has no attribute '_closed'"
  CHANGELOG.md
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/singer.py
  tests/meltano/core/block/test_singer.py
Due: none

Add meltano dragon command
  .flake8
  src/meltano/cli/__init__.py
  src/meltano/cli/dragon.py
  src/meltano/core/cli_messages.py
Due: none

Bump version: 1.98.0 → 1.99.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add dbt-snowflake plugin definition
  src/meltano/core/bundle/discovery.yml
Due: docs

added file bundle
  src/meltano/core/bundle/discovery.yml
Due: docs

add default_environment to meltano.yml schema
  schema/meltano.schema.json
Due: none

Resolve "`default_environment` missing from meltano.yml json schema"
  CHANGELOG.md
  schema/meltano.schema.json
Due: none

Release v1.98.1
  CHANGELOG.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
