Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Ignore `pytest.PytestUnraisableExceptionWarning`
  pyproject.toml
Due: none

Initial implementation of locking dependencies in plugin `.lock` files/`meltano.yml` with an ephemeral `requirements.txt`
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_install_service.py
Due: none

fix: Emit a clearer error message when trying to set an unknown message in `.env`
  src/meltano/cli/__init__.py
  src/meltano/cli/interactive/config.py
  src/meltano/cli/utils.py
  src/meltano/core/environment.py
  src/meltano/core/error.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
Due: none

Apply suggestions from code review
  src/meltano/cli/add.py
  src/meltano/cli/cli.py
  src/meltano/cli/compile.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/initialize.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/lock.py
  src/meltano/cli/remove.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/validate.py
Due: none

Test `EnvStoreManager`
  tests/meltano/core/test_settings_store.py
Due: none

Omit coverage for `meltano.cli.interactive`
  pyproject.toml
Due: none

fix: Addressed `structlog` warning by removing `format_exc_info` from the processor chain
  src/meltano/core/logging/utils.py
Due: none

Test `DotEnvStoreManager`
  tests/meltano/core/test_settings_store.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update `meltano config ... unset`
  src/meltano/cli/config.py
Due: none

fix: Addressed `structlog` warning by removing `format_exc_info` from the processor chain (#8691)
  src/meltano/core/logging/utils.py
Due: none

Update `meltano config ... reset`
  src/meltano/cli/config.py
Due: none

Test `DotEnvStoreManager.reset`
  tests/meltano/core/test_settings_store.py
Due: none

test: Handle flaky elt test
  tests/meltano/cli/test_elt.py
Due: none

test: Handle flaky elt test (#8690)
  tests/meltano/cli/test_elt.py
Due: none

Update src/meltano/cli/initialize.py
  src/meltano/cli/initialize.py
Due: none

chore: Enable Ruff for Alembic migrations (#8680)
  .pre-commit-config.yaml
  pyproject.toml
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/367228df6a43_add_trigger_to_job.py
  src/meltano/migrations/versions/53e97221d99f_add_run_id_to_job.py
  src/meltano/migrations/versions/5b43800443d1_rename_job_to_job_run_and_job_id_to_job_.py
  src/meltano/migrations/versions/6828cc5b1a4f_create_dedicated_state_table.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/990c0665f3ce_ensure_user_login_count_default_value.py
  src/meltano/migrations/versions/a3e2b0a4937d_add_login_audit_columns.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
  src/meltano/migrations/versions/d135f52a6f49_add_last_heartbeat_at_column_to_job.py
  src/meltano/migrations/versions/e4fbabc3fed6_add_last_activity_at_column.py
  src/meltano/migrations/versions/f4c225a9492f_create_dedicated_job_state_table.py
Due: none

Fix line highlighting
  docs/docs/concepts/project.md
  docs/docs/guide/integration.md
  docs/docs/guide/plugin-management.md
Due: docs

Fix bash highlighting
  docs/docs/guide/plugin-management.md
Due: docs

Try using `console`
  docs/docs/guide/plugin-management.md
Due: docs

Use highlight comments
  docs/docs/concepts/project.md
Due: docs

Use file titles in some code blocks
  docs/docs/concepts/project.md
  docs/docs/guide/integration.md
  docs/docs/guide/plugin-management.md
Due: docs

Get rid of "==" replacing hook
  docs/src/theme/CodeBlock/Content/String.js
  docs/src/theme/CodeBlock/Line/index.js
Due: docs

Fix highligh comments
  docs/docs/guide/plugin-management.md
Due: docs

docs: Fixed line highlighting and handling of `==` in code blocks (#8695)
  docs/docs/concepts/project.md
  docs/docs/guide/integration.md
  docs/docs/guide/plugin-management.md
  docs/src/theme/CodeBlock/Content/String.js
  docs/src/theme/CodeBlock/Line/index.js
Due: docs

chore: Remove `bumpversion` references
  .github/CODEOWNERS
  .github/actions/validate-version-sequence/action.yml
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Correctly omit coverage for `meltano.cli.interactive`
  pyproject.toml
Due: none

chore: Correctly omit coverage for `meltano.cli.interactive` (#8697)
  pyproject.toml
Due: none

chore: Enable `PERF` Ruff rules
  pyproject.toml
  src/meltano/core/behavior/hookable.py
  src/meltano/core/db.py
  src/meltano/core/manifest/jsonschema.py
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin_location_remove.py
  src/meltano/core/project_files.py
  src/meltano/core/runner/singer.py
  src/meltano/core/settings_service.py
Due: none

fix: Add missing `project_readonly` setting to JSON schema
  src/meltano/schemas/meltano.schema.json
Due: none

fix: Add missing `project_readonly` setting to JSON schema (#8699)
  src/meltano/schemas/meltano.schema.json
Due: none

feat: Added a `--log-format` option as a shorcut to quickly change the format of logs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.mdx
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/utils.py
  tests/meltano/cli/test_cli.py
  tests/meltano/core/logging/test_logging_utils.py
Due: meltano_base, docs

test: Bump to latest Snowplow Micro (2.1.0) and use distroless image
  tests/fixtures/docker/docker-compose.yml
Due: none

test: Bump to latest Snowplow Micro (2.1.0) and use distroless image (#8700)
  tests/fixtures/docker/docker-compose.yml
Due: none

test: Test on Python 3.13
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tests/meltano/core/tracking/test_exception.py
Due: meltano_base

feat: Start using `elt.buffer` setting in `meltano config ... test`
  pyproject.toml
  src/meltano/cli/config.py
  src/meltano/core/plugin_test_service.py
Due: none

fix: `meltano config ... test` now uses the `elt.buffer` setting (#8698)
  pyproject.toml
  src/meltano/cli/config.py
  src/meltano/core/plugin_test_service.py
Due: none

feat: Pass project `env` to installation environment
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin_install_service.py
Due: none

refactor: Use `importlib.resources` to read distribution files
  src/meltano/core/bundle/__init__.py
  src/meltano/core/manifest/manifest.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/utils/compat.py
  src/meltano/schemas/__init__.py
  tests/fixtures/docker/__init__.py
  tests/meltano/cli/test_compile.py
  tests/meltano/core/tracking/test_exception.py
  tests/meltano/core/tracking/test_schemas.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
