Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

fix(deps): Pin werkzeug to <2.2.0 (#6470)
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Groom changelog
  CHANGELOG.md
Due: none

Address some doc-related lint issues
  src/meltano/core/behavior/hookable.py
  src/meltano/core/behavior/versioned.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/db.py
  src/meltano/core/extract_utils.py
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/target.py
Due: none

fix(deps): Require Flask-Login>=0.6.2 and Werkzeug>=0.2.2
  poetry.lock
  pyproject.toml
Due: meltano_base

Do not fail Docker publish workflows due to vulnerabilities
  .github/actions/docker-build-scan-push/action.yml
Due: none

correct uvicorn misspelling (uvicron)
  src/meltano/core/project.py
Due: none

Update docs/src/_reference/plugin-definition-syntax.md
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Document allowed maintenance_status values
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Remove extra backtick
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Remove redundant protected settings section
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Link to commands in project page
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Link from 'requires' subsections
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

ci: Print debug info for Poetry environment in tests
  .github/workflows/test.yml
Due: none

ci: Use official Poetry installer
  .github/workflows/test.yml
Due: none

Use poetry debug
  .github/workflows/test.yml
Due: none

Use patch version
  .github/workflows/test.yml
Due: none

Update PATH
  .github/workflows/test.yml
Due: none

Address misc other lint issues
  src/meltano/api/events/notification_events.py
  src/meltano/api/security/identity.py
  src/meltano/core/plugin/file.py
Due: none

Fix failing tests
  src/meltano/core/job/job.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_discover.py
  tests/meltano/cli/test_lock.py
  tests/meltano/cli/test_upgrade.py
Due: none

Install using pipx
  .github/workflows/test.yml
Due: none

Remove unused API route
  src/meltano/api/controllers/settings.py
Due: none

Address remaining non-doc lint issues
  .flake8
  src/meltano/api/__main__.py
  src/meltano/api/api_blueprint.py
  src/meltano/api/config.py
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/controllers/plugins.py
  src/meltano/api/controllers/root.py
  src/meltano/api/events/notification_events.py
  src/meltano/api/json.py
  src/meltano/api/profiler.py
  src/meltano/api/security/__init__.py
  src/meltano/api/security/auth.py
  src/meltano/api/security/forms.py
  src/meltano/api/security/identity.py
  src/meltano/api/security/resource_filter.py
  src/meltano/api/workers/ui_available_worker.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/utils/__init__.py
  tests/meltano/cli/test_upgrade.py
  tests/meltano/core/runner/test_runner.py
Due: none

Use future annotation type hints
  src/meltano/api/mail.py
  src/meltano/cli/state.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/behavior/canonical.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/ioblock.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/error.py
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/logging/utils.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/command.py
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin/factory.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin/singer/mapper.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_remove_service.py
  src/meltano/core/plugin_test_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/schedule_service.py
  src/meltano/core/transform_add_service.py
  src/meltano/core/utils/__init__.py
  src/meltano/core/utils/pidfile.py
  src/meltano/core/validation_service.py
  src/meltano/core/venv_service.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_run.py
Due: none

Don't update package inside Nox session
  noxfile.py
  src/meltano/core/upgrade_service.py
Due: none

Fix failing tests
  src/meltano/api/api_blueprint.py
  src/meltano/core/utils/__init__.py
Due: none

fix(ui): When feature flag `enable_uvicorn` is true require write lock when accessing Project.meltano attribute (#6466)
  src/meltano/core/project.py
Due: none

docs: Document YAML syntax for Hub plugins (#6460)
  docs/src/_concepts/project.md
  docs/src/_contribute/plugins.md
  docs/src/_reference/plugin-definition-syntax.md
Due: docs

Add FORCE_COLOR env var
  .github/workflows/test.yml
Due: none

Use `continue-on-error` instead of a commented out SARIF check
  .github/actions/docker-build-scan-push/action.yml
Due: none

build: Use `sass` instead of the deprecated `node-sass` library
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

ci: Scan Docker images (#6410)
  .github/actions/docker-build-scan-push/action.yml
  .github/actions/docker-build-scan-push/check_sarif.py
  .github/workflows/docker_publish.yml
  docs/src/_guide/installation.md
Due: docs

ci: Remove GitLab CI (#6448)
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/ci/demo_project.gitlab-ci.yml
  .gitlab/ci/docker.gitlab-ci.yml
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_license_finder.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  .gitlab/ci/gitops.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/license_scanning.gitlab-ci.yml
  .gitlab/ci/publish.gitlab-ci.yml
  .gitlab/ci/sample_code.gitlab-ci.yml
  .gitlab/ci/sample_code_windows.gitlab-ci.yml
  .gitlab/ci/sast.gitlab-ci.yml
  .gitlab/ci/scripts/docker_build_before_script.sh
  .gitlab/ci/scripts/docker_build_script.sh
  .gitlab/ci/scripts/python_image_version.sh
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/test_webapp.gitlab-ci.yml
  .gitlab/issue_templates/.gitkeep
  .gitlab/issue_templates/Release.md
  .gitlab/issue_templates/bugs.md
  .gitlab/issue_templates/feature_proposal.md
  .gitlab/merge_request_templates/release.md
  docs/README.md
  docs/src/_contribute/docs.md
Due: docs

Remove unused Dockerfiles
  docker/base/Dockerfile
  docker/docs/Dockerfile
  docker/main/Dockerfile
Due: meltano_base

chore: Remove Makefile
  .github/workflows/build.yml
  Makefile
  scripts/bundle_ui.sh
Due: none

Remove redundant creation of the release marker
  .github/workflows/build.yml
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
