Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Add `@vue/babel-preset-app`
  .pre-commit-config.yaml
  src/webapp/.eslintrc.js
  src/webapp/tests/e2e/specs/google-analytics.spec.js
  src/webapp/tests/e2e/specs/sqlite-carbon-2.spec.js
Due: none

fix: Avoid SQLAlchemy deprecation warning
  src/meltano/migrations/versions/6828cc5b1a4f_create_dedicated_state_table.py
Due: none

fix: Fix error on `meltano config meltano set ...`
  src/meltano/cli/interactive/config.py
Due: none

fix: Avoid SQLAlchemy deprecation warning (#6818)
  src/meltano/migrations/versions/6828cc5b1a4f_create_dedicated_state_table.py
Due: none

Add test for `meltano config meltano set ...`
  tests/meltano/cli/test_config.py
Due: none

test: Ensure telemetry uses latest Iglu schemas
  tests/meltano/core/tracking/test_schemas.py
Due: none

test: Ensure telemetry uses latest Iglu schemas (#6820)
  tests/meltano/core/tracking/test_schemas.py
Due: none

fix: Fix error on `meltano config meltano set ...` (#6819)
  src/meltano/cli/interactive/config.py
  tests/meltano/cli/test_config.py
Due: none

Vacuum state storage part 2: add database_max_rows_per_job in settings
  src/meltano/cli/state.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/state_service.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Remove E(t)LT
  docs/src/_getting-started/part4.md
Due: docs

docs: Remove E(t)LT from tutorial (#6822)
  docs/src/_getting-started/part4.md
Due: docs

Vacuum state storage part 2: rename database_max_rows_per_job -> database_max_rows_per_state
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_service.py
Due: none

Vacuum state storage: docs
  docs/src/_reference/command-line-interface.md
  docs/src/_reference/settings.md
Due: docs

Update docs
  docs/src/_getting-started/index.md
  docs/src/_reference/command-line-interface.md
Due: docs

Fix environment variable MELTANO_DATABASE_MAX_ROWS_PER_STATE
  docs/src/_reference/settings.md
Due: docs

Fix StateService.
  src/meltano/core/state_service.py
Due: none

Fix for coding style.
  src/meltano/core/job/job.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/state_service.py
Due: none

Fix for coding style, part 2.
  src/meltano/cli/state.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/job.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/state_service.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/test_state_service.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

ci: print better version debug info
  .github/workflows/build.yml
Due: none

ci: print better version debug info if version mismatch occurs (#6826)
  .github/workflows/build.yml
Due: none

chore: Enable type checking in `meltano.core.schedule_service`
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/schedule.py
  src/meltano/core/schedule_service.py
  src/meltano/core/utils/__init__.py
Due: meltano_base

Update URL to getting started guide
  src/meltano/core/project_init_service.py
Due: none

Update create progress messages
  src/meltano/core/project_init_service.py
  tests/meltano/cli/test_initialize.py
Due: none

Update coverage exclusion patterns
  pyproject.toml
Due: none

Fix regex in coverage exclusion patterns
  pyproject.toml
Due: none

chore: Enable type checking in `meltano.core.schedule_service` (#6831)
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/schedule.py
  src/meltano/core/schedule_service.py
  src/meltano/core/utils/__init__.py
Due: meltano_base

Test init with relative and absolute paths; correct docs
  docs/src/_reference/command-line-interface.md
  tests/meltano/core/test_project_init_service.py
Due: docs

chore: cleanup marketing on init
  src/meltano/core/cli_messages.py
Due: none

chore: Remove unused file `setup.cfg`
  setup.cfg
Due: none

chore: Move Pytest config into `pyproject.toml`
  pyproject.toml
  pytest.ini
Due: none

chore: Remove unused `license_finder` directory
  license_finder/Dockerfile
  license_finder/dependency_decisions.yml
Due: none

chore: Add dependency on `setuptools`
  poetry.lock
  pyproject.toml
Due: meltano_base

Remove `Caddyfile`
  Caddyfile
Due: none

chore: Remove unused `.env` files
  .env.dev
  .env.example
Due: none

Remove unused `.dockerignore` file
  .dockerignore
Due: none

Remove unused `docker-compose.yml` file
  docker-compose.yml
Due: none
