Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

refactor: Fixed some log serialization issues with `meltano.core.projec_plugins_service.DefinitionSource` and `meltano.core.plugin.project_plugin.ProjectPlugin`
  src/meltano/core/block/parser.py
  src/meltano/core/project_plugins_service.py
Due: none

feat: Support `uv` as an optional `venv` backend
  docs/docs/concepts/python_virtual_environments.md
  docs/docs/guide/advanced-topics.md
  docs/docs/reference/settings.mdx
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_venv_service.py
Due: meltano_base, docs

refactor: Removed some old Python 3.7 compatibility code
  src/meltano/core/block/singer.py
  src/meltano/core/logging/utils.py
Due: none

Use explicit `make_dirs` kwarg
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/project.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_utils.py
Due: none

Add failing test
  tests/meltano/core/test_utils.py
Due: none

Fix TypeAlias annotation
  src/meltano/core/project.py
Due: none

Fix venv path being created for inherited plugins
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project.py
  src/meltano/core/utils/__init__.py
  src/meltano/core/venv_service.py
  tests/meltano/core/test_utils.py
Due: none

Fix `plugin_lock_path` call
  src/meltano/core/locked_definition_service.py
Due: none

Fix tests
  tests/meltano/core/test_locked_definition_service.py
  tests/meltano/core/test_plugin_remove_service.py
  tests/meltano/core/test_project_add_service.py
Due: none

Fix tests
  tests/meltano/core/state_store/test_filesystem.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Type check `meltano.core.project`
  pyproject.toml
  src/meltano/core/project.py
Due: none

refactor: Fixed some log serialization issues with `meltano.core.proj…ec_plugins_service.DefinitionSource` and `meltano.core.plugin.project_plugin.ProjectPlugin` (#8469)
  src/meltano/core/block/parser.py
  src/meltano/core/project_plugins_service.py
Due: none

fix: `meltano run` no longer creates empty `venv` plugin directories for inherited plugins (#8447)
  pyproject.toml
  src/meltano/core/locked_definition_service.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project.py
  src/meltano/core/utils/__init__.py
  src/meltano/core/venv_service.py
  tests/meltano/core/test_locked_definition_service.py
  tests/meltano/core/test_plugin_remove_service.py
  tests/meltano/core/test_project_add_service.py
  tests/meltano/core/test_utils.py
Due: none

chore: Bump `check-jsonschema` and `ruamel.yaml`
  poetry.lock
  pyproject.toml
Due: meltano_base

feat(CLI): `meltano run` now has a `--run-id` option to allow for custom run UUIDs
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/parser.py
  src/meltano/core/block/singer.py
  src/meltano/core/elt_context.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_extract_load.py
Due: docs

chore: Bump `check-jsonschema` and `ruamel.yaml` (#8476)
  poetry.lock
  pyproject.toml
Due: meltano_base

feat(cli): Support installing multiple plugins of any type (#8355)
  docs/docs/guide/plugin-management.md
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/install.py
  tests/meltano/cli/test_install.py
Due: docs

chore: Removed some old Python 3.7 compatibility code
  src/meltano/core/block/singer.py
  src/meltano/core/logging/utils.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Removed some old Python 3.7 compatibility code (#8477)
  src/meltano/core/block/singer.py
  src/meltano/core/logging/utils.py
Due: none

ci: Qualify constraints file with workspace directory
  .github/workflows/build.yml
  .github/workflows/integration_tests.yml
  .github/workflows/test.yml
Due: none

ci: Qualify constraints file with workspace directory (#8479)
  .github/workflows/build.yml
  .github/workflows/integration_tests.yml
  .github/workflows/test.yml
Due: none

chore: Bump package version
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.4.0a1 (#8480)
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

Allow `install_plugins` call to optionally skip plugins that are already installed
  src/meltano/cli/utils.py
  src/meltano/core/plugin_install_service.py
Due: none

Make plugin install methods async
  src/meltano/cli/add.py
  src/meltano/cli/install.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/upgrade_service.py
  tests/meltano/core/test_plugin_install_service.py
Due: none

Reuse existing skipped plugin install paradigm
  src/meltano/core/plugin_install_service.py
Due: none

Implement for `invoke`
  src/meltano/cli/invoke.py
  src/meltano/core/plugin_install_service.py
Due: none

Implement for `run`
  src/meltano/cli/run.py
  src/meltano/core/plugin_install_service.py
Due: none

Remove all files in a plugin run dir, not including the dir itself
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: none

POC: Disable install results output for `invoke`
  src/meltano/cli/invoke.py
  src/meltano/cli/utils.py
Due: none

Fix `invoke` failing tests
  tests/meltano/cli/test_invoke.py
Due: none

Address coverage warnings
  tests/meltano/core/test_venv_service.py
Due: none

feat: Support `uv` as an optional `venv` backend
  docker/meltano/Dockerfile
  docs/docs/concepts/python_virtual_environments.md
  docs/docs/guide/advanced-topics.md
  docs/docs/reference/settings.mdx
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_venv_service.py
Due: meltano_base, docs

fix: Environment variables from `.env` are now passed to the plugin installation subprocesses
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
Due: none

fix: An explicit error message is now logged when Meltano fails to retrieve tap state from the state backend
  src/meltano/core/plugin/singer/tap.py
Due: none

Add `pragma: no cover`
  src/meltano/core/plugin/singer/tap.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
