Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Fire the first start event later to capture plugins
  src/meltano/cli/invoke.py
Due: none

Don't fire completed event until after listing is performed
  src/meltano/cli/invoke.py
Due: none

Remove dupe event
  src/meltano/cli/invoke.py
Due: none

Add CI workflow to lint Snowplow schemas (#6053)
  .github/actions/igluctl-lint/Dockerfile
  .github/actions/igluctl-lint/action.yml
  .github/workflows/lint_snowplow_schemas.yml
Due: none

Update src/meltano/cli/invoke.py
  src/meltano/cli/invoke.py
Due: none

first pass at rich tables
  poetry.lock
  pyproject.toml
  src/meltano/cli/config.py
Due: meltano_base

pr feedback
  src/meltano/cli/invoke.py
Due: none

--job-id -> --state-id in v2.0 migration guide
  docs/src/_reference/v2-migration.md
Due: docs

Add header for CLI and API changes
  docs/src/_reference/v2-migration.md
Due: docs

Add info on --state-id to migration guide (#6104)
  docs/src/_reference/v2-migration.md
Due: docs

Add telemetry to `add` command
  src/meltano/cli/add.py
Due: none

Remove non-option flags
  src/meltano/cli/add.py
Due: none

Actually attach PluginsContext
  src/meltano/cli/add.py
Due: none

Add telemetry to install command
  src/meltano/cli/install.py
Due: none

Attach env and project contexts to structured events
  src/meltano/core/tracking/tracker.py
Due: none

Additional docs for jobs
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

working structlog config
  src/meltano/core/logging/utils.py
Due: none

Run through prettier
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Fix attr name
  src/meltano/core/tracking/tracker.py
Due: none

Have legacy tracker override its trackers main contexts
  src/meltano/cli/invoke.py
  src/meltano/core/legacy_tracking/legacy_tracker.py
Due: none

Allow context overrides
  src/meltano/cli/invoke.py
  src/meltano/core/legacy_tracking/legacy_tracker.py
Due: none

2.0 changelog updates
  CHANGELOG.md
Due: none

Update invoke to fire start event later (#6098)
  src/meltano/cli/invoke.py
Due: none

Add telemetry to `add` command (#6108)
  src/meltano/cli/add.py
Due: none

update/merge from release notes
  CHANGELOG.md
Due: none

Additional docs for jobs (#6112)
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Catch PluginNotFound errors to fire a tracking event
  src/meltano/cli/install.py
Due: none

2.0 changelog updates (#6113)
  CHANGELOG.md
Due: none

Add telemetry to `install` command (#6109)
  src/meltano/cli/install.py
Due: none

Brute force catch all
  src/meltano/cli/install.py
Due: none

Incorporate PR feedback
  docs/src/_concepts/project.md
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Change errant tab to spaces
  docs/src/_concepts/project.md
Due: docs

Initialize the LegacyTracker using the project/env contexts of unstructured tracker.
  src/meltano/cli/add.py
  src/meltano/cli/elt.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/run.py
Due: none

PR cleanup/editing
  docs/src/_concepts/project.md
  docs/src/_reference/command-line-interface.md
Due: docs

New branch to avoid commit history weirdness
  docs/src/_concepts/project.md
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Address PR feedback
  docs/src/_concepts/project.md
  docs/src/_guide/orchestration.md
  docs/src/_reference/command-line-interface.md
Due: docs

Reference specific dbt transformer (#6092)
  docs/getting-started.md
Due: docs

one more processor config
  src/meltano/core/logging/output_logger.py
Due: none

minor readability fix
  src/meltano/cli/config.py
Due: none
