Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

docs: Change link color from pink to blue
  docs/css/docs.css
Due: docs

docs: Change link color from pink to blue (#7457)
  docs/css/docs.css
Due: docs

remove old mkt messaging.
  README.md
Due: none

chore: Remove old mkt messaging (#7458)
  README.md
Due: none

docs: mark alpha process as deprecated
  docs/src/_cloud/encrypting_secrets.md
Due: docs

chore: comment out shellcheck (TODO: revert)
  .pre-commit-config.yaml
Due: none

docs: update onboarding doc
  docs/src/_cloud/onboarding.md
  file
Due: docs

revert: log file commit
  file
Due: none

docs: more onboarding docs updates
  docs/src/_cloud/onboarding.md
Due: docs

revert: pre-commit change
  .pre-commit-config.yaml
Due: none

docs: simplified reinstall
  docs/src/_cloud/onboarding.md
Due: docs

change header depth
  docs/src/_cloud/encrypting_secrets.md
Due: docs

Update docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/encrypting_secrets.md
Due: docs

feat: Add `cloud project list` and `cloud project activate` commands
  docs/src/_reference/cloud-cli.md
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_project.py
Due: meltano_base, docs

docs: update Cloud onboarding docs (#7462)
  docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/onboarding.md
Due: docs

docs(cloud): yaml snippets for quickstart
  docs/src/_cloud/onboarding.md
Due: docs

docs: suggest 'dev' also, default to 'dev' environment
  docs/src/_cloud/onboarding.md
Due: docs

docs: yaml snippets for Cloud quickstart (#7466)
  docs/src/_cloud/onboarding.md
Due: docs

feat: Allow history filtering by schedule exact name, prefix and infix
  src/cloud-cli/meltano/cloud/cli/history/command.py
  src/cloud-cli/tests/cli/test_history.py
Due: none

Simplify return statements
  src/cloud-cli/meltano/cloud/cli/history/command.py
Due: none

Rename `activate` -> `use` & make `project use` interactive
  docs/src/_reference/cloud-cli.md
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_project.py
Due: meltano_base, docs

Add comment explaining `unsafe_ask`
  src/cloud-cli/meltano/cloud/cli/project.py
Due: none

Add `pytest-httpserver` to `noxfile.py`
  noxfile.py
Due: none

docs: Add Cloud Fees stub
  docs/src/_cloud/fees.md
Due: docs

Fix `importlib.metadata.version` not normalizing `.` in older versions of Python
  src/cloud-cli/meltano/cloud/api/client.py
Due: none

Improve error message in test using subprocess
  src/cloud-cli/tests/cli/test_project.py
Due: none

Find Flask on Windows
  src/cloud-cli/meltano/cloud/api/auth/auth.py
Due: none

Fix `RuntimeError` after each command on Windows
  src/cloud-cli/meltano/cloud/cli/base.py
Due: none

Skip interactive test on Windows
  src/cloud-cli/tests/cli/test_project.py
Due: none

Fix mypy issue
  src/cloud-cli/meltano/cloud/cli/base.py
Due: none

Only use `WindowsSelectorEventLoopPolicy` for Cloud CLI
  src/cloud-cli/meltano/cloud/cli/base.py
Due: none

Use `pytest-httpserver` for Cloud CLI tests
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/cli/conftest.py
  src/cloud-cli/tests/cli/test_history.py
  src/cloud-cli/tests/cli/test_logs.py
  src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_run.py
  src/cloud-cli/tests/cli/test_schedules.py
  src/cloud-cli/tests/conftest.py
Due: meltano_base

`project use` -> `project select`
  docs/src/_reference/cloud-cli.md
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/tests/cli/test_project.py
Due: docs

Revert "`project use` -> `project select`"
  docs/src/_reference/cloud-cli.md
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/tests/cli/test_project.py
Due: docs

feat: Add `cloud project list` and `cloud project use` commands (#7463)
  docs/src/_reference/cloud-cli.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/base.py
  src/cloud-cli/meltano/cloud/cli/project.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_project.py
Due: meltano_base, docs

refactor: Run local auth server within same process
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/auth/auth.py
  src/cloud-cli/meltano/cloud/api/auth/callback.jinja2
  src/cloud-cli/meltano/cloud/api/auth/callback_server.py
  src/cloud-cli/meltano/cloud/api/auth/logout.html
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/api/auth/test_callback_server.py
Due: meltano_base

Address lint issues
  src/cloud-cli/tests/api/auth/test_auth.py
  src/cloud-cli/tests/api/auth/test_callback_server.py
  src/cloud-cli/tests/api/test_cloud_client.py
  src/cloud-cli/tests/api/test_cloud_config.py
  src/cloud-cli/tests/cli/conftest.py
  src/cloud-cli/tests/cli/test_history.py
  src/cloud-cli/tests/cli/test_project.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
