Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Remove reference to "examples on the homepage" from Getting Started and Installation guides (#5974)
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

fix: Remove lock files using glob pattern
  src/meltano/core/plugin_location_remove.py
  tests/meltano/core/test_plugin_remove_service.py
Due: none

docs: Document lock file removal
  docs/src/_reference/command-line-interface.md
Due: docs

docs: Add changelog entry
  CHANGELOG.md
Due: none

Use relative dir for display
  src/meltano/core/plugin_location_remove.py
Due: none

Separate project context from environment context
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/schemas/project_context.json
Due: none

Add references to issues that will resolve xfail tests
  tests/meltano/core/test_environment_variables.py
Due: none

Add information on `env:` key in docs.
  docs/src/_guide/configuration.md
Due: docs

Change tab to spaces in example yaml
  docs/src/_guide/configuration.md
Due: docs

fix: Remove lock files using glob expression (#5980)
  CHANGELOG.md
  docs/src/_reference/command-line-interface.md
  src/meltano/core/plugin_location_remove.py
  tests/meltano/core/test_plugin_remove_service.py
Due: docs

Turn the Snowplow command event into a context
  src/meltano/core/tracking/schemas/command_context.json
Due: none

Add schema for slim command events
  src/meltano/core/tracking/schemas/command_event.json
Due: none

Disallow additional properties not specified by the environment or plugins context schemas
  src/meltano/core/tracking/schemas/environment_context.json
  src/meltano/core/tracking/schemas/plugins_context.json
Due: none

Remove elements from environment context
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/schemas/environment_context.json
Due: none

Add tests and docs for environment variable resolution. (#5938)
  CHANGELOG.md
  docs/src/_guide/configuration.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/invoke.py
  src/meltano/core/settings_store.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_environment_variables.py
  tests/meltano/core/test_project_plugins_service.py
  tests/meltano/core/test_settings_store.py
Due: docs

`GoogleAnalyticsTracker` -> `LegacyTracker`
  src/meltano/api/app.py
  src/meltano/cli/add.py
  src/meltano/cli/discovery.py
  src/meltano/cli/elt.py
  src/meltano/cli/initialize.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/ui.py
  src/meltano/cli/validate.py
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/legacy_tracker.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/cli/test_run.py
  tests/meltano/cli/test_ui.py
Due: none

Add required plugins from CLI
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin/requirements.py
  src/meltano/core/project_add_service.py
  tests/meltano/cli/test_add.py
Due: docs

Correct DockerHub links
  .gitlab/ci/publish.gitlab-ci.yml
Due: none

Upgrade click version to be compatible with side-by-side installation of dbt.
  pyproject.toml
Due: none

poetry lock
  poetry.lock
Due: meltano_base

limit Click versions to 7.x and 8.x
  pyproject.toml
Due: none

Limit version range for itsdangerous to <2.1
  poetry.lock
  pyproject.toml
Due: meltano_base

Fix default prompt values
  .flake8
  poetry.lock
  pyproject.toml
  src/meltano/cli/utils.py
Due: meltano_base

Limit string usage to 5
  .flake8
Due: none

Re-enable f-string check
  .flake8
Due: none

Add `is_dev_build` and `is_ci_environment` to Snowplow environment context
  .gitlab/ci/publish.gitlab-ci.yml
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/schemas/environment_context.json
Due: none

Add TODO comment to remove `MeltanoTracker.track_struct_event` later
  src/meltano/core/tracking/__init__.py
Due: none

Add additional admin to telemetry schema readme
  src/meltano/core/tracking/schemas/README.md
Due: none

Apply suggestions from code review
  tests/meltano/cli/test_add.py
Due: none

chore: Make linter happy
  tests/meltano/cli/test_add.py
Due: none

Switch cached property dependency & update Poetry lock
  poetry.lock
  pyproject.toml
Due: meltano_base

Move tracker out of `__init__.py`
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/legacy_tracker.py
  src/meltano/core/tracking/tracker.py
Due: none

Address misc review comments
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/schemas/command_context.json
  src/meltano/core/tracking/schemas/environment_context.json
  src/meltano/core/tracking/tracker.py
Due: none

Do not collect platform node
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/schemas/environment_context.json
Due: none

New paradigm for bundling plugin dependencies and `files` bundles (#5963)
  CHANGELOG.md
  schema/meltano.schema.json
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/requirements.py
  src/meltano/core/project_add_service.py
  tests/fixtures/core.py
  tests/meltano/cli/test_add.py
  tests/meltano/core/plugin/test_plugin.py
Due: docs

ci: graft pipeline from sdk
  .github/workflows/constraints.txt
  .github/workflows/test.yml
Due: none

ci: graft dependabot from sdk
  .github/dependabot.yml
Due: none

ci: exclude 3.10 and doctest
  .github/workflows/test.yml
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
