Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

docs: Bumped Docusaurus to 3.1, fixed broken links and started printing warnings on broken anchors
  docs/docs/guide/transformation.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: docs

Refactor into dataclasses
  src/meltano/core/plugin/singer/catalog.py
  tests/meltano/core/plugin/singer/test_catalog.py
Due: none

fix: Fields are now automatically selected when subfields are selected with a Unix shell-style wildcard
  src/meltano/core/plugin/singer/catalog.py
  tests/meltano/core/plugin/singer/test_catalog.py
Due: none

Fix ELT test
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Auto-install mappers by mapping
  src/meltano/core/plugin_install_service.py
  tests/meltano/core/test_plugin_install_service.py
Due: none

Ignore test fixture coverage warning
  tests/meltano/core/test_plugin_install_service.py
Due: none

Filter out mappings from plugins for install
  src/meltano/cli/install.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_install_service.py
  tests/meltano/cli/test_install.py
Due: none

fix: A mapper is now auto-installed when one its mappings is used in a command (#8815)
  src/meltano/cli/install.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_install_service.py
  tests/meltano/cli/test_install.py
  tests/meltano/core/test_plugin_install_service.py
Due: none

docs: Bumped Docusaurus to 3.1, fixed broken links and started printing warnings on broken anchors (#8809)
  docs/docs/guide/transformation.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: docs

Apply suggestions from code review
  .pre-commit-config.yaml
Due: none

Do not duplicate stream rule
  src/meltano/core/plugin/singer/catalog.py
  tests/meltano/core/plugin/singer/test_catalog.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: none

Remove redundant pattern testing
  tests/meltano/core/plugin/singer/test_catalog.py
Due: none

chore: Update issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

chore: Update issue forms (#8819)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

chore: Update log formatter tests to accomodate changes in the Rich library
  poetry.lock
  tests/meltano/core/logging/test_formatters.py
Due: meltano_base

chore: Update log formatter tests to accomodate changes in the Rich library (#8820)
  poetry.lock
  tests/meltano/core/logging/test_formatters.py
Due: meltano_base

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Fix incorrect value shown for "Current value is still" warning
  src/meltano/cli/interactive/config.py
Due: none

fix: Show the correct value in the "Current value is still" warning for `meltano config set` (#8828)
  src/meltano/cli/interactive/config.py
Due: none

Update Azure state backend connection
  docs/docs/concepts/state_backends.md
Due: docs

Apply suggestions from code review
  docs/docs/concepts/state_backends.md
Due: docs

Try language `shell`
  docs/docs/concepts/state_backends.md
Due: docs

Update docs/docs/concepts/state_backends.md
  docs/docs/concepts/state_backends.md
Due: docs

docs: Update Azure state backend connection documentation for DefaultAzureCredential (#8829)
  docs/docs/concepts/state_backends.md
Due: docs

feat: Added a `--log-format` option as a shorcut to quickly change the format of logs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.mdx
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/elt_context.py
  src/meltano/core/job/job.py
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/utils.py
  src/meltano/core/plugin/airflow.py
  src/meltano/core/project.py
  src/meltano/core/project_files.py
  tests/meltano/core/logging/test_logging_utils.py
Due: meltano_base, docs

Make mypy happy with `SettingDefinition.from_key_value`
  src/meltano/core/setting_definition.py
Due: none

feat: Add Content-Type to S3 state file uploads
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

refactor: Decoupled the `JobState` ORM model of the system db from state store implementations
  src/meltano/core/job_state.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/base.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/state_store/test_db.py
  tests/meltano/core/state_store/test_filesystem.py
Due: none

feat: Added a `callsite_parameters` argument to the builtin log formatters, which adds source path, line number and function name fields to the emitted log (#8494)
  docs/docs/guide/logging.md
  integration/meltano-run/validate.sh
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

feat: Added `exceptions` to the log message when using the JSON formatter
  docs/docs/guide/logging.md
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

Make it opt-out
  docs/docs/guide/logging.md
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

Update src/meltano/cli/elt.py
  src/meltano/cli/elt.py
Due: none

Raise a `RuntimeError` if a EL job is not set
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
Due: none

Revert raising an exception
  src/meltano/core/elt_context.py
Due: none

feat: Added a `--run-id` option to `meltano el[t]` (#8626)
  pyproject.toml
  src/meltano/cli/elt.py
  src/meltano/cli/params.py
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/elt_context.py
  src/meltano/core/job/job.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_run.py
Due: none

chore: Document the `--run-id` option for `meltano el/elt`
  docs/docs/reference/command-line-interface.md
Due: docs

feat: Added `exceptions` to the log message when using the JSON formatter (#8737)
  docs/docs/guide/logging.md
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
