Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

chore: Bump package version
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.7.0a3 (#9085)
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

packaging: Always install `uv` as a dependency of Meltano
  .github/workflows/integration_tests.yml
  docker/meltano/Dockerfile
  docs/docs/guide/advanced-topics.md
  docs/docs/reference/settings.mdx
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/venv_service.py
Due: meltano_base, docs

Update tests
  tests/meltano/core/test_venv_service.py
Due: none

packaging: Always install `uv` with Meltano (#9088)
  .github/workflows/integration_tests.yml
  docker/meltano/Dockerfile
  docs/docs/guide/advanced-topics.md
  docs/docs/reference/settings.mdx
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/core/venv_service.py
  tests/meltano/core/test_venv_service.py
Due: meltano_base, docs

packaging: Bump `check-jsonschema` and `ruamel.yaml`
  poetry.lock
  pyproject.toml
Due: meltano_base

packaging: Bump `check-jsonschema` and `ruamel.yaml` (#9089)
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Add more type annotations to `meltano.cli.upgrade`
  src/meltano/cli/upgrade.py
Due: none

Update .github/workflows/resources/constraints.txt
  .github/workflows/resources/constraints.txt
Due: none

chore: Add more type annotations to `meltano.cli.upgrade` (#9097)
  src/meltano/cli/upgrade.py
Due: none

feat: Add a default Meltano User-Agent env var that plugins can refer in config
  docs/docs/concepts/environments.md
  src/meltano/core/hub/client.py
  src/meltano/core/project.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: docs

Update docs/docs/concepts/environments.md
  docs/docs/concepts/environments.md
Due: docs

feat: Added a default Meltano User-Agent env var that plugins can refer to in config (#9047)
  docs/docs/concepts/environments.md
  src/meltano/core/hub/client.py
  src/meltano/core/project.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: docs

chore: Use Dependabot to update Docker images used in tests
  .github/dependabot.yml
  .github/workflows/resources/docker-compose.postgres.yaml
  .github/workflows/test.yml
Due: none

Check JSON schema for Compose, Dependabot and GitHub files
  .pre-commit-config.yaml
Due: none

Remove legacy check for discovery.yml
  .pre-commit-config.yaml
Due: none

Add EOL comments to images
  .github/workflows/resources/docker-compose.mssql.yaml
  .github/workflows/resources/docker-compose.postgres.yaml
Due: none

chore: Use Dependabot to update Docker images used in tests (#9098)
  .github/dependabot.yml
  .github/workflows/resources/docker-compose.mssql.yaml
  .github/workflows/resources/docker-compose.postgres.yaml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

chore: lockfile maintenance
  poetry.lock
Due: meltano_base

chore: Run type checks on `meltano.core.block.block_parser`
  pyproject.toml
  src/meltano/core/block/block_parser.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/task_sets.py
Due: none

Test adding an invalid EL job
  tests/meltano/cli/test_job_cmd.py
Due: none

Permit mapper plugins as valid blocks
  src/meltano/core/block/block_parser.py
Due: none

chore: Run type checks on `meltano.core.block.block_parser` (#9101)
  pyproject.toml
  src/meltano/core/block/block_parser.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/task_sets.py
  tests/meltano/cli/test_job_cmd.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

packaging: Added the `py.typed` marker file
  src/meltano/py.typed
Due: none

chore: Run type checks on `meltano.core.settings_store`
  pyproject.toml
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
Due: none

refactor: Make `session` a required keyword argument of `DbStoreManager`
  src/meltano/core/settings_store.py
Due: none

chore: Added the `py.typed` marker file (#9107)
  src/meltano/py.typed
Due: none

Revert "refactor: Make `session` a required keyword argument of `DbStoreManager`"
  src/meltano/core/settings_store.py
Due: none

docs: Updated the contributing guide
  docs/docs/contribute/index.mdx
  docs/docs/contribute/prerequisites.md
  docs/docs/contribute/tests.md
Due: docs

docs: Updated the contributing guide (#9109)
  docs/docs/contribute/index.mdx
  docs/docs/contribute/prerequisites.md
  docs/docs/contribute/tests.md
Due: docs

Use property for type-narrowing
  src/meltano/core/settings_store.py
Due: none

feat: Support state backend and setting add-ons
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/addon.py
  src/meltano/core/config_service.py
  src/meltano/core/state_store/__init__.py
  tests/fixtures/custom_addon.py
  tests/fixtures/state_backends.py
  tests/meltano/core/behavior/test_addon.py
  tests/meltano/core/state_store/test_state_store.py
Due: meltano_base

Make local filesystem state backend a native add-on
  pyproject.toml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/filesystem.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

Make Azure state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/azure.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

refactor: Delay `alembic` imports in migration service
  src/meltano/core/migration_service.py
Due: none

Make S3 state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

refactor: Moved `STATE_ID_COMPONENT_DELIMITER` to `meltano.core.constants`
  src/meltano/core/block/extract_load.py
  src/meltano/core/constants.py
  src/meltano/core/environment.py
  src/meltano/core/job_state.py
  src/meltano/core/plugin/base.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_project_add_service.py
Due: none

Make GCS state backend a native add-on
  pyproject.toml
  src/meltano/core/bundle/settings.yml
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/google.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

refactor: Delay state manager import in upgrade service
  src/meltano/core/upgrade_service.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
