Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Update to not require and prompt
  src/meltano/cli/initialize.py
Due: none

revert erroneous snowplow changes
  src/meltano/cli/initialize.py
  src/meltano/core/project_init_service.py
Due: none

Resolve "Consider using a `https` scheme in default Snowplow collector endpoint"
  CHANGELOG.md
  docs/src/_reference/settings.md
  src/meltano/core/bundle/settings.yml
Due: docs

Apply 2 suggestion(s) to 2 file(s)
  src/meltano/core/environment.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Bump version: 1.97.0 → 1.98.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix default prompt values
  .flake8
  poetry.lock
  pyproject.toml
  src/meltano/cli/utils.py
Due: meltano_base

Resolve "Plugin config in Environments requires a `config` value or `setting` definition in top level plugin declaration"
  .flake8
  CHANGELOG.md
  src/meltano/core/environment.py
  src/meltano/core/plugin/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Limit string usage to 5
  .flake8
Due: none

Re-enable f-string check
  .flake8
Due: none

Update contributing docs to mention VScode
  docs/src/_contribute/prerequisites.md
Due: docs

Release 1.98.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Update discovery.yml
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Executable for `meltano-map-transformer` should be `meltano-map-transform`
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Bump version: 1.98.0 → 1.98.1
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Use Node.js package from NodeSource instead of Debian
  docker/base/Dockerfile
Due: meltano_base

Add latest yarn to UI
  src/webapp/.gitignore
  src/webapp/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  src/webapp/.yarn/releases/yarn-3.2.0.cjs
  src/webapp/.yarnrc.yml
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

Enable default_environment in meltano.yml, update tests, flake8
  src/meltano/cli/cli.py
  src/meltano/core/meltano_file.py
  tests/fixtures/multifile_project/meltano.yml
  tests/meltano/cli/test_cli.py
  tests/meltano/core/test_project_files.py
Due: none

Update docs with default environment information
  docs/src/_concepts/environments.md
  docs/src/_reference/command-line-interface.md
Due: docs

Add Changelog entry
  CHANGELOG.md
Due: none

Updated more packages for security and functionality reasons
  src/webapp/package.json
  src/webapp/yarn.lock
Due: none

Update Docker to Node 16
  docker/base/Dockerfile
Due: meltano_base

add schedule anon tracking and bring add tracking to cli for consistency
  CONTRIBUTING.md
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

add change log
  CHANGELOG.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: none

clean up linting errors
  src/meltano/cli/add.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
  src/meltano/core/tracking/ga_tracker.py
Due: none

Refactor fixtures to use project_files_cli in test_cli.py
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/fixtures/fs.py
  tests/meltano/cli/test_cli.py
Due: none

more links
  .gitlab/ci/sample_code.gitlab-ci.yml
  CHANGELOG.md
  schema/discovery.schema.json
  schema/meltano.schema.json
  src/meltano/cli/add.py
  src/meltano/cli/config.py
  src/meltano/cli/discovery.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/invoke.py
  src/meltano/cli/remove.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/ui.py
  src/meltano/cli/upgrade.py
  src/meltano/cli/user.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/project_settings_service.py
  src/webapp/src/components/analyze/Explore.vue
  src/webapp/src/components/navigation/MainNav.vue
  src/webapp/src/components/pipelines/ConnectorSettings.vue
  src/webapp/src/components/pipelines/LogModal.vue
  src/webapp/src/utils/setupToasted.js
  tests/meltano/core/test_settings_store.py
Due: none

more links
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Incorporate feedback from MR discussion: --no-environment flag
  src/meltano/cli/cli.py
  tests/meltano/cli/test_cli.py
Due: none

Clarify --no-environment help and add to docs.
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/cli.py
Due: docs

Add GA to docs
  docs/_includes/head.html
  docs/_layouts/default.html
  docs/_layouts/doc.html
  docs/_layouts/page.html
Due: docs

Disable common WPS refactor heavy warnings
  .flake8
Due: none

fix more WPS errors
  src/meltano/cli/add.py
  src/meltano/cli/install.py
  src/meltano/cli/schedule.py
  src/meltano/cli/utils.py
Due: none

fix bad variable reference
  src/meltano/cli/schedule.py
Due: none

Abort run_all early if there are actually no tests
  src/meltano/core/validation_service.py
  tests/meltano/core/test_validation_service.py
Due: none

Resolve "Turn off WPS warnings that require code refactoring"
  .flake8
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

started on link swapping
  CONTRIBUTING.md
  README.md
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
