Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Add "move" and "copy" subcommands for "meltano state" (#5920)
  CHANGELOG.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/state.py
  src/meltano/core/state_service.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/test_state_service.py
Due: docs

Address lint issues
  .flake8
  tests/meltano/core/tracking/test_exception.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Fix autogenerated Markdown table of contents
  docs/getting-started.md
Due: docs

Explicitly list supported Python versions in `getting-started.md`
  docs/getting-started.md
Due: docs

Address lint issues
  .flake8
  src/meltano/api/app.py
  src/meltano/api/controllers/orchestrations.py
  src/meltano/core/behavior/hookable.py
  tests/fixtures/fs.py
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/api/test_workers.py
  tests/meltano/core/behavior/test_hookable.py
  tests/meltano/core/plugin/test_airflow.py
  tests/meltano/core/test_meltano_file.py
  tests/meltano/core/test_project.py
  tests/meltano/core/test_venv_service.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

chore: Update misleading module docstring in `src/meltano/core/bundle` (#6294)
  src/meltano/core/bundle/__init__.py
  src/meltano/core/config_service.py
  src/meltano/core/meltano_invoker.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/plugin_discovery_service.py
  tests/fixtures/core.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: none

Update add and config commands
  src/meltano/cli/add.py
  src/meltano/cli/config.py
Due: none

Address lint issues
  .flake8
  src/meltano/api/app.py
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/controllers/plugins.py
  src/meltano/core/behavior/hookable.py
  src/meltano/core/db.py
  src/meltano/core/extract_utils.py
  src/meltano/core/job/job.py
  src/meltano/core/legacy_tracking/legacy_tracker.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/meltano_invoker.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/venv_service.py
  tests/fixtures/core.py
  tests/fixtures/db/__init__.py
  tests/meltano/core/behavior/test_hookable.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/test_project.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_venv_service.py
  tests/meltano/core/tracking/test_exception.py
Due: none

Address lint issues
  src/meltano/core/plugin_install_service.py
Due: none

Update docs/src/_guide/configuration.md
  docs/src/_guide/configuration.md
Due: docs

Fix Pytest "module already imported" warning
  tests/fixtures/cli.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Change Pytest short test summary order
  pytest.ini
Due: none

Lock Project.project_files references
  src/meltano/core/project.py
Due: none

Remove unused constant from `conftest.py`
  tests/conftest.py
Due: none

Use monkeypatch to alter env in `snowplow_optional` fixture
  tests/fixtures/docker/snowplow.py
Due: none

Update docs to indicate support for Python 3.10
  docs/getting-started.md
  docs/src/_guide/installation.md
Due: docs

first stab at integration test harness
  .github/workflows/integration_tests.yml
  docs/example-library/meltano-basics/ending-meltano.yml
  docs/example-library/meltano-basics/index.md
  docs/example-library/meltano-basics/meltano.yml
  integration/commons.sh
  integration/logging.yaml
  integration/mdsh
  integration/meltano-basics/validation.sh
Due: docs

Add temporary on push branch target
  .github/workflows/integration_tests.yml
Due: none

validation.sh -> validate.sh
  integration/meltano-basics/validate.sh
Due: none

Cleanup path refs
  integration/commons.sh
  integration/meltano-basics/validate.sh
Due: none

Fix mdsh path
  integration/commons.sh
Due: none

Test remove on push
  .github/workflows/integration_tests.yml
  integration/commons.sh
  integration/meltano-basics/validate.sh
  integration/validate.sh
Due: none

Trigger new top level entry-point
  .github/workflows/integration_tests.yml
Due: none

Execute "compiled" script
  integration/validate.sh
Due: none

Cleanup the markdown for the example case
  docs/example-library/meltano-basics/index.md
Due: docs

Switch working dirs
  integration/validate.sh
Due: none

Compile script into docs dir
  integration/commons.sh
Due: none

Don't use quiet diff
  docs/example-library/meltano-basics/ending-meltano.yml
  docs/example-library/meltano-basics/meltano.yml
  integration/commons.sh
  integration/validate.sh
Due: docs

Fix unbound variable
  integration/validate.sh
Due: none

Use lock for `snowplow` fixture
  tests/fixtures/docker/snowplow.py
Due: none

working project level precedence
  src/meltano/core/project_init_service.py
  src/meltano/core/project_settings_service.py
  tests/meltano/core/test_environment_variables.py
Due: none

Use global lock
  tests/fixtures/docker/snowplow.py
Due: none

Upgrade to Pytest v7 & misc other dep updates
  poetry.lock
  pyproject.toml
Due: meltano_base

Use repr to interpolate config into source code string
  src/meltano/core/plugin/superset.py
Due: none

Remove `snowplow` fixture lock
  tests/fixtures/docker/snowplow.py
Due: none

Fix typo `snowplow_session` -> `snowplow_optional`
  tests/fixtures/docker/snowplow.py
Due: none

Use matrix
  .github/workflows/integration_tests.yml
  docs/example-library/meltano-basics/index.md
  docs/example-library/meltano-run/ending-meltano.yml
  docs/example-library/meltano-run/index.md
  docs/example-library/meltano-run/meltano.yml
  integration/logging.yaml
  integration/meltano-run/validate.sh
  integration/validate.sh
Due: docs

working plugin-level precedence (including Environments)
  src/meltano/core/environment.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
  tests/meltano/core/test_environment_variables.py
Due: none

Fix CI errors
  tests/fixtures/docker/snowplow.py
  tests/meltano/core/tracking/test_tracking.py
Due: none
