Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Document it
  docs/docs/guide/custom-state-backend.md
  docs/docs/guide/index.mdx
  docs/docusaurus.config.js
Due: docs

chore: Run type checks on `meltano.core.settings_store` (#9108)
  pyproject.toml
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
Due: none

chore: Run type checks on all of `meltano.core.block`
  pyproject.toml
  src/meltano/cli/elt.py
  src/meltano/core/block/blockset.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/logging/job_logging_service.py
  tests/meltano/core/block/test_plugin_command.py
Due: none

Update src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/__init__.py
Due: none

feat: Support state backend and setting add-ons (#8367)
  docs/docs/guide/custom-state-backend.md
  docs/docs/guide/index.mdx
  docs/docusaurus.config.js
  poetry.lock
  pyproject.toml
  src/meltano/core/behavior/addon.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/config_service.py
  src/meltano/core/constants.py
  src/meltano/core/environment.py
  src/meltano/core/job_state.py
  src/meltano/core/migration_service.py
  src/meltano/core/plugin/base.py
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  src/meltano/core/upgrade_service.py
  tests/fixtures/custom_addon.py
  tests/fixtures/state_backends.py
  tests/meltano/core/behavior/test_addon.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
  tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_project_add_service.py
Due: meltano_base, docs

Bump `poetry-core` to 2.1.1
  pyproject.toml
Due: none

chore: Use Poetry 2.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Bump package version
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

chore: Release v3.7.0a4 (#9113)
  .github/ISSUE_TEMPLATE/bug.yml
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

ci: Build and inspect artifacts on every push
  .github/workflows/build.yml
  pyproject.toml
Due: none

Trigger on any push or a release being published
  .github/workflows/build.yml
Due: none

ci: Build and inspect artifacts on every push (#9114)
  .github/workflows/build.yml
  pyproject.toml
Due: none

test: Test environment CLI
  src/meltano/cli/environment.py
  tests/meltano/cli/test_environment.py
Due: none

feat: Custom `.env` path
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/cli.py
  src/meltano/core/project.py
  tests/meltano/cli/test_cli.py
Due: docs

chore: Enable type checking in `meltano.cli.add`
  pyproject.toml
  src/meltano/cli/add.py
Due: none

Remove part of test that expects an error when a mapper plugin with no mappings is invoked by the plugin name
  tests/meltano/cli/test_run.py
Due: none

Update expected error when a mapper plugin with a mapping of the same name is invoked by the ambiguous plugin/mapping name
  tests/meltano/cli/test_run.py
Due: none

docs: Document common `metadata` keys
  docs/docs/concepts/plugins.mdx
Due: docs

docs: Mention `meltano schedule run` whenever we discuss `meltano schedule`
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/orchestration.md
Due: docs

docs: Document common `metadata` keys (#9115)
  docs/docs/concepts/plugins.mdx
Due: docs

docs: Mention `meltano schedule run` whenever we discuss `meltano schedule` (#9116)
  docs/docs/getting-started/index.mdx
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/orchestration.md
Due: docs

fix: Improved error message when `meltano run` command is missing a loader block
  src/meltano/core/block/block_parser.py
  src/meltano/core/block/blockset.py
Due: none

Test on Amazon Linux container
  .github/workflows/test.yml
  tests/meltano/core/test_project_init_service.py
  tests/meltano/core/tracking/test_exception.py
Due: none

feat: Support declaring a job as always using the `--force` flag
  src/meltano/core/block/block_parser.py
  src/meltano/core/task_sets.py
  src/meltano/schemas/meltano.schema.json
Due: none

ci: Build Docker images when Dockerfile or dependencies are updated by a PR
  .github/workflows/docker_publish.yml
Due: none

feat(CLI): Added the logger name log messages
  src/meltano/core/logging/formatters.py
  src/meltano/core/logging/utils.py
Due: none

feat: Export state
  .github/workflows/test.yml
  pyproject.toml
  src/meltano/cli/state.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/base.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
Due: none

feat(core): Add setting `deprecated` flag
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: none

Add failing test
  tests/meltano/core/state_store/test_state_store.py
Due: none

fix: Avoid prepending a slash to state file path in Cloud state backends
  src/meltano/core/state_store/filesystem.py
Due: none

Log deletion error at the debug level
  src/meltano/core/state_store/google.py
Due: none

Add a test for deletion errors
  tests/meltano/core/state_store/test_state_store.py
Due: none

Mock default application credentials
  tests/meltano/core/state_store/test_state_store.py
Due: none

fix: Avoid prepending a slash to state file path in Cloud state backends (#9117)
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  tests/meltano/core/state_store/test_state_store.py
Due: none

feat: Set `application/json` as the content type for blobs uploaded with the GCS state backend (#9019)
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
Due: none

feat: Support a `requires_meltano` key at the project level
  src/meltano/cli/cli.py
  src/meltano/core/meltano_file.py
  src/meltano/core/project.py
  src/meltano/core/utils/__init__.py
  src/meltano/schemas/meltano.schema.json
  tests/meltano/core/test_project.py
Due: none

feat: Parse relative dates in plugin config
  poetry.lock
  pyproject.toml
  src/meltano/core/setting_definition.py
  tests/meltano/core/test_setting_definition.py
Due: meltano_base

Use a value_post_processor instead
  src/meltano/core/setting_definition.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/test_setting_definition.py
Due: none

Ignore warning
  poetry.lock
  pyproject.toml
Due: meltano_base

Update lockfile
  noxfile.py
  poetry.lock
Due: meltano_base

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
