Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Address lint issues
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/tests/cli/test_schedules.py
Due: none

Update Cloud CLI docs to reflect new schedule table format
  docs/src/_reference/cloud-cli.md
Due: docs

feat: Support `--lookback` filter in history CLI (#7438)
  docs/src/_reference/cloud-cli.md
  noxfile.py
  src/cloud-cli/meltano/cloud/api/client.py
  src/cloud-cli/meltano/cloud/cli/history.py
  src/cloud-cli/meltano/cloud/cli/history/__init__.py
  src/cloud-cli/meltano/cloud/cli/history/client.py
  src/cloud-cli/meltano/cloud/cli/history/command.py
  src/cloud-cli/meltano/cloud/cli/history/utils.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/conftest.py
  src/cloud-cli/tests/cli/test_history.py
Due: docs

Revert update to default config
  src/cloud-cli/meltano/cloud/api/config.py
Due: none

Update header and logo
  docs/_includes/footer.html
  docs/_includes/header.html
  docs/css/main.scss
  docs/images/Meltano-logo_meltano-logo-stacked-white-padded.svg
  docs/images/Meltano-logo_meltano-logo-white-padded.svg
  docs/images/logo.svg
  docs/images/meltano-logo-stacked.png
  docs/images/meltano-logo-white.png
  docs/images/meltano-logo.png
Due: docs

Restore footer
  docs/_includes/footer.html
Due: docs

Update colors
  docs/_includes/footer.html
  docs/css/docs.css
  docs/fonts/HankenGrotesk-Regular.woff
  docs/fonts/HankenGrotesk-Regular.woff2
  docs/fonts/PlusJakartaSans-Regular.woff
  docs/fonts/PlusJakartaSans-Regular.woff2
  src/webapp/src/scss/bulma-preset-overrides.scss
Due: docs

Update more colors
  docs/_config.yml
  docs/css/docs.css
  src/webapp/src/scss/bulma-preset-overrides.scss
Due: docs

Update more colors
  docs/css/docs.css
Due: docs

Remove non-content link underline
  docs/css/docs.css
Due: docs

Move logo down slightly
  docs/_includes/header.html
Due: docs

Fix breadcrumb
  docs/css/docs.css
Due: docs

Fix tabs
  docs/css/docs.css
Due: docs

Update favicon
  docs/_includes/head.html
  docs/favicon.ico
  docs/images/favicon.png
Due: docs

Update username
  docs/src/_contribute/index.md
Due: docs

docs: Update branding (#7450)
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/css/docs.css
  docs/css/main.scss
  docs/favicon.ico
  docs/fonts/HankenGrotesk-Regular.woff
  docs/fonts/HankenGrotesk-Regular.woff2
  docs/fonts/PlusJakartaSans-Regular.woff
  docs/fonts/PlusJakartaSans-Regular.woff2
  docs/images/Meltano-logo_meltano-logo-stacked-white-padded.svg
  docs/images/Meltano-logo_meltano-logo-white-padded.svg
  docs/images/favicon.png
  docs/images/logo.svg
  docs/images/meltano-logo-stacked.png
  docs/images/meltano-logo-white.png
  docs/images/meltano-logo.png
  docs/src/_contribute/index.md
  src/webapp/src/scss/bulma-preset-overrides.scss
Due: docs

fix two broken links to example repo
  docs/src/_guide/mappers.md
Due: docs

remove set_password
  .gitignore
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

make value a required option
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

feat: Add `cloud schedule list` and `cloud schedule describe` commands (#7442)
  docs/src/_reference/cloud-cli.md
  poetry.lock
  pyproject.toml
  src/cloud-cli/meltano/cloud/api/config.py
  src/cloud-cli/meltano/cloud/api/types.py
  src/cloud-cli/meltano/cloud/cli/login.py
  src/cloud-cli/meltano/cloud/cli/logs.py
  src/cloud-cli/meltano/cloud/cli/run.py
  src/cloud-cli/meltano/cloud/cli/schedule.py
  src/cloud-cli/poetry.lock
  src/cloud-cli/pyproject.toml
  src/cloud-cli/tests/cli/test_schedules.py
  src/cloud-cli/tests/test_cloud_cli.py
Due: meltano_base, docs

pr feedback
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

docs: fix two broken links to example repo (#7452)
  docs/src/_guide/mappers.md
Due: docs

chore: Update cloud docs reserved variables and encryption documentation (#7439)
  docs/src/_cloud/api_reference.md
  docs/src/_cloud/concepts.md
  docs/src/_cloud/encrypting_secrets.md
  docs/src/_cloud/index.md
  docs/src/_cloud/known_issues.md
  docs/src/_cloud/onboarding.md
  docs/src/_cloud/platform.md
  docs/src/_cloud/reserved_variables.md
  docs/src/_cloud/sandbox_environments.md
  docs/src/_cloud/security-policy.md
  docs/src/_cloud/security.md
  docs/src/_cloud/sla.md
  docs/src/_cloud/support.md
Due: docs

fix: remove password_option click argument (#7453)
  .gitignore
  src/cloud-cli/meltano/cloud/cli/__init__.py
  src/cloud-cli/meltano/cloud/cli/config.py
Due: none

update secrets encryption docs
  docs/src/_cloud/encrypting_secrets.md
Due: docs

adjustments
  docs/src/_cloud/encrypting_secrets.md
Due: docs

style: Enable Ruff `B` (bugbear) rules (#7445)
  pyproject.toml
  scripts/build.py
  src/meltano/cli/cli.py
  src/meltano/cli/job.py
  src/meltano/cli/params.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/logging/utils.py
  src/meltano/core/manifest/contexts.py
  src/meltano/core/migration_service.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/schedule_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/task_sets.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/tracker.py
  src/meltano/core/utils/pidfile.py
  tests/meltano/core/tracking/test_exception.py
Due: none

Update logo and text
  README.md
  meltano.png
Due: none

chore: Update secrets encryption docs (#7454)
  docs/src/_cloud/encrypting_secrets.md
Due: docs

fix refs
  README.md
Due: none

fix image
  meltano.png
Due: none

Update README.md
  README.md
Due: none

style: Enable Ruff `RSE` (raise) rules (#7446)
  pyproject.toml
  src/meltano/core/block/extract_load.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project.py
  src/meltano/core/runner/singer.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  tests/meltano/core/behavior/test_hookable.py
Due: none

add light/dark option
  README.md
Due: none

remove image
  meltano.png
Due: none

Apply suggestions from code review
  README.md
Due: none

Update src/meltano/cli/elt.py
  src/meltano/cli/elt.py
Due: none

chore: Update logo and text (#7455)Co-authored-by: Edgar R. M. <edgar@meltano.com>
  README.md
Due: none

style: Enable Ruff `SIM` (simplify) rules (#7447)
  pyproject.toml
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/core/block/future_utils.py
  src/meltano/core/block/singer.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/project_files.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  src/meltano/core/validation_service.py
  tests/fixtures/core.py
  tests/meltano/api/controllers/test_settings.py
  tests/meltano/api/test_security.py
  tests/meltano/cli/test_elt.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/test_environment_variables.py
  tests/meltano/core/test_project_files.py
  tests/meltano/core/test_project_settings_service.py
Due: none
