Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Switch from AsyncMock -> asynctest.Mock
  tests/meltano/core/block/test_singer.py
Due: none

Fix call_args check
  tests/meltano/core/block/test_singer.py
Due: none

Add elt page
  docs/src/.vuepress/config.js
  docs/src/docs/elt.md
Due: docs

Correct tap-slack token setting
  src/meltano/core/bundle/discovery.yml
Due: docs

fix: add return type to CommandLineValidator.run_async
  src/meltano/cli/validate.py
Due: none

Always print log advice on ELT failure.
  src/meltano/cli/elt.py
Due: none

Full working version
  pyproject.toml
  src/meltano/cli/__init__.py
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/block/singer.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/block/test_singer.py
Due: none

Fix missing import
  src/meltano/core/block/plugin_command.py
Due: none

Await cleanup when stop is called
  src/meltano/core/block/singer.py
Due: none

Fix additional missing type imports
  src/meltano/core/block/plugin_command.py
Due: none

flakehell
  src/meltano/cli/run.py
Due: none

split discovery generator into cleaner methods
  src/meltano/core/plugin_discovery_generator.py
Due: none

CI to look for plugin definitions instead of discovery.yml
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

add ruamel.yaml
  poetry.lock
  pyproject.toml
Due: meltano_base

fix linting error
  src/meltano/core/bundle/yaml_diff.py
Due: none

fix more linting errors
  src/meltano/core/bundle/yaml_diff.py
  src/meltano/core/plugin_discovery_generator.py
  tests/meltano/core/test_plugin_discovery_generator.py
Due: none

Small refactor/cleanup and more flakehell changes
  pyproject.toml
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/plugin_command.py
Due: none

fix makefile
  Makefile
Due: none

feat: add separation lines between the output of different tests
  src/meltano/cli/validate.py
Due: none

Add Taylor Bio
  docs/src/press/README.md
Due: docs

Additional tests for ELBContext and friends
  src/meltano/core/block/extract_load.py
  tests/meltano/core/block/test_extract_load.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/src/press/README.md
Due: docs

test: validate test collection
  tests/meltano/core/test_validation_service.py
Due: none

fix: Pin tag 0.11.3 of adswerve/target-bigquery
  src/meltano/core/bundle/discovery.yml
Due: docs

docs: Add changelog entry
  CHANGELOG.md
Due: none

Include first meltano run cli tests
  pyproject.toml
  src/meltano/cli/run.py
  tests/fixtures/core.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_extract_load.py
Due: none

Add social links to Taylor bio
  docs/src/press/README.md
Due: docs

Update CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Set homepage sample 'start_date' to 2021-03-01
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/src/README.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/getting-started.md
Due: docs

fix: Pinned git tag adswerve/target-bigquery 0.11.3 instead of v0.11.3
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Basic DBT invocation test
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/singer.py
  tests/meltano/cli/test_run.py
Due: none

fix: Pin v1.4.27 of meltano/tap-salesforce
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Resolve "Pin meltano/tap-salesforce to tag v1.4.27"
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Add complex invocation test
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  tests/meltano/cli/test_run.py
Due: none

Add PluginCommand failure test
  tests/meltano/cli/test_run.py
Due: none

Refactor and tap failure test
  src/meltano/cli/run.py
  src/meltano/core/block/parser.py
  tests/meltano/cli/test_run.py
  tests/meltano/core/block/test_parser.py
Due: none

Add line length limit error handling test
  tests/meltano/cli/test_run.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
