Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Remove sqlalchemy stubs
  noxfile.py
  pyproject.toml
Due: none

fix: Misc `meltano.yml` schema fixes
  schema/meltano.schema.json
Due: none

fix: Misc `meltano.yml` schema fixes (#7064)
  schema/meltano.schema.json
Due: none

Clarify names
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
Due: none

fix: Ensure `environment_name_hash` is collected (#7057)
  .flake8
  src/meltano/cli/__init__.py
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/run.py
  src/meltano/cli/schedule.py
  src/meltano/cli/select.py
  src/meltano/cli/state.py
  src/meltano/cli/utils.py
  src/meltano/cli/validate.py
  src/meltano/core/plugin/factory.py
  src/meltano/core/project.py
  src/meltano/core/project_init_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  tests/asserts.py
  tests/fixtures/cli.py
  tests/meltano/core/test_project_add_service.py
  tests/meltano/core/tracking/test_project_context.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

chore: Bump package version
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

test: Catch all exceptions in `snowplow_session` fixture
  tests/fixtures/docker/snowplow.py
Due: none

test: Catch all exceptions in `snowplow_session` fixture (#7067)
  tests/fixtures/docker/snowplow.py
Due: none

refactor: Use a custom build backend
  .gitignore
  Makefile
  build.py
  pyproject.toml
  scripts/build.py
Due: none

test: Fix `test_complex_exception_context` on macOS
  tests/meltano/core/tracking/test_exception.py
Due: none

Use client ID instead of environment context UUID
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Remove explicit AWS_* aliases for S3 state backend
  src/meltano/core/bundle/settings.yml
Due: none

chore: Accept `client_id` from optional `MELTANO_CLIENT_ID` env var (#7007)
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Re-apply changes undone by merge commit
  src/meltano/core/tracking/contexts/environment.py
Due: none

fix: Remove explicit aliases for S3 state backend (#7078)
  src/meltano/core/bundle/settings.yml
Due: none

docs: update banner copy & cta
  docs/_config.yml
Due: docs

docs: Update banner copy & cta (#7088)
  docs/_config.yml
Due: docs

chore: Set environment context UUID for subprocesses (#7015)
  src/meltano/cli/add.py
  src/meltano/cli/cli.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/environment.py
  src/meltano/cli/initialize.py
  src/meltano/cli/install.py
  src/meltano/cli/interactive/config.py
  src/meltano/cli/invoke.py
  src/meltano/cli/job.py
  src/meltano/cli/lock.py
  src/meltano/cli/run.py
  src/meltano/cli/utils.py
  src/meltano/core/meltano_invoker.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/tracking/__init__.py
  src/meltano/core/tracking/contexts/__init__.py
  src/meltano/core/tracking/contexts/environment.py
  src/meltano/core/tracking/contexts/plugins.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-1-0
  src/meltano/core/tracking/schemas.py
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/test_meltano_invoker.py
  tests/meltano/core/test_plugin_invoker.py
  tests/meltano/core/tracking/test_exception.py
  tests/meltano/core/tracking/test_plugins.py
Due: none

Typo fix
  docs/src/_getting-started/part2.md
Due: docs

fix config name for poetry
  docs/src/_tutorials/custom-extractor.md
Due: docs

fix formatting of PR naming guidelines
  docs/src/_contribute/merge.md
Due: docs

docs: fix config name for poetry (#7090)
  docs/src/_contribute/merge.md
  docs/src/_tutorials/custom-extractor.md
Due: docs

perf: Compile env var pattern only once
  src/meltano/core/utils/__init__.py
Due: none

perf: Compile env var pattern only once (#7091)
  src/meltano/core/utils/__init__.py
Due: none

Display better errors when failing to connect with the Hub API
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
Due: none

Test 500 error
  src/meltano/core/hub/client.py
  tests/conftest.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

docs: Fix typo `tap-postgres` -> `postgres` (#7089)
  docs/src/_getting-started/part2.md
Due: docs

Add missing description to environment context schema
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-1-0
Due: none

fix: Display better errors when failing to connect with the Hub API (#7084)
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
  tests/conftest.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Due: none

fix: Add missing description to environment context schema (#7093)
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-1-0
Due: none

test: Fix `test_complex_exception_context` on macOS (#7076)
  tests/meltano/core/tracking/test_exception.py
Due: none

Minor test optimisation as alternative to correcting reassignment of `extract_dir`
  tests/meltano/core/test_project_init_service.py
Due: none

Allow annotations in Meltano project files
  docs/example-library/meltano-annotations/ending-meltano.yml
  docs/example-library/meltano-annotations/index.md
  docs/example-library/meltano-annotations/meltano.yml
  docs/example-library/meltano-state-local/index.md
  docs/src/_concepts/project.md
  schema/meltano.schema.json
  src/meltano/core/environment.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/project_files.py
  src/meltano/core/schedule.py
  src/meltano/core/setting_definition.py
  src/meltano/core/task_sets.py
Due: docs

Fix plugin-level annotations becoming a list
  docs/example-library/meltano-annotations/ending-meltano.yml
  docs/example-library/meltano-annotations/meltano.yml
  src/meltano/core/project_files.py
Due: docs

Remove all usage of Makefile in GitHub workflows
  .github/workflows/build.yml
Due: none

chore: Add deprecation warning to UI command
  src/meltano/cli/ui.py
Due: none

chore: Use Flakeheaven
  .flake8
  .pre-commit-config.yaml
  flakeheaven-baseline
  poetry.lock
  pyproject.toml
Due: meltano_base

Add missing Python dependency `email-validator`
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Address all eslint issues
  .pre-commit-config.yaml
  src/webapp/yarn.lock
  yarn.lock
Due: none

chore: Use Flakeheaven (#7099)
  .flake8
  .pre-commit-config.yaml
  flakeheaven-baseline
  poetry.lock
  pyproject.toml
Due: meltano_base
