Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Use mutually exclusive --all and plugin name
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/lock.py
  tests/meltano/cli/test_lock.py
Due: docs

Don't pass non-existent plugin in config telemetry
  src/meltano/cli/config.py
  src/meltano/core/tracking/contexts/plugins.py
  tests/meltano/core/tracking/test_plugins.py
Due: none

Add telemetry for `meltano config` (#6137)
  src/meltano/cli/config.py
  src/meltano/core/tracking/contexts/plugins.py
  tests/meltano/core/tracking/test_plugins.py
Due: none

Cleaned up signal sending by concealing all platform related information to one function
  tests/meltano/core/job/test_job.py
Due: none

Ensure telemetry state change event for project ID does not fire if tracking is disabled & add tests
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Add telemetry page to contributing docs (#6214)
  docs/src/_contribute/telemetry.md
Due: docs

feat: Add meltano lock (#6114)
  CHANGELOG.md
  docs/src/_reference/command-line-interface.md
  src/meltano/cli/__init__.py
  src/meltano/cli/lock.py
  src/meltano/core/plugin_lock_service.py
  src/meltano/core/project_plugins_service.py
  tests/conftest.py
  tests/meltano/cli/test_lock.py
  tests/meltano/core/test_plugin_lock_service.py
Due: docs

3473 virtualenv advanced concept (#5964)
  CHANGELOG.md
  docs/src/_concepts/python_virtual_environments.md
Due: docs

Conditionally include context with telemetry state change event
  src/meltano/core/tracking/tracker.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

Fire exit event exactly once & include detailed exception context (#6203)
  src/meltano/cli/__init__.py
  src/meltano/core/tracking/tracker.py
Due: none

fix: unittest.mock.AsyncMock when available
  poetry.lock
  pyproject.toml
  src/meltano/core/venv_service.py
  tests/meltano/core/block/test_extract_load.py
Due: meltano_base

chore: Increase supported Python range
  poetry.lock
  pyproject.toml
Due: meltano_base

Filter test and make it verbose
  .github/workflows/test.yml
Due: none

test: test_link_io doesn't like it when cli.main executes inside CliRunner
  .github/workflows/test.yml
Due: none

chore: Bump pytest to ^6.2.5
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Bump pytest-asyncio to ^0.18.3
  poetry.lock
  pyproject.toml
  pytest.ini
Due: meltano_base

fix: Python version was truncated to 3.1
  src/meltano/core/behavior/hookable.py
  src/meltano/core/venv_service.py
Due: none

ci: Add Python 3.10 to test matrix
  .github/workflows/test.yml
Due: none

Fix failing test
  tests/meltano/core/tracking/test_tracker.py
Due: none

Use `disable_tracking` setting if `send_anonymous_usage_stats` is not set
  src/meltano/core/tracking/tracker.py
Due: none

Don't prepare invoker in global config, and only prepare invoker in test once we know the plugin is testable.
  src/meltano/cli/config.py
Due: none

job-id to job_id in migration guide
  docs/src/_reference/v2-migration.md
Due: docs

job-id to job_id in migration guide (#6228)
  docs/src/_reference/v2-migration.md
Due: docs

Resolve intermittent errors when calling `meltano config airflow` (#6227)
  src/meltano/cli/config.py
Due: none

Fixed broken links, and a few grammar improvements
  docs/src/_concepts/python_virtual_environments.md
Due: docs

Update src/meltano/cli/job.py
  src/meltano/cli/job.py
Due: none

Add tracking for job command (#6141)
  src/meltano/cli/job.py
  src/meltano/core/tracking/contexts/plugins.py
Due: none

Virtual Environments broken links, and a few grammar improvements (#6231)
  docs/src/_concepts/python_virtual_environments.md
Due: docs

Update references, simplify to issues
  .github/workflows/assign-to-projects.yml
Due: none

add missing `disable_tracking` entry
  src/meltano/core/bundle/settings.yml
Due: none

Restore `project_id` from `analytics.json` & improve `analytics.json` handling (#6199)
  src/meltano/core/project_settings_service.py
  src/meltano/core/tracking/contexts/project.py
  src/meltano/core/tracking/tracker.py
  tests/conftest.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_initialize.py
  tests/meltano/core/test_tracking.py
  tests/meltano/core/tracking/test_tracker.py
Due: none

version bump (auto)
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fix Product Roadmap Action (#6232)
  .github/workflows/assign-to-projects.yml
Due: none

Update Changelog
  CHANGELOG.md
Due: none

Update .bumpversion.cfg
  .bumpversion.cfg
Due: none

Test Meltano on latest Python 3.9
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Disable flake8-rst-docstrings
  .flake8
Due: none

Clean-up/defer misc imports
  src/meltano/api/controllers/utils.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/project.py
  src/meltano/core/setting.py
  src/meltano/core/utils/__init__.py
Due: none

Add Pytest `slow` marker to `pytest.ini`
  pytest.ini
Due: none

Enable lazy loading of most Meltano modules
  src/meltano/__init__.py
  src/meltano/lazy_import.py
Due: none
