Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Move Coverage config into `pyproject.toml` & update it
  .coveragerc
  poetry.lock
  pyproject.toml
Due: meltano_base

test: Run & test against Snowplow Micro under Pytest (#6257)
  .flake8
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_contribute/api.md
  docs/src/_contribute/prerequisites.md
  docs/src/_contribute/style.md
  docs/src/_contribute/tests.md
  docs/src/_guide/plugin-management.md
  docs/src/_reference/command-line-interface.md
  poetry.lock
  pyproject.toml
  pytest.ini
  src/meltano/core/tracking/README.md
  tests/conftest.py
  tests/fixtures/cli.py
  tests/fixtures/docker/__init__.py
  tests/fixtures/docker/docker-compose.yml
  tests/fixtures/docker/snowplow.py
  tests/meltano/cli/test_discover.py
  tests/meltano/core/tracking/test_tracker.py
  tests/meltano/core/tracking/test_tracking.py
Due: meltano_base, docs

Add shell script linting and PR trigger
  .github/workflows/integration_tests.yml
  .github/workflows/lint_shellcheck.yml
  integration/commons.sh
  integration/validate.sh
Due: none

Incorporate PR feedback.
  docs/src/_guide/configuration.md
  src/meltano/core/schedule_service.py
  src/meltano/core/settings_store.py
Due: docs

New test fails on Windows, added xfail
  tests/meltano/core/tracking/test_tracking.py
Due: none

Add library index/readme
  docs/example-library/README.md
Due: docs

Fix lint_shellcheck workflow syntax error
  .github/workflows/lint_shellcheck.yml
Due: none

ci: add `pytest` test support on windows runners
  .github/workflows/test.yml
  src/meltano/cli/elt.py
  tests/fixtures/cli.py
  tests/fixtures/core.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/cli/test_state.py
  tests/meltano/cli/test_upgrade.py
  tests/meltano/core/container/test_container_spec.py
  tests/meltano/core/job/test_job.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/plugin/test_superset.py
  tests/meltano/core/test_environment_service.py
  tests/meltano/core/test_environment_variables.py
  tests/meltano/core/test_meltano_invoker.py
  tests/meltano/core/test_plugin_invoker.py
  tests/meltano/core/test_project.py
  tests/meltano/core/test_project_files.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_state_service.py
  tests/meltano/core/test_venv_service.py
  tests/meltano/core/tracking/test_exception.py
  tests/meltano/core/tracking/test_tracker.py
  tests/meltano/core/tracking/test_tracking.py
Due: none

Check sample meltano yaml against the jsonschema
  .github/workflows/check_jsonschema.yml
Due: none

Use more appropriate job name
  .github/workflows/check_jsonschema.yml
Due: none

fix: update schedule jsonschema and add a jobs schema
  schema/meltano.schema.json
Due: none

Reset structlog config after `fixture_configure_structlog`
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/tracking/test_tracking.py
Due: none

Restore original structlog config instead of default
  tests/meltano/core/logging/test_output_logger.py
Due: none

test: Reset structlog config after `fixture_configure_structlog` (#6310)
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/tracking/test_tracking.py
Due: none

ironing out missing env vars during expansion bug
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
Due: none

chore: Move Coverage config into `pyproject.toml` & update it (#6304)
  .coveragerc
  poetry.lock
  pyproject.toml
Due: meltano_base

green lights
  src/meltano/core/project_settings_service.py
  src/meltano/core/settings_service.py
Due: none

Windows doesn't like something about the latest version of Click
  pyproject.toml
Due: none

more green lights
  src/meltano/core/project_settings_service.py
Due: none

fix: update schedule schema entry to support job ref and add a jobs entry (#6309)
  schema/meltano.schema.json
Due: none

Add integration docs
  docs/example-library/README.md
  docs/src/_contribute/tests.md
Due: docs

chore: Remove snowflake db adapter dependencies
  poetry.lock
  pyproject.toml
Due: meltano_base

Fix Black and update poetry lock
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Remove pyhocon dependency
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Remove networkx dependency
  poetry.lock
  pyproject.toml
Due: meltano_base

Docs updates
  docs/src/_contribute/merge.md
  docs/src/_contribute/tests.md
Due: docs

Fix typo
  docs/src/_contribute/merge.md
  docs/src/_contribute/tests.md
Due: docs

chore: Remove simplejson dependency
  poetry.lock
  pyproject.toml
Due: meltano_base

Remove broken syntax highlighting
  docs/src/_guide/configuration.md
Due: docs

fix: Disable CLI globbing performed by Click on Windows
  poetry.lock
  pyproject.toml
  src/meltano/cli/cli.py
Due: meltano_base

fix: Fix `FileNotFoundError` error when `platform.freedesktop_os_release` is available on Windows
  src/meltano/core/tracking/contexts/environment.py
Due: none

Add missing arg `self`
  src/meltano/cli/cli.py
Due: none

Remove unused deps
  poetry.lock
  pyproject.toml
Due: meltano_base

chore: Prune unused packages in pyproject.toml (#6318)
  poetry.lock
  pyproject.toml
Due: meltano_base

Add ruamel.yaml dependency
  poetry.lock
  pyproject.toml
Due: meltano_base

Add failing test
  src/meltano/core/behavior/canonical.py
  src/meltano/core/project_files.py
  src/meltano/core/setting_definition.py
  src/meltano/core/yaml.py
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_project.py
Due: none

Preserve comments and format in Canonical objects
  src/meltano/core/behavior/canonical.py
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/yaml.py
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_plugin_discovery_service.py
  tests/meltano/core/test_project.py
Due: docs

Use Path.read_text
  tests/meltano/core/test_project.py
Due: none

Test that key order is preserved
  tests/fixtures/multifile_project/meltano.yml
  tests/meltano/core/test_project_files.py
Due: none
