Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - source .gitlab/ci/scripts/python_image_version.sh
  ...

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Apply suggestions from code review
  CHANGELOG.md
Due: none

chore: Release v3.6.0 (#8952)
  .github/ISSUE_TEMPLATE/bug.yml
  CHANGELOG.md
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Change dark code theme to `oneDark`, which doesn't italicize keywords or variables
  docs/docusaurus.config.js
Due: docs

Use `oneLight` as the natural counterpart light code theme
  docs/docusaurus.config.js
Due: docs

docs: Change to code theme that does not italicize keywords or variables (#8961)
  docs/docusaurus.config.js
Due: docs

feat(cli): Add a simple log formatter that only contains the event by default
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: none

chore: More strict typing
  pyproject.toml
  src/meltano/cli/config.py
  src/meltano/cli/initialize.py
  src/meltano/cli/params.py
  src/meltano/cli/select.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/schedule_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/task_sets.py
  src/meltano/core/validation_service.py
Due: none

Cover missing schedule service branches
  tests/meltano/core/test_schedule_service.py
Due: none

Cover missing validation service branches
  tests/meltano/core/test_validation_service.py
Due: none

Annotate `_install_plugins_and_exit` as returning `typing.NoReturn`
  src/meltano/cli/params.py
Due: none

Use `typing.assert_never` to validate that selection types are exhausted
  src/meltano/cli/select.py
Due: none

Skip coverage for `typing.assert_never`
  pyproject.toml
Due: none

chore: More strict typing (#8962)
  pyproject.toml
  src/meltano/cli/config.py
  src/meltano/cli/initialize.py
  src/meltano/cli/params.py
  src/meltano/cli/select.py
  src/meltano/cli/utils.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/schedule_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/task_sets.py
  src/meltano/core/validation_service.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_validation_service.py
Due: none

docs: Document `database_uri` examples for supported backends
  docs/docs/concepts/project.md
  docs/docs/reference/settings.mdx
Due: docs

Apply suggestions from code review
  docs/docs/reference/settings.mdx
Due: docs

docs: Document `database_uri` examples for supported backends (#8969)
  docs/docs/concepts/project.md
  docs/docs/reference/settings.mdx
Due: docs

refactor: Enable Ruff `ASYNC` rules, open files with `anyio` and run subprocess with `asyncio.create_subprocess_exec` in async contexts
  poetry.lock
  pyproject.toml
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/test_venv_service.py
Due: meltano_base

simple_formatter -> plain_formatter
  docs/docs/guide/logging.md
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

feat: Allow per-plugin buffer size configuration
  src/meltano/cli/config.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_test_service.py
  src/meltano/core/runner/singer.py
Due: none

feat(cli): Add a simple log formatter that only contains the event by default (#8951)
  docs/docs/guide/logging.md
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Due: docs

fix: Print the time when the job will go stale if no more heartbeats are sent
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/job.py
Due: none

fix: Print the time when the job will go stale if no more heartbeats are sent (#8973)
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/job.py
Due: none

chore: Build package on every push
  .github/workflows/build.yml
Due: none

feat: Added a `--log-format` option as a shorcut to quickly change the format of logs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.mdx
  src/meltano/cli/cli.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/utils.py
  tests/meltano/core/logging/test_logging_utils.py
Due: docs

refactor: Enable Ruff `ASYNC` rules, open files with `anyio` and run subprocess with `asyncio.create_subprocess_exec` in async contexts (#8972)
  poetry.lock
  pyproject.toml
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/logging/test_output_logger.py
  tests/meltano/core/test_venv_service.py
Due: meltano_base

chore: Add missing entries to test summary table
  .github/workflows/test.yml
Due: none

chore: Add missing entries to test summary table (#8974)
  .github/workflows/test.yml
Due: none

Update part1.mdx to specify start_date with data
  docs/docs/getting-started/part1.mdx
Due: docs

Apply suggestions from code review
  docs/docs/getting-started/part1.mdx
Due: docs

docs: Use a different repo in part 1 of Getting Started guide (#8983)
  docs/docs/getting-started/part1.mdx
Due: docs

Make mypy happy
  src/meltano/core/manifest/manifest.py
  src/meltano/core/project_plugins_service.py
Due: none

feat(core): uv venv backend is no longer experimental
  src/meltano/core/venv_service.py
Due: none

feat: Added a `--log-format` option as a shorcut to quickly change the format of logs
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/settings.mdx
  integration/meltano-manifest/expected-manifests/meltano-manifest.cicd.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.jigsaw.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.prod.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.staging.json
  integration/meltano-manifest/expected-manifests/meltano-manifest.userdev.json
  src/meltano/cli/cli.py
  src/meltano/core/bundle/settings.yml
  src/meltano/core/logging/__init__.py
  src/meltano/core/logging/utils.py
  tests/meltano/core/logging/test_logging_utils.py
Due: docs

Test overrides
  src/meltano/cli/cli.py
  tests/meltano/cli/test_cli.py
Due: none

Change monkeypatch approach for invalid tracking endpoints
  tests/meltano/core/tracking/test_tracker.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, poetry.lock
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
