Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends:
  - .docker_build
  - .parallel:python_version
  - .skip_docs
  stage: build-base
  needs: []
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - source .gitlab/ci/scripts/python_image_version.sh
    - export EXTRA_ARGS="--build-arg PYTHON_VERSION=$PYTHON_VERSION"
    - export IMAGE_TAG=$BASE_SHA-python$PYTHON_IMAGE_VERSION

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>-python<version>
meltano_base:
  extends:
  - .build_base
  only:
    changes:
      - docker/base/Dockerfile
      - poetry.lock

# Manages:
#  - <fork namespace>/meltano/base:<base_sha>-python<version>
meltano_base_forks:
  extends:
  - .build_base
  except:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Addressing pr feedback for docs.
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/onboarding.md
Due: docs

Add upgrade test
  poetry.lock
  pyproject.toml
  tests/meltano/cli/test_upgrade.py
Due: meltano_base

Add state upgrade test
  tests/meltano/cli/test_upgrade.py
Due: none

feat: Cloud CLI for adding projects (#7620)
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/onboarding.md
  src/meltano/cloud/cli/project.py
  tests/meltano/cloud/cli/test_project.py
Due: docs

Update tests/meltano/cli/test_upgrade.py
  tests/meltano/cli/test_upgrade.py
Due: none

Call upgrade_state in upgrade command.
  poetry.lock
  src/meltano/cli/upgrade.py
  src/meltano/core/upgrade_service.py
Due: meltano_base

fix empty error message, and pre commit issues
  src/meltano/cloud/cli/config.py
  tests/meltano/cloud/cli/test_config.py
Due: none

`meltano cloud` -> `meltano-cloud`
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/usage.md
Due: docs

Fix mypy errors
  src/meltano/cloud/cli/config.py
Due: none

Update src/meltano/cli/upgrade.py
  src/meltano/cli/upgrade.py
Due: none

Add moto to noxfile
  noxfile.py
Due: none

Fix pre commit issues
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/platform.md
  src/meltano/cloud/cli/config.py
Due: docs

feat(cloud): Add cloud notifications cli for list, set, update and delete notifications (#7968)
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/platform.md
  src/meltano/cloud/api/types.py
  src/meltano/cloud/cli/config.py
  tests/meltano/cloud/cli/test_config.py
Due: docs

fix: Fix cloud storage state backend prefix duplication bug (#7976)
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/cli/upgrade.py
  src/meltano/core/state_store/azure.py
  src/meltano/core/state_store/filesystem.py
  src/meltano/core/state_store/google.py
  src/meltano/core/state_store/s3.py
  src/meltano/core/upgrade_service.py
  tests/meltano/cli/test_upgrade.py
  tests/meltano/core/state_store/test_filesystem.py
Due: meltano_base

Bump version to `3.0.0.rc0`
  docs/package.json
  pyproject.toml
  src/meltano/__init__.py
Due: docs

Add initial changelog for `v3.0.0`
  CHANGELOG.md
Due: none

Fix version `3.0.0rc1` -> `3.0.0rc0`
  docs/package.json
Due: docs

Add `moto` to Nox Pytest deps
  noxfile.py
Due: none

Add changelog items from unreleased version `v2.21.0`
  CHANGELOG.md
Due: none

Note in migration guide that the UI has been removed
  docs/docs/guide/v3-migration.md
Due: docs

Cloud docs changes
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/usage.md
  docs/docs/concepts/plugins.mdx
  docs/docs/concepts/project.md
  docs/docs/contribute/merge.md
  docs/docs/contribute/prerequisites.md
  docs/docs/getting-started/index.mdx
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/configuration.md
  docs/docs/guide/containerization.md
  docs/docs/guide/installation-guide.md
  docs/docs/guide/integration.md
  docs/docs/guide/mappers.md
  docs/docs/guide/plugin-management.md
  docs/docs/guide/transformation.md
  docs/docs/guide/v2-migration.md
  docs/docs/reference/cloud-cli.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/plugin-definition-syntax.md
  docs/docs/reference/settings.md
Due: docs

updates
  docs/blog/2023-08-23-changelog.mdx
Due: docs

fix slug
  docs/blog/2023-08-23-changelog.mdx
Due: docs

update date
  docs/blog/2023-08-24-changelog.mdx
Due: docs

meltano cloud -> meltano-cloud
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/known_issues.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/cloud/usage.md
  docs/docs/reference/cloud-cli.md
Due: docs

fix update and delete command example
  docs/docs/cloud/cloud-cli.mdx
Due: docs

- {" "}
  docs/docs/cloud/cloud-cli.mdx
Due: docs

chore: Update docs with new Cloud changes (#8064)
  docs/docs/cloud/cloud-cli.mdx
  docs/docs/cloud/concepts.md
  docs/docs/cloud/onboarding.md
  docs/docs/cloud/platform.md
  docs/docs/concepts/plugins.mdx
  docs/docs/concepts/project.md
  docs/docs/contribute/merge.md
  docs/docs/contribute/prerequisites.md
  docs/docs/getting-started/index.mdx
  docs/docs/guide/advanced-topics.md
  docs/docs/guide/complete_tutorial.md
  docs/docs/guide/configuration.md
  docs/docs/guide/containerization.md
  docs/docs/guide/installation-guide.md
  docs/docs/guide/integration.md
  docs/docs/guide/mappers.md
  docs/docs/guide/plugin-management.md
  docs/docs/guide/transformation.md
  docs/docs/guide/v2-migration.md
  docs/docs/reference/command-line-interface.md
  docs/docs/reference/plugin-definition-syntax.md
  docs/docs/reference/settings.md
Due: docs

update link
  docs/blog/2023-08-24-changelog.mdx
Due: docs

docs: August Changelog (#7952)
  docs/blog/2023-08-24-changelog.mdx
Due: docs

WIP
  src/meltano/cloud/cli/__init__.py
  src/meltano/cloud/cli/state.py
Due: none

Added commands
  src/meltano/cloud/cli/state.py
Due: none

Added tests
  src/meltano/cloud/cli/state.py
  tests/meltano/cloud/cli/test_state.py
Due: none

noqa for cli imports
  src/meltano/cloud/cli/__init__.py
Due: none

type ignore for requests
  src/meltano/cloud/cli/state.py
Due: none

type ignore
  src/meltano/cloud/cli/state.py
Due: none

Add oneshot request matcher for state set
  tests/meltano/cloud/cli/test_state.py
Due: none

Add docs for new cloud state command.
  docs/docs/cloud/cloud-cli.mdx
Due: docs
